@charset "UTF-8";
:root {
  --bg-0: #000;
  --bg-1: #dfd7ce;
  --bg-2: #f9be7c;
  --bg-3: #544a3e;
  --bg-4: #2c2720;
}

:root {
  --font-family: "Futura PT", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1rem dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2rem; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT"), url("../fonts/futura-pt-medium.otf") format("otf"), url("../fonts/futura-pt-medium.ttf") format("ttf"), url("../fonts/futura-pt-medium.woff") format("woff"), url("../fonts/futura-pt-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT"), url("../fonts/futura-pt-book.otf") format("otf"), url("../fonts/futura-pt-book.ttf") format("ttf"), url("../fonts/futura-pt-book.woff") format("woff"), url("../fonts/futura-pt-book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
html {
  font-family: var(--font-family);
  scroll-behavior: smooth;
  backface-visibility: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
html::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera */
}

body {
  color: var(--bg-1);
}

a {
  color: var(--bg-1);
  text-decoration: unset;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: var(--bg-2);
}

/* убираем стрелки в Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* убираем стрелки в Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  outline: unset;
}

.page-wrp {
  background: var(--bg-0);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

main {
  flex: 1;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1674px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}

.img-wrp {
  display: block;
  position: relative;
}
.img-wrp img,
.img-wrp svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT"), url("../fonts/futura-pt-medium.otf") format("otf"), url("../fonts/futura-pt-medium.ttf") format("ttf"), url("../fonts/futura-pt-medium.woff") format("woff"), url("../fonts/futura-pt-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT"), url("../fonts/futura-pt-book.otf") format("otf"), url("../fonts/futura-pt-book.ttf") format("ttf"), url("../fonts/futura-pt-book.woff") format("woff"), url("../fonts/futura-pt-book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.text-main-title {
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
}

.text-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
}

.text-price {
  font-weight: 500;
  font-size: 44px;
  line-height: 120%;
}

.text-shop-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
}

.text-main {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.text-decor {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.header {
  background-color: var(--bg-0);
  background-image: url("../../image/header-bg.svg");
  background-position: center;
  background-size: cover;
  height: 80px;
  position: relative;
}
.header__container {
  max-width: 100%;
  align-items: center;
}
.header__nav {
  width: 738px;
  margin: 0 auto;
  position: relative;
  left: -33px;
  display: flex;
  align-items: center;
}
.header__nav-decoration {
  width: 156px;
  height: 11px;
}
.header__nav-decoration--left {
  margin-right: 40px;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  margin-right: 36px;
}
.header__nav-item:first-child .header__nav-link {
  color: var(--bg-2);
  opacity: 1;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link {
  font-weight: 500;
}
.header__nav-link:hover {
  opacity: 1;
}
.header__nav-decoration--right {
  margin-left: 40px;
}
.header__main-menu {
  margin-left: auto;
  margin-right: 0;
}

.lng-switcher__btn {
  margin-right: 16px;
  font-weight: 500;
}
.lng-switcher__btn:last-child {
  margin-right: 0;
}
.lng-switcher__btn--active {
  color: var(--bg-2);
}

.main-menu {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  padding-left: 37px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 36px;
}
.main-menu.active {
  width: 363px;
  z-index: 5;
}
.main-menu.active .main-menu__bg {
  visibility: visible;
  opacity: 1;
}
.main-menu.active .main-menu__body {
  opacity: 1;
  visibility: visible;
}
.main-menu.active .main-menu__head-wrp {
  margin-right: auto;
}
.main-menu.active .main-menu__head-open-menu-btn {
  transform: rotate(180deg);
}
.main-menu.active .main-menu__head::after {
  visibility: visible;
  opacity: 1;
}
.main-menu__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url("../../image/main-menu-body-bg.png");
  background-position: center top;
  background-size: 115%;
  background-repeat: no-repeat;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.main-menu__head {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}
.main-menu__head::after {
  content: "";
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  position: absolute;
  left: -50px;
  top: -12px;
  width: 129%;
  height: 151%;
  background-image: url(../../image/use-panel-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.main-menu__head-wrp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
  transition: all 300ms ease-in-out;
}
.main-menu__head-user-name {
  font-weight: 500;
  margin-right: 8px;
}
.main-menu__head-open-menu-btn {
  width: 16px;
  height: 12px;
  transition: all 300ms ease-in-out;
}
.main-menu__head-user-avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}
.main-menu__body {
  width: 100%;
  margin-top: 37px;
  position: relative;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease-in-out;
}
.main-menu__body-list {
  margin-top: 24px;
  margin-left: 25px;
}
.main-menu__body-item {
  margin-bottom: 28px;
}
.main-menu__body-item:last-child {
  margin-bottom: 0;
}
.main-menu__body-link {
  display: flex;
  align-items: center;
}
.main-menu__body-item-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.main-menu__body-item-text {
  font-weight: 500;
}

.main-btn {
  background-color: unset;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.main-btn__decoration {
  width: 156px;
  height: 12px;
}
.main-btn__decoration--left {
  margin-right: 24px;
}
.main-btn__button {
  width: 374px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}
.main-btn__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 254px;
  height: 60px;
  filter: blur(30px);
  background: rgba(249, 190, 124, 0.6);
  opacity: 0.6;
  z-index: 1;
  transition: all 300ms ease-in-out;
}
.main-btn__button-text {
  font-weight: 500;
  color: var(--bg-1);
  z-index: 3;
}
.main-btn__button-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.main-btn__button:hover::after {
  opacity: 1;
}
.main-btn__decoration--right {
  margin-left: 24px;
}

.second-btn {
  width: 293px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: unset;
  border: none;
  position: relative;
  cursor: pointer;
}
.second-btn__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  fill: linear-gradient(180deg, #7f5a30 0%, #261605 100%);
  background-color: #7F5A30;
  /* форма с острыми углами */
  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 20px 100%, 0% 50%);
}
.second-btn__bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../image/seccond-btn-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.second-btn--nobg {
  background: unset;
  background-color: var(--bg-0);
  /* форма с острыми углами */
  clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 20px 100%, 0% 50%);
}
.second-btn__text {
  color: var(--bg-1);
  font-weight: 500;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
}
.second-btn__num {
  margin-left: 4px;
  border-radius: 100%;
  background-color: var(--bg-1);
  min-width: 24px;
  width: auto;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
  height: 24px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: var(--bg-0);
}
.second-btn__num--big-size {
  border-radius: 8px;
}

.footer {
  background-image: url("../../image/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 274px;
  position: relative;
  z-index: 2;
}
.footer--index-page {
  margin-top: -87px;
}
.footer__container {
  flex-direction: column;
  align-items: center;
  padding-top: 87px;
}
.footer__link {
  margin-bottom: 19px;
  font-weight: 500;
}
.footer__text {
  font-weight: 500;
  opacity: 0.6;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.page-nav__link {
  opacity: 0.6;
  cursor: pointer;
}
.page-nav__link:hover {
  opacity: 1;
}
.page-nav__link--active {
  opacity: 1;
}
.page-nav__dot {
  width: 12px;
  height: 12px;
  margin-left: 12px;
  margin-right: 12px;
  background-image: url("../../image/page-nave-dot-img.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 44px;
  margin-top: 44px;
}

.payment-methods {
  width: 302px;
  background-color: rgba(249, 190, 124, 0.08);
  box-sizing: border-box;
  border-bottom: 1px solid rgba(223, 215, 206, 0.6);
}
.payment-methods.open .payment-methods__list {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
}
.payment-methods.open .payment-methods__toggle-btn {
  transform: rotate(180deg);
}
.payment-methods__header {
  height: 61px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
.payment-methods__item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.payment-methods__radio {
  margin-right: 6px;
  position: relative;
  top: 2px;
  left: -1px;
}
.payment-methods__icons-wrp {
  display: flex;
  gap: 4px;
}
.payment-methods__icon {
  border-radius: 2px;
  width: 36px;
  height: 36px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment-methods__icon-wrp {
  width: 24px;
  height: 24px;
}
.payment-methods__toggle-btn {
  background-color: unset;
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 12px;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.payment-methods__list {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 350ms ease-in-out;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
}
.payment-methods__more {
  box-sizing: border-box;
  padding-bottom: 12px;
  color: var(--bg-2);
  text-align: center;
}

.counter {
  display: flex;
  align-items: center;
}
.counter__changer-count-wrp {
  background-color: unset;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 336px;
  height: 92px;
  padding-left: 33px;
  padding-right: 33px;
  background-image: url("../../image/counter-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.counter__btn {
  width: 44px;
  height: 44px;
  border: unset;
  background-color: unset;
  position: relative;
  cursor: pointer;
}
.counter__btn-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
  background: var(--bg-2);
}
.counter__btn svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.counter__value {
  max-width: 148px;
  background-color: unset;
  border: unset;
  color: var(--bg-1);
  text-align: center;
}
.counter__btn--remove {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  position: relative;
  left: 10px;
}
.counter__btn--remove .counter__btn-bg {
  background: var(--bg-4);
}
.counter__btn-icon {
  width: 24px;
  height: 24px;
}

/* скрываем стандартный radio */
.radio input[type=radio] {
  display: none;
}

/* внешний кружок */
.radio .custom-radio {
  width: 24px;
  height: 24px;
  border: 1px solid #e6e0d9; /* внешний круг */
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

/* внутренний кружок */
.radio input[type=radio]:checked + .custom-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #e6e0d9;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Левая колонка */
.thumbnails {
  display: flex;
  flex-direction: column;
}
.thumbnails__img-container {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 8px;
  cursor: pointer;
  border: 1px solid var(--bg-0);
  overflow: hidden;
  transition: all 250ms ease-in-out;
}
.thumbnails__img-container.active {
  border: 1px solid var(--bg-2);
}
.thumbnails__img-container:last-child {
  margin-bottom: 0;
}

/* Основное изображение */
.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 534px;
  height: 532px;
}

.main-image img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.main-image img {
  transition: opacity 0.3s ease, transform 0.2s ease;
  opacity: 1;
  transform: scale(1);
}

.main-image img.fade-out {
  opacity: 0;
  transform: scale(1.05); /* чуть увеличиваем при исчезновении */
}

.main-image img.fade-in {
  opacity: 1;
  transform: scale(1);
}

.main-slider__top {
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
.main-slider__btn-wrp {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 9px;
}
.main-slider__button {
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.fs {
  width: 100%;
  height: 1080px;
  background-image: url("../image/first-screen/fs-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fs__container {
  flex-direction: column;
  align-items: center;
}
.fs__img-composition {
  width: 856px;
  height: 575px;
  margin-bottom: 36px;
  position: relative;
}
.fs__img-composition-img {
  position: absolute;
}
.fs__img-composition-logo {
  width: 784px;
  height: 438px;
  left: 50%;
  transform: translateX(-50%);
  top: 166px;
  z-index: 3;
}
.fs__img-composition-wariors {
  width: 532px;
  height: 180px;
  left: 50%;
  transform: translateX(-50%);
  top: 16px;
  z-index: 2;
}
.fs__img-composition-flag-left {
  width: 288px;
  height: 514px;
  left: -6px;
  top: 8px;
  z-index: 1;
}
.fs__img-composition-flag-center {
  width: 432px;
  height: 561px;
  left: 50%;
  transform: translateX(-50%);
  top: -22px;
  z-index: 1;
}
.fs__img-composition-flag-right {
  width: 288px;
  height: 514px;
  right: -6px;
  top: 8px;
  z-index: 1;
}
.fs__title {
  margin-left: -14px;
  margin-top: -13px;
  margin-bottom: 18px;
}
.fs__desc {
  font-weight: 500;
  margin-left: -2px;
  margin-bottom: 46px;
}

.shop-page-wrp {
  background: unset;
}

.shop-page-top {
  height: 1145px;
  position: relative;
}
.shop-page-top__page-nav {
  position: absolute;
  top: 51px;
}
.shop-page-top__decoration-wrp {
  width: 100%;
  height: 401px;
  position: absolute;
  left: 50%;
  top: 44px;
  transform: translateX(-50%);
}
.shop-page-top__decoration {
  position: absolute;
}
.shop-page-top__decoration--bottom {
  width: 100%;
  height: 196px;
  top: 205px;
  z-index: 3;
}
.shop-page-top__decoration--warriors {
  width: 578px;
  height: 301px;
  left: 50%;
  top: -1px;
  transform: translateX(-50%);
  z-index: 2;
}
.shop-page-top__decoration--flag-left {
  width: 289px;
  height: 269px;
  left: 602px;
  top: 36px;
  z-index: 1;
}
.shop-page-top__decoration--flag-center {
  width: 578px;
  height: 301px;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
}
.shop-page-top__decoration--flag-right {
  width: 289px;
  height: 269px;
  right: 602px;
  top: 36px;
  z-index: 1;
}
.shop-page-top__btn {
  position: absolute;
  top: 44px;
  right: 155px;
}
.shop-page-top__bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: -2px;
  transform: translateX(-50%);
  z-index: -1;
}
.shop-page-top__bg-img img {
  object-fit: cover;
}

.shop-page-body {
  margin-top: -620px;
  margin-bottom: 155px;
  position: relative;
  z-index: 2;
}
.shop-page-body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 610px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-0);
  z-index: -1;
}
.shop-page-body__container {
  flex-direction: column;
}
.shop-page-body__title {
  margin-bottom: 37px;
}
.shop-page-body__nav {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 60px;
  background-image: url("../../image/gds/nav-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.shop-page-body__list {
  display: flex;
}
.shop-page-body__item {
  margin-right: 44px;
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}
.shop-page-body__item--active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../image/decoration-figure.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 12px;
}
.shop-page-body__item--active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  background-image: url("../../image/decoration-figure.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 12px;
}
.shop-page-body__item--active .shop-page-body__link {
  color: var(--bg-2);
}
.shop-page-body__item:last-child {
  margin-right: 0;
}
.shop-page-body-gds {
  margin-bottom: 16px;
}
.shop-page-body-gds__title-wrp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
}
.shop-page-body-gds__title-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 12px;
}
.shop-page-body-gds__title-text-wrp {
  display: flex;
  align-items: center;
}
.shop-page-body-gds__title-text-wrp .main-btn__decoration {
  position: relative;
  top: -4px;
}
.shop-page-body-gds__title-text {
  text-transform: uppercase;
  line-height: 110%;
}
.shop-page-body-gds__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop-page-body-gds__item {
  width: 374px;
  margin-bottom: 44px;
}
.shop-page-body-gds__img {
  width: 100%;
  height: 374px;
  margin-bottom: 24px;
}
.shop-page-body-gds__name {
  margin-bottom: 11px;
}
.shop-page-body-gds__price {
  font-weight: 500;
}
.shop-page-body-gds__link:hover {
  color: var(--bg-1);
}

.footer--shop-page {
  z-index: 2;
  position: relative;
}

.basket {
  min-height: 700px;
  background-image: url("../../image/basket-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  position: relative;
  margin-bottom: 100px;
}
.basket__container {
  flex-direction: column;
}
.basket__top {
  margin-top: 54px;
  margin-bottom: 80px;
}
.basket__top-btn-wrp {
  display: flex;
  gap: 18px;
}
.basket__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.basket__product-list {
  width: 1194px;
}
.basket__product-item {
  border: 1px solid rgba(249, 190, 124, 0.3);
  border-radius: 8px;
  width: 100%;
  background: var(--bg-0);
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket__product-item-info {
  display: flex;
}
.basket__product-img {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  margin-right: 24px;
}
.basket__product-text-wrp {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 9px;
}
.basket__product-name {
  opacity: 0.6;
  margin-bottom: 4px;
}
.basket__product-options {
  margin-right: 18px;
}
.basket__buy-box {
  position: relative;
  width: 374px;
  min-height: 620px;
  background-image: url("../../image/basket__buy-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding-top: 48px;
  padding-left: 36px;
  padding-right: 36px;
}
.basket__buy-decor {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 96px;
  height: 48px;
}
.basket__buy-btn {
  width: 100%;
}
.basket__buy-btn .main-btn__button {
  width: 100%;
}
.basket__buy-btn .main-btn__button::after {
  width: 212px;
  height: 60px;
}
.basket__buy-title {
  opacity: 0.6;
  text-align: center;
  margin-bottom: 8px;
}
.basket__buy-price {
  text-align: center;
  margin-bottom: 24px;
}
.basket__payment-methods {
  margin-bottom: 23px;
}

.footer--basket-page {
  margin-top: 160px;
}

.pay-history {
  min-height: 700px;
  background-image: url("../../image/basket-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  position: relative;
  margin-bottom: 119px;
}
.pay-history__container {
  flex-direction: column;
}
.pay-history__page-top-box {
  margin-top: 54px;
  margin-bottom: 80px;
}
.pay-history__title {
  margin-bottom: 53px;
}
.pay-history__head {
  margin-bottom: 26px;
}
.pay-history__item-row {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 36px;
  padding-right: 36px;
}
.pay-history__item-col1 {
  width: 338px;
}
.pay-history__item-col2 {
  width: 169px;
}
.pay-history__item-col3 {
  width: 579px;
  display: flex;
  position: relative;
}
.pay-history__item-col4 {
  width: 338px;
}
.pay-history__head-title {
  opacity: 0.6;
}
.pay-history__item {
  box-sizing: border-box;
  padding-top: 22px;
  border: 1px solid rgba(249, 190, 124, 0.3);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 16px;
}
.pay-history__item-img {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  margin-right: 24px;
  position: relative;
  top: -15px;
}
.pay-history__list-product-name {
  margin-bottom: 13px;
}
.pay-history__list-product-count {
  color: rgba(223, 215, 206, 0.6);
}
.pay-history__list-product-count span {
  color: var(--bg-1);
}
.product-page {
  min-height: 700px;
  background-image: url(../../image/basket-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  margin-bottom: 130px;
}
.product-page__container {
  flex-direction: column;
}
.product-page__page-top-box {
  margin-bottom: 80px;
}
.product-page__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.product-page__gallery {
  width: 708px;
}
.product-page__info-text-box {
  width: 784px;
}
.product-page__info-title {
  text-align: left;
  text-transform: unset;
  margin-bottom: 31px;
}
.product-page__info-list {
  margin-bottom: 28px;
}
.product-page__info-item-price {
  margin-bottom: 30px;
}
.product-page__info-counter-wrp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-page__info-main-btn .main-btn__button {
  width: 424px;
}
.product-page__info-main-btn .main-btn__button .main-btn__button::after {
  width: 336px;
  height: 60px;
}
.product-page__slider .shop-page-body-gds__item {
  margin-bottom: 0;
}

.text-section {
  min-height: 700px;
  background-image: url("../../image/basket-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  box-sizing: border-box;
  padding-top: 80px;
  margin-bottom: 221px;
}
.text-section__container {
  max-width: 856px;
  flex-direction: column;
}
.text-section__title {
  text-transform: unset;
  margin-bottom: 42px;
}
.text-section__desk {
  margin-bottom: 39px;
}
.text-section__text-main {
  margin-bottom: 28px;
}
.text-section__text-main-2 {
  margin-bottom: 49px;
}
.text-section__text-main-3 {
  margin-bottom: 40px;
}
.text-section__img-wrp {
  border-radius: 8px;
  width: 100%;
  max-width: 786px;
  height: 440px;
  overflow: hidden;
  margin-bottom: 44px;
}
.text-section__img-wrp img {
  object-fit: cover;
}
.text-section__second-title {
  font-weight: 500;
  margin-bottom: 15px;
}
.text-section__last-box {
  width: 100%;
  max-width: 784px;
  height: 266px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-section__last-text {
  text-align: center;
  position: relative;
  z-index: 2;
}
.text-section__last-box-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: url("../../image/text-page-last-blog-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}/*# sourceMappingURL=main.css.map */