.header {
  top: 12rem;
}
.header__container {
  padding: 12rem;
  box-shadow: 0 16rem 40rem 0 rgba(33, 92, 110, 0.04),
    0 42rem 88rem 0 rgba(33, 92, 110, 0.05),
    0 100rem 210rem 0 rgba(10, 104, 134, 0.07);
  justify-content: unset;
}
.header__log {
  display: none;
}
.header__btn {
  display: none;
}
.header__btn--mob {
  display: block;
  width: 24rem;
  height: 24rem;
}
.header__logo--mob {
  display: block;
  width: 20rem;
  height: 20rem;
  margin-right: 14rem;
}

.header__nav-list {
  width: 228rem;
}
.header__nav {
  margin-right: 14rem;
}

.s1 {
  padding-top: 96rem;
  height: 963rem;
}

.s1__title {
  width: 100%;
  max-width: 273rem;
  min-height: 114rem;
  margin-bottom: 16rem;
}

.s1__btn-wrp {
  width: 100%;
  margin-bottom: 36rem;
  flex-wrap: wrap;
}

.s1__btn {
  width: 100%;
  height: 44rem;
}
.s1__btn:first-child {
  margin-bottom: 8rem;
}

.message-box {
  margin-bottom: 36rem;
}

.message-box__end-start {
  width: 100%;
}
.message-box__end-chat-body-wrp {
  display: none;
}

.message-box__center-text-wrp {
  display: none;
}
.message-box__reload {
  display: none;
}
.message-box__center-button-settings {
  display: none;
}

.message-box__form {
  width: 100%;
  margin: 0;
}
.message-box__top {
  padding: 12rem;
}

.message-box__center {
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 12rem;
  padding-right: 12rem;
  border-bottom: 1rem solid var(--dop-1);
}

.message-box__end-title {
  max-width: unset;
}

.tape-box {
  // height: 100rem;
  padding-top: 16rem;
  padding-bottom: 16rem;
  animation: unset;
  max-width: 100%;
  height: auto;
  border-radius: 12rem;
}

.tape-box__list-item .tape-box__list-item-icon {
  width: 16rem !important;
  height: 16rem !important;
  margin-right: 4rem !important;
}

.marquee-infinite__item:nth-child(2) {
  width: 252rem;
}
.marquee-infinite__item {
  width: auto !important;
  margin-right: 24rem;
}

.marquee-infinite__container {
  // animation: unset;
  width: 1900rem;
}

.tape-box__title {
  max-width: 290rem;
  text-align: center;
  margin-bottom: 8rem;
}

.s1__decor--1 {
  // border: 1rem solid red;
  // z-index: 123;

  // width: 308rem;
  // height: 104rem;
  // left: -71rem;
  // bottom: 570rem;

  width: 308rem;
  height: 104rem;
  left: -71rem;
  bottom: unset;
  /* z-index: 3; */
  top: 220rem;
}

.s1__decor--2 {
  // border: 1rem solid red;
  // z-index: 123;

  // width: 308rem;
  // height: 86rem;
  // right: -67rem;
  // bottom: 122rem;

  width: 308rem;
  height: 86rem;
  right: -111rem;
  bottom: 104rem;
}

.s2 {
  margin-top: 50rem;
  padding-top: 60rem;
  margin-bottom: 60rem;
}

.s2__container {
  max-width: 360rem;
  box-sizing: border-box;
  padding-left: 8rem;
  padding: 8rem;
  padding-bottom: 0;
}

.key-features__text {
  font-size: 12rem;
  transform: scale(calc(2.2 - var(--scroll-percentage, 0) * 1.09));
}

.s2 .s2__content {
  background-color: unset;
  margin-bottom: 0;
}

.s2__title {
  min-height: 64rem;
  padding: 0;
  // margin-top: 8rem;
  // margin-top: 16rem;
  margin-bottom: 12rem;
}

.key-features__text-wrp {
  border-radius: calc(36rem - 32rem * var(--scroll-percentage, 0));
  height: calc(100% - (100% - 24rem) * var(--scroll-percentage, 0));
  width: calc(
    100% + 12rem - (100% + 12rem - 119rem) * var(--scroll-percentage, 0)
  );
}

.key-features__wrapper {
  margin-top: 6rem;
}

.s2__number--one {
  width: 98rem;
  height: 40rem;
  margin-right: 9rem;
}

.s2__number-text {
  font-size: 12rem;
  max-width: 151rem;
}
.s2__number-wrp {
  width: 278rem;
  margin: 0 auto;
  margin-bottom: 24rem;
}

.s2__content--one .s2__slider {
  background: var(--theme-2-4);
}

.s2__slider-list {
  display: none;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  display: none;
}

.s2__slider-body-item {
  border-radius: 24rem;
  box-sizing: border-box;
  padding-top: 24rem;
  padding-bottom: 24rem;

  // padding-left: 16rem;
  // padding-right: 16rem;
  padding-left: 0;
  padding-right: 0;
}
.s2__slider {
  border-radius: 24rem;
}

.s2__slider-body-item-title {
  height: auto;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 16rem;
  padding-right: 16rem;
  min-height: 29rem;
  margin-bottom: 3rem;
}

.s2__slider-body-item-text {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 16rem;
  padding-right: 16rem;
}

.s2__slider-body-item-content-wrp {
  width: 100%;
  // display: none;
  box-sizing: border-box;
  padding-left: 8rem;
  padding-right: 8rem;
}

.s2__slider .swiper-pagination {
  margin: 0;
}

.s2__slider-body-item-text-wrp {
  width: 100%;
  margin-bottom: 24rem;
}

.s2__content--one .s2__slider-body-item-content-wrp {
  background: var(--theme-2-4);
}

.s2__slider .swiper-pagination {
  position: absolute;
}

.service1-slide1 {
  width: 100%;
  height: 134rem;
  margin: 0;
  // border: 1rem solid red;
}

.service1-slide1__body {
  padding: 0;
  border-radius: 8rem;
  width: 328rem;
  height: 92rem;
  box-sizing: border-box;
  padding-top: 14rem;
  padding-bottom: 14rem;
  padding-left: 16rem;
  padding-right: 16rem;
}
.service1-slide1__body::after {
  border-radius: 8rem;
  width: 308rem;
  height: 84rem;

  box-shadow: 0 10rem 20rem 0 rgba(110, 59, 117, 0.15);
  background: var(--bodi-1);
}

.service1-slide1__icon {
  width: 16rem;
  height: 16rem;
  margin-right: 7rem;
}

.service1-slide1__title {
  min-height: 20rem;
}
.service1-slide1__body-start {
  margin-bottom: 12rem;
}

.service1-slide1__body-item-title {
  font-size: 10rem;
}

.service1-slide1__body-item-text {
  font-size: 12rem;
}

.service1-slide1__decor {
  // display: none;
}

.service1-slide1__decor-icon--1 {
  width: 54rem;
  height: 24rem;
  left: 112rem;
  top: unset;
  bottom: 0;
  z-index: 2;
}
.service1-slide1__decor-icon--2 {
  display: none;
}
.service1-slide1__decor-icon--3 {
  width: 29rem;
  height: 33rem;
  top: 0;
  left: 72rem;
  z-index: 2;
}

.service1-slide1__decor-icon--4 {
  left: 4rem;
  top: 74rem;
  width: 8.5rem;
  height: 8.5rem;
}

.service1-slide1__decor-icon--5 {
  width: 10.5rem;
  height: 10.5rem;
  bottom: 3.4rem;
  right: 64rem;
  top: unset;
  left: unset;
}
.service1-slide1__decor-icon--6 {
  left: unset;
  right: 20rem;
  top: 16rem;
  width: 10rem;
  height: 10rem;
  z-index: 2;
}
.service1-slide1__decor-icon--7 {
  display: none;
}
.service1-slide1__decor-icon--8 {
  display: none;
}
.service1-slide1__decor-icon--9 {
  top: 19rem;
  left: unset;
  right: 60rem;
  width: 52rem;
  height: 28rem;
}
.service1-slide1__decor-icon--10 {
  display: none;
}

.service1-slide2 {
  border-radius: 8rem;
  width: 328rem;
  height: 134rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 12rem;
  padding-right: 12rem;
}
.service1-slide2::after {
  border-radius: 8rem;
  width: 312rem;
  height: 126rem;
  box-shadow: 0 10rem 20rem 0 rgba(110, 59, 117, 0.15);
  background: var(--bodi-1);
}

.service1-slide2__var-list-item:last-child,
.service1-slide2__val-list-item:last-child {
  display: none;
}

.service1-slide2::before {
  width: 304rem;
  top: 31rem;
}
.service1-slide2__body-title {
  min-height: 20rem;
  margin-bottom: 12rem;
}
.service1-slide2__var-list-item,
.service1-slide2__val-list-item {
  font-size: 12rem;
  min-height: 16rem;
}

.service1-slide2__body-start {
  width: 50%;
}

.service1-slide3 {
  width: 328rem;
  height: 134rem;
}

.service1-slide3__img-wrp {
  border-radius: 8rem;
  width: 128rem;
  height: 72rem;
}
.service1-slide3__text-wrp {
  width: 209rem;
  height: 88rem;
  padding: 8rem;
}
.service1-slide3__text {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 4;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.service1-slide3__decor1 {
  width: 75rem;
  height: 38rem;
  left: 0;
  top: unset;
  bottom: 0;
}
.service1-slide3__decor2 {
  width: 24rem;
  height: 24rem;
  top: 4.65rem;
  left: 190rem;
  right: unset;
  bottom: unset;
}
.service1-slide3__decor3 {
  right: 0;
  top: 0;
  left: unset;
  bottom: unset;
  width: 102rem;
  height: 54rem;
  z-index: 2;
}
.service1-slide3__decor4 {
  width: 24rem;
  height: 18rem;
  left: 43rem;
  bottom: 37rem;
  top: unset;
}

.service1-slide3__text-wrp::after {
  border-radius: 8rem;
  width: 193rem;
  height: 60rem;
  box-shadow: 0 10rem 20rem 0 rgba(110, 59, 117, 0.15);
  background: var(--bodi-1);
}
.service1-slide4 {
  width: 328rem;
  height: 134rem;
}

.service1-slide4__text-wrp {
  border-radius: 8rem;
  width: 160rem;
  height: 32rem;
  padding: 8rem;
  font-size: 12rem;
}
.service1-slide4__text-wrp::after {
  border-radius: 8rem;
  width: 144rem;
  height: 22rem;
  box-shadow: 0 10rem 20rem 0 rgba(110, 59, 117, 0.15);
  background: var(--bodi-1);
}

.service1-slide4__text-wrp1 {
  top: 22rem;
}

.service1-slide4__text-wrp2 {
  top: 62rem;
}

.service1-slide4__text-wrp3 {
  left: 84rem;
}
.service1-slide4__decor-main {
  width: 53rem;
  height: 70rem;
  left: 136rem;
  top: 26rem;
}
.service1-slide4__decor1 {
  width: 35rem;
  height: 29rem;
  left: 55rem;
  top: 0;
}
.service1-slide4__decor2 {
  right: 18rem;
  bottom: 8rem;
  width: 24rem;
  height: 36rem;
}
.service1-slide4__decor3 {
  top: 4rem;
  right: 17.5rem;
  width: 63rem;
  height: 44rem;
}

.service1-slide4__decor4 {
  width: 65rem;
  height: 45rem;
  right: unset;
  top: unset;
  bottom: 0;
  left: 0;
}

.service1-slide5 {
  width: 328rem;
  height: 134rem;
}
.service1-slide5__text-wrp {
  border-radius: 8rem;
  width: 230rem;
  height: 112rem;
  margin-left: -115rem;
  margin-top: 0;
  top: 5rem;
  padding-top: 21rem;
  padding-left: 38rem;
  padding-right: 38rem;
  padding-bottom: 21rem;
}
.service1-slide5__text-wrp::after {
  top: 0;
  border-radius: 8rem;
  width: 206rem;
  height: 104rem;
  box-shadow: 0 10rem 20rem 0 rgba(110, 59, 117, 0.15);
  background: var(--bodi-1);
}
.service1-slide5__decor1 {
  width: 8rem;
  height: 8rem;
  top: 19rem;
  right: 78rem;
}
.service1-slide5__decor2 {
  bottom: 2rem;
  right: 47rem;
  width: 36rem;
  height: 29rem;
}
.service1-slide5__decor3 {
  width: 8.5rem;
  height: 8.65rem;
  top: 15rem;
  right: 41rem;
  bottom: unset;
}
.service1-slide5__decor4 {
  display: none;
}
.service1-slide5__decor5 {
  display: none;
}
.service1-slide5__decor7 {
  width: 59rem;
  height: 47rem;
  right: 0;
  top: 35rem;
}
.service1-slide5__decor8 {
  width: 20rem;
  height: 16rem;
  bottom: 6rem;
  left: 79rem;
}
.service1-slide5__decor9 {
  width: 21rem;
  height: 19rem;
  top: 1rem;
  left: 188rem;
}
.service1-slide5__decor10 {
  width: 52rem;
  height: 124rem;
  left: 0;
  bottom: 0;
}

.key-features__info {
  padding-bottom: 24rem;
}
.s2__slider .swiper-pagination {
  bottom: -24rem !important;
  top: unset !important;
}

.service2-slide1 {
  width: 328rem;
  height: 134rem;
  margin: 0;
}

.service2-slide1__text-wrp {
  border-radius: 8rem;
  width: 253rem;
  height: 76rem;
}
.service2-slide1__text-wrp::after {
  border-radius: 8rem;
  width: 237rem;
  height: 60rem;
  box-shadow: 0 10rem 20rem 0 rgba(10, 104, 134, 0.15);
  background: var(--bodi-1);
}

.service2-slide1__text-wrp1 {
  top: 0;
  left: 0;
}
.service2-slide1__text-wrp2 {
  bottom: 12rem;
  right: 0;
}

.service2-slide1__text-blue {
  display: none;
}

.s2__content--two .s2__slider-body-item {
  background: var(--theme-1-4);
}
.service2-slide1__decor1 {
  width: 34rem;
  height: 28rem;
  bottom: 13rem;
  right: 63rem;
  left: unset;
}
.service2-slide1__decor2 {
  display: none;
}
.service2-slide1__decor3 {
  width: 30rem;
  height: 14rem;
  right: 4rem;
  top: 70rem;
}

.service2-slide1__decor4 {
  top: unset;
  left: 5rem;
  bottom: 18rem;
  width: 51rem;
  height: 31rem;
}
.service2-slide1__decor5 {
  bottom: 0;
  right: 80rem;
  width: 8rem;
  height: 8rem;
}
.service2-slide1__decor6 {
  width: 5rem;
  height: 5rem;
  left: 205rem;
  top: 100rem;
}
.service2-slide1__decor7 {
  width: 43rem;
  height: 44rem;
  top: 7rem;
  bottom: unset;
  right: 26rem;
}

.service2-slide2 {
  width: 328rem;
  height: 134rem;
}
.service2-slide2__box {
  width: 160rem;
  margin-bottom: 0;
}
.service2-slide2__top {
  margin-bottom: 10rem;
}
.service2-slide2__text-body {
  border-radius: 8rem;
  width: 160rem;
  height: 88rem;
}
.service2-slide2__text-body::after {
  border-radius: 8rem;
  width: 144rem;
  height: 44rem;
  box-shadow: 0 10rem 20rem 0 rgba(10, 104, 134, 0.15);
  background: var(--bodi-1);
  top: unset;
  bottom: 8rem;
}
.service2-slide2__text-body-text {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;

  margin-bottom: 4rem;

  // height: 38rem;
}

.service2-slide2__text-body-time {
  margin-bottom: 4rem;
}

.service2-slide2__decor {
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 87rem;
  height: 18rem;
  position: absolute;
  top: 26rem;
  left: 81rem;
}

.service2-slide3 {
  width: 328rem;
  height: 134rem;
}

.service2-slide3__decor1 {
  width: 27rem;
  height: 36rem;
  top: 0;
  right: 0;
}
.service2-slide3__decor2 {
  width: 28rem;
  height: 36rem;
  right: 95rem;
  bottom: 21rem;
}
.service2-slide3__decor3 {
  width: 116rem;
  height: 94rem;
  left: unset;

  top: 0.5rem;
  right: 22.5rem;
}
.service2-slide3__decor4 {
  left: 0;
  bottom: 0;
  top: unset;
  width: 96rem;
  height: 104rem;
}
.service2-slide3__decor5 {
  width: 21rem;
  height: 28rem;
  top: 76rem;
  left: 142rem;
}
.service2-slide3__decor-smile1 {
  width: 24rem;
  height: 24rem;
  left: 76rem;
  top: 46rem;
}
.service2-slide3__decor-smile2 {
  width: 24rem;
  height: 24rem;
  top: 33rem;
  left: 117rem;
}
.service2-slide3__decor-smile3 {
  top: 9rem;
  left: 85rem;
  width: 24rem;
  height: 24rem;
}
.service2-slide3__decor-smile4 {
  top: 1rem;
  left: 137rem;
  width: 24rem;
  height: 21rem;
}

.service2-slide4 {
  width: 328rem;
  height: 134rem;
}

.service2-slide4__main-decor {
  width: 36rem;
  height: 36rem;
}
.service2-slide4__main-decor1 {
  top: 35rem;
  right: 25rem;
}
.service2-slide4__main-decor2 {
  bottom: 0;
  left: 146rem;
}

.service2-slide4__main-decor3 {
  top: 0;
  left: 146rem;
}
.service2-slide4__main-decor4 {
  top: 35rem;
  left: 24rem;
}

.service2-slide4__decor1 {
  width: 8rem;
  height: 5.5rem;
  bottom: 9rem;
  right: 40rem;
}

.service2-slide4__decor2 {
  top: 41rem;
  right: 90rem;
  bottom: unset;
  width: 6rem;
  height: 6rem;
}

.service2-slide4__decor3 {
  width: 7rem;
  height: 7rem;
  bottom: 10rem;
  left: 120rem;
  right: unset;
  top: unset;
}

.service2-slide4__decor4 {
  width: 21rem;
  height: 19rem;
  bottom: 10.5rem;
  right: 90rem;
  left: unset;
  top: unset;
}

.service2-slide4__decor5 {
  top: 3rem;
  left: 137rem;
  width: 6rem;
  height: 6rem;
}

.service2-slide4__decor6 {
  top: 77rem;
  right: 41rem;
  width: 34rem;
  height: 22rem;
}

.service2-slide4__decor7 {
  top: 6rem;
  right: 46rem;
  width: 36rem;
  height: 21rem;
}

.service2-slide4__decor8 {
  top: 52rem;
  left: 85rem;
  width: 18rem;
  height: 16rem;
}
.service2-slide4__decor9 {
  top: 6rem;
  left: 30rem;
  width: 36rem;
  height: 21rem;
}
.service2-slide4__decor10 {
  bottom: 16rem;
  left: 37rem;
  width: 37rem;
  height: 38rem;
}

.service2-slide4__decor11 {
  top: 44rem;
  left: 133rem;
  bottom: unset;
  right: unset;
  width: 61rem;
  height: 46rem;
}
.s2__number {
  margin-right: 9rem;
}

.s2__content--three .s2__slider-body {
  background: var(--theme-3-4);
  border-radius: 24rem;
}

.service3-slide1 {
  width: 328rem;
  height: 134rem;
}

.service3-slide1__text-wrp {
  border-radius: 8rem;
  width: 230rem;
  height: 112rem;
}

.service3-slide1__text-wrp::after {
  border-radius: 8rem;
  width: 206rem;
  height: 104rem;
  box-shadow: 0 10rem 20rem 0 rgba(0, 102, 41, 0.15);
  background: var(--bodi-1);
}

.service3-slide1__decor1 {
  width: 119rem;
  height: 74rem;
  top: 0;
  right: 24rem;
}

.service3-slide1__decor2 {
  width: 144rem;
  height: 40rem;
  left: 0;
  bottom: 1rem;
}

.service3-slide1__decor3 {
  top: 19rem;
  left: 24rem;
  width: 16rem;
  height: 18rem;
}

.service3-slide1__decor4 {
  top: 62rem;
  right: 0.5rem;
  width: 15rem;
  height: 20rem;
}

.service3-slide1__decor5 {
  right: 30rem;
  top: 80rem;
  width: 5rem;
  height: 6rem;
}

.service3-slide1__decor6 {
  width: 8rem;
  height: 7rem;
  bottom: 1rem;
  right: 111rem;
}

.service3-slide1__decor7 {
  top: 58rem;
  left: 96rem;
  width: 5rem;
  height: 7rem;
}

.service3-slide1__decor8 {
  top: 11rem;
  left: 160rem;
  width: 7rem;
  height: 7rem;
}

.service3-slide1__decor9 {
  top: 55rem;
  left: 65rem;
  width: 17rem;
  height: 20rem;
}
.service3-slide1__decor10 {
  bottom: 6rem;
  right: 38rem;
  width: 26rem;
  height: 27rem;
  top: unset;
}
.service3-slide2 {
  width: 320rem;
  height: 134rem;
}

.service3-slide2__text-title {
  display: none;
}
.service3-slide2__text--icon-mob {
  display: block;
  width: 24rem;
  height: 24rem;
}

.service3-slide2__item {
  width: 152rem;
  height: 52rem;
  margin-bottom: 12rem;
  padding: 8rem;
}
.service3-slide2__text-wrp::after {
  border-radius: 12rem;
  width: 145rem;
  height: 44rem;
  box-shadow: 0 10rem 20rem 0 rgba(0, 102, 41, 0.15);
  background: var(--bodi-1);
}
.service3-slide2__item-button-wrp {
  display: none;
}

.service3-slide2__text-wrp-main {
  // display: none;
  width: 24rem;
  height: 24rem;
  margin-bottom: -10rem;
  position: relative;
  top: -3rem;
}
.service3-slide2__text-wrp-main::after {
  display: none;
}

.service3-slide2__decor-line {
  // display: none;
  width: 254rem;
  height: 77rem;
  top: 2rem;
  z-index: -1;
}

.service3-slide3 {
  width: 328rem;
  height: 134rem;
}

.service3-slide3__decor1 {
  bottom: 2rem;
  left: 43rem;
  width: 29rem;
  height: 20rem;
}
.service3-slide3__decor2 {
  top: 0;
  right: 36rem;
  width: 20rem;
  height: 23rem;
}

.service3-slide3__decor3 {
  left: 0;
  top: 16rem;
  width: 68rem;
  height: 55rem;
}
.service3-slide3__decor4 {
  bottom: 0;
  right: 0;
  width: 73rem;
  height: 57rem;
}
.service3-slide3__decor5 {
  width: 111rem;
  height: 102rem;
  top: 16rem;
  left: 113rem;
}

.service3-slide4 {
  width: 327rem;
  min-height: 134rem;
}

.service3-slide4__form {
  border-radius: 8rem;
  width: 327rem;
  height: 110rem;
  min-height: auto;
}
.service3-slide4__form::after {
  border-radius: 8rem;
  width: 311rem;
  height: 48rem;
  box-shadow: 0 10rem 20rem 0 rgba(10, 104, 134, 0.15);
  background: var(--bodi-1);
}
.service3-slide4__form-top-btn-wrp {
  display: none;
}
.service3-slide4__form-textarea {
  min-height: 86rem;
  padding-top: 8rem;
  padding-left: 12rem;
  padding-bottom: 8rem;
  padding-right: 12rem;
}

.service3-slide4__decor1 {
  bottom: 0;
  left: 56rem;
  width: 18rem;
  height: 82rem;
}

.service3-slide4__decor2 {
  top: 0;
  right: 12rem;
  width: 41rem;
  height: 77rem;
}

.service3-slide5 {
  width: 328rem;
  height: 134rem;
  align-items: flex-start;
}

.service3-slide5__body {
  border-radius: 8rem;
  width: 253rem;
  height: 80rem;
  position: relative;
}

.service3-slide5__body::after {
  border-radius: 8rem;
  width: 237rem;
  height: 60rem;
  box-shadow: 0 10rem 20rem 0 rgba(10, 104, 134, 0.15);
  background: var(--bodi-1);
}

.service3-slide5__body-text-wrp {
  border-radius: 8rem;
  width: 253rem;
  height: 80rem;
  padding: 8rem;
  padding-top: 12rem;
}

.service3-slide5__body-icon {
  border-radius: 8rem;
  width: 145rem;
  height: 81rem;

  position: absolute;
  top: 53rem;
  right: 33rem;
  z-index: 2;
}

.service3-slide5__decor1 {
  top: 10rem;
  left: 0;
  width: 22rem;
  height: 21rem;
}
.service3-slide5__decor2 {
  top: 5rem;
  right: 20rem;
  width: 29rem;
  height: 28rem;
}
.service3-slide5__decor3 {
  bottom: 8rem;
  right: 2rem;
  width: 52rem;
  height: 41rem;
}
.service3-slide5__decor4 {
  bottom: 0.5rem;
  left: 0;
  width: 56rem;
  height: 81rem;
  top: unset;
}

.s3 {
  margin-bottom: 60rem;
}

.s3__title {
  font-size: 30rem;
  min-height: 38rem;
  margin-bottom: 36rem;
}

.s3__swiper-wrapper {
  margin-bottom: 24rem;
}
.slider-navigation .swiper-button:first-child {
  margin-right: 36rem;
}
.slider-navigation .swiper-button {
  width: 36rem;
  height: 36rem;
}

.swiper-button__icon {
  width: 20rem;
  height: 20rem;
}

.s3__slide-icon-wrp {
  border-radius: 12rem 12rem 0 0;
  height: 174rem;
  margin-bottom: 16rem;
}
.s3__slide-icon--one {
  width: 239rem;
  height: 142rem;
}

.s3__slide-wrp {
  padding-left: 16rem;
  padding-right: 16rem;
  padding-bottom: 24rem;
}
.s3__slide-title {
  min-height: 48rem;
  margin-bottom: 4rem;
}
.s3__slide-text {
  margin-bottom: 16rem;
  min-height: 54rem;
}

.s3__slide-icon--three {
  width: 279rem;
  height: 143rem;
}
.s3__slide-icon--three-dop {
  width: 104rem;
  height: 105rem;
  top: 25rem;
  left: 111rem;
}
.s3__slide-icon--two {
  width: 216rem;
  height: 142rem;
}

.s4 {
  padding-top: 60rem;
  padding-bottom: 60rem;
  margin-bottom: 60rem;
}

.s4__title {
  font-size: 30rem;
  min-height: 72rem;
  margin-bottom: 66rem;
}
.s4__item {
  padding-top: 38rem;
  padding-bottom: 16rem;
  padding-left: 12rem;
  padding-right: 12rem;
  margin-bottom: 54rem;
}

.s4__item-icon-wrp {
  width: 60rem;
  height: 60rem;
  margin-left: -30rem;
  top: -30rem;
  border: 12rem solid var(--theme-1-4);
}
.s4__item-icon-wrp svg {
  width: 16rem;
  height: 16rem;
}

.s4__item-title {
  min-height: 22rem;
}

.s4__list {
  margin-bottom: 44rem;
}

.s4__text {
  max-width: 100%;
  margin-bottom: 16rem;
  min-height: 40rem;
}

.s4__btn {
  width: 100%;
  height: 44rem;
}

.s5 {
  margin-bottom: 60rem;
}

.s5__title {
  font-size: 30rem;
  min-height: 38rem;
  margin-bottom: 24rem;
  max-width: 100%;
}

.s5__slider {
  width: 100%;
}

.s5__slider-slide {
  padding-top: 24rem;
  padding-bottom: 22rem;
  padding-left: 16rem;
  padding-right: 16rem;
}

.s5__slider-title {
  min-height: 40rem;
  margin-bottom: 12rem;
}

.s5__slider-text {
  min-height: 58rem;
  margin-bottom: 16rem;
  font-size: 12rem;
}
.s5__slider-img {
  width: 44rem;
  height: 44rem;
}

.s5__slider-img-wrp {
  margin-bottom: 8rem;
}

.s6 {
  margin-bottom: 60rem;
}

.s6__title {
  min-height: 72rem;
  margin-bottom: 18rem;
  max-width: 100%;
  font-size: 30rem;
}

.accordion {
  margin-bottom: 44rem;
}

.accordion__item {
  padding-left: 12rem;
  padding-right: 12rem;
  margin-bottom: 4rem;
}

.accordion__header {
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.accordion__title {
  max-width: 276rem;
}

.accordion__icon {
  width: 16rem;
  height: 16rem;
}

.accordion__header.active {
  padding-bottom: 8rem;
}

.info-box {
  width: 100%;
}

.info-box__icon {
  width: 69rem;
  height: 60rem;
}

.info-box__title {
  min-height: 26rem;
}

.info-box__text {
  min-height: 54rem;
  max-width: 100%;
  margin-bottom: 16rem;
}

.info-box__btn {
  width: 100%;
  height: 44rem;
}

.footer__container {
  padding-top: 60rem;
}

.footer__body {
  max-width: 100%;
  padding-top: 36rem;
  padding-bottom: 36rem;
  padding-left: 16rem;
  padding-right: 16rem;
}
.footer__item {
  width: 144rem;
  height: 130rem;
  margin-right: 0 !important;
}

.footer__item-title {
  min-height: 26rem;
  margin-bottom: 12rem;
}

.footer__item-list {
  min-height: unset;
}

.footer__item-list-item {
  margin-bottom: 8rem;
}

.footer__item-list-link {
  font-size: 14rem;
  text-align: left;
  max-width: 124rem;

  // -ms-text-overflow: ellipsis;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // -ms-line-clamp: 1;
  // -webkit-line-clamp: 1;
  // line-clamp: 1;
  // display: -webkit-box;
  // display: box;
  // word-wrap: break-word;
  // -webkit-box-orient: vertical;
  // box-orient: vertical;
}

.footer__item {
  margin-bottom: 24rem;
}

.footer__item-icon {
  width: 14rem;
  height: 12rem;
}

.footer__body-start {
  margin-bottom: 24rem;
}

.footer__btn:first-child {
  margin-right: 0;
  margin-bottom: 8rem;
}

.footer__btn {
  height: 44rem;
}

.footer__end-text {
  margin-top: 24rem;
}

.footer__body {
  margin-bottom: 36rem;
}

.footer__decor {
  width: 328rem;
  height: 44rem;
}

.s1__404mod-btn {
  width: 100%;
  height: 44rem;
  margin-bottom: 60rem;
}

.s1__404mod {
  height: auto;
}

.case {
  padding-top: 96rem;
  margin-bottom: 60rem;
}

.case__main-title {
  min-height: 64rem;
  margin-bottom: 24rem;
}

.case__img {
  border-radius: 12rem;
  width: 328rem;
  height: 186rem;
  margin-bottom: 12rem;
}

.case__btn:first-child,
.case__btn:nth-child(2) {
  width: 160rem;
  height: 36rem;
}

.case__btn:last-child {
  height: 36rem;
  margin-top: 8rem;
}

.popup iframe {
  width: 328rem;
  height: 186rem;
}
.popup .closeBtn {
  width: 24rem;
  height: 24rem;
  top: -32rem;
}

.popup .closeBtn-icon-wrp {
  width: 16rem;
  height: 16rem;
}

.footer__item:nth-child(3)
  .footer__item-list-item:nth-child(1)
  .footer__item-icon {
  margin-left: -1rem;
}
.message-box__chat-add-btn {
  width: 304rem;
}

.s1__404mod .s1__decor--1 {
  // top: 222rem;
  // left: -85rem;
  top: -36rem;
  left: -85rem;
  bottom: unset;
}
.s1__404mod .s1__decor--2 {
  top: 466rem;
  right: -112rem;

  // top: 726rem;
  // right: -112rem;
}

.s1__404mod .message-box__form {
  display: none;
}

.s1__404mod .message-box__center-text-wrp {
  display: block;
}

.s1__404mod .message-box__end-start {
  display: none;
}

.s1__404mod .message-box__end-chat-body-wrp {
  display: block;
}

.s1__404mod .myFadeIn1 {
  animation-delay: 500ms;
}

.s1__404mod .myFadeIn2 {
  animation-delay: 600ms;
}
.s1__404mod .myFadeIn3 {
  animation-delay: 700ms;
}
.s1__404mod .myFadeIn4 {
  animation-delay: 800ms;
}
