.header__logo .img-wrp {
  width: 36rem;
  height: 36rem;
}
.header__logo .wrp {
  display: none;
}

.text-def {
  font-size: 16rem;
  line-height: 22rem;
}

.text-usmall {
  font-size: 10rem;
  line-height: 14rem;
}

.header .open-popups-form {
  width: 36rem;
  height: 36rem !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .open-popups-form .img-wrp {
  display: flex;
  margin: 0;
}
.header .open-popups-form span {
  display: none;
}

.open-mobile-menu {
  width: 36rem;
  height: 36rem;
  margin-left: 8rem;
}

.header__info-icon {
  height: 16rem;
  width: 16rem;
  margin-right: 4rem;
}

.header .wrp-text {
  margin-right: 9rem;
}
.header__info-phone {
  margin-bottom: 0;
}

.container {
  padding-left: 12rem;
  padding-right: 12rem;
}

.open-mobile-menu span {
  width: 16rem;
  margin-bottom: 6rem;
}

.open-mobile-menu::after {
  bottom: -2rem;
}
.main-btn::after {
  bottom: -2rem;
}
.header__container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.s1 {
  margin-top: 56rem;
  padding-top: 36rem;
}

.text-main-title {
  min-height: 96rem;
  margin-bottom: 4rem;
  font-size: 37rem;
  line-height: 44rem;
}

.s1__description {
  margin-bottom: 16rem;
}
.main-btn {
  height: 56rem;
}

.text-small {
  font-size: 12rem;
  line-height: 16rem;
}

.main-btn .img-wrp {
  width: 16rem;
  height: 16rem;
  margin-right: 4rem;
}

.s1__btn {
  margin-bottom: 36rem;
}

.s1__list {
  width: 100%;
  flex-direction: column;
}

.s1__list li {
  width: 100%;
}
.s1__list li:first-child {
  margin-bottom: 8rem;
}

.s1__list-icon {
  width: 36rem;
  height: 36rem;
  margin-right: 8rem;
}

.s1__list-text {
  max-width: unset;
  font-size: 14rem;
  line-height: 20rem;
}

.s1 {
  height: 622rem;
}

.s1__decor-elm-house {
  width: 344rem;
  height: 172rem;
  left: 16rem;
}

.s1__decor-elm-bird1 {
  width: 52rem;
  height: 68rem;
  left: 84rem;
  bottom: 138rem;
}

.s1__decor-elm-bird2 {
  width: 33rem;
  height: 28rem;
  bottom: 43rem;
  left: 16rem;
}

.s1__decor-elm3 {
  width: 81rem;
  height: 52rem;
  right: -3rem;
  filter: blur(1px);
}

.s1__decor-elm2 {
  width: 420rem;
  height: 63rem;
  left: -107rem;
  filter: blur(1.5px);
}

.s2 {
  height: 1800rem;
  margin-bottom: 60rem;
}

.s2__container {
  padding-top: 60rem;
  padding-bottom: 60rem;
  margin-bottom: 60rem;
}

.s2__list-first {
  width: 100%;
  margin-bottom: 24rem;
}

.s2__title {
  min-height: 46rem;
  width: 100%;
}

.text-title {
  font-size: 32rem;
  line-height: 38rem;
}

.s2__img {
  width: 100%;
  height: 120rem;
  margin-bottom: 16rem;
  img {
    object-fit: cover;
  }
}

.s2__item-wrp {
  width: 100%;
}

.text-strong {
  font-size: 24rem;
  line-height: 30rem;
}
.s2__list-title {
  margin-bottom: 4rem;
  min-height: 66rem;
  display: flex;
  align-items: center;
}

.s2__list-text {
  max-width: 100%;
  font-size: 14rem;
  line-height: 20rem;
}

.s2__list-btn--black,
.s2__list-btn {
  width: 160rem;
  height: 34rem;
}

.s2__item {
  margin-bottom: 36rem;
}

.s2__list-first .wrp {
  bottom: 60rem;
  width: calc(100% - 24px);
  height: unset;
  border-radius: 16rem;
  overflow: hidden;
}

.s2__img-man {
  width: 217rem;
  height: 245rem;
}
.s2__img-bg-man {
  width: 335rem;
  height: 146rem;
  bottom: -2px;
}

.s2__list-first-text {
  margin-bottom: 12rem;
}

.s2__item-first-small-text {
  margin-bottom: 12rem;
}

.s2 .open-popups-form .img-wrp {
  display: block;
}

.s2__btn {
  margin-bottom: 28rem;
}

.s3__title {
  max-width: 100%;
  margin-bottom: 24rem;
}

.s3__list {
  padding-bottom: 221rem;
}

.s3__item {
  width: 154rem;
}

.s3__item-img {
  width: 160rem;
  height: 102rem;
  border-radius: 16rem;
  margin-bottom: 12rem;
}

.s3__item-text {
  max-width: 100%;
}

.s3__item:nth-child(2) {
  top: 102rem;
}

.s3__item:nth-child(3) {
  top: 102rem;
}

.s3__item:nth-child(4) {
  top: 204rem;
}

.s3 {
  margin-bottom: 60rem;
}

.s4__title {
  text-align: left;
  min-height: 46rem;
  display: flex;
  align-items: center;
  margin-bottom: 24rem;
  i {
    display: none;
  }
}

.s4__item-title {
  margin-bottom: 0;
  min-height: 36rem;
  display: flex;
  align-items: center;
}
.s4__item-city {
  display: block;
  margin-bottom: 8rem;
  font-size: 14rem;
  line-height: 20rem;
}

.s4__info-item:last-child {
  display: none;
}

.s4__info-list-icon {
  width: 16rem;
  height: 16rem;
  margin-right: 8rem;
}

.s4__info-item:nth-child(3) {
  margin-right: 0;
}

.s4__info-list-val {
  font-size: 14rem;
  line-height: 20rem;
}

.s4__info-list {
  margin-bottom: 16rem;
}

.s4__ifno-about-text {
  font-size: 14rem;
  line-height: 20rem;
}

.s4__info {
  margin-bottom: 16rem;
}

.s4__gallery .img-wrp {
  width: 76rem;
  height: 49rem;
  border-radius: 8rem;
}

.s4__gallery .gallery__img-big {
  width: 244rem;
  height: 156rem;
  border-radius: 16rem;
  margin-right: 8rem;
  margin-bottom: 0;
}

.gallery__img-def:first-child {
  margin-bottom: 8rem;
}

.s4__arrow-btn-wrp {
  margin-top: 24rem;
  margin-bottom: 12rem;
}

.s4 .arrow-btn {
  width: 160rem;
  height: 36rem;
}

.s4 .arrow-btn .img-wrp {
  width: 36rem;
  height: 16rem;
}

.swiper-pagination-bullet {
  width: 8rem !important;
  height: 8rem !important;
}

.s4__container {
  margin-bottom: 60rem;
}

.s5 {
  overflow: hidden;
  padding-top: 60rem;
}

.s5__decoration-bird {
  width: 129rem;
  height: 106rem;
  top: -22rem;
  right: -5rem;
}
.s5 .text-title-mod i {
  display: none;
}

.s5__title span {
  max-width: 300rem;
}

.s5 .text-title-mod {
  margin-left: 76rem;
}

.s5__title {
  margin-bottom: 24rem;
}

.s5__body {
  padding-left: 16rem;
  padding-right: 16rem;
  padding-top: 24rem;
  padding-bottom: 70rem;
  margin-bottom: 26rem;
}

.s5__body-title {
  margin-bottom: 8rem;
}

.s5__text {
  max-width: unset;
  font-size: 14rem;
  line-height: 20rem;
  margin-bottom: 8rem;
}
.s5__list {
  margin-top: 24rem;
}

.s5__list-icon {
  width: 60rem;
  height: 60rem;
  margin-right: 8rem;
}

.s5__list-title {
  margin-bottom: 2rem;
}

.s5__list-text {
  font-size: 14rem;
  line-height: 20rem;
}

.s5__decoration-elem1 {
  height: 121rem;
  left: -289rem;
  bottom: -16rem;
}

.s5__decoration-elem2 {
  height: 42rem;
  left: -70px;
  bottom: -4rem;
}

.s5__decoration-elem3 {
  width: 734rem;
  height: 113rem;
  right: -352rem;
  bottom: -16rem;
}

.s6 {
  padding-top: 60rem;
}

.s6__title {
  margin-bottom: 25rem;
}

.s6__step {
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-left: 7rem;
  padding-right: 7rem;
  margin-right: 8rem;
}

.s6__step-info i {
  display: none;
}

.s6__step-wrp {
  padding-bottom: 0;
  margin-bottom: 16rem;
}

.s6__item {
  width: 154rem;
  margin-bottom: 16rem;
}

.s6__item-img {
  height: 102rem;
  margin-bottom: 12rem;
  border-radius: 16rem;
}

.s6__item-text {
  font-size: 14rem;
  line-height: 20rem;
}

.s6__step-form-img {
  border-radius: 16rem 16rem 0px 0px;
  height: 107rem;
  margin-bottom: 0;
}
.s6__step-form-img img {
  object-fit: cover;
}

.s6__step-form-text-body {
  border-radius: 0px 0px 16rem 16rem;
  padding-left: 16rem;
  padding-right: 16rem;
}

.s6__step-three-text {
  font-size: 14rem;
  line-height: 20rem;
  margin-bottom: 12rem;
}

.s6__step-three .wrp {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-form__input {
  width: 100%;
  height: 60rem;
  padding: 16rem;
  font-size: 16rem;
  line-height: 22rem;
}
.s6__step-three-input:last-child {
  width: 100%;
}
.s6__step-three-input:first-child {
  margin-right: 0;
  margin-bottom: 12rem;
  width: 100%;
}

.s6__step-three-or {
  margin-right: 0;
  margin-bottom: 12rem;
}

.form-control span {
  // max-width: 272rem;
  max-width: 252rem;
  font-size: 10rem;
  line-height: 12rem;
  margin-left: 8rem;
}

input[type="checkbox"] {
  width: 16rem;
  height: 16rem;
  border-radius: 4rem;
}

input[type="checkbox"]::before {
  width: 8rem;
  height: 8rem;
  border-radius: 2rem;
}
.s6__finish-form span {
  font-size: 10rem;
  line-height: 14rem;
}
.s6__finish-form span i {
  display: none;
}

.s6 .main-btn {
  height: 36rem;
}

.block-finish .main-btn {
  width: 160rem;
}

.block-finish__text {
  margin-bottom: 36rem;
}
.block-finish__title {
  max-height: 36rem;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 24rem;
  line-height: 30rem;
}

.block-finish__icon {
  width: 80rem;
  height: 80rem;
  margin-bottom: 16rem;
}

.block-finish__icon svg {
  width: 24rem;
  height: 24rem;
}

.s6 {
  margin-bottom: 60rem;
}

.s5__list-text-wrp {
  max-width: 245rem;
}

.s5__list-icon img {
  width: 60rem;
  height: 60rem;
}

.s5__body {
  padding-right: 7rem;
}

.s5__text {
  padding-top: 9rem;
}

.s5__item {
  align-items: flex-start;
}

.s6__arrow-btn-wrp .arrow-btn .img-wrp {
  width: 36rem;
  height: 16rem;
}

.s6__swiper {
  padding-bottom: 60rem !important;
}

.s6 .swiper-wrapper {
  margin-bottom: 18rem;
}

.s8 {
  padding-top: 60rem;
  padding-bottom: 60rem;
  margin-bottom: 60rem;
}

.s8__title {
  width: 100%;
  margin-bottom: 24rem;
  min-height: 46rem;
  display: flex;
  align-items: center;
  text-align: left;
}

.tab-label {
  max-width: 290rem;
  font-size: 16rem;
  line-height: 22rem;
  padding-bottom: 12rem;
}

.tab .img-wrp {
  width: 24rem;
  height: 24rem;
  // top: 17rem;
  // top: unset;
  // position: relative;
}

.tab .img-wrp svg {
  width: 12rem;
  height: 12rem;
}

.tab input {
  // display: none;
}

.s9__start {
  padding-top: 70rem;
  padding-bottom: 70rem;
  margin-bottom: 24rem;
  flex-direction: column;
  width: 100%;
}

.s9__title {
  margin-bottom: 0;
}

.s9__contact-text {
  max-width: 100%;
  margin-bottom: 16rem;
}

.s9__contact-text span {
  width: 280rem;
}

.s9__contact-icon {
  width: 24rem;
  height: 24rem;
  margin-right: 8rem;
}

.s9__start li .img-wrp {
  width: 24rem;
  height: 24rem;
  margin-right: 8rem;
}

.s9__start li a {
  display: block;
  height: 30rem;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.s9__start li {
  margin-bottom: 16rem;
}

.s9__btn {
  display: none;
}

.s9__map-wrp {
  // display: none;
  height: 236rem;
  margin-bottom: 16rem;
}

.s9__map-point {
  width: 36rem;
  height: 36rem;
}

.s9__logo .img-wrp {
  width: 36rem;
  height: 36rem;
}

.s9__logo .wrp {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.s9__logo .img-wrp {
  margin-right: 12rem;
}

.s9__logo .text-small {
  min-width: 90rem;
  margin-left: 0;
  width: 100%;
}

.s9__logo {
  flex-direction: column;
  align-items: unset;
  margin-bottom: 24rem;
}

.s9__nav ul {
  width: 307rem;
}

.s9__end-start {
  margin-bottom: 16rem;
}

.s9__end-end > div.text-small {
  max-width: 160rem;
  margin-bottom: 4rem;
}

.ddlogo {
  top: -1rem;
}

.ddlogo .img-wrp {
  width: 69rem;
  height: 30rem;
}

.popups__form {
  width: 328rem;
  height: auto;
}

.popups__close {
  width: 36rem;
  height: 36rem;
  top: 8rem;
  right: 8rem;
  svg {
    width: 16rem;
    height: 16rem;
  }
}

.popups-body {
  padding-top: 36rem;
  padding-bottom: 36rem;
  padding-left: 16rem;
  padding-right: 16rem;
}

.popups .s6__step-four-text {
  font-size: 24rem;
  line-height: 30rem;
  margin-bottom: 16rem;
}

.popups .main-form__input {
  margin-bottom: 12rem;
}

.popups .chexbox-wrp {
  margin-bottom: 25rem;
}

.popups .s6__finish-form {
  height: 56rem;
}

.popups__info-title {
  font-size: 24rem;
  line-height: 30rem;

  margin-bottom: 8rem;
}
.popups__info-description {
  font-size: 14rem;
  line-height: 20rem;
  margin-bottom: 24rem;
}

.popups__info-list-item {
  padding-left: 16rem;
  margin-bottom: 12rem;
}

.popups__info-list-item::after {
  width: 8rem;
  height: 8rem;
}

.popups__info-start {
  margin-bottom: 12rem;
}

.popups__info-end-img-wrp {
  display: none;
}

.popups__info-end {
  background-color: unset;
  padding: 0;
}

.popups__info-end-title {
  display: none;
}

.popups__info-end .wrp-btn {
  padding: 0;
}

.popups__info-end .main-btn--white {
  margin-top: 12rem;
}

.popups__info-end .main-btn span {
  font-size: 12rem;
  line-height: 16rem;
}

.popups__info-end .main-btn {
  width: 100%;
}

.popups__info-arrow-btn-wrp {
  margin-top: 24rem;
  margin-bottom: 12rem;
}

.popups__info .popups__info-arrow-btn {
  width: 154rem;
  height: 36rem;
}
.popups__info .main-btn svg {
  width: 36rem;
  height: 16rem;
}

.popups__gallery-img {
  width: 328rem;
  height: 210rem;
}

.popups__policy {
  top: 24rem;
  padding-right: 8rem;
  transform: translateX(-50%);
}

.popups__policy .text-strong {
  margin-bottom: 16rem;
}

.popups__policy .text-small {
  padding-right: 8rem;
}

.popups__policy .text-small {
  height: 404rem;
}

.s7 {
  // display: none;
}

.s7__img-def {
  width: 160rem;
  height: 102rem;
}

.s7__b1-text-block {
  width: 100%;
  margin-left: 0;
  margin-top: 8rem;
  padding: 16rem;
}

.s7__b1 .wrp {
  flex-direction: column;
}

.s7__b1-icon {
  width: 24rem;
  height: 19rem;
  margin-bottom: 4rem;
}

.s7__b1-text-block {
  font-size: 14rem;
  line-height: 20rem;
  height: auto;
}

.s7__b2 {
  top: 0;
  right: 12rem;
}

.s7__b3-text-title span {
  margin: 0;
  margin-right: 8rem;
}
.s7__b3-text-title {
  text-align: right;
}

.s7__b3 {
  width: 100%;
}

.s7__b3-text-block {
  top: 0;
  width: 100%;
}

.s7__b1 .s7__img-big {
  width: calc(100% - 24rem);
  height: 209rem;
  left: 50%;
  transform: translateX(-50%);
  top: 423rem;
}

.s7__b3 {
  top: -152rem;
}

.s7__b2-text-block {
  // width: 328rem;
  width: calc(100% - 24rem);
  // width: 328rem;
  margin-top: 538rem;
  font-size: 14rem;
  line-height: 20rem;
  padding-top: 16rem;
  padding-left: 16rem;
  padding-right: 16rem;
}

.s7__b2-icon {
  width: 24rem;
  height: 18rem;
  margin-bottom: 5rem;
}

.s7__img-mid {
  display: none;
}
.s7__b4 {
  top: 135rem;
}

.s7__b4 .s7__img-def,
.s7__b4 .s7__img-big {
  width: 160rem;
  height: 102rem;
  position: relative;
  transform: unset;
  top: unset;
  border-radius: 16rem;
}

.s7 .img-wrp,
.s7__b1-text-block,
.s7__b2-text-block {
  border-radius: 16rem !important;
}

.s7 {
  margin-bottom: 32rem;
}

.s7__b2 {
  width: 100%;
}

.page404 .s2__list-btn-back-index {
  height: 60rem;
}

.page404 .s2__container {
  margin-bottom: 0;
}
