.big-title {
  font-size: 30rem;
  line-height: 120%;
}
.text-title {
  font-size: 26rem;
  line-height: 120%;
}

.str-text {
  font-size: 18rem;
  line-height: 120%;
}

.def-text {
  font-size: 16rem;
  line-height: 120%;
}
.small-text {
  font-size: 12rem;
}

.logo {
  width: 108rem;
  height: 16rem;
}

.main-navigation-list {
  width: 167rem;
}

.header__container {
  padding-top: 17rem;
}
.header {
  margin-bottom: 50rem;
}

.fs__main-title {
  min-height: unset;
  margin-bottom: 12rem;
}

.fs__desc {
  max-width: 100%;
  margin-bottom: 30rem;
}

.fs__main-title .fs__main-title-animation {
  width: 132rem;
  height: auto;
  top: 32rem;
  right: 6rem;
}

.main-btn {
  width: 230rem;
  height: 50rem;
}

.fs__btn {
  margin-bottom: 30rem;
}

.fs__animation-element-wrp {
  width: 250rem;
  height: 185rem;
}

.fs {
  padding-bottom: 50rem;
}

.fs__light-decor {
  width: 328rem;
  height: 236rem;
  flex-shrink: 0;
  border-radius: 328rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  top: 164rem;
}

.s2 {
  margin-bottom: 80rem;
}

.s2__title {
  max-width: 100%;
  margin-bottom: 12rem;
}

.s2__desc {
  max-width: 100%;
  margin: 0;
}

.s2__wrp {
  flex-wrap: wrap;
  margin-bottom: 30rem;
}

.s2__list--mob {
  width: 328rem;
  height: 166rem;
}

.s2__light-decor {
  width: 373rem;
  height: 268rem;
  flex-shrink: 0;
  border-radius: 373rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  top: 188rem;
}

.s3 {
  margin-bottom: 80rem;
}

.s3__title {
  margin-bottom: 7rem;
}

.s3__title .s3__title-animation {
  width: 145rem;
  position: relative;
  top: -5rem;
}
.s3__desc br {
  display: none;
}
.s3__desc {
  max-width: 320rem;
  margin-bottom: 30rem;
}
.s3__animation {
  width: 328rem;
  height: 87rem;
  margin-bottom: 30rem;
}

dotlottie-player.s3__animation {
  transform: scale(1.1);
}

.s3__text {
  max-width: unset;
  margin-bottom: 16rem;
}

.s3__btn {
  margin-bottom: 0;
}

.s4 {
  padding-top: 50rem;
  padding-bottom: 96rem;
  margin-bottom: 80rem;
}

.s4__start {
  margin-bottom: 16rem;
  flex-wrap: wrap;
}

.s4__title {
  margin-bottom: 12rem;
  min-height: unset;
}

.s4__desc {
  max-width: unset;
  min-height: unset;
  margin: 0;
}

.s4__item {
  padding-top: 30rem;
  padding-bottom: 30rem;
  padding-left: 16rem;
  padding-right: 16rem;
}

.s4__item-icon {
  width: 75rem;
  height: 16rem;
  margin-bottom: 8rem;
}

.s4__item-desc {
  margin-bottom: 16rem;
}

.s4__item-btn {
  width: 94rem;
  height: 30rem;
}

.s4__item-btn-icon {
  width: 12rem;
  height: 12rem;
}

.s4__price-list--active {
  padding-left: 12rem;
  padding-right: 12rem;
}

.s4__price-list-item {
  padding-bottom: 12rem;
}

.s4 .slider-navigation {
  bottom: 50rem;
  left: 50%;
  transform: translateX(-50%);
}
.slider-navigation {
  height: unset;
  box-sizing: border-box;
  padding-left: 12rem;
  padding-right: 12rem;
}

.swiper-button {
  width: 30rem !important;
  height: 30rem !important;
}

.swiper-button__icon {
  width: 16rem;
  height: 16rem;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  max-width: 82%;
}

.s4__light-decoration--1 {
  width: 373rem;
  height: 268rem;
  flex-shrink: 0;
  border-radius: 373rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  top: 480rem;
  left: 50%;
  transform: translateX(-50%);
}

.s4__light-decoration--2 {
  display: none;
}

.s5 {
  margin-bottom: 80rem;
}

.s5__main-title-animation {
  width: 158rem;
  left: 38rem;
  top: 31rem;
}

.s5__list {
  margin-bottom: 16rem;
  height: unset;
  flex-direction: column;
  align-items: center;
}

.s5__item {
  width: 268rem;
  height: unset;
  position: static;
  box-sizing: border-box;
  padding: 30rem;
  // padding-top: 30rem;
  // padding-bottom: 30rem;
}

@keyframes s5__item-rotate1 {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: rotate(7.154deg);
  }
}
.s5__item:first-child {
  // transform: rotate(7.154deg) !important;
  padding-top: 19rem;
  padding-bottom: 19rem;
}

@keyframes s5__item-rotate2 {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: rotate(2.763deg);
  }
}
.s5__list .s5__item:nth-child(2) {
  margin-left: 0;
  // transform: rotate(2.763deg) !important;
  order: -1;
  z-index: 1;
  padding-top: 25rem;
  padding-bottom: 25rem;
}

@keyframes s5__item-rotate3 {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: rotate(-3.635deg);
  }
}
.s5__item:nth-child(3) {
  // transform: rotate(-3.635deg) !important;
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.s5__item--last {
  transform: unset;
  padding: 0;
  margin-top: 12rem;
}

.s5__item--last-animation {
  position: relative;
  width: 48rem;
  height: 40rem;
  top: 3rem;
  right: unset;
}

.s5__item--last .s5__item-text {
  font-size: 24rem;
  font-weight: 400;
  line-height: 70%;
  transform: unset;
}

.s6__light-decoration {
  width: 373rem;
  height: 268rem;
  flex-shrink: 0;
  border-radius: 373rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  top: -98rem;
}

.s5__item:nth-child(3) .s5__item-text {
  width: 100%;
}

.s5__item:nth-child(2) .s5__item-text {
  width: 100%;
}
.s5__item:first-child .s5__item-text {
  width: 100%;
}

.s6 {
  padding-top: 50rem;
  padding-bottom: 50rem;
}

.s6__title {
  margin-bottom: 12rem;
}
.s6__title-wrp {
  flex-wrap: wrap;
  margin-bottom: 30rem;
}

.s6__title br {
  display: none;
  margin-bottom: 12rem;
}
.s6__title-animation {
  width: 142rem;
  top: 27rem;
  left: 0;
}

.s6__desc {
  margin-top: 0;
  width: 100%;
}

.s6__content {
  flex-direction: column;
}

.s6__content-img {
  width: 328rem;
  height: 242rem;
  margin-bottom: 16rem;
}

.s6__content-wrp {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.s6__content-italic-text {
  transform: rotate(-4.779deg);
  font-size: 24rem;
  font-weight: 400;
  line-height: 70%;
  margin: 0;
  max-width: 86rem;
}

.s6__content-price {
  margin: 0;
  margin-left: 12rem;
}
.s6__content-price-span {
  margin-top: 5rem;
}

.s6__content-animation {
  width: 135rem;
  height: auto;
  top: 22rem;
}

.s7 {
  margin: 0;
  padding-top: 80rem;
  padding-bottom: 80rem;
}
.s7__title {
  min-height: unset;
  max-height: unset;
  margin-bottom: 30rem;
}

.main-form__input {
  height: unset;
  padding-bottom: 8rem;
}
.main-form__checbox-text {
  font-size: 10rem;
}

.main-form__btn {
  width: 100%;
}

.main-form__checbox-text::before {
  top: 50%;
  transform: translateY(-50%);
}

.s7__light-decoration--1 {
  width: 599rem;
  height: 431rem;
  flex-shrink: 0;
  border-radius: 599rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  top: -210rem;
  left: 50%;
  transform: translateX(-50%);
}

.s7__light-decoration--2 {
  width: 257rem;
  height: 185rem;
  flex-shrink: 0;
  border-radius: 257rem;
  opacity: 0.2;
  background: var(--dop-1, #ecedfd);
  filter: blur(75rem);
  top: -80rem;
  left: unset;
  right: 9rem;
}

.footer__top {
  margin-bottom: 30rem;
}

.footer__email-link {
  margin-bottom: 16rem;
}

.arrow-top {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 34rem;
  height: 53rem;
}

.footer__end {
  flex-wrap: wrap;
  position: relative;
}

.footer__end-end {
  align-items: flex-start;
}
.footer__end-text br {
  display: none;
}
.footer__end-text {
  margin-bottom: 16rem;
}
.footer {
  padding-bottom: 30rem;
}
.footer__end-end-text {
  margin-bottom: 0;
}

.p-serv .fs__animation-element-wrp {
  width: 210rem;
  height: 185rem;
}

.p-serv-s2 .p-serv-s2__list-swiper-wrapper {
  flex-wrap: nowrap;
  justify-self: unset;
}

.p-serv-s2 {
  padding-top: 50rem;
  padding-bottom: 80rem;
}

.p-serv-s2__start {
  flex-wrap: wrap;
  margin-bottom: 16rem;
}

.p-serv-s2__title {
  max-width: 100%;
  min-height: unset;
  margin-bottom: 8rem;
}

.p-serv-s2__desc {
  min-height: unset;
  margin: 0;
}

.p-serv-s2 .p-serv-s2__item {
  // height: unset;
  border-radius: 8rem;
  padding-top: 30rem;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 80rem;
  margin-bottom: 0;
  // min-height: 326rem;
}

.p-serv-s2__item-icon {
  width: 16rem;
  height: 16rem;
  margin-right: 8rem;
}
.p-serv-s2__item-start {
  margin-bottom: 8rem;
}

.p-serv-s2__item-title {
  min-height: unset;
}

.p-serv-s2__item-list-title {
  margin-bottom: 0rem;
}

.p-serv-s2__slider-navigation {
  bottom: 50rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.p-serv-s2__light-decoration {
  width: 373rem;
  height: 268rem;
  flex-shrink: 0;
  border-radius: 373rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  top: 426rem;
  bottom: unset;
  left: 50%;
  transform: translateX(-50%);
}

.p-serv-s3 {
  padding-top: 80rem;
  padding-bottom: 80rem;
}

.p-serv-s3__title {
  margin-bottom: 30rem;
}

.p-serv-s3__title-animation {
  width: 172rem;
  top: 32rem;
}

.p-serv-s3__item {
  // margin-bottom: 12rem;
  // margin-right: 12rem;

  margin-bottom: 9rem;
  margin-right: 9rem;
}

.p-serv-s3__item-name {
  margin-right: 4rem;
}

.p-serv-s3__item-icon {
  width: 30rem;
  height: 30rem;
}

.p-serv-s3__item:first-child {
  order: 1;
}
.p-serv-s3__item:nth-child(2) {
  order: 2;
}
.p-serv-s3__item:nth-child(3) {
  // order: 3;
  // order: 8;
  order: 6;
  margin-right: 0;
}
.p-serv-s3__item:nth-child(4) {
  order: 4;
}
.p-serv-s3__item:nth-child(5) {
  order: 5;
}
.p-serv-s3__item:nth-child(6) {
  order: 6;
}
.p-serv-s3__item:nth-child(7) {
  order: 7;
}
.p-serv-s3__item:nth-child(8) {
  // order: 8;
  // margin-right: 12rem;
  order: 3;
  margin-right: 0;
}
.p-serv-s3__item:nth-child(9) {
  order: 9;
}
.p-serv-s3__item:nth-child(10) {
  // order: 10;
  order: 8;
  margin-right: 0;
}
.p-serv-s3__item:nth-child(11) {
  order: 11;
}
.p-serv-s3__item:nth-child(12) {
  // order: 12;
  // order: 14;
  order: 13;
}
.p-serv-s3__item:nth-child(13) {
  order: 15;
  margin-right: 0;
}
.p-serv-s3__item:nth-child(14) {
  order: 12;
  margin-right: 0;
}
.p-serv-s3__item:nth-child(15) {
  order: 14;
  margin-right: 12rem;
}
.p-serv-s3__item:nth-child(16) {
  order: 16;
}
.p-serv-s3__item:nth-child(17) {
  order: 17;
}
.p-serv-s3__item:nth-child(18) {
  order: 18;
}
.p-serv-s3__item:nth-child(19) {
  order: 19;
}
.p-serv-s3__item:nth-child(20) {
  order: 20;
}

.p-serv-s3__light-decoration {
  width: 373rem;
  height: 268rem;
  flex-shrink: 0;
  border-radius: 373rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  right: unset;
  bottom: -243rem;
  left: 50%;
  transform: translateX(-50%);
}

.p-serv-s4 {
  padding-top: 50rem;
  padding-bottom: 50rem;
  margin-bottom: 80rem;
}

.p-serv-s4__start {
  flex-wrap: wrap;
  margin-bottom: 16rem;
}

.p-serv-s4__title {
  max-width: 320rem;
}

.p-serv-s4__title-animation {
  top: 26rem;
  width: 193rem;
  left: 4rem;
  margin-bottom: 0rem;
}

.p-serv-s4__desc-text-wrp {
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.p-serv-s4__desc {
  margin-right: 12rem;
  font-size: 24rem;
  line-height: 70%;
  margin-bottom: 0;
}

.p-serv-s4__item {
  width: 100%;
  margin-bottom: 16rem;
  position: relative;
  box-sizing: border-box;
  padding-left: 42rem;
}

.p-serv-s4__number-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30rem;
  height: 30rem;
  margin-bottom: 0;
  margin-right: 12rem;
}

.p-serv-s4__item-title {
  min-height: unset;
  margin-bottom: 2rem;
}

.p-serv-s4__light-decoration {
  width: 373rem;
  height: 268rem;
  flex-shrink: 0;
  border-radius: 373rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  left: 50%;
  right: unset;
  top: unset;
  bottom: -100rem;
  transform: translate(-50%);
}

.p-404-body__title {
  min-height: unset;
  margin-bottom: 16rem;
}

.p-404-body__main-title-animation {
  width: 114rem;
  top: -40rem;
  left: -13rem;
}

.p-404-body__desc {
  max-width: unset;
  margin-bottom: 30rem;
}

.p-404-body__btn {
  margin-bottom: 50rem;
}

.p-404-body__img {
  width: 328rem;
  height: 92rem;
}

.p-404-body {
  margin-bottom: 50rem;
}

.p-404-body__light-decor {
  display: none;
}

.popup__content {
  width: 328rem;
  padding: 30rem;
}

.popup__icon {
  width: 50rem;
  height: 50rem;
  margin: 0;
  margin-bottom: 8rem;
}

.popup__title {
  min-height: unset;
  margin-bottom: 8rem;
}

.popup__desc {
  min-height: unset;
  margin-bottom: 16rem;
}

.popup__desc br {
  display: none;
}

.p-vac-inst-body__title {
  min-height: unset;
  margin-bottom: 8rem;
}

.p-vac-inst-body__nav-item {
  margin-bottom: 2rem;
}
.p-vac-inst-body__nav-item:last-child {
  margin-bottom: 0;
}

.p-vac-inst-body__nav {
  flex-wrap: wrap;
  margin-bottom: 30rem;
}

.p-vac-inst-body__text p {
  margin-bottom: 12rem;
}

.p-vac-inst-body__text {
  margin-bottom: 16rem;
}

.p-vac-inst-body__list-title {
  min-height: unset;
  margin-bottom: 15rem;
}

.p-vac-inst-body__item {
  margin-bottom: 16rem;
}

.p-vac-inst-body__list {
  margin-bottom: 16rem;
}

.p-vac-inst-body__text--last {
  font-size: 14rem;
  margin-bottom: 50rem;
}

.main-form textarea.main-form__input {
  min-height: 54rem;
}

.p-vac-inst-body {
  margin-bottom: 80rem;
}

.p-serv .fs__main-title .fs__main-title-animation {
  top: -1rem;
  right: 12rem;
  width: 118rem;
}

.p-vac-s1 {
  padding-top: 50rem;
  padding-bottom: 50rem;
}

.p-vac-s1__title {
  // margin-bottom: 200rem;
  margin-bottom: 380rem;
}
.p-vac-s1__title-animation {
  width: 183rem;
  height: auto;
  top: 27rem;
  left: 3rem;
}

.p-vac-s1__end {
  top: 143rem;
  right: unset;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  // border: 1rem solid red;
}

.p-vac-s1__text-span {
  height: unset;
  width: unset;
  font-size: 24rem;
  line-height: 70%;
  display: block;
  text-align: center;
  margin-bottom: 10rem;
  // margin-bottom: 24rem;
}

.p-vac-s1__text {
  width: 100%;
}

.p-vac-s1__text-item {
  margin-bottom: 12rem;
}

.p-vac-s1__text-item:nth-child(6) {
  margin-bottom: 16rem;
}

.p-vac-s1__text-italica {
  font-size: 24rem;
  font-weight: 400;
  line-height: 70%;
}

.p-vac-s1__light-decor {
  width: 373rem;
  height: 268rem;
  flex-shrink: 0;
  border-radius: 373rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  left: 50%;
  transform: translateX(-50%);
  bottom: -100rem;
}

.p-vac-s2 {
  padding-top: 80rem;
  padding-bottom: 80rem;
}

.p-vac-s2__title {
  margin-bottom: 4rem;
}
.p-vac-s2__title-animation {
  width: 202rem;
  height: auto;
  top: 32rem;
}

.p-vac-s2__desc {
  margin-bottom: 28rem;
  max-width: 260rem;
}

.p-vac-s2__list {
  width: 100%;
  margin-bottom: 25rem;
}

.p-vac-s2__item--1 .p-vac-s2__item-icon {
  width: 40rem;
  height: 40rem;
  margin-bottom: 11rem;
}

.p-vac-s2__item-text {
  font-size: 24rem;
  line-height: 70%;
}

.p-vac-s2__item--2 .p-vac-s2__item-icon {
  width: 120rem;
  height: 64rem;
  margin-bottom: 6rem;
}

.p-vac-s2__item--3 .p-vac-s2__item-icon {
  width: 70rem;
  height: 34rem;
  margin-bottom: 6rem;
}

.p-vac-s2__item--3 {
  width: 80rem;
}

.p-vac-s2__item--2 .p-vac-s2__item-text {
  max-width: 75rem;
}

.p-vac-s3 {
  padding-top: 50rem;
  padding-bottom: 50rem;
}

.p-vac-s3__start {
  flex-wrap: wrap;
  margin-bottom: 25rem;
}

.p-vac-s3__title {
  width: 100%;
  margin-bottom: 12rem;
}

.p-vac-s3__item-title-swiper {
  // width: 300rem;
  width: 320rem;
  padding-bottom: 10rem;
  overflow: visible;
}
.p-vac-s3__item-title-wrp--tab {
  width: 640rem;
  transform: translateX(2%);
}

.p-vac-s3__item-title-wrp--tab .p-vac-s3__item-title {
  font-size: 24rem;
  line-height: 70%;
  margin-right: 40rem;
}

.p-vac-s3 .p-vac-s3__item {
  width: 260rem;
}

.p-vac-s3__item-wrp-animation {
  width: 260rem;
}

.p-vac-s3__text {
  width: 260rem;
  // padding: 12rem;
  padding: 16rem;
  height: auto;
}

.p-vac-s3__item:last-child .p-vac-s3__item-wrp-animation dotlottie-player {
  transform: scale(1.06) translateX(-17rem);
}
.p-vac-s3__item-wrp-animation dotlottie-player {
  transform: scale(1.06) translateX(-15rem);
}

.p-vac-s3__light-decor {
  width: 373rem;
  height: 268rem;
  flex-shrink: 0;
  border-radius: 373rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  left: 50%;
  right: unset;
  transform: translateX(-50%);
  top: unset;
  bottom: -100rem;
}

.p-vac-s2__light-decor {
  width: 373rem;
  height: 268rem;
  flex-shrink: 0;
  border-radius: 373rem;
  opacity: 0.2;
  background: var(--dop-1, #ecedfd);
  filter: blur(75rem);
  right: -93rem;
  top: 451rem;
  bottom: unset;
  left: unset;
}

.p-vac-s4 {
  padding-top: 80rem;
  padding-bottom: 80rem;
}

.p-vac-s4__title {
  max-width: unset;
  margin-bottom: 30rem;
}

.p-vac-s4__title-animation {
  top: 32rem;
  left: 2rem;
  transform: unset;
  width: 195rem;
  height: auto;
}

.p-vac-s4__item {
  margin-bottom: 8rem;
  padding: 16rem;
}

.p-vac-s4__item-title {
  min-height: unset;
}

.p-vac-s4 .p-vac-inst-body__nav {
  margin-bottom: 0;
}

.p-vac-inst-body__nav-item:first-child {
  padding: 0;
}
.p-vac-inst-body__nav-item:first-child::after {
  display: none;
}

.p-vac-s4__item-nav-item:nth-child(2) {
  padding-left: 12rem;
  position: relative;
}
.p-vac-s4__item-nav-item:nth-child(2)::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 4rem;
  margin-top: -2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  // background-color: rgba(236, 237, 253, 1);
  background-color: #7b7ea8;
}

.p-vac-s4__start {
  margin-bottom: 80rem;
}

.p-vac-s4__accordion-title {
  margin-bottom: 30rem;
}

.p-vac-s4__accordion-item {
  padding-top: 12rem;
  padding-left: 16rem;
  padding-right: 16rem;
  padding-bottom: 12rem;
}

.p-vac-s4__accordion-header {
  height: unset;
  padding-bottom: 4rem;
}

.p-vac-s4__accordion-item-icon {
  // right: 0rem;
  width: 16rem;
  height: 16rem;
}

.p-vac-s4__accordion-item-text {
  font-size: 12rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.p-vac-s4__light-decor--1 {
  width: 257rem;
  height: 145rem;
  border-radius: 257rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  left: 94rem;
  bottom: 417rem;
}

.p-vac-s4__light-decor--2 {
  // width: 323rem;
  // height: 232rem;
  // flex-shrink: 0;
  // border-radius: 323rem;
  // opacity: 0.2;
  // background: var(--bodi-3, #21fa90);
  // filter: blur(75rem);
  // left: 45rem;
  // bottom: -357rem;
  display: none;
}

.footer {
  position: relative;
  overflow: hidden;
}

.footer::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 323rem;
  height: 232rem;
  flex-shrink: 0;
  border-radius: 323rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  left: 61rem;
  bottom: -100rem;
}

.p-vac-fs {
  position: relative;
  box-sizing: border-box;
  padding-top: 50rem;
  padding-bottom: 80rem;
  margin-bottom: 0;
}
.p-vac-fs__title {
  margin-top: 0;
  min-height: unset;
  margin-bottom: 34rem;
}

.p-vac-fs__title-animation {
  width: 187rem;
  top: 31rem;
  height: auto;
}

.p-vac-fs__animation-element-wrp {
  // border: 1px solid red;
  // display: none;
}
.p-vac-fs__animation-element-wrp--1 {
  left: unset;
  top: unset;
  right: 32rem;
  bottom: 50rem;
  width: 79rem;
  height: 119rem;
  transform: matrix(-1, 0, 0, 1, 0, 0) rotate(15deg);
}

.p-vac-fs__animation-element-wrp--2 {
  width: 78rem;
  height: 112rem;
  left: 32rem;
  top: 159rem;
}

.p-vac-fs__animation-element-wrp--2 dotlottie-player {
  transform: scale(1.3);
}

.p-vac-fs__animation-element-wrp--3 {
  width: 90rem;
  height: 105rem;
  top: 159rem;
  right: 46rem;
}
.p-vac-fs__animation-element-wrp--3 dotlottie-player {
  transform: scale(1.3);
}

.p-vac-fs__animation-element-wrp--4 {
  width: 90rem;
  height: 106rem;
  top: 264rem;
  left: 50%;
  transform: translateX(-50%) rotate(-15deg);
}
.p-vac-fs__animation-element-wrp--4 dotlottie-player {
  transform: scale(1.3);
}

.p-vac-fs__animation-element-wrp--5 dotlottie-player {
  transform: scale(1.4);
}

.p-vac-fs__animation-element-wrp--5 {
  width: 103rem;
  height: 97rem;
  left: 46rem;
  bottom: 76rem;
  top: unset;
}

.p-vac-fs__container {
  min-height: 460rem;
  // min-height: unset;
}

.p-vac-fs__light-decor {
  width: 329rem;
  height: 236rem;
  border-radius: 329rem;
  opacity: 0.2;
  background: var(--bodi-3, #21fa90);
  filter: blur(75rem);
  top: 135rem;
}

.p-vac-s4__item-icon {
  right: 16rem;
  width: 30rem;
  height: 30rem;
}

.p-vac-s3__item-title-wrp--tab .p-vac-s3__item-title:first-child {
  transform: rotate(5.464deg);
}
.p-vac-s3__item-title-wrp--tab .p-vac-s3__item-title:nth-child(2) {
  transform: rotate(-7.035deg);
}
.p-vac-s3__item-title-wrp--tab .p-vac-s3__item-title:nth-child(3) {
  transform: rotate(0deg);
}
.p-vac-s3__item-title-wrp--tab .p-vac-s3__item-title:nth-child(4) {
  transform: rotate(5.464deg);
}
.p-vac-s3__item-title-wrp--tab .p-vac-s3__item-title:last-child {
  transform: rotate(-7.035deg);
}
