.ppl-viewer{
  width: 100%;
  height: 857rem;
  background-color: grey;
  position: relative;
  z-index: 999;
  overflow: hidden;
}

.header__nav{
  display: none;
}
.header__container{
  justify-content: unset;
}
.header__logo{
  margin-right: 233rem;
}
.main-selector{
  margin-right: auto;
}
.main-selector__text{
  margin-top: -5rem;
}
.main-selector__icon{
  top: -1rem;
}
.s1{
  padding-top: 124rem;
  height: 1132rem;
  margin-bottom: 58rem;
}

.s1__title{
  margin-bottom: 17rem;
}

.s1__decor-men{
  width: 319rem;
  height: 294rem;
  top: 0rem;
}

.s1__decor-bg-mask{
  width: 696rem;
  height: 231rem;
  left: -1rem;
  top: 59rem;
}

.s1__decor-gif{
  width: 717rem;
  height: 316rem;
  top: 16rem;
}

.s1__text-item{
  // display: none;
  position: relative;
  top: unset;
  left: unset;
  bottom: unset;
  right: unset;

  width: 578rem;
  height: 157rem;
  margin-bottom: 11rem;
  padding: 24rem;
  border-radius: 24rem;
  box-shadow: 0 5rem 5rem 0 rgba(0, 0, 0, 0.03), 0 13rem 13rem 0 rgba(0, 0, 0, 0.05), 0 -2rem 6rem 0 rgba(0, 0, 0, 0.04);
}
.s1__text-item--last{
  margin-bottom: 41rem;
}
.s1__text-item-icon{
  width: 24rem;
  height: 24rem;
  margin-right: 7rem;
}
.s1__decor-box{
  height: 290rem;
  margin-bottom: 32rem;
  overflow: hidden;
}
.s1__text-item-title-text{
  font-weight: 600;
  text-transform: uppercase;
  color: var(--bodi-dark-1);
}
.s1__btn{
  margin-bottom: 12rem;
}
.s1__end-btn{
  margin-left: -10rem;
}

.s2__container{
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.s2__title{
  margin-bottom: 560rem;
}

.s2 .eter-list{
  bottom: unset;
  height: 504rem;
  top: 118rem;
  padding: 0;
  background-color: unset;
  width: auto;
  // margin-left: -1000rem;
}

.marquee-content{
  // animation: unset !important;
}

.s2__list{
  display: none;
  width: auto;
}

.s2__list--tab{
  display: flex;
}

.s2__item{
  border-radius: 12rem;
  width: 340rem;
  height: 400rem;
  box-shadow: 0 6rem 19rem 0 rgba(29, 52, 135, 0.1);
  background: #f5f5f5;
}

.s2__item:nth-child(1),
.s2__item:nth-child(6){
  left: 0;
}
.s2__item:nth-child(1) .s2__item-img,
.s2__item:nth-child(6) .s2__item-img{
  width: 306rem;
  height: 265rem;
  top: 83rem;
  left: -61rem;
  // left: 0;
}

.s2__item:nth-child(2),
.s2__item:nth-child(7){
  top: 30rem;
  left: -29rem;
}
.s2__item:nth-child(2) .s2__item-img,
.s2__item:nth-child(7) .s2__item-img{
  width: 334rem;
  height: 291rem;
  top: 129rem;
  left: -1rem;
}

.s2__item:nth-child(3),
.s2__item:nth-child(8){
  left: -57rem;
}
.s2__item:nth-child(3) .s2__item-img,
.s2__item:nth-child(8) .s2__item-img{
  width: 271rem;
  height: 236rem;
  left: unset;
  right: 0;
  top: unset;
  bottom: 35rem;
}
.s2__item:nth-child(4),
.s2__item:nth-child(9){
  top: 30rem;
  left: -101rem;
}
.s2__item:nth-child(4) .s2__item-img,
.s2__item:nth-child(9) .s2__item-img{
  width: 262rem;
  height: 308rem;
  top: unset;
  bottom: -34rem;
  left: 31rem;
}
.s2__item:nth-child(5),
.s2__item:nth-child(10){
  left: -146rem;
}
.s2__item:nth-child(5) .s2__item-img,
.s2__item:nth-child(10) .s2__item-img{
  width: 270rem;
  height: 275rem;
  top: unset;
  left: 36rem;
  bottom: -13rem;
}

.s2{
  margin-bottom: -2rem;
}

.s3__title{
  width: 584rem;
  margin-top: -5rem;
}

.s3__container{
  padding-top: 90rem;
  padding-left: 0;
  padding-right: 0;
  width: 696rem;
  overflow: hidden;
}
.s3__title-row:first-child{
  margin-left: 12rem;
}
.s3__title-row:nth-child(2){
  margin-left: 8rem;
  margin-top: -3rem;
}
.s3__title-icon--first{
  width: 84rem;
  height: 51rem;
  left: 11rem;
}
.s3__title-icon--two{
  width: 107rem;
  height: 60rem;
  top: 6rem;
  left: -5rem;
}
.s3__title-row:last-child{
  margin-top: 0rem;
}

.s3__decoration-bg{
  width: 100%;
  height: 1166rem;
  left: 50%;
  transform: translateX(-50%);
}
.s3__decoration-icon--left-hand{
  width: 504rem;
  height: 302rem;
  left: -124rem;
  top: 60rem;
}

.s3__decoration-icon--right-hand{
  width: 512rem;
  height: 246rem;
  right: -112rem;
  top: 79rem;
}
.s3__decoration-icon--center-item{
  width: 264rem;
  height: 264rem;
  left: 209rem;
  top: 53rem;
}

.s3__decoration-icon--1{
  // display: none;
  // transform: scale(1);
  top: -4rem;
  right: 91rem;
  width: 56rem;
  height: 56rem;
}
.s3__decoration-icon--2{
  width: 41rem;
  height: 76rem;
  top: 17rem;
  left: 79rem;
}
.s3__decoration-icon--3{
  width: 28rem;
  height: 33rem;
  top: -6rem;
  right: -9rem;
}
.s3__decoration-icon--3 path{
  stroke-width: 3;
}
.s3__decoration-icon--5{
  left: -2rem;
  top: 112rem;
  width: 45rem;
  height: 45rem;
  right: unset;
  bottom: unset;
}
.s3__decoration-icon--6{
  display: none;
  width: 85rem;
  height: 88rem;
  right: 42rem;
  bottom: -7rem;
}
.s3__decoration-icon--7{
  width: 23rem;
  height: 23rem;
  top: 347rem;
  right: 113rem;
}
.s3__decoration-icon--8{
  // transform: scale(1);
  width: 40rem;
  height: 40rem;
  top: 316rem;
  right: 517rem;
  bottom: unset;
}
.s3__decoration-icon--9{
  width: 45rem;
  height: 45rem;
  bottom: 232rem;
  left: 12rem;
}
.s3__decoration-icon--11{
  width: 36rem;
  height: 36rem;
  bottom: 261rem;
  left: 228rem;
}

.s3__decoration-icon--18{
 display: none;
}

.s3__decoration-icon--13{
  display: none;
}

.s3__decoration-icon--10{
  width: 81rem;
  height: 81rem;
  bottom: 220rem;
  left: 455rem;
}

.s3__decoration-icon--10 path{
  stroke-width: 3;
}

.s3__decoration-icon--4{
  width: 24rem;
  height: 24rem;
  bottom: 538rem;
  left: 468rem;
}

.s3__decoration-icon--12{
  width: 40rem;
  height: 40rem;
  left: 627rem;
  bottom: 265rem;
  // transform: scale(1);
}

.s3__decoration-icon--14{
  display: none;
}

.s3__decoration-icon--15 {
  width: 36rem;
  height: 36rem;
  top: 47rem;
  left: 167rem;
}
.s3__decoration-icon--16 {
  width: 28rem;
  height: 28rem;
  right: 16rem;
  top: 92rem;
}

.s3__decoration-icon--17{
  display: none;
}

.s3 .s1__text-item--first{
  top: -224rem;
  left: 1rem;
  height: 134rem;
  padding: 24rem;
}
.s3 .s1__text-item--last{
  height: 134rem;
  padding: 24rem;
  right: 0;
  bottom: 223rem;
}
.s3__decoration-box{
  height: 616rem;
}
.s3__btn{
  position: absolute;
  bottom: -197rem;
}

.s3__decoration-icon-wrp{
  // position: absolute;
  // top: 0;
}
.s3{
  margin-bottom: -34rem;
}

.s4__title{
  margin-bottom: 23rem;
}
.slide-logos{
  width: 597rem;
}
.slide-logos__wrp-item{
  height: 32rem;
}
.slide-logos__wrp-item:first-child{
  width: 159rem;
}
.slide-logos__wrp-item:nth-child(2){
  width: 80rem;
}
.slide-logos__wrp-item:nth-child(3){
  width: 93rem;
}
.slide-logos__wrp-item:nth-child(4){
  width: 101rem;
}
.slide-logos__wrp-item:nth-child(5){
  width: 73rem;
}
.s4__list-item{
  width: 340rem;
  margin-bottom: 36rem;
}
.s4__list-item-img{
  border-radius: 16rem;
  height: 238rem;
  margin-bottom: 26rem;
}
.s4__slide-logos{
  margin-bottom: 59rem;
}
.s4__list-item-title{
  margin-bottom: 20rem;
}

.s4{
  margin-bottom: 48rem;
}

.s5{
  height: 1164rem;
  margin-bottom: 79rem;
}

.s5__container{
  max-width: 704rem;
  padding-top: 80rem;
}
.s5__title{
  margin-bottom: 60rem;
}
.s5__title-row:nth-child(1){
  margin-left: 13rem;
}
.s5__title-row:nth-child(2){
  margin-left: 11rem;
  margin-top: 6rem;
}
.s5__title-icon{
  width: 66rem;
  height: 60rem;
  margin-top: 0rem;
  margin-left: 11rem;
}
.s5__title-row:nth-child(3){
  margin-top: 0;
}

.s5__list{
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 72rem;
}
.s5__item{
  width: 280rem;
  height: 285rem;
}
.s5__item:nth-child(1){
  margin-top: 1rem;
  margin-left: -18rem;
  order: 1;
}
.s5__item:nth-child(1) .s5__item-icon{
  width: 280rem;
  height: 215rem;
  margin-bottom: 6rem;
}
.s5__item:nth-child(2){
  margin-top: 35rem;
  margin-left: 1rem;
  order: 3;
}
.s5__item:nth-child(2) .s5__item-icon{
  width: 280rem;
  height: 215rem;
  position: relative;
  top: 14rem;
  left: -7rem;
}
.s5__item:nth-child(3){
  margin-top: -14rem;
  margin-left: 1rem;
  margin-right: 1rem;
  order: 2;
  position: relative;
  left: 20rem;
}
.s5__item:nth-child(3) .s5__item-icon{
  width: 280rem;
  height: 215rem;
  margin-bottom: 13rem;
}
.s5__item-text{
  font-weight: 400;
  font-size: 20rem;
  line-height: 120%;
  text-align: center;
  color: var(--bodi--white-1);
}

.s6{
  margin-bottom: 36rem;
}
.s6__title{
  margin-bottom: 53rem;
}
.s6__text{
  width: 100%;
  margin-top: 30rem;
}

.s7{
  margin-bottom: 100rem;
}
.s7__container{
  width: 697rem;
}

.s7__title-wrp{
  flex-direction: column;
}
.s7__logo{
  width: 308rem;
  height: 80rem;
  margin-bottom: 22rem;
}
.s7__title{
  width: 100%;
  text-align: center;
  margin-bottom: 19rem;
}
.s7__end-btn{
  margin-bottom: 200rem;
}
.s7__fire-decor{
  width: 100%;
  height: 204rem;
  bottom: -3rem;
}

.footer__container{
  padding-top: 80rem;
}
.footer__title{
  margin-bottom: 26rem;
}
.footer__desk{
  font-size: 27rem;
  max-width: unset;
  margin-bottom: 55rem;
}

.main-form{
  width: 100%;
  height: 614rem;
  margin-bottom: 233rem;
}
.main-form__input-wrp input{
  width: 291rem;
}
.main-form__input{
  margin-bottom: 23rem;
  padding: 14rem;
  padding-top: 10rem;
  font-size: 18rem;
}
.main-form__container{
  padding-top: 41rem;
}

input::placeholder,
textarea::placeholder{
  font-size: 18rem !important;
}
.main-form .textarea-wrp{
  height: 209rem;
  padding: 5rem;
}
.main-form__input--textarea{
  padding-left: 8rem !important;
}
.footer .eter-list__item{
  width: 239rem;
  height: 60rem;
}

.footer .eter-list{
  height: 92rem;
  bottom: 405rem;
}
.footer__end-wrp-start{
  width: 300rem;
  margin-right: 59rem;
  margin-bottom: 51rem;
}
.footer__end-wrp-start-nav-link{
  font-size: 20.5rem;
}
.footer__end-wrp-start-nav-link:last-child{
  margin-right: 0;
}

.footer__end-wrp-center{
  margin-right: 1rem;
  margin-top: -7rem;
}
.footer .soc-list{
  width: 80rem;
  margin-bottom: 10rem;
}
.footer .soc-list__item{
  width: 32rem;
  height: 32rem;
}

.footer__end-wrp{
  flex-wrap: wrap;
}
.footer__end-wrp-pre-end{
  width: 340rem;
}
.footer__end-wrp-end{
  width: 340rem;
  margin: 0;
  margin-left: auto;
}

.page-service .s1__text-item--first{
  margin-bottom: 43rem;
}

.page-service .s1{
  height: 964rem;
}

.ss2__title{
  margin-bottom: 26rem;
}
.ss2__desk{
  max-width: 656rem;
  margin-bottom: 65rem;
}

.ss2__navigation-top{
  width: 100%;
  flex-wrap: wrap;
  padding-left: 32rem;
  padding-right: 32rem;
}
.ss2__navigation-btn{
  width: 344rem;
  margin-bottom: 16rem;
}
.ss2__navigation-btn-bg{
  width: 372rem;
  height: 94rem;
}
.ss2__navigation-body{
  flex-direction: column;
  top: 145rem;
}
.ss2__navigation-item{
  width: 100%;
  height: 244px;
  margin-bottom: 25rem;
  padding-left: 62rem;
  padding-right: 62rem;
  padding-top: 21rem;
}
.ss2__navigation-item-bg{
  width: 726rem;
  height: 278rem;
}

.ss2__container{
  padding-left: 0;
  padding-right: 0;
}
.ss2__navigation-item-icon{
  width: 60rem;
  height: 60rem;
}

.ss2__navigation-body-wrp{
  height: 1000rem;
}

.ss2{
  margin-bottom: 434rem;
}
.ss3__bg{
  width: 704rem;
  height: 1162rem;
}
.ss3__title-icon{
  width: 70px;
  height: 66px;
  margin-right: 8rem;
}
.ss3__title-row:last-child{
  margin-left: 312rem;
  margin-top: 3rem;
}
.ss3__title-row:first-child{
  margin-left: 58rem;
}
.ss3__container{
  padding-top: 138rem;
}

.ss3__center-img{
  width: 615rem;
  height: 446rem;
  transform: scale(1.56);
  top: 341px;
  left: 5px;
}

.ss3__center-dop-decoration-icon {
  width: 88px;
  height: 88px;
  position: absolute;
  top: 687rem;
  right: 212rem;
}
.ss3__text-item:nth-child(1){
  left: 91rem;
  top: 310rem;
}
.ss3__text-item:nth-child(2) {
  left: 239rem;
  top: 310rem;
}
.ss3__text-item:nth-child(3) {
  left: 414rem;
  top: 310rem;
}
.ss3__text-item:nth-child(4) {
  left: 217rem;
  top: 370rem;
}
.ss3__text-item:nth-child(5) {
  left: 588rem;
  top: 310rem;
}
.ss3__text-item:nth-child(6) {
  left: 389rem;
  top: 369rem;
}
.ss3__text-item:nth-child(7) {
  left: 562rem;
  top: 369rem;
}
.ss3__text-item:nth-child(8) {
  left: 90rem;
  top: 428rem;
}
.ss3__text-item:nth-child(9) {
  left: 244rem;
  top: 429rem;
}
.ss3__text-item:nth-child(10) {
  left: 350rem;
  top: 428rem;
}
.ss3__text-item:nth-child(11) {
  left: 557rem;
  top: 428rem;
}
.ss3__text-item:nth-child(12) {
  left: 153rem;
  top: 487rem;
}
.ss3__text-item:nth-child(13) {
  left: 298rem;
  top: 487rem;
}
.ss3__text-item:nth-child(14) {
  left: 428rem;
  top: 487rem;
}
.ss3__text-item:nth-child(15) {
  left: 568rem;
  top: 487rem;
}
.ss3__text-item:nth-child(16) {
  left: 90rem;
  top: 546rem;
}
.ss3__text-item:nth-child(17) {
  left: 244rem;
  top: 547rem;
}
.ss3__text-item:nth-child(18) {
  left: 407rem;
  top: 546rem;
}
.ss3__text-item:nth-child(19) {
  left: 243rem;
  top: 606rem;
}
.ss3__text-item:nth-child(20) {
  left: 484rem;
  top: 605rem;
}

.ss4__title{
  width: 600rem;
}

.ss3{
  margin-bottom: 22rem;
}
.ss4__center-decor-way{
  width: 699rem;
  height: 1082rem;
  top: -27rem;
  transform: translateX(-50%);
}
.ss4__list-item{
  width: 340px;
}
.ss4__list-item:nth-child(1){
  left: -1rem;
  top: 30rem;
}
.ss4__list-item-title{
  text-align: center;
  margin-bottom: 14rem;
}
.ss4__list-item-text{
  min-width: 320rem;
}
.ss4__list-item:nth-child(2) {
  left: 359rem;
  top: 29rem;
}
.ss4__list-item:nth-child(3) {
  left: 0rem;
  top: 383rem;
}
.ss4__list-item:nth-child(4){
  left: 359rem;
  top: 385rem;
}
.ss4__list-item:nth-child(4) .ss4__list-item-title{
  max-width: 200rem;
}
.ss4__list-item:nth-child(5) {
  left: 0rem;
  top: 738rem;
}
.ss4__list-item:nth-child(6) {
  left: 359rem;
  top: 738rem;
}
.ss4__center-img{
  width: 288rem;
  height: 242rem;
  top: 229rem;
  transform: translateX(-50%) scale(1.2) scaleX(-1);
}
.ss4__btn{
  display: none;
}
.ss4__end-btn{
  display: none;
}
.ss4__wrp{
  min-height: 1058rem;
}
.ss4__list{
  min-height: 1058rem;
}
.ss4{
  margin-bottom: 15rem;
}
.page-service .s4 {
  margin-bottom: 67rem;
}