@keyframes glowing-button_line-anim__NqYIB {
  to {
    --angle: 360deg;
  }
}

@keyframes glowing-button_sky-anim__nLcFP {
  to {
    -webkit-mask-position: 0 -15px, 15px -45px;
    mask-position: 0 -15px, 15px -45px;
  }
}
