.floating-element {
  // width: 50px;
  // height: 50px;
  // background-color: #3498db;
  animation: float 3s ease-in-out infinite;
}

.rotation-element {
  animation: rotate 3s ease-in-out infinite;
}

.flower-anim {
  // animation: rotate 3s ease-in-out 1;
  animation-name: flower;
  // animation-duration: 6s;
  img {
    transform: rotate(-6deg);
  }
}
@keyframes flower {
  0% {
    transform: translate(-100%, 50%) rotate(-90deg) scale(0);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
}
