.border{
  border: 1px solid red;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}

.img-wrp {
  display: block;
  position: relative;

  // .img-wrp img
  // .img-wrp svg
  lottie-player,
  img,
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }
}

.main-btn {
  border-radius: 40px;
  width: 280px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  // .main-btn__icon
  &__icon{
    // templ
    width: 16px;
    height: 22px;
    margin-left: 12px;

    margin-top: 3px;
  }

  // .main-btn .blure
  .blure{
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
    width: 264px;
    height: 64px;

    filter: blur(24px);
    opacity: 0.6;
    z-index: -1;

    transition: opacity 500ms ease-in-out;
  }

  // .main-btn--green
  &--green{
    background: var(--bodi-all-2);

    // .main-btn--green span
    span{
      color: var(--bodi-dark-1);
    }

    // .main-btn--green .blure
    .blure{
      background: var(--bodi-all-2);
    }
  }

  // .main-btn--blue
  &--blue{
    background: var(--bodi-all-1);

    // .main-btn--blue span
    span{
      color: var(--bodi--white-1);
    }

    // .main-btn--blue .blure
    .blure{
      background: var(--bodi-all-1);
    }
  }

  // .main-btn:hover
  &:hover{

    // .main-btn:hover .blure
    .blure{
      opacity: 0;
    }
  }
}

.logo {
  width: 198px;
  height: 60px;
  
  // .logo__svg
  &__svg {
  }
}
.main-nav {
}
.soc-list {
  width: 76px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // .soc-list__item
  &__item {
    width: 32px;
    height: 32px;
  }
}
.main-selector {
  border-radius: 30px;
  width: 180px;
  height: 60px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03), 0 13px 13px 0 rgba(0, 0, 0, 0.05), 0 -2px 6px 0 rgba(0, 0, 0, 0.04);
  background: var(--bodi--white-1);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  // .main-selector__text
  &__text {
    color: var(--bodi-dark-1);
    margin-right: 4px;
  }

  // .main-selector__icon
  &__icon {
    width: 24px;
    height: 24px;
  }
}
.icon-arrow-down {
}
