@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/ttf/Montserrat-Medium.ttf") format("ttf"),
    url("../fonts/woff/Montserrat-Medium.woff") format("woff"),
    url("../fonts/woff2/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/ttf/Montserrat-SemiBold.ttf") format("ttf"),
    url("../fonts/woff/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/woff2/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/ttf/Montserrat-Bold.ttf") format("ttf"),
    url("../fonts/woff/Montserrat-Bold.woff") format("woff"),
    url("../fonts/woff2/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../fonts/ttf/Montserrat-ExtraBold.ttf") format("ttf"),
    url("../fonts/woff/Montserrat-ExtraBold.woff") format("woff"),
    url("../fonts/woff2/Montserrat-ExtraBold.woff2") format("woff2");
}
