@font-face {
  font-family: "Calibri";
  src: url("../font/Calibri-LightItalic.eot");
  src: local("Calibri Light Italic"), local("Calibri-LightItalic"),
    url("../font/Calibri-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../font/Calibri-LightItalic.woff2") format("woff2"),
    url("../font/Calibri-LightItalic.woff") format("woff"),
    url("../font/Calibri-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Calibri";
  src: url("../font/Calibri-Italic.eot");
  src: local("Calibri Italic"), local("Calibri-Italic"),
    url("../font/Calibri-Italic.eot?#iefix") format("embedded-opentype"),
    url("../font/Calibri-Italic.woff2") format("woff2"),
    url("../font/Calibri-Italic.woff") format("woff"),
    url("../font/Calibri-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calibri";
  src: url("../font/Calibri-Light.eot");
  src: local("Calibri Light"), local("Calibri-Light"),
    url("../font/Calibri-Light.eot?#iefix") format("embedded-opentype"),
    url("../font/Calibri-Light.woff2") format("woff2"),
    url("../font/Calibri-Light.woff") format("woff"),
    url("../font/Calibri-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("../font/Calibri-Bold.eot");
  src: local("Calibri Bold"), local("Calibri-Bold"),
    url("../font/Calibri-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/Calibri-Bold.woff2") format("woff2"),
    url("../font/Calibri-Bold.woff") format("woff"),
    url("../font/Calibri-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("../font/Calibri.eot");
  src: local("Calibri"),
    url("../font/Calibri.eot?#iefix") format("embedded-opentype"),
    url("../font/Calibri.woff2") format("woff2"),
    url("../font/Calibri.woff") format("woff"),
    url("../font/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("../font/Calibri-BoldItalic.eot");
  src: local("Calibri Bold Italic"), local("Calibri-BoldItalic"),
    url("../font/Calibri-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../font/Calibri-BoldItalic.woff2") format("woff2"),
    url("../font/Calibri-BoldItalic.woff") format("woff"),
    url("../font/Calibri-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "StudioScriptC";
  src: local("StudioScriptC"), local("Studio Script C"),
    url("../font/StudioScriptC.woff") format("woff"),
    url("../font/StudioScriptC.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
