.header {
  padding-top: 21px;
  padding-bottom: 24px;
  // margin-bottom: 80px;
  margin-bottom: 36px;

  // .header__container
  &__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  // .header__menu
  &__menu {
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-right: 370px;
  }
  
  // .header__menu-item
  &__menu-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    cursor: pointer;
    margin-right: 11px;
    letter-spacing: 1px;
    
    // .header__menu-item a
    a{
      color: rgba(255, 255, 255, .3);
    }

    margin-right: 12px;
    // .header__menu-item:last-child
    &:last-child{
      margin-right: 0;
    }
  }

  // .header__menu-item-active
  &__menu-item-active {
    background: linear-gradient(90deg, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // .header__logo
  &__logo {
    width: 319px;
    height: 95px;
    left: -16px;
    // width: 307px;
    // height: 96px;
    // min-width: 285px;
    // min-height: 69px;
    // position: relative;
  }
  
  // .header__logo-mod 
  &__logo-mod{
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    // font-family: var(--second-family);
    // font-weight: 400;
    // font-size: 60px;
    // background: linear-gradient(90deg, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
  // .header__logo-front
  &__logo-front {
    // z-index: 2;
  }

  // .header__logo-back
  &__logo-back {
    // z-index: 1;
    // filter: blur(8px);
    // text-shadow: 0 10px 15px 0 rgba(222, 103, 180, 0.15);
  }

  // .header__close
  &__close {
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: 0;
    margin-top: -20px;
    display: none;

    // .header__close.active
    &.active{
      display: block;
    }
  }

  // .header__prev
  &__prev {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: -20px;

    display: none;

    // .header__prev.active
    &.active{
      display: flex;
    }
  }

  // .header__prev-arrow
  &__prev-arrow {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  // .header__prev-text
  &__prev-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    background: linear-gradient(90deg, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.ms {

  // .ms__container
  &__container {
    // display: inline-block;
    // flex-wrap: nowrap;
    // overflow: hidden;
  }

  // .ms__list
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    left: -250%;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    // .ms__list.active
    &.active{
      position: static;
      left: unset;
      // opacity: 1;
    }
    &.active-effect{
      opacity: 1;
    }
  }
  
  // .ms__list-item
  &__list-item {
    position: relative;
    width: 300px;
    height: 549px;
    margin-right: 30px;
    margin-bottom: 25px;
    cursor: pointer;

    // .ms__list-item:nth-child(4n)
    &:nth-child(4n){
      margin-right: 0;
    }

    // .ms__list-item:hover
    &:hover{
      // .ms__list-item:hover .ms__list-item-hover-items
      .ms__list-item-hover-items{
        opacity: 1;
      }
    }
  }

  // .ms__title
  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #fff;
    @include text-min-h(46px);
    justify-content: flex-start;
    margin-bottom: 3px;
  }

  // .ms__desk
  &__desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }

  // .ms__img
  &__img {
    width: 300px;
    height: 360px;
    margin-bottom: 2px;
  }

  // .ms__text
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);
    @include text-min-h(44px);
    align-items: flex-start;
    justify-content: flex-start;
  }

  // .ms__text1
  &__text1 {
    margin-bottom: 8px;
  }

  // .ms__text2
  &__text2 {
  }

  // .ms__prc
  &__prc {
    position: absolute;
    top: 107px;
    left: 0;

    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .ms__prc-border
  &__prc-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  // .ms__prc-num
  &__prc-num {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    background: linear-gradient(90deg, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // .ms__list-item-hover-items
  &__list-item-hover-items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 750ms ease-in-out;
    opacity: 0;
  }

  // .ms__list-item-hover-items-icon
  &__list-item-hover-items-icon {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  // .ms__list-item-bg
  &__list-item-bg {
    width: 300px;
    height: 347px;
  }
}

// .swiper {
//   width: 600px;
//   height: 300px;
// }

.ms-swiper {
  margin-top: -9px;
  // display: none;
  position: absolute;
  left: -250%;
  // opacity: 0;
  // transition: opacity 300ms ease-in-out;

  // .ms-swiper.active
  &.active{
    position: relative;
    left: unset;
    // opacity: 1;
  }
  // .ms-swiper.active-effect
  &.active-effect{
    // opacity: 1;
  }

  // .ms-swiper__container
  &__container{ 
    display: block;
  }

  // .ms-swiper__info
  &__info{
    max-width: 440px;
  }

  // .ms-swiper__list
  &__list {
    width: 100%;
    position: absolute !important;
    left: -250%;
    opacity: 0;
    height: 0;
    transition: opacity 300ms ease-in-out;

    // .ms-swiper__list.active
    &.active{
      // display: block !important;
      position: relative !important;
      left: unset;
      height: auto;
    }
    // .ms-swiper__list.active-effect
    &.active-effect{
      opacity: 1;
    }
  }

  // .ms-swiper__title
  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    color: #fff;
    margin-bottom: 29px;
  }

  // .ms-swiper__desk
  &__desk {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 15px;
  }

  // .ms-swiper__text
  &__text {
    max-width: 360px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);
  }

  // .ms-swiper__text1
  &__text1 {
    margin-bottom: 9px; 
  }

  // .ms-swiper__text2
  &__text2 {
  }

  // .ms-swiper__prc
  &__prc{
    position: absolute;
    top: 32px;
    right: 0;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    text-align: right;
    background: linear-gradient(90deg, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // .ms-swiper__img
  &__img{
    width: 550px;
    height: 660px;
    position: relative;
    top: -53px;
    // top: -13px;
    left: 10px;
  }
  // .ms-swiper__bg-img
  &__bg-img{
    width: 1500px;
    height: 420px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -105px;
    // bottom: -145px;
    z-index: -1;
  }

  // ms-swiper .swiper-slide
  .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  // .ms-swiper__nav
  &__nav{
    position: absolute;
    width: 250px;
    top: 258px;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  // .ms-swiper__nav-num-wrp
  &__nav-num-wrp{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #fff;
  }
  // .ms-swiper__nav-num1
  &__nav-num1{

  }
  // .ms-swiper__nav-num2
  &__nav-num2{

  }

  // .ms-swiper__list-vip
  &__list-vip {
    // margin-right: 10px;
  }
  // .ms-swiper__list-premium
  &__list-premium {
  }
}

.swiper {
}
.swiper-wrapper {
}
.img-wrp {
}
.swiper-slide-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.swiper-slide-btn-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-slide-btn-border {
  width: 100%;
  height: 100%;
}
.swiper-slide-btn-prev {
  margin-right: 37px;
}
.swiper-slide-btn-next {
  margin-left: auto;
}

// .ms__list--vip{
//   margin-right: 10px;
// }
// .ms__list--premium{
//   margin-left: -10px;
// }

.header--new{
  padding-bottom: 0;
  margin-bottom: 76px;
}
.header--new .header__menu{
  margin-right: 301px;
}

// new page
.np {
  margin-bottom: 21px;

  // .np__container
  &__container {
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 62px;
    border-bottom: 1px solid rgba(255,255,255, .3);
    overflow-y: visible;
  }

  // .np__start
  &__start {
    width: 630px;
  }

  // .np__title-wrp
  &__title-wrp {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    // max-width: 520px;
    width: 100%;
  }

  // .np__button-play
  &__button-play {
    width: 80px;
    height: 80px;
    margin-right: 30px;
  }

  // .np__title
  &__title {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    max-width: 520px;
    line-height: 117%;
  }

  // .np__info-title
  &__info-title {
    font-weight: 600;
    font-size: 20px;
    color: #5a4f64;
    margin-bottom: 31px;
  }

  // .np__list
  &__list {
    width: 100%;
    list-style: none;
  }

  // .np__item
  &__item {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
    cursor: pointer;

    // .np__item span
    span{
      background: linear-gradient(90deg, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    // .np__item:last-child
    &:last-child{
      margin-bottom: 0;
    }

    // .np__item.active
    &.active{
      background: linear-gradient(90deg, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  // .np__end
  &__end {
    width: 550px;
    position: relative;
    top: -5px;
  }

  // .np__img
  &__img {
    width: 100%;
    height: 385px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 26px;
  }

  // .np__end-title
  &__end-title {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin-bottom: 13px;
  }

  // .np__end-text
  &__end-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.7);
  }
}

.footer {
  width: 100%;
  margin-bottom: 21px;

  // .footer__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .footer__price
  &__price {
    font-weight: 400;
    font-size: 40px;
    color: #fff;
  }

  // .footer__logo
  &__logo {
    width: 94px;
    height: 80px;
    left: 14px;
    top: 2px;
  }
}
.main-btn {
  width: 220px;
  height: 50px;
  background: linear-gradient(90deg, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
