.top-img {
  width: 100%;
  min-height: 250px;
}

.text-wrap {
  padding: 6px 28px;

  // .text-wrap h1
  h1 {
    font-size: 22px;
    font-weight: bold;
    word-break: break-word;
    padding: 16px 0 6px;
    margin: 0;
  }

  // .text-wrap p
  p {
    font-size: 16px;
    color: #5a5a5a;
  }
}

.text-title {
  //padding: 6px 28px;
}

.text-desc {
  margin-bottom: 15px;
}

.text-step {
  //.text-step p
  p {
    padding: 15px;
    font-size: 16px;
    color: #5a5a5a;
    font-weight: 400;
    text-align: center;
  }
}

.soc-list {
  padding: 6px 28px;
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-bottom: 15px;

  // .soc-list .img-wrp
  .img-wrp {
    width: 30px;
    height: 30px;
    margin: 4px;
  }

  // .soc-list__item
  &__item {
    width: 50%;
    height: 60px;
    transition: opacity 1000ms ease;
    opacity: 1;
    cursor: pointer;

    // .soc-list__item:hover
    &:hover {
      transition: opacity 1000ms ease;
      opacity: 0.7;
    }

    // .soc-list__item:first-child
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    // .soc-list__item:first-child
    &:nth-child(2) {
      // border-radius: 0 5px 5px 0;
    }
    // .soc-list__item:first-child
    &:nth-child(3) {
      // border-radius: 5px 0 0 5px;
    }
    // .soc-list__item:first-child
    &:nth-child(4) {
      // border-radius: 0 5px 5px 0;
    }
    // .soc-list__item:first-child
    &:nth-child(5) {
      // border-radius: 5px 0 0 5px;
    }
    // .soc-list__item:first-child
    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    //.soc-list__item--tg
    &--tg {
      background: linear-gradient(180deg, #20b1f5 0, #169fe3);
    }
    // .soc-list__item--whats-app
    &--whats-app {
      background: linear-gradient(180deg, #29f073 0, #25d365);
    }
    //.soc-list__link--viber
    &--viber {
      background: linear-gradient(180deg, #7360f2 0, #9080ff);
      .img-wrp {
        width: 34px;
      }
    }
    //.soc-list__link--inst
    &--inst {
      background: linear-gradient(
        45deg,
        #405de6,
        #5851db,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d
      );
    }
    // .soc-list__link--vk
    &--vk {
      background: #4c75a3;
      .img-wrp {
        width: 34px;
      }
    }
    // .soc-list__link--fb
    &--fb {
      background-color: #4267b2;
    }
  }

  // .soc-list__link
  &__link {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: unset;
  }

  // .soc-list span
  span {
    font-size: 11px;
    color: #fff;
  }
}

.footer {
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 20px;

  form {
    position: relative;
  }

  //.footer-text
  &-text {
    display: flex;
    // min-height: 23px;
  }

  color: #7e7e7e;
  font-size: 11px;
  font-weight: 400;

  // .footer a
  a {
    color: #7e7e7e;
    font-weight: 400;
    transition: color 500ms ease;
    // .footer a:hover
    &:hover {
      color: #2a8ffa;
      transition: color 500ms ease;
    }
  }
}

.checkbox-caption {
  position: absolute;
  cursor: pointer;
  top: -10px;
  left: 0;
  height: 15px;
  width: 15px;
  background: linear-gradient(180deg, #f0f0f0 0, #f5f5f5);
  border: 1px solid #9d9d9d;
  transition: 0.2s ease-in-out;
  border-radius: 2px;

  &::after {
    content: "";
    position: absolute;
    animation: scale-in 0.2s ease-in-out;
    display: none;
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-top-width: medium;
    border-right-color: rgb(255, 255, 255);
    border-right-width: medium;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: medium;
    border-left-color: rgb(255, 255, 255);
    border-left-width: medium;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group span {
  display: block;
  margin-top: 1px;
  // margin-top: 7px;
}

.form-group label {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 25px;
}

.form-group label:before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: linear-gradient(180deg, #f0f0f0 0, #f5f5f5);
  border: 1px solid #9d9d9d;
  border-top-color: rgb(157, 157, 157);
  border-right-color: rgb(157, 157, 157);
  border-bottom-color: rgb(157, 157, 157);
  border-left-color: rgb(157, 157, 157);
  //transition: all 0.2s ease-in-out;
  border-radius: 2px;
}

.form-group input:checked + label:before {
  background: linear-gradient(to bottom, #2a8ffa 0%, #5dc2ff 100%);
  background-color: rgba(0, 0, 0, 0);
  border-color: #2a8ffa;
}
.form-group input:checked + label:after {
  content: "";
  position: absolute;
  //transition: all 0.2s ease-in-out;
  display: block;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-top-color: rgb(255, 255, 255);
  border-top-width: medium;
  border-right-color: rgb(255, 255, 255);
  border-right-width: medium;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-width: medium;
  border-left-color: rgb(255, 255, 255);
  border-left-width: medium;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  //margin: 40px auto 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  //z-index: 10;

  opacity: 0;
  transition: opacity 500ms ease;
  z-index: -1;
  // .police.active
  &.active {
    opacity: 1;
    z-index: 10 !important;
    transition: opacity 500ms ease;
  }
}

.police {
  margin: 40px auto 0;
  width: 75%;
  height: 100%;
  max-height: calc(100vh - 60px);
  background-color: #fff;

  // .police__nav
  &__nav {
    height: 20px;
    padding: 20px 0px;
    display: flex;
  }

  // .police .police__close-btn
  .police__close-btn {
    margin-left: auto;
    margin-right: 0;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 2px;
    color: red;
    cursor: pointer;
    transform: scale(1);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 500ms ease;
    &:hover {
      transition: all 500ms ease;
      transform: scale(1.1);
    }
  }

  overflow-y: scroll;
  height: calc(100vh - 120px);
  padding: 0 30px 20px;

  //.police h2
  h2 {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 23px;
    font-weight: 700;
  }

  //.police p
  p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
  }

  //.police h3
  h3 {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 700;
  }

  //.police li
  li {
    line-height: normal;
    font-size: 15px;
  }
}

.price-wrp {
  margin: 32px;
  padding-bottom: 32px;
  margin-bottom: 0;
}
.main-btn {
  font-family: "Roboto", sans-serif;
  outline: none;
  background: #41a5fc;
  background: -moz-linear-gradient(top, #41a5fc 0, #0586ff 100%);
  background: -webkit-linear-gradient(top, #41a5fc, #0586ff);
  background: -o-linear-gradient(top, #41a5fc 0, #0586ff 100%);
  background: -ms-linear-gradient(top, #41a5fc 0, #0586ff 100%);
  background: linear-gradient(180deg, #41a5fc 0, #0586ff);
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  width: 100%;
  height: 55px;
  margin: 16px auto 0;
  font-weight: 400;
  border: none;
  padding: 0;
  font-size: 16px;
  letter-spacing: 1px;

  opacity: 1;
  transition: opacity 1000ms ease;
  // .main-btn:hover
  &:hover {
    transition: opacity 1000ms ease;
    opacity: 0.7;
  }
}

.form-page {
  // .form-page .container
  .container {
    max-width: 600px;
  }

  // .form-page label:before
  .form-group label:before {
    top: 50%;
    transform: translateY(-50%);
  }

  // .form-page input:checked + label:after
  .form-group input:checked + label:after {
    top: -1px;
  }

  // .form-page .footer
  .footer {
    padding-bottom: 30px;
  }

  // .form-page .text-title
  .text-title {
    padding-top: 32px;

    // .form-page .text-title h1
    h1 {
      padding: 0;
    }
  }
  // .form-page .top-img
  .top-img {
    min-height: 340px;
  }
}

.b-price {
  display: flex;
  align-items: center;

  // .b-price__text
  &__text {
    width: 33%;
    padding-right: 10px;
    color: #797979;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
  }
  // .b-price__price
  &__price {
    width: 33%;
    font-size: 40px;
    color: #222;
    font-weight: 500;
  }
  // .b-price__val
  &__val {
    padding-left: 15px;
    width: 33%;
    color: #222;
    font-size: 19px;
  }
}

.certifications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  opacity: 0.6;
  padding-left: 28px;
  padding-right: 28px;

  //.certifications .img-wrp
  .img-wrp {
    width: 100%;
    max-width: 300px;
    height: 31px;
    img {
      //.certifications .img-wrp img
      object-fit: contain;
    }
  }
}

.main-form {
  // margin: 0 32px;
  padding-bottom: 32px;

  // .main-form__top
  &__top {
    padding: 10px 32px;
    padding-top: 20px;
    border-bottom: 1px solid #f1f1f1;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
    }
    li {
      display: flex;
      align-items: center;
      position: relative;
      width: 92%;
      margin-right: 2%;
      &::after {
        content: "";
        height: 1px;
        width: 100%;
        background: #e8e8e8;
        background-color: rgb(232, 232, 232);
        display: block;
      }
      &:last-child {
        width: auto;
        margin-right: 0;
        &::after {
          display: none;
        }
      }
    }
    span {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.45);
      display: inline-block;
      padding-right: 10px;
      position: relative;
    }
    .number {
      display: block;
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-top-color: rgba(0, 0, 0, 0.25);
      border-right-color: rgba(0, 0, 0, 0.25);
      border-bottom-color: rgba(0, 0, 0, 0.25);
      border-left-color: rgba(0, 0, 0, 0.25);
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border-radius: 32px;
      font-size: 14px;
      margin-right: 8px;
      transition: background-color 0.3s, border-color 0.3s;
      color: rgba(0, 0, 0, 0.25);
    }
  }

  // .main-form__list-active
  &__list-active {
    .number {
      border-color: #222;
      background-color: #222;
      color: #fff;
    }
    span {
      color: rgba(0, 0, 0, 0.85);
    }
  }

  // .main-form .text-title
  .text-title {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }

  // .main-form form
  form {
    padding-left: 32px;
    padding-right: 32px;
  }

  // .main-form__input-wrp
  &__input-wrp {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    min-height: 40px;
  }

  // .main-form label
  label {
    width: 20%;
    padding-right: 10px;
    color: #797979;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
  }

  // .main-form input
  input,
  textarea {
    display: inline-block;
    width: 80%;
    height: 40px;
    box-shadow: none;
    padding: 10px 15px;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 18px;
    font-size: 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    transition: 0.2s ease-in-out;
    color: #5a5a5a;
  }

  // .main-form textarea
  textarea {
    height: 60px;
    resize: vertical;
  }

  // .main-form .iti
  .iti {
    width: 80%;

    // .main-form .iti input
    input {
      width: 100%;
    }
  }

  // .main-form .b-price
  .b-price {
    margin-bottom: 20px;
  }

  // .main-form .b-price__text
  .b-price__text {
    width: 20%;
  }
  // .main-form .b-price__price
  .b-price__price {
    width: 50%;
  }
  // .main-form .custom-select
  .custom-select {
    width: 30%;
  }
}

.profile-form {
  padding-bottom: 32px;

  // .profile-form form
  form {
    padding-left: 32px;
    padding-right: 32px;
  }

  // .profile-form text-title
  .text-title {
    padding-bottom: 28px;
  }

  // .profile-form text-desc
  .text-desc {
    margin-bottom: 25px;
  }
}

.user-icon {
  width: 42px;
  height: 42px;
  margin-top: -12px;
  margin-right: 10px;
}

.slide-wrp {
  position: relative;
  left: 0;
  display: flex;
  width: 200%;

  .slide {
    width: 50%;
  }
  transition: left 750ms ease;
}

.slide-wrp--3 {
  width: 300%;
  .slide {
    width: 33.3%;
  }
}
