.header {
  margin-top: 24px;
  margin-bottom: 44px;

  height: 36px;
  position: relative;
  z-index: 4;

  // .header__container
  &__container {
    // border: 1px solid red;

    height: 100%;
    max-width: 800px;
    align-items: center;
  }
  // .header__logo
  &__logo {
    margin-right: 145px;
  }
  // .header__logo-svg
  &__logo-svg {
  }
  // .header__nav
  &__nav {
    width: 342px;
    // margin-top: -2px;
  }
  // .header__nav-list
  &__nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  // .header__nav-item
  &__nav-item {
  }
  // .header__nav-link
  &__nav-link {
    color: var(--bodi-2-2);
    transition: color 300ms ease-in-out;

    // .header__nav-link:hover
    &:hover {
      color: var(--bodi-2-1);
    }
  }
  // .header__btn
  &__btn {
    width: 140px;
    height: 36px;

    margin-left: auto;
    margin-right: 0;

    // .header__btn span
    span {
      color: var(--bodi-2-2);
    }
  }
}

.s1 {
  // height: 912px;
  // margin-top: -104px;
  // box-sizing: border-box;
  // padding-top: 104px;

  margin-top: -104px;
  box-sizing: border-box;
  // height: 1076px;

  // height: 200vh;
  height: 2000px;
  padding-top: 104px;

  position: relative;
  z-index: 1;

  // .s1__container
  &__container {
    // position: relative;
    flex-direction: column;
    align-items: center;
  }
  // .s1__text-wrp
  &__text-wrp {
    // opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 5;

    // margin-bottom: 36px;
  }
  // .s1__pre-title
  &__pre-title {
    // margin-bottom: 36px;
    margin-bottom: 24px;
  }
  // .s1__pre-title-text
  &__pre-title-text {
  }
  // .s1__title
  &__title {
    width: 400px;
    // height: 98px;
    height: 122px;
    position: relative;
    // margin-bottom: 36px;
    margin-bottom: 20px;
  }
  // .s1__title-icon
  &__title-icon {
    width: 100%;
    height: 100%;

    // .s1__title-icon svg
    svg {
      // z-index: 2;
    }
  }
  // .s1__title-light
  &__title-light {
    display: none;
    // width: 263px;
    // height: 122px;
    // position: absolute;
    // top: 0;
    // left: 50%;
    // transform: translateX(-50%);

    // filter: blur(12px);
  }
  // .s1__title-desk
  &__title-desk {
    margin-bottom: 26px;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // min-height: 68px;
    position: relative;
    z-index: 4;

    @include text-min-h(68px);
  }
  // .s1__text
  &__text {
    margin-bottom: 16px;
    max-width: 375px;
    @include text-min-h(46px);
  }
  // .s1__btn
  &__btn {
    position: relative;
    margin-bottom: 6px;
    background: var(--bodi-2);
    // box-shadow: unset;

    // .s1__btn .small-text
    .small-text {
      letter-spacing: 0.7px;
    }
  }
  // .s1__card-box
  &__card-box {
    // opacity: 0;
  }

  // .s1__decorations
  &__decorations {
  }
  // .s1__decoration
  &__decoration {
    position: absolute;
    top: 0;
    left: 0;
  }
  // .s1__decoration--one
  // start
  &__decoration--one {
    width: 1920px;
    height: 916px;
    z-index: 1;
  }
  // .s1__decoration--two
  &__decoration--two {
    // line
    width: 1200px;
    height: 1076px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  // .s1__decoration--three
  &__decoration--three {
    // light
    border-radius: 147px;
    width: 628px;
    height: 423px;
    filter: blur(300px);
    background: #93abf8;
    // opacity: 0.3;
    opacity: 0.15;

    // z-index: 3;
    z-index: -1;
    top: 91px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid red;
  }

  // .s1__decoration--four
  &__decoration--four {
    // light line
    // display: none;
    // border-radius: 147px;
    // width: 628px;
    // height: 423px;
    // filter: blur(300px);
    // background: #93abf8;
    // opacity: 0.15;

    width: 800px;
    height: 458px;

    top: 205px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    // // border: 1px solid red;
  }
}

.s2 {
  // height: 1450px;
  // top: 888px;
  top: 910px;
  z-index: 2;

  // margin-bottom: 3000px;
  // height: 1293px;
  // margin-top: -1090px;
  // position: relative;
}

.s5 {
  // top: 4693px;

  // top: 5093px;
  top: 4684px;

  // width: 100%;
  // height: 500px;
  // background-color: grey;
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
}

.s5 .scroll-section__list-bg {
  width: 790px;
  height: 389px;
  top: -23px;
}

.s5 .scroll-section__list-bg-line {
  // display: none;
  height: 323px;
  top: 4px;
}

.s5 .scroll-section__list {
}

.s5 .scroll-section__item:nth-child(1) {
  width: 97px;
  top: 27px;
  left: 103px;
}
.s5 .scroll-section__item:nth-child(1) .scroll-section__icon {
  width: 97px;
  height: 80px;
}
.s5 .scroll-section__item:nth-child(1) .scroll-section__text {
  margin-top: 10px;
}
.s5 .scroll-section__item:nth-child(2) {
  width: 158px;
  top: 38px;
}
.s5 .scroll-section__item:nth-child(2) .scroll-section__icon {
  width: 158px;
  height: 158px;
  // margin-bottom: 7px;
}
.s5 .scroll-section__item:nth-child(2) .scroll-section__text {
  margin-top: 13px;
}
.s5 .scroll-section__item:nth-child(3) {
  width: 97px;
  top: 27px;
  right: 104px;
}
.s5 .scroll-section__item:nth-child(3) .scroll-section__icon {
  width: 97px;
  height: 80px;
}
.s5 .scroll-section__item:nth-child(3) .scroll-section__text {
  margin-top: 10px;
}

.s5 .scroll-section__item:nth-child(4) {
  width: 136px;
  left: 160px;
  top: 243px;
}
.s5 .scroll-section__item:nth-child(4) .scroll-section__icon {
  width: 136px;
  height: 114px;
  transform: unset;
}
.s5 .scroll-section__item:nth-child(4) .scroll-section__text {
  margin-top: 13px;
}

.s5 .scroll-section__item:nth-child(5) {
  width: 112px;
  left: 344px;
}
.s5 .scroll-section__item:nth-child(5) .scroll-section__icon {
  width: 112px;
  height: 112px;
}

.s5 .scroll-section__item:nth-child(6) {
  right: 184px;
}

.s5 .scroll-section__item:nth-child(6) .scroll-section__text {
  width: 127px;
}

.scroll-section .scroll-section__swiper2 {
  height: 285px;
}

.s5 .scroll-section__bg {
  height: 1496px;
}

.s3 {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 65px;
  margin-bottom: 155px;

  // ?
  // margin-top: 880px;
  padding-top: 488px;

  // .s3__container
  &__container {
    position: relative;
    flex-direction: column;
  }
  // .s3__title
  &__title {
    margin-bottom: 60px;
  }
  // .s3__pre-title
  &__pre-title {
  }
  // .s3__pre-title-text
  &__pre-title-text {
  }
  // .s3__title-text
  &__title-text {
    margin-bottom: 30px;
  }
  // .s3__title-desk
  &__title-desk {
  }
  // .s3__list
  &__list {
    max-width: 1152px;
    margin-left: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
  // .s3__list-item
  &__list-item {
    width: 352px;
    min-height: 500px;
    display: flex !important;

    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 33px;
    padding-right: 33px;

    // cursor: pointer;
  }
  // .s3__list-item-icon
  &__list-item-icon {
    width: 44px;
    height: 44px;
    margin-bottom: 22px;
  }
  // .s3__list-item-title
  &__list-item-title {
    margin-bottom: 12px;
    @include text-min-h(32px);
  }
  // .s3__list-item-price
  &__list-item-price {
    @include text-min-h(26px);
    margin-bottom: 4px;
    // .s3__list-item-price span
    span {
      position: relative;
      top: 2px;
      margin-left: 2px;
      font-size: 12px;
    }
  }
  // .s3__list-item-bullets
  &__list-item-bullets {
    display: flex;
    align-items: center;
    height: 24px;

    margin-bottom: 39px;
  }
  // .s3__list-item-bullet-text
  &__list-item-bullet-text {
    width: 80px;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(180deg, #131827 0%, #0d101f 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bodi-2-2);

    margin-right: 8px;
    cursor: pointer;

    // .s3__list-item-bullet-text.active
    &.active {
      background: linear-gradient(4deg, #fff 0%, #c8dcf5 51%, #b6d0ee 100%);
      color: var(--bodi-2);
    }

    // .s3__list-item-bullet-text:last-child
    &:last-child {
      margin-right: 0;
    }
  }
  // .s3__list-inside
  &__list-inside {
    width: 100%;
    min-height: 215px;
    margin-bottom: 36px;
  }
  // .s3__list-inside-item
  &__list-inside-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    // .s3__list-inside-item:last-child
    &:last-child {
      margin-bottom: 0;
    }
  }
  // .s3__list-inside-item-icon
  &__list-inside-item-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  // .s3__list-inside-item-text
  &__list-inside-item-text {
    @include text-min-h(26px);
  }
  // .s3__btn
  &__btn {
  }
  // .s3__light-decor
  &__light-decor {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  // .s3__light-decor1
  &__light-decor1 {
    width: 968px;
    height: 626px;
    top: -62px;
  }
  // .s3__light-decor2
  &__light-decor2 {
    border-radius: 147px;
    width: 1200px;
    height: 132px;
    filter: blur(200px);
    background: #93abf8;
    opacity: 0.1;
    top: 187px;
    z-index: -1;
  }
  // .s3__list-bg
  &__list-bg {
    position: absolute;
    width: 1201px;
    height: 577px;
    top: 247px;
    left: 50%;
    transform: translateX(-50%);
  }
  // .s3__star-bg
  &__star-bg {
    // width: 1510px;
    // height: 469px;
    position: absolute;
    top: -54px;
    left: 50%;
    transform: translateX(-50%);

    width: 1920px;
    height: 916px;
  }
}

.s4 {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 165px;
  // padding-bottom: 120px;

  // ?
  // margin-bottom: 1905px;
  margin-bottom: 1334px;

  // .s4__container
  &__container {
    flex-direction: column;
    align-items: center;
  }
  // .s4__title
  &__title {
    margin-bottom: 60px;
  }
  // .s4__pre-title
  &__pre-title {
  }
  // .s4__pre-title-text
  &__pre-title-text {
  }
  // .s4__title-text
  &__title-text {
    margin-bottom: 24px;
  }
  // .s4__title-desk
  &__title-desk {
  }
  // .s4__last-title
  &__last-title {
    max-width: 800px;
    margin-bottom: 25px;
  }
  // .s4__last-desk
  &__last-desk {
    max-width: 400px;
    margin-bottom: 62px;
  }
  // .s4__list
  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 43px;
    position: relative;
    z-index: 2;
  }
  // .s4__list-item
  &__list-item {
    position: relative;
    width: 384px;
    height: 320px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 28px;
    padding-right: 28px;
    // padding-bottom: 36px;
    border-radius: 24px;
  }
  // .s4__list-item-icon
  &__list-item-icon {
    width: 328px;
    height: 155px;
    margin-bottom: 55px;
  }
  // .s4__list-item-bg
  &__list-item-bg {
    width: 384px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    border-radius: 24px;
    overflow: hidden;
  }
  // .s4__list-text
  &__list-text {
    margin-bottom: 8px;

    @include text-min-h(26px);

    // .s4__list-text span
    span {
      color: var(--bodi-2-1);
    }

    // .s4__list-text small
    small {
      font-size: 12px;
      color: var(--bodi-2-1);
    }
  }
  // .s4__btn
  &__btn {
    margin-bottom: 24px;
    z-index: 2;
  }
  // .s4__last-text-wrp
  &__last-text-wrp {
    display: flex;
    flex-direction: column;
  }
  // .s4__last-text
  &__last-text {
    color: var(--bodi-2-3);
    box-sizing: border-box;
    padding-left: 12px;
    position: relative;
    &::before {
      content: "";
      width: 2px;
      height: 2px;
      border-radius: 100%;
      display: block;
      position: absolute;
      top: 50%;
      left: -12px;
      transform: translateY(-50%);
      background-color: var(--bodi-2-3);
    }
  }
  // .s4__decoration-light
  &__decoration-light {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  // .s4__decoration-light1
  &__decoration-light1 {
    border-radius: 147px;
    width: 334px;
    height: 86px;
    filter: blur(300px);
    background: #93abf8;
    opacity: 0.15;
    top: 1023px;
  }
  // .s4__decoration-light2
  &__decoration-light2 {
    width: 1586px;
    height: 909px;
    top: 531px;
    z-index: -1;
  }
}

.list-progress {
  width: 100%;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  // .list-progress__item
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .list-progress__item-wrp
  &__item-wrp {
    width: 60px;
    display: flex;
    justify-content: center;
    height: 60px;
    margin-bottom: 16px;
  }
  // .list-progress__item-icon
  &__item-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
  }
  // .list-progress__text
  &__text {
    max-width: 210px;
    @include text-min-h(46px);
  }
  // .list-progress__item-decoration
  &__item-decoration {
    position: absolute;
    top: 31.5px;

    // .list-progress__item-decoration:nth-child(2)
    &:nth-child(2) {
      left: 154px;
    }
    // .list-progress__item-decoration:nth-child(2)
    &:nth-child(4) {
      left: 485px;
    }

    // .list-progress__item-decoration:nth-child(2)
    &:nth-child(6) {
      left: 820px;
    }
  }
  // .list-progress__item-decoration-line
  &__item-decoration-line {
    width: 226px;
    height: 0.5px;
    opacity: 0.1;
    background-color: var(--bodi-2-1);
  }
  // .list-progress__item-decoration-object
  &__item-decoration-object {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 0.5px solid var(--bodi-2-2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    top: -9px;

    // .list-progress__item-decoration-object::before
    &::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(176, 184, 235, 0);
      filter: blur(0px);
      transition: all 500ms ease-in-out;
      background-color: rgb(176, 184, 235);
      filter: blur(10px);
    }

    // .list-progress__item-decoration-object::after
    &::after {
      content: "";
      width: 1.5px;
      height: 1.5px;
      border-radius: 100%;
      background-color: var(--bodi-1);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
      transition: opacity 500ms ease-in-out;
    }
  }
}

.s6 {
  min-height: 661px;
  box-sizing: border-box;
  padding-bottom: 320px;
  margin-bottom: 0;

  // .s6__container
  &__container {
    flex-direction: column;
    position: relative;
  }
  // .s6__title
  &__title {
    margin-bottom: 97px;
  }
  // .s6__pre-title
  &__pre-title {
  }
  // .s6__pre-title-text
  &__pre-title-text {
  }
  // .s6__title-text
  &__title-text {
    margin-bottom: 29px;
  }
  // .s6__title-desk
  &__title-desk {
  }
  // .s6__list
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
  }
  // .s6__list-item
  &__list-item {
    width: 352px;
    height: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;

    // .s6__list-item:last-child .s6__list-item-icon
    &:last-child .s6__list-item-icon {
      width: 55px;
      height: 32px;
      margin-bottom: 35px;
      position: relative;
      top: 12px;
    }
  }
  // .s6__list-item-icon
  &__list-item-icon {
    width: 44px;
    height: 44px;
    margin-bottom: 24px;
  }
  // .s6__list-item-title
  &__list-item-title {
    color: var(--bodi-2-1);
    margin-bottom: 12px;
  }
  // .s6__list-item-text
  &__list-item-text {
    text-align: left;
    color: var(--bodi-2-2);
  }
  // .s6__decor
  &__decor {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  // .s6__decor-bg
  &__decor-bg {
    width: 1706px;
    height: 1111px;
    top: -48px;
  }
  // .s6__decor-list
  &__decor-list {
    width: 1201px;
    height: 340px;
    top: 321.5px;
  }
}

.s7 {
  min-height: 893px;
  margin-top: -160px;
  box-sizing: border-box;
  // padding-top: 160px;
  padding-top: 65px;

  // margin-bottom: 160px;

  // .s7__container
  &__container {
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  // .s7__title
  &__title {
    box-sizing: border-box;
    padding-top: 15px;
    margin-bottom: 69px;

    border-radius: 24px 24px 0 0;
    width: 1112px;
    height: 60px;
    backdrop-filter: blur(160px);
    background: rgba(50, 63, 95, 0.2);

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
  }

  // .s7__title-icon-logo
  &__title-icon-logo {
    width: 54px;
    height: 54px;
    position: relative;
    top: -8px;
    left: -15px;
  }

  // .s7__title-cicle-list
  &__title-cicle-list {
    width: 54px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -10px;
  }
  // .s7__title-cicle
  &__title-cicle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--bodi-2-3);
  }

  // .s7__pre-title
  &__pre-title {
  }
  // .s7__pre-title-text
  &__pre-title-text {
  }
  // .s7__item-main
  &__item-main {
    display: block;
    border-radius: 16px;
    width: 400px;
    height: 357px;
    backdrop-filter: blur(60px);
    background: linear-gradient(
      180deg,
      rgba(19, 24, 41, 0.3) 0%,
      rgba(12, 14, 26, 0.3) 100%
    );
    position: relative;
    box-sizing: border-box;
    padding-top: 35px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 44px;

    display: flex;
    flex-direction: column;
    align-items: center;

    // background: rgba(186, 214, 247, 0.03);
    box-shadow: inset 0 1px 1px 0 rgba(199, 211, 234, 0.12),
      inset 0 24px 48px 0 rgba(199, 211, 234, 0.05),
      0 24px 32px 0 rgba(6, 6, 14, 0.7);
    backdrop-filter: blur(4px);
  }
  // .s7__item-main-icon
  &__item-main-icon {
    width: 60px;
    height: 42px;
    margin-bottom: 24px;
  }
  // .s7__item-main-title
  &__item-main-title {
    margin-bottom: 13px;
  }
  // .s7__item-main-text
  &__item-main-text {
    margin-bottom: 28px;
  }
  // .s7__btn
  &__btn {
    background: linear-gradient(4deg, #fff 0%, #c8dcf5 51%, #b6d0ee 100%);
    position: relative;
    z-index: 2;

    // .s7__btn span
    span {
      font-weight: 500;
      color: var(--bodi-2-3);
    }
  }
  // .s7__item-main-bg-mask
  &__item-main-bg-mask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 357px;
  }
  // .s7__item-main-line
  &__item-main-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 525px;
    height: 493px;
  }

  // .s7__item--big
  &__item--big {
    width: 308px;
    height: 146px;
    box-sizing: border-box;
    padding-top: 76px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    border-radius: 16px;
    backdrop-filter: blur(110px);
    background: linear-gradient(180deg, #131829 0%, #0c0e1a 100%);
  }

  // .s7__item--small
  &__item--small {
    border-radius: 8px;
    width: 240px;
    height: 134px;
    backdrop-filter: blur(110px);
    background: linear-gradient(180deg, #131829 0%, #0c0e1a 100%);
    box-sizing: border-box;
    padding-top: 64px;
  }

  // .s7__item
  &__item {
    position: absolute;
    // display: none;
    display: flex;
    justify-content: center;
  }
  // .s7__item1
  &__item1 {
    top: 146px;
    left: 25px;
  }
  // .s7__item2
  &__item2 {
    left: 79px;
    top: 365px;

    // .s7__item2 .s7__item-icon
    .s7__item-icon {
      width: 40px;
      height: 40px;
      top: 15px;
    }
    // .s7__item2 .s7__item-title
    .s7__item-title {
      max-width: 192px;
    }
  }
  // .s7__item3
  &__item3 {
    top: 151px;
    right: 90px;
    width: 240px;
    height: 111px;
    padding-top: 42px;

    // .s7__item3 .s7__item-icon
    .s7__item-icon {
      width: 53px;
      height: 13px;
      top: 15px;
    }
    // .s7__item3 .s7__item-title
    .s7__item-title {
      max-width: 192px;
      color: var(--bodi-2-2);
    }
  }
  // .s7__item4
  &__item4 {
    right: 23px;
    top: 325px;

    // .s7__item4 .s7__item-icon
    .s7__item-icon {
      width: 44px;
      height: 44px;
      top: 15px;
    }
  }

  // .s7__item-icon
  &__item-icon {
    width: 85px;
    height: 76px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  // .s7__item-title
  &__item-title {
    position: relative;
    z-index: 2;
    color: var(--bodi-2-1);
    // .s7__item-title span
    span {
      color: var(--bodi-2-3);
    }
  }
  // .s7__item-bg
  &__item-bg {
    width: 308px;
    height: 146px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  // .s7__item-line
  &__item-line {
    width: 297px;
    height: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  // .s7__decoration-shadow
  &__decoration-shadow {
    position: absolute;
    width: 1512px;
    height: 742px;
    top: -44px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  // .s7__decoration-lines
  &__decoration-lines {
    position: absolute;
    // top: -258px;
    top: -163px;
    width: 1920px;
    height: 893px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  // .s7__decoration-star
  &__decoration-star {
    top: -160px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  // .s7__decoration-window
  &__decoration-window {
    position: absolute;
    width: 1112px;
    height: 553px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.s9 {
  position: relative;
  width: 100%;
  min-height: 1451px;
  box-sizing: border-box;
  padding-bottom: 120px;
  padding-top: 220px;

  // .s9__container
  &__container {
    position: relative;
    flex-direction: column;
  }
  // .s9__title
  &__title {
    margin-bottom: 560px;
  }
  // .s9__pre-title
  &__pre-title {
  }
  // .s9__pre-title-text
  &__pre-title-text {
  }
  // .s9__title-text
  &__title-text {
    margin-bottom: 30px;
  }
  // .s9__title-desk
  &__title-desk {
  }
  // .s9__tag
  &__tag {
    position: absolute;
    z-index: 2;
    width: auto;
    height: 16px;
    border-radius: 8px;

    // .s9__tag span
    span {
      color: var(--bodi-2-2);
    }
  }
  // .s9__tag1
  &__tag1 {
    top: 382px;
    left: 421px;
    width: 121px;
  }
  // .s9__tag2
  &__tag2 {
    top: 382px;
    right: 420px;
    width: 83px;
  }
  // .s9__tag3
  &__tag3 {
    top: 746px;
    left: 393px;
    width: 55px;
  }
  // .s9__tag4
  &__tag4 {
    top: 746px;
    left: 567px;
    width: 60px;
  }
  // .s9__tag5
  &__tag5 {
    top: 746px;
    left: 747px;
    width: 61px;
  }
  // .s9__svg-item
  &__svg-item {
    position: absolute;
    z-index: 2;
  }
  // .s9__svg-item1
  &__svg-item1 {
    width: 94px;
    height: 58px;
    right: 370px;
    top: 609px;
  }
  // .s9__svg-item2
  &__svg-item2 {
    width: 129px;
    height: 58px;
    right: 536px;
    top: 629px;
  }
  // .s9__svg-item3
  &__svg-item3 {
    width: 132px;
    height: 55px;
    left: 394px;
    top: 481px;
  }
  // .s9__svg-item4
  &__svg-item4 {
    width: 185px;
    height: 229px;
    left: 508px;
    top: 458px;
  }
  // .s9__svg-item5
  &__svg-item5 {
    width: 83px;
    height: 54px;
    right: 417px;
    top: 480px;
  }
  // .s9__tag-bg
  &__tag-bg {
    width: 800px;
    height: 355px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 403px;
    // z-index: -1;
  }
  // .s9__tag-center-box-bg
  &__tag-center-box-bg {
    width: 612px;
    height: 312px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 416px;
  }
  // .s9__tag-line
  &__tag-line {
    width: 688px;
    height: 364px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 390px;

    // .s9__tag-line lottie-player
    lottie-player {
      transform: translate(-50%, -50%) scale(1.455);
    }
  }
  // .s9__tag-blur-bg
  &__tag-blur-bg {
    border-radius: 147px;
    width: 736px;
    height: 324px;
    filter: blur(400px);
    background: rgba(147, 171, 248, 0.15);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 630px;
  }
  // .s9__end-title
  &__end-title {
    margin-bottom: 28px;
  }
  // .s9__end-desk
  &__end-desk {
    margin-bottom: 19px;
  }
  // .s9__end-last-text
  &__end-last-text {
    color: var(--bodi-2-3);
  }
  // .s9__main-box-bg
  &__main-box-bg {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 1919px;
    height: 1451px;
  }
}

.s10 {
  margin-top: -4px;
}
.s10__list--mod {
  margin-bottom: 184px;
}
.s10__list-item-title--mod {
  margin-bottom: 17px;
}

.s10 .s9__end-desk {
  margin-bottom: 50px;
}

.s10 .list-progress {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.s10 .list-progress .list-progress__item:nth-child(1) {
  position: relative;
  top: 11px;
  left: -7px;
}
.s10 .list-progress .list-progress__item:nth-child(3) {
  position: relative;
  top: 11px;
  left: 12px;
}
.s10 .list-progress .list-progress__item:nth-child(5) {
  position: relative;
  top: 11px;
  left: 20px;
}
.s10 .list-progress__text {
  max-width: 250px;
}

.s10 .list-progress__item-decoration {
  top: 41.5px;
}
.s10 .list-progress__item-decoration:nth-child(2) {
  left: 172px;
}
.s10 .list-progress__item-decoration:nth-child(4) {
  left: 652px;
}

.s10 .list-progress__item-decoration-line {
  width: 376px;
}

.s12 {
  position: relative;

  // .s12__container
  &__container {
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  // .s12__title
  &__title {
    margin-bottom: 100px;
  }
  // .s12__pre-title
  &__pre-title {
  }
  // .s12__pre-title-text
  &__pre-title-text {
  }
  // .s12__title-text
  &__title-text {
  }
  // .s12__list
  &__list {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding-left: 35px;
    margin-bottom: 105px;
  }
  // .s12__item
  &__item {
    width: 528px;
    height: 252px;

    margin-right: 73px;

    // .s12__item:nth-child(2)
    &:nth-child(2) {
      margin-right: 0;
      // .s12__item:nth-child(2) .s12__item-title
      .s12__item-title {
        width: 364px;
      }
    }
  }
  // .s12__item-title
  &__item-title {
    width: 164px;
    height: 40px;
    margin-bottom: 44px;
  }
  // .s12__item-text
  &__item-text {
    text-align: left;
    margin-bottom: 42px;
  }
  // .s12__btn
  &__btn {
  }
  // .s12__decor-bg
  &__decor-bg {
    position: absolute;
    top: 261px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 1201px;
    height: 356px;
  }
}

.s13 {
  margin-top: 0;
  padding-top: 163px;
}

.s14 {
  margin-bottom: 97px;
}

.s14__container {
  max-width: 800px;
  flex-direction: column;
}

.s14__title {
  margin-bottom: 53px;
}

.footer {
  overflow: hidden;
  position: relative;

  // .footer__container
  &__container {
    max-width: 800px;
    position: relative;
    flex-direction: column;
  }
  // .footer__start
  &__start {
    margin-bottom: 120px;
  }
  // .footer__title
  &__title {
    margin-bottom: 72px;
    color: var(--bodi-2-1);
  }
  // .footer__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .footer__item
  &__item {
    position: relative;
    border: 0.5px solid var(--dop-decor-bg);
    border-radius: 24px;
    width: 388px;
    height: 320px;
    backdrop-filter: blur(110px);
    background: rgba(19, 24, 39, 0.3);
  }
  // .footer__item-logo
  &__item-logo {
    width: 387px;
    height: 220px;
  }
  // .footer__item-title
  &__item-title {
    color: var(--bodi-2-1);
    margin-bottom: 11px;
    margin-top: -5px;
  }
  // .footer__item-text
  &__item-text {
    color: var(--bodi-2-2);
  }
  // .footer__item-bg
  &__item-bg {
    position: absolute;
    z-index: -1;
    width: 388px;
    height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // .footer__end
  &__end {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 44px;
  }
  // .footer__end-title
  &__end-title {
    width: 84px;
    height: 24px;
    margin-bottom: 36px;
  }
  // .footer__end-link-list
  &__end-link-list {
    width: 342px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 39px;
  }
  // .footer__end-link-list-item
  &__end-link-list-item {
  }
  // .footer__end-link
  &__end-link {
    color: var(--bodi-2-2);
    transition: color 300ms ease-in-out;

    // .footer__end-link:hover
    &:hover {
      color: var(--bodi-2-1);
    }
  }
  // .footer__btn
  &__btn {
    width: 200px;
    height: 44px;
    margin-bottom: 89px;
  }
  // .footer__end-polici-wrp
  &__end-polici-wrp {
  }
  // .footer__end-polici-link
  &__end-polici-link {
    display: block;
    margin-bottom: 10px;
    text-decoration: underline;
    color: var(--bodi-2-2);
  }
  // .footer__end-polici-text
  &__end-polici-text {
    color: var(--bodi-2-3);
  }
  // .footer__line-bg
  &__line-bg {
    width: 1200px;
    height: 981px;
    position: absolute;
    top: -74px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  // .footer__block-bg
  &__block-bg {
    width: 1400px;
    height: 1000px;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.page404 .s1__text {
  max-width: 420px;
}

.page404 .s1 {
  height: auto;
  padding-bottom: 160px;
  margin-top: -60px;
}

.page404 .s1__card-box-icon-star-wrp {
  display: none;
}

.page-post .scroll-section__pre-title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-post-s1 {
}

.pps1 {
  margin-top: 80px;

  // .pps1__container
  &__container {
    width: 800px;
    flex-direction: column;
    align-items: center;
  }

  // .pps1__title
  &__title {
    margin-bottom: 73px;
  }

  // .pps1__pre-title
  &__pre-title {
    text-decoration: underline;
  }

  // .pps1__pre-title-text
  &__pre-title-text {
    text-decoration: underline;
  }

  // .pps1__title-text
  &__title-text {
    margin-bottom: 0;
  }

  // .pps1__icon
  &__icon {
    width: 800px;
    height: 508px;
    margin-bottom: 24px;
  }

  // .pps1__top-menu
  &__top-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 21px;
    margin-bottom: 44px;
  }

  // .pps1__top-menu-ppl-info
  &__top-menu-ppl-info {
    display: flex;
    min-width: 280px;
  }

  // .pps1__ppl-icon
  &__ppl-icon {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    margin-right: 12px;
  }

  // .pps1__top-menu-text-wrp
  &__top-menu-text-wrp {
    display: flex;
    flex-direction: column;
  }

  // .pps1__ppl-name
  &__ppl-name {
    color: var(--bodi-2-2);
    text-align: left;
    margin-bottom: 4px;
    font-size: 14px;
  }

  // .pps1__ppl-text
  &__ppl-text {
    color: var(--bodi-2-3);
    text-align: left;
  }

  // .pps1__top-menu-soc-list
  &__top-menu-soc-list {
    width: 124px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .pps1__top-menu-soc-item
  &__top-menu-soc-item {
  }

  // .pps1__top-menu-soc-link
  &__top-menu-soc-link {
    width: 36px;
    height: 36px;
  }

  // .pps1__top-menu-line
  &__top-menu-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
  }

  // .pps1__nav
  &__nav {
    position: relative;
    width: 100%;
    height: 208px;

    border-radius: 24px;
    backdrop-filter: blur(110px);
    background: linear-gradient(180deg, #131829 0%, #0c0e1a 100%);

    box-sizing: border-box;
    padding-top: 36px;
    padding-bottom: 36px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 44px;
  }

  // .pps1__nav-title
  &__nav-title {
    color: var(--bodi-2-3);
    margin-bottom: 12px;
    position: relative;
  }

  // .pps1__nav-link
  &__nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: var(--bodi-2-1);
    margin-bottom: 16px;

    // .pps1__nav-link:last-child
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .pps1__text
  &__text {
    text-align: left;
    margin-bottom: 44px;

    // .pps1__text span
    span {
      font-weight: 600;
      color: var(--bodi-2-1);
    }

    // .pps1__text a
    a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--bodi-2-1);
    }
  }

  // .pps1__img
  &__img {
    width: 800px;
    height: 484px;
    margin-bottom: 44px;
  }

  // .pps1__text-title
  &__text-title {
    color: var(--bodi-2-1);
    margin-bottom: 16px;
  }

  // .pps1__text2
  &__text2 {
  }

  // .pps1__text-desk
  &__text-desk {
    margin-bottom: 12px;
    color: var(--bodi-2-1);
  }

  // .pps1__text3
  &__text3 {
  }

  // .pps1__text4
  &__text4 {
  }

  // .pps1__text-bg-block
  &__text-bg-block {
    position: relative;
    color: var(--bodi-2-2);
    margin-bottom: 44px;

    border-radius: 24px;
    width: 100%;
    height: 190px;
    backdrop-filter: blur(110px);
    background: linear-gradient(180deg, #131829 0%, #0c0e1a 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 36px;

    line-height: 115%;
    padding-top: 30px;
  }

  // .pps1__text-title2
  &__text-title2 {
    margin-bottom: 16px;
  }

  // .pps1__text-title3
  &__text-title3 {
    margin-bottom: 16px;
  }

  // .pps1__text5
  &__text5 {
    margin-bottom: 47px;
  }

  // .pps1__last-block
  &__last-block {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding-bottom: 17px;
    position: relative;

    // .pps1__last-block .pps1__title
    .pps1__title {
      margin-bottom: 0;
    }

    // .pps1__last-block .pps1__title
    .title-wrp__pre-title {
      margin-bottom: 0;
    }
  }

  // .pps1__last-block-date
  &__last-block-date {
    color: var(--bodi-2-3);
  }

  // .pps1__last-block-wiever-counter-wrp
  &__last-block-wiever-counter-wrp {
    display: flex;
    align-items: center;
  }

  // .pps1__last-block-wiever-icon
  &__last-block-wiever-icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  // .pps1__last-block-wiever-counter
  &__last-block-wiever-counter {
    color: var(--bodi-2-3);
  }

  // .pps1__last-line
  &__last-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
  }

  // .pps1__ligting
  &__ligting {
    width: 968px;
    height: 602px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.pb1 {
  position: relative;
  margin-top: 79px;
  z-index: 3;

  // .pb1__container
  &__container {
    width: 800px;
    position: relative;
    flex-direction: column;
  }

  // .pb1__title
  &__title {
    margin-bottom: 63px;
  }

  // .pb1__pre-title
  &__pre-title {
  }

  // .pb1__pre-title-text
  &__pre-title-text {
  }

  // .pb1__title-text
  &__title-text {
    margin-bottom: 29px;
  }

  // .pb1__title-desk
  &__title-desk {
    max-width: 420px;
  }

  // .pb1__list
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // .pb1__item
  &__item {
    width: 378px;
    // height: 442px;
    height: 444px;
    overflow: hidden;
    margin-bottom: 44px;
    border-radius: 12px;
  }

  // .pb1__item-icon
  &__item-icon {
    width: 99.5%;
    height: 240px;
    border: 0.5px solid var(--dop-decor-bg);
    border-radius: 12px 12px 0 0;
  }

  // .pb1__item-info
  &__item-info {
    border: 0.5px solid var(--dop-decor-bg);
    border-radius: 0 0 12px 12px;
    width: 378px;
    height: 202px;
    backdrop-filter: blur(110px);
    background: rgba(34, 40, 65, 0.3);
    box-sizing: border-box;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 14px;
    padding-right: 14px;
  }

  // .pb1__item-title
  &__item-title {
    color: var(--bodi-2-1);
    margin-bottom: 8px;
    text-align: left;
  }

  // .pb1__item-text
  &__item-text {
    color: var(--bodi-2-2);
    margin-bottom: 29px;
    text-align: left;
  }

  // .pb1__item-end
  &__item-end {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .pb1__item-end-time
  &__item-end-time {
    color: var(--bodi-2-3);
  }

  // .pb1__item-end-wiever-wrp
  &__item-end-wiever-wrp {
    width: 63px;
    display: flex;
    align-items: center;
  }

  // .pb1__item-end-wiever-icon
  &__item-end-wiever-icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  // .pb1__item-end-wiever-number
  &__item-end-wiever-number {
    color: var(--bodi-2-3);
  }

  // .pb1__bg-light
  &__bg-light {
    width: 968px;
    height: 602px;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.qas1 {
  position: relative;
  box-sizing: border-box;
  padding-top: 35px;
  // padding-bottom: 500px;
  padding-bottom: 60px;

  // .qas1__container
  &__container {
    position: relative;
    align-items: center;
    flex-direction: column;
  }

  // .qas1__title
  &__title {
    margin-bottom: 77px;
  }

  // .qas1__pre-title

  &__pre-title {
  }

  // .qas1__pre-title-text

  &__pre-title-text {
  }

  // .qas1__title-text
  &__title-text {
    margin-bottom: 29px;
  }

  // .qas1__title-desk

  &__title-desk {
  }

  // .qas1__light-bg
  &__light-bg {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 968px;
    height: 602px;
  }
}

.qas1 .scroll-section__list-wrp {
  width: 781px;
  height: 338px;
}

.qas1 .scroll-section__list-bg {
  width: 781px;
  height: 390px;
  top: -42px;
  left: -4px;
}

.qas1 .scroll-section__list-bg-line {
  width: 802px;
  height: 331px;
  position: absolute;
  top: -15px;
  left: -10px;
  z-index: -1;
}

.qas1 .scroll-section__list-bg-line lottie-player {
  transform: translate(-50%, -50%) scale(1.35);
}

.qas1 .scroll-section__list {
  // opacity: 0;
}

.qas2 {
  margin-bottom: 0;
  margin-top: -500px;
  // .qas2__btn
  &__btn {
  }
}

.qas2 .accordion {
  margin-bottom: 47px;
}

.s14__container {
  display: flex;
  align-items: center;
}

.qas1 .scroll-section__item:nth-child(1) {
  width: 112px;
  top: 9px;
  left: 86px;
}
.qas1 .scroll-section__item:nth-child(1) .scroll-section__icon {
  width: 97px;
  height: 80px;
}

.qas1 .scroll-section__item:nth-child(2) {
  top: 20px;
}
.qas1 .scroll-section__item:nth-child(2) .scroll-section__icon {
  width: 158px;
  height: 158px;
}
.qas1 .scroll-section__item:nth-child(2) .scroll-section__text {
  margin-top: 13px;
}

.qas1 .scroll-section__item:nth-child(3) .scroll-section__icon {
  width: 97px;
  height: 80px;
}
.qas1 .scroll-section__item:nth-child(3) {
  width: 112px;
  top: 9px;
  right: 88px;
}
.qas1 .scroll-section__item:nth-child(3) .scroll-section__text {
  margin-top: 10px;
}
.qas1 .scroll-section__item:nth-child(4) {
  left: 119px;
  top: 231px;
}
.qas1 .scroll-section__item:nth-child(4) .scroll-section__icon {
  transform: scale(1.12);
}
.qas1 .scroll-section__item:nth-child(5) .scroll-section__icon {
  width: 112px;
  height: 112px;
}
.qas1 .scroll-section__item:nth-child(5) {
  width: 112px;
  top: 227px;
  left: 335px;
}

.qas1 .scroll-section__item:nth-child(6) .scroll-section__icon {
  width: 112px;
  height: 112px;
}
.qas1 .scroll-section__item:nth-child(6) {
  width: 112px;
  top: 227px;
  right: 174px;
}

.scroll-section__list-light-bg {
  border-radius: 147px;
  width: 736px;
  height: 324px;
  filter: blur(400px);
  background: rgba(147, 171, 248, 0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.other-page .s7__decoration-window {
  width: 800px;
  height: 553px;
  top: 0;
}

.other-page .s7__title {
  width: 800px;
}

.other-page .s7__item1 {
  top: 139px;
  left: 83px;
  width: 268px;
  height: 146px;
}

.other-page .s7__item2 {
  left: 96px;
  top: 337px;
  width: 240px;
  height: 130px;
}

.other-page .s7__item2 .s7__item-line {
  display: none;
}

.other-page .s7__item3 {
  width: 240px;
  height: 107px;
  top: 142px;
  right: 98px;
}

.other-page .s7__item3 .s7__item-line {
  display: none;
}

.other-page .s7__item4 {
  right: 85px;
  top: 321px;
  width: 268px;
  height: 146px;
  padding-left: 4px;
  padding-right: 4px;
}

.page-blog .s13 {
  margin-top: -46px;
}

.page-about {
}
.pas1 {
  position: relative;

  // .pas1__container
  &__container {
    box-sizing: border-box;
    padding-top: 35px;
    width: 800px;
    position: relative;
    flex-direction: column;
  }

  // .pas1__title
  &__title {
    margin-bottom: 58px;
  }

  // .pas1__pre-title
  &__pre-title {
  }

  // .pas1__pre-title-text
  &__pre-title-text {
  }

  // .pas1__title-text
  &__title-text {
    margin-bottom: 29px;
  }

  // .pas1__title-desk
  &__title-desk {
  }

  // .pas1__text
  &__text {
    text-align: left;
    margin-bottom: 16px;
    letter-spacing: normal;
  }

  // .pas1__text-bg-block
  &__text-bg-block {
  }

  // .pas1__top-menu-ppl-info
  &__top-menu-ppl-info {
  }

  // .pas1__ppl-icon
  &__ppl-icon {
  }

  // .pas1__top-menu-text-wrp
  &__top-menu-text-wrp {
  }

  // .pas1__ppl-name
  &__ppl-name {
  }

  // .pas1__ppl-text
  &__ppl-text {
  }

  // .pas1__bold-text
  &__bold-text {
    text-align: left;
    line-height: 115%;
    margin-bottom: 23px;
  }

  // .pas1__bold-text1
  &__bold-text1 {
  }

  // .pas1__text1
  &__text1 {
    margin-bottom: 22px;
  }

  // .pas1__text2
  &__text2 {
    margin-bottom: 70px;
  }

  // .pas1__bold-text2
  &__bold-text2 {
  }

  // .pas1__text3
  &__text3 {
  }

  // .pas1__text4
  &__text4 {
    margin-bottom: 9px;
  }
}

.pas1 .pps1__text {
  box-sizing: border-box;
  padding: 35px;
  backdrop-filter: blur(110px);
  background: linear-gradient(180deg, #131829 0%, #0c0e1a 100%);
  border-radius: 24px;
  margin-bottom: 60px;
  line-height: 115%;
  color: var(--bodi-2-2);
}
.pas1 .scroll-section__list-wrp {
  margin-bottom: 106px;
}
.pas1 .pps1__top-menu-ppl-info {
  margin-top: 16px;
}

.s6__list-item-icon-mod {
  transform: scale(2.2);
  top: 3px !important;
  left: -6px;
}

.s11 .slider-section__bg-main {
  height: 400px;
  bottom: 13px;
}

.s11 {
  height: 886px;
  margin-top: -106px;
  margin-bottom: 147px;
}

.s11 .swiper .slider-navigation {
  bottom: -11px !important;
}

.s11 .slider-section__swiper-button-next {
  top: var(--swiper-navigation-top-offset, 46%) !important;
}

.s11 .slider-section__swiper-button-prev {
  top: var(--swiper-navigation-top-offset, 46%) !important;
}

.s4__last-text:nth-child(1)::before {
  left: 30px;
}
.s4__last-text:nth-child(2)::before {
  left: 37px;
}
.s4__last-text:nth-child(3)::before {
  left: -1px;
}
.s4__last-text:nth-child(4)::before {
  left: 1px;
}

.page-how-works-s1 {
}
.phws1 {
  box-sizing: border-box;
  padding-top: 35px;
  position: relative;

  // .phws1__container
  &__container {
    width: 800px;
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  // .phws1__title
  &__title {
    margin-bottom: 65px;
  }

  // .phws1__pre-title

  &__pre-title {
  }

  // .phws1__pre-title-text

  &__pre-title-text {
  }

  // .phws1__title-text
  &__title-text {
    margin-bottom: 28px;
  }

  // .phws1__title-desk

  &__title-desk {
  }

  // .phws1__list-wrp
  &__list-wrp {
  }

  // .phws1__list
  &__list {
    position: relative;
    width: 386px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 36px;
  }

  // .phws1__item
  &__item {
    font-size: 14px;
    color: var(--bodi-2-3);

    // .phws1__item.active
    &.active {
      font-weight: 500;
      color: var(--bodi-2-2);
    }
  }

  // .phws1__line-bg
  &__line-bg {
    width: 800px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  // .phws1__body
  &__body {
    width: 400px;
    min-height: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }

  // .phws1__body-icon
  &__body-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
  }

  // .phws1__body-text
  &__body-text {
    color: var(--bodi-2-2);
  }

  // .phws1__bg
  &__bg {
    width: 968px;
    height: 601px;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
  }
}

.phw .s14 {
  margin-bottom: 0;
}

.phws1 {
  // .phws1__bg
  &__bg {
  }
}

.phwks1 {
  position: relative;
  box-sizing: border-box;
  padding-top: 34px;
  margin-bottom: 161px;

  // .phwks1__container
  &__container {
    width: 800px;
    position: relative;
    flex-direction: column;
  }

  // .phwks1__title
  &__title {
    margin-bottom: 63px;
  }

  // .phwks1__pre-title

  &__pre-title {
  }

  // .phwks1__pre-title-text

  &__pre-title-text {
  }

  // .phwks1__title-text
  &__title-text {
    margin-bottom: 31px;
  }

  // .phwks1__title-desk
  &__title-desk {
    max-width: 450px;
    letter-spacing: normal;
  }

  // .phwks1__bg
  &__bg {
  }
}

.win-box {
  width: 800px;
  box-sizing: border-box;
  padding-bottom: 2px;
  position: relative;
  border-radius: 24px;

  // .win-box__top
  &__top {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;

    border-radius: 24px 24px 0 0;
    backdrop-filter: blur(160px);
    background: rgba(50, 63, 95, 0.2);
    height: 60px;
    z-index: 2;
  }

  // .win-box__top-icon
  &__top-icon {
    width: 54px;
    height: 54px;
    margin-right: 104px;
    position: relative;
    left: -15px;
    top: 3px;
  }

  // .win-box__top-menu
  &__top-menu {
    display: flex;
  }

  // .win-box__top-menu-item
  &__top-menu-item {
    color: var(--bodi-2-3);
    font-size: 13px;
    margin-right: 18px;

    // .win-box__top-menu-item:last-child
    &:last-child {
      margin-right: 0px;
    }

    // .win-box__top-menu-item.active
    &.active {
      font-weight: 500;
      color: var(--bodi-2-1);
    }
  }

  // .win-box__top-nav
  &__top-nav {
    width: 54px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 102px;
  }

  // .win-box__top-nav-item
  &__top-nav-item {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--bodi-2-3);
  }

  // .win-box__center
  &__center {
    position: relative;
    z-index: 2;
    display: flex;
  }

  // .win-box__left
  &__left {
    width: 200px;
    backdrop-filter: blur(160px);
    background: var(--bodi-2);
    border-radius: 0 0 0 12px;
    box-sizing: border-box;
    padding: 24px;
    margin-left: 1px;

    border-bottom-left-radius: 30px;

    position: relative;
    z-index: 2;
  }

  // .win-box__left-list
  &__left-list {
    margin-bottom: 296px;
  }

  // .win-box__left-list-item
  &__left-list-item {
    margin-bottom: 17px;
    color: var(--bodi-2-3);
    text-align: left;

    // .win-box__left-list-item:last-child
    &:last-child {
      margin-bottom: 0;
    }

    // .win-box__left-list-item.active
    &.active {
      font-weight: 500;
      color: var(--bodi-2-2);
    }
  }

  // .win-box__btn
  &__btn {
    width: 152px;
  }

  // .win-box__text
  &__text {
    width: 599px;
    height: 488px;
    box-sizing: border-box;
    // padding-top: 24px;
    margin-top: 24px;
    margin-left: -8px;
    text-align: left;

    overflow-y: scroll;

    padding-right: 20px;

    // .win-box__text::-webkit-scrollbar
    &::-webkit-scrollbar {
      // display: none;
    }

    // .win-box__text::-webkit-scrollbar-horizontal
    &::-webkit-scrollbar-horizontal {
      // display: none;
    }

    // .win-box__text span
    span {
      display: block;
      margin-bottom: 20px;
      padding-left: 38px;
    }
  }

  // .win-box__bg
  &__bg {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 800px;
    height: 596px;
    transform: translateX(-50%);
  }

  // .win-box__effect
  &__effect {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;

    border-radius: 24px;

    display: none;
  }
}

.win-box::before {
  display: none !important;
}

.s5 .scroll-section__list-bg-line lottie-player {
  transform: translate(-50%, -50%) scale(1.38);
}

.footer .cta-box {
  border-radius: 24px;
  width: 388px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: unset;
  cursor: pointer;
}

.s6 .s6__list-item:nth-child(1) .blur {
  border-radius: 100%;
  background: linear-gradient(360deg, #eee 0%, #c8dcf5 51%, #cbd5e2 100%);
  filter: blur(44px);
  width: 132px;
  height: 118px;
}
.s6 .s6__list-item:nth-child(2) .blur {
  border-radius: 100%;
  background: linear-gradient(360deg, #eee 0%, #c8dcf5 51%, #cbd5e2 100%);
  filter: blur(44px);
  width: 123px;
  height: 122px;
}
.s6 .s6__list-item:nth-child(3) .blur {
  border-radius: 100%;
  background: linear-gradient(360deg, #eee 0%, #c8dcf5 51%, #cbd5e2 100%);
  filter: blur(44px);
  width: 132px;
  height: 119px;
}

.s10 .s6__list-item:nth-child(1) .blur {
  border-radius: 100%;
  background: linear-gradient(360deg, #c8d9fa 0%, #c8dcf5 51%, #d0e1f5 100%);
  filter: blur(44px);
  width: 81px;
  height: 80px;
}

.s10 .s6__list-item:nth-child(2) .blur {
  border-radius: 100%;
  background: linear-gradient(360deg, #eee 0%, #c8dcf5 51%, #cbd5e2 100%);
  filter: blur(44px);
  width: 132px;
  height: 118px;
}

.s10 .s6__list-item:nth-child(3) .blur {
  // border-radius: 100%;
  // background: linear-gradient(360deg, #c8d9fa 0%, #c8dcf5 51%, #d0e1f5 100%);
  // filter: blur(24px) !important;
  width: 16px !important;
  height: 16px !important;
}

.window {
  position: relative;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  will-change: transform;
}

.window-bg {
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
  width: 1112px;
  height: 562px;
  will-change: transform;
}
.s7__title {
  background: unset;
  backdrop-filter: unset;
}
.s7__item-main-line {
  display: none;
}
.s7__item-line {
  display: none;
}

.other-page .window-bg {
  width: 800px;
  height: 553px;
}

.other-page .s7__decoration-window {
  display: none;
}

.pre-title::after {
  display: none;
}
.pre-title::before {
  display: none;
}

.pre-title {
  width: auto;
}
.pre-title-lp {
  width: 80px;
  height: 10px;
  margin-left: 8px;
  margin-right: 8px;
}
.pre-title-lp lottie-player {
  transform: translate(-50%, -50%) scale(1.15);
}

.pre-title span {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.pre-title span.anim {
  opacity: 1;
}

.s4__list-item-icon-wrp {
  position: relative;
}
.s4__list-item-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 52px;
  will-change: transform;

  // flex-wrap: nowrap;
  // display: flex;
  display: flex;

  span {
    display: block;
    width: 8px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--bodi-2-3);
  }
}

.swiper-pagination-bullet {
  background: unset !important;
}

.scroll-section__item-icon-wrp {
  position: relative;
}

.scroll-section__item-icon-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 48px;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  background: linear-gradient(360deg, #eee 0%, #c8dcf5 51%, #cbd5e2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scroll-section__item-icon-text--float {
  top: 47px;
}

.img-wrp .s2__lottie-icon1 {
  width: 62px;
}

.img-wrp .s2__lottie-icon2 {
  width: 76px;
}

.img-wrp .s2__lottie-icon3 {
  width: 59px;
  z-index: 1;
}

.img-wrp .s5__lottie-icon1 {
  z-index: 1;
}

.img-wrp .s5__lottie-icon2 {
  width: 45px;
  z-index: 1;
}

.img-wrp .s5__lottie-icon3 {
  width: 60px;
  z-index: 1;
}

.img-wrp .s9__svg-item-lottie-1 {
  z-index: 1;
  width: 108px;
  left: 62.5px;
  transform: translate(-50%, -50%) scale(1.55);
  top: 28px;
}

.img-wrp .s9__svg-item-lottie-2 {
  z-index: 1;
  width: 104px;
  height: 110px;
  top: 27.3px;
  left: 41.5px;
}

.img-wrp .s9__svg-item-lottie-3 {
  z-index: 1;
  width: 153px;
  height: 153px;
  top: 221px;
  left: 122.5px;
}

.img-wrp .s9__svg-item-lottie-4 {
  z-index: 1;
  transform: translate(-50%, -50%) scale(1.45);
  left: 64px;
  top: 28px;
}

.img-wrp .question-lottie1 {
  z-index: 1;
}

.dashboard-work-active .dashboard-work-lights--smooth {
  inset: 36px;
  filter: blur(36px);
  opacity: 0.2;
}
.dashboard-work-active .dashboard-work-lights--smooth div {
  width: 35px;
  height: 35px;
}

.page-question-answer .dashboard-work-lights--smooth {
  z-index: -1;
  opacity: 0.8;
}

.page-question-answer .scroll-section__item-icon-text {
  font-size: 2px;
}

.page-question-answer .scroll-section__item-icon-text span {
  display: none;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  background: linear-gradient(360deg, #eee 0%, #c8dcf5 51%, #cbd5e2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-box__item-bg {
  // z-index: 2;
}
.card-box__item-body {
  z-index: 3;
  position: relative;
}

.card-box__item-wrp:nth-child(2) .card-box__item-bg {
  transform: translate(-50%, -50%) scale(1.4);
}
.card-box__item-wrp:nth-child(6) .card-box__item-bg {
  transform: translate(-50%, -50%) scale(1.4);
}

.card-box__item-wrp:nth-child(2) .card_card-hero__pjFbO:before {
  display: none;
}
.card-box__item-wrp:nth-child(6) .card_card-hero__pjFbO:before {
  display: none;
}

.s3_tab-swiper {
  width: 100%;
}

.s3 .s3__list-item {
  width: 352px;
  // min-height: 500px !important;
  // display: flex !important;
}

.s3 .swiper .slider-navigation {
  display: none;
}

.s3 .slider-section__swiper-button-next {
  display: none;
}

.s3 .slider-section__swiper-button-prev {
  display: none;
}

.win-box__text::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 19px;
  width: 100%;
  height: 24px;
  background: linear-gradient(180deg, rgba(9, 12, 27, 0) 0%, #090c1b 100%);
}

.pps1__text-bg {
  width: 800px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
