// @mixin text-overflow($line-clamp) {
//   -ms-text-overflow: ellipsis;
//   text-overflow: ellipsis;
//   overflow: hidden;
//   -ms-line-clamp: $line-clamp;
//   -webkit-line-clamp: $line-clamp;
//   line-clamp: $line-clamp;
//   display: -webkit-box;
//   display: box;
//   word-wrap: break-word;
//   -webkit-box-orient: vertical;
//   box-orient: vertical;
// }

@mixin bg-def-set($position, $size) {
  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin text-min-h($height) {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: $height;
}

// @keyframes glowing-button_line-anim__NqYIB {
//   to {
//     --angle: 360deg;
//   }
// }

// @keyframes glowing-button_sky-anim__nLcFP {
//   to {
//     -webkit-mask-position: 0 -15px, 15px -45px;
//     mask-position: 0 -15px, 15px -45px;
//   }
// }
