.small-text {
  font-size: 12rem;
  line-height: 16rem;
}

.def-text {
  font-size: 16rem;
  line-height: 22rem;
}

.str-text {
}

.small-title-text {
  font-size: 24rem;
  line-height: 30rem;
}

.title-text {
  font-size: 32rem;
  line-height: 38rem;
}

.container {
}

.img-wrp {
  // .img-wrp img .img-wrp svg
  img,
  svg,
  object {
  }
}

.btn-wrapper {
}

.btn {
  // .btn span
  span {
  }

  // .btn:hover
  &:hover {
    // .btn:hover span
    span {
    }
  }
}

.main-logo {
}

.main-nav {
  width: 44rem;
  height: 30rem;
  margin-left: 5rem;

  .main-nav__open-menu {
    width: 44rem;
    height: 30rem;

    svg {
      width: 20rem;
      height: 12rem;
    }
  }

  // .main-nav ul
  ul {
  }

  // .main-nav li
  li {
  }

  // .main-nav a
  a {
  }
}

.sity-list {
  min-width: unset;
  width: 59rem;
}

.custom-select {
}

.phone-list {
  justify-content: space-between;

  // .phone-list__item
  &__item {
    min-width: 136rem;
    margin-bottom: 8rem !important;
    margin-right: 28rem !important;
    &:nth-child(2),
    &:nth-child(4) {
      margin-right: 0 !important;
    }
  }

  // .phone-list__link
  &__link {
    // .phone-list__link span
    span {
      font-size: 12rem;
      line-height: 16rem;
    }

    // .phone-list__link cirle
    // .phone-list__link path
    circle,
    path {
    }
  }

  // .phone-list__img
  &__img {
    width: 16rem;
    height: 16rem;
    margin-right: 4rem;
  }

  // .phone-list__text
  &__text {
  }
}

// .phone-list__item:hover
.phone-list__item {
  &:hover {
    // .phone-list__item:hover span
    span {
    }

    // .phone-list__item:nth-chil(1):hover
    // .phone-list__item:nth-chil(2):hover
    // .phone-list__item:nth-chil(4):hover
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
      // .phone-list__item:nth-chil(1):hover circle
      // .phone-list__item:nth-chil(2):hover circle
      // .phone-list__item:nth-chil(4):hover circle
      circle {
      }
      // .phone-list__item:nth-chil(4):hover g > path:first-child
      g > path:first-child {
      }
    }
    // .phone-list__item:nth-chil(3):hover
    &:nth-child(3) {
      // .phone-list__item:nth-chil(3):hover path
      path {
      }
    }
  }

  // .phone-list__item cirle
  // .phone-list__item path
  circle,
  path {
  }
}

.market-list {
  width: 100%;

  // .market-list__item
  &__item {
    width: 144rem;
    height: 44rem;
  }

  // .market-list__img
  &__img {
    width: 144rem;
    height: 44rem;
    // .market-list__img rect
    rect {
    }

    // .market-list__img:hover
    &:hover {
      // .market-list__img:hover rect
      rect {
      }
    }
  }
}

.card-list {
  // .card-list__img
  &__img {
    // .card-list__img:nth-child(1)
    &:nth-child(1) {
    }
    // .card-list__img:nth-child(2)
    &:nth-child(2) {
    }
    // .card-list__img:nth-child(3)
    &:nth-child(3) {
    }
  }
}

.green-btn {
  width: 150rem;
  height: 40rem;

  // .green-btn span
  span {
    margin-top: 0;
  }

  // .green-btn__icon
  &__icon {
  }
}

.auto-list {
  // .auto-list__title
  &__title {
  }

  // .auto-list__list
  &__list {
    width: 100%;
  }

  // .auto-list__item
  &__item {
    padding-bottom: 8rem;
    margin-bottom: 8rem;
  }

  // .auto-list__item:last-child
  &__item:last-child {
  }

  // .auto-list__item-start
  &__item-start {
  }

  // .auto-list__item-img
  &__item-img {
  }

  // .auto-list p
  p {
    display: flex;
    align-items: center;
    min-height: 26rem;
  }

  p.auto-list__title {
    min-height: 26rem;
    margin-bottom: 15rem;
    font-size: 16rem;
    line-height: 22rem;
  }

  // .auto-list span
  span {
  }

  // .auto-list span.small-text
  span.small-text {
  }

  // .auto-list__icon
  &__icon {
  }

  // .auto-list__item-end
  &__item-end {
  }

  // .auto-list__item-price
  &__item-price {
  }

  // .auto-list__item-price-km
  &__item-price-km {
  }
}

.delivery-list {
  // .delivery-list__list
  &__list {
    // .delivery-list .delivery__list scroll
    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }
  }

  // .delivery-list__item
  &__item {
    margin-bottom: 10rem;
    // .delivery-list__item:last-child
    &:last-child {
      margin-bottom: 10rem;
    }
  }

  // .delivery-list__img
  &__img {
    // .delivery-list__img svg
    svg {
      width: 30rem;
      height: 30rem;
    }
  }

  // .delivery-list__info
  &__info {
  }

  span.small-text {
    color: #a2aab0;
  }

  p.def-text {
    min-height: 26rem;
  }
}

.warning-text {
  // .warning-text span
  span {
  }

  // .warning-text a
  a {
  }

  // .warning-text__icon
  &__icon {
  }
}

.map {
  width: 208rem;
  height: 140rem;

  // .map__sity-list
  &__sity-list {
  }

  // .map__sity-item
  &__sity-item {
    width: 16rem;
    height: 16rem;
  }

  // .map__sity-item:nth-child(1)
  &__sity-item:nth-child(1) {
    top: 21rem;
    left: 108rem;
  }

  // .map__sity-point
  &__sity-point {
    width: 8rem;
    height: 8rem;
  }

  // .map__img-wrp
  &__img-wrp {
  }
}

.soc {
  // .soc__list
  &__list {
  }

  // .soc__item
  &__item {
    // .soc__item path
    path {
    }

    // .soc__item:hover
    &:hover {
      // .soc__item:hover path
      path {
      }
    }
  }

  // .soc .img-wrp
  .img-wrp {
  }
}

.desc {
}

.custom-select {
  // .custom-select__content
  &__content {
    width: 105rem;
  }

  // .custom-select__title
  &__title {
  }

  // .custom-select__icon
  &__icon {
    display: none;

    // .custom-select__icon path
    path {
    }
  }

  // .custom-select__active
  &__active {
  }

  // .custom-select__arrow
  &__arrow {
  }

  // .custom-select__list
  &__list {
  }

  // .custom-select__item
  &__item {
  }
  // .custom-select__item:last-child
  &__item:last-child {
  }

  // .custom-select__link
  &__link {
    font-size: 12rem;
    line-height: 16rem;

    // .custom-select__link:hover
    &:hover {
    }
  }

  // .custom-select.active
  &:hover {
    // .custom-select.active .custom-select__icon
    .custom-select__icon {
      // .custom-select.active .custom-select__icon path
      path {
      }
    }

    // .custom-select.active .custom-select__active
    .custom-select__active {
    }

    // .custom-select.active .custom-select__arrow
    .custom-select__arrow {
      // .custom-select.active .custom-select__arrow line
      line {
      }
    }
  }
}

.lng-list {
  z-index: 2;

  .custom-select__title {
    position: absolute;
    width: 100%;
    height: 30rem;
    right: 0;
    top: 0;
    z-index: 2;
  }

  // .custom-select__content
  .custom-select__content {
    height: 30rem;
    width: 44rem;
    padding: 0;
  }

  // .custom-select__list
  .custom-select__list {
    padding: 9rem;
    padding-left: 11rem;
    transform: translateY(-2.5rem);
  }

  .custom-select__link {
    padding: 0;
  }

  .custom-select__item {
  }

  .urrent-lang {
  }

  .custom-select__arrow {
    margin-left: auto;
    margin-right: 4rem;
  }

  &:hover {
    .urrent-lang a {
    }
    .custom-select__content {
    }
    .custom-select__item {
    }
  }
}

.sity-list {
  height: 26rem;
  margin-left: 7rem;

  .custom-select__link {
  }

  .custom-select__content {
    height: 26rem;
    padding: 0;
  }

  .custom-select__title {
    height: 26rem;
    padding-left: 5rem;
    // height: 100%;
  }

  .custom-select__active {
    height: 26rem;
  }

  .custom-select__arrow {
    svg {
    }
  }

  .custom-select__list {
    padding: 8rem;
    margin-left: 0;
  }

  .custom-select__item {
    height: 26rem;
    padding-bottom: 4rem;
  }

  .custom-select__item:last-child {
  }

  &:hover {
    .custom-select__content {
    }
  }
}

.mobile-menu {
  width: 328rem;
  height: 462rem;

  padding: 15rem;

  a.str-text {
    font-size: 24rem;
    line-height: 30rem;
  }

  span {
  }

  nav {
    margin-bottom: 30rem;
  }

  nav ul {
  }

  nav li {
    margin-bottom: 15rem;
  }

  // .mobile-menu__phone-list
  &__phone-list {
    margin-bottom: 30rem;
  }

  .phone-list__item {
    margin-bottom: 8rem !important;

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 8rem !important;
    }
  }

  &__btn-wrp {
    flex-wrap: wrap;
    .btn {
      width: 100%;
      margin-bottom: 8rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
