.slider-navigation {
  margin-bottom: 0;
  margin-top: auto;
  position: relative;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  z-index: 8;
}

.swiper-button {
  width: 50rem !important;
  height: 50rem !important;
  background-color: #ecedfd;
  border-radius: 50%;
  position: static !important;
  margin: 0 !important;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
}

.swiper-button__icon {
  width: 30rem;
  height: 30rem;
}

.swiper-pagination-bullet {
  width: 50rem !important;
  height: 4rem !important;
  background-color: #ecedfd !important;
  border-radius: 16rem !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #3d47d1 !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: unset !important;
  top: unset !important;
  position: static !important;
  // max-width: 212rem;
  max-width: 80%;
}

.swiper-button-prev {
}
.swiper-pagination {
}
.swiper-button-next {
}

.swiper {
}
.swiper-wrapper {
  // display: flex;
}
.swiper-slide {
}

.swiper {
}

.swiper-container {
  height: 100%;
}

.slider-navigation.disabled {
  display: none;
}

.swiper-button-lock {
  display: flex !important;
}
