.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: $color-body3-white !important;
  opacity: 1;
  width: 12rem;
  height: 12rem;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6rem) !important;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: $color-body1-green !important;
}
.swiper-pagination-bullets {
  bottom: var(--swiper-pagination-bottom, 35rem) !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 80rem !important;
  height: 80rem !important;
  color: unset !important;
  .img-wrp {
    width: 100%;
    height: 100%;
  }
}

.swiper-slide .img-wrp {
  width: 100%;
  height: 100%;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
  left: var(--swiper-navigation-sides-offset, 162rem) !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
  right: var(--swiper-navigation-sides-offset, 162rem) !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.15);
}

.main-swiper-wrp {
  width: 100%;
  position: relative;
}

.main__swiper {
  border-radius: 24rem;
  width: 1200rem;
  height: 694rem;
}
