.header {
  margin-bottom: 60rem;

  // .header__container
  &__container {
  }

  // .header__start
  &__start {
  }

  // .header__logo
  &__logo {
  }

  // .header__sity-list
  &__sity-list {
  }

  // .header__nav
  &__nav {
    // .header__nav ul
    ul {
    }

    // .header__nav li
    li {
    }

    // .header__nav a
    a {
    }
  }

  // .header__custom-select
  &__custom-select {
    height: 44rem;
  }

  // .header__end
  &__end {
  }
}

.fs {
  min-height: 0;

  // .fs__container
  &__container {
  }

  // .fs__start
  &__start {
    width: 100%;
    min-height: 460rem;
    padding: 30rem;
    padding-bottom: 0;
    margin-bottom: 30rem;
  }

  // .fs__warning-text
  &__warning-text {
  }

  // .fs__title
  &__title {
    min-height: 180rem;
    font-size: 76rem;
    line-height: 82rem;
    margin-bottom: 15rem;
  }

  // .fs__desc
  &__desc {
  }

  // .fs__img
  &__img {
    width: 278rem;
    height: 178rem;
    margin-left: auto;
  }

  // .fs__end
  &__end {
    width: 100%;
    min-height: 917rem;
  }
}

.s1 {
  // .s1__container
  &__container {
    max-width: 678rem;
    padding-top: 60rem;
    padding-left: 30rem;
    padding-right: 30rem;
    min-height: unset;
  }

  // .s1__start
  &__start {
    z-index: 2;

    // .s1__start	div.def-text
    div.def-text {
      margin-bottom: 60rem;
    }
  }

  // .s1__market-list
  &__market-list {
  }

  // .s1__end
  &__end {
    width: 100%;
    height: 100%;
    right: 30rem;
    z-index: 1;
  }

  // .s1__img
  &__img {
    display: none;
  }

  // .s1__card-list
  &__card-list {
    bottom: 60rem;
  }
}

.s2 {
  margin-bottom: 120rem;

  // .s2__container
  &__container {
  }

  // .s2__list
  &__list {
  }

  // .s2__list-item
  &__list-item {
    width: 100%;
    padding: 30rem;
    min-height: 497rem;
    margin-bottom: 30rem;

    // .s2__list-item:hover
    &:hover {
      // .s2__list-item:hover .s2__list-img
      .s2__list-img {
      }

      // .s2__list-btn
      .s2__list-btn {
      }
    }
  }

  // .s2__list-item:last-child
  &__list-item:last-child {
    margin-bottom: 0rem;

    // .s2__list-item:last-child .s2__list-img
    .s2__list-img {
      width: 252rem;
      height: 252rem;
      right: 30rem;
    }
  }

  // .s2 h3
  h3 {
    font-size: 54rem;
    line-height: 60rem;
  }

  // .s2 div.def-text
  div.def-text {
    max-width: unset;
    width: 100%;
    margin-bottom: 30rem;
    @include font-overflow(3);
  }

  // .s2__list-img
  &__list-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332rem;
    height: 252rem;
  }

  // .s2__list-btn
  &__list-btn {
  }

  // .s2__list-link-icon
  &__list-link-icon {
  }
}

.s3 {
  margin-bottom: 120rem;

  // .s3__container
  &__container {
  }

  // .s3__text-wrp
  &__text-wrp {
    margin-bottom: 60rem;
  }

  // .s3 h2
  h2 {
    font-weight: 400;
    margin-bottom: 15rem;
    max-width: 600rem;

    min-height: 180rem;
    display: flex;
    align-items: center;
  }

  // .s3 div.def-text
  div.def-text {
    min-height: 66rem;
    display: flex;
    align-items: center;
  }

  // .s3__start
  &__start {
    width: 100%;
    padding-left: 30rem !important;
    padding-right: 30rem !important;

    margin-bottom: 22rem;
  }

  // .s3__auto-list
  &__auto-list {
  }

  // .s3__end
  &__end {
    width: 100%;
    padding-left: 30rem;
    padding-right: 30rem;
  }

  // .s3__delivery-list
  &__delivery-list {
  }

  // .s3__warning-text
  &__warning-text {
  }

  // .s3__decor
  &__decor {
  }
}

.s4 {
  margin-bottom: 120rem;

  // .s4__container
  &__container {
  }

  // .s4__icon
  &__icon {
  }

  // .s4 .wrp
  .wrp {
  }

  // .s4__title
  &__title {
    font-weight: 400;
    max-width: 100%;
  }
}

.ls {
  // .ls__start
  &__start {
    width: 100%;
    padding: 30rem;
    padding-bottom: 60rem;
    margin-bottom: 30rem;
  }

  // .ls__title
  &__title {
    min-height: unset;
    margin-bottom: 30rem;
  }

  // .ls__desc
  &__desc {
    margin-bottom: 60rem;
  }

  // .ls__end
  &__end {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 30rem;
  }

  // .ls__map
  &__map {
    margin-left: auto;
    margin-right: 15rem;
  }
}

.footer {
  // .footer__start
  &__start {
    flex-wrap: wrap;
    padding-bottom: 20rem;
  }

  // .footer__center
  &__center {
    align-items: flex-start;
    margin-bottom: 30rem;
  }

  // .footer__logo
  &__logo {
    margin-right: 0;
  }

  // .footer__btn-wrapper
  &__btn-wrapper {
    width: 200rem;
    display: flex;
    flex-wrap: wrap;
  }

  .phone-list__item:nth-child(3),
  .phone-list__item:nth-child(4) {
    margin-bottom: 15rem;
  }

  // .footer__btn
  &__btn {
    margin-bottom: 15rem;

    // .footer__btn:last-child
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .footer__phone-list
  &__phone-list {
    width: 275rem;
  }

  // .footer .main-nav
  .main-nav {
    width: auto;
    display: flex;
    align-items: center;
    margin-top: 25rem;
    margin-right: 0;
  }

  // .footer .main-nav ul
  .main-nav ul {
    width: 100%;
    display: flex;

    // .footer .main-nav ul li
    li {
      margin-right: 20rem;

      // .footer .main-nav ul li:last-child
      &:last-child {
        margin-right: 0;
      }
    }
  }

  // .footer__custom-select
  &__custom-select {
    order: 3;
    margin-right: 0;
    margin-top: 25rem;
    margin-left: auto;
  }

  // .footer__end
  &__end {
    // .footer__end div.small-text
    div.small-text {
      margin-bottom: 30rem;
    }

    // .footer__end a
    a {
      margin-right: 15rem;
    }
  }
}

.index {
}

.map-banner {
  width: 678rem;
  min-height: 516rem;
  padding-right: 60rem;
  position: relative;

  // .map-banner__title
  &__title {
    font-size: 54rem;
    line-height: 72rem;
  }

  // .map-banner__wrp
  &__wrp {
  }

  // .map-banner__list
  &__list {
  }

  // .map-banner__item
  &__item {
  }

  // .map-banner__link
  &__link {
  }

  // .map-banner__map
  &__map {
    position: absolute;
    right: 60rem;
    bottom: 60rem;

    // .map__sity-item:nth-child(1)
    .map__sity-item:nth-child(1) {
    }

    // .map__sity-item:nth-child(2)
    .map__sity-item:nth-child(2) {
    }

    // .map__sity-item:nth-child(3)
    .map__sity-item:nth-child(3) {
    }

    // .map__sity-item:nth-child(4)
    .map__sity-item:nth-child(4) {
    }

    // .map__sity-item:nth-child(5)
    .map__sity-item:nth-child(5) {
    }
  }
}

.pops {
  min-height: 700rem;

  // .pops__container
  &__container {
  }

  // .pops__header
  &__header {
    margin-bottom: 40rem;
  }

  // .pops__logo
  &__logo {
    // .pops__logo a
    a {
    }

    // .pops__logo object
    object {
    }
  }

  // .pops__header-btn
  &__header-btn {
    width: 120rem;

    // .pops__header-btn:hover
    &:hover {
    }

    // .pops__header-btn span
    span {
    }
  }

  // .pops__bg
  &__bg {
    min-height: 700rem;
  }

  // .pops .s1-banner
  .s1-banner {
  }

  @media screen and (min-height: 650px) {
    // .pops .s1-banner .s1__container
    .s1__container {
    }
    .s1__start h2 {
    }
    .s1__market-list {
    }
    .s1__img {
    }
    .s1__end {
    }
  }

  &.closed {
    .pops__header {
    }
    .s1-banner {
    }
    .pops__bg {
    }
  }
}
