.big-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 100rem;
  line-height: 90%;
  text-align: center;
  color: var(--bodi1-1);

  display: flex;
  flex-direction: column;

  // .big-title span
  span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 90rem;
  }
}

.def-title {
  font-weight: 500;
  font-size: 44rem;
  line-height: 120%;
  text-align: center;
  color: var(--bodi1-1);
}

.small-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 34rem;
  line-height: 110%;
  text-align: center;
  color: var(--bodi1-1);
}

.str-text {
  font-weight: 500;
  font-size: 32rem;
  line-height: 120%;
  color: var(--bodi1-1);
}

.def-text {
  font-weight: 600;
  font-size: 24rem;
  line-height: 120%;
  color: var(--bodi1-2);
}

.small-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20rem;
  line-height: 100%;
  color: var(--bodi1-1);
}

.ul-small-text {
}

.text-medium {
  font-weight: 500;
}

.text-regular {
  font-weight: 400;
}
