// colors
:root {
  --bodi-2: #070917;
  --bodi-1: #fff;
  --bodi-2-1: #bad0ec;
  --bodi-2-2: #8b9fce;
  --bodi-2-3: #576A95;
  --dop-decor-bg: #212941;
  --dop-button-bg: #131827;
}
// --bodi-2-3: #323f5f;
// fonts
:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Kingthings Xstitch", sans-serif;
}
