// fonts
$font-asgard: "Asgard", "Arial", sans-serif;
$font-trial: "Asgard Trial", "Asgard", "Arial", sans-serif;
$font-ones: "Onest", "Arial", sans-serif;
$font-asgard-number: "Asgard Number", "Asgard", "Arial", sans-serif;
