// fonts
$font-montserrat: "Montserrat", sans-serif;
$font-helvetica: "Helvetica Neue Cyr", "Montserrat", sans-serif;
$font-gilroy: "Gilroy Light", "Montserrat", sans-serif;
// hover color: #C57326 links;
