.header {
  //height: 48rem;
  margin-bottom: 45rem;

  // .header__container
  &__container {
    align-items: center;
  }

  // .header__start
  &__start {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 25rem;
    padding-bottom: 25rem;
    border-bottom: 1rem solid $dop2;
    margin-bottom: 30rem;
  }

  // .header__logo
  &__logo {
    width: 280rem;
    height: 30rem;
  }

  // .header__sity-list
  &__sity-list {
  }

  // .header__nav
  &__nav {
    width: 558rem;
    margin-right: 15rem;
    margin-left: auto;

    // .header__nav ul
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    // .header__nav li
    li {
    }

    // .header__nav a
    a {
      text-transform: uppercase;
    }
  }

  // .header__custom-select
  &__custom-select {
    margin-right: 0;
  }

  // .header__end
  &__end {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.fs {
  min-height: 958rem;
  margin-bottom: 30rem;

  // .fs__container
  &__container {
    height: 100%;
    justify-content: space-between;
  }

  // .fs__start
  &__start {
    width: 1242rem;
    min-height: 958rem;
    background: $bg1;
    border-radius: 12rem;
    box-sizing: border-box;
    padding-top: 60rem;
    padding-left: 60rem;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  // .fs__warning-text
  &__warning-text {
    min-height: 58rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: $dop1;
    border-radius: 0px 0px 12rem 12rem;

    box-sizing: border-box;
    padding: 16rem;

    // .fs__warning-text span
    span {
      width: 100%;
    }
  }

  // .fs__title
  &__title {
    min-height: 126rem;
    font-weight: 400;
    font-size: 96rem;
    line-height: 102rem;
    color: $body11;
    margin: 0;
    margin-bottom: 8rem;

    @include font-overflow(3);
  }

  // .fs__desc
  &__desc {
    font-weight: 400;
    // margin-bottom: 180rem;
    @include font-overflow(4);
    margin-bottom: 25rem;
  }

  // .fs__img
  &__img {
    width: 648rem;
    height: 512rem;
    margin-left: 48rem;
    margin-top: auto;
    margin-bottom: 0;
  }

  // .fs__end
  &__end {
    width: 560rem;
    min-height: 958rem;
    height: 100%;
    background-color: #edf1f4;
    border-radius: 12rem;
  }
}

.s1 {
  margin-bottom: 30rem;

  // .s1__container
  &__container {
    background: linear-gradient(180deg, #2d3944 0%, #2c4055 100%);
    border-radius: 16rem;
    // max-width: 1830rem;
    max-width: 1813rem;
    padding-left: 60rem;
    padding-top: 60rem;
    padding-right: 60rem;

    justify-content: space-between;
    position: relative;
    overflow: hidden;

    min-height: 600rem;
  }

  // .s1__start
  &__start {
    max-width: 800rem;
    display: flex;
    flex-direction: column;

    // .s1__start h2
    h2 {
      font-weight: 400;
      color: $body12;
      margin-bottom: 30rem;

      @include font-overflow(3);
    }

    // .s1__start div.def-text
    div.def-text {
      color: $body12;
      @include font-overflow(7);
      margin-bottom: 25rem;
    }

    // .s1__start p
    p {
    }
  }

  // .s1__market-list
  &__market-list {
    margin-top: auto;
    margin-bottom: 60rem;
  }

  // .s1__end
  &__end {
    position: relative;
    overflow: hidden;
    width: 781rem;
    height: 546rem;

    position: absolute;
    right: 60rem;
    bottom: -1rem;
  }

  // .s1__img
  &__img {
    width: 781rem;
    height: 546rem;
  }

  // .s1__card-list
  &__card-list {
    position: absolute;
    right: 0rem;
    bottom: 50rem;
  }
}

.s2 {
  margin-bottom: 180rem;

  // .s2__container
  &__container {
  }

  // .s2__list
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // .s2__list-item
  &__list-item {
    width: 901rem;
    min-height: 760rem;
    position: relative;
    box-sizing: border-box;
    padding-top: 60rem;
    padding-left: 60rem;
    padding-right: 60rem;
    padding-bottom: 60rem;
    border-radius: 12rem;
    background-color: $bg1;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    //cursor: pointer;

    // .s2__list-item:hover
    &:hover {
      // .s2__list-item:hover .s2__list-img
      .s2__list-img {
        transform: scale(1.075);
      }

      // .s2__list-btn
      .s2__list-btn {
        background-color: $dop1;
        border-radius: 30rem;
      }
    }
  }

  // .s2__list-item:last-child
  &__list-item:last-child {
    // .s2__list-item:last-child .s2__list-img
    .s2__list-img {
      width: 435rem;
      height: 435rem;
      right: 60rem;
    }
  }

  // .s2 h3
  h3 {
    min-height: 74rem;
    margin-bottom: 15rem;
    @include font-overflow(3);
  }

  // .s2 div.def-text
  div.def-text {
    max-width: 780rem;
    z-index: 1;
    background-color: inherit;
    @include font-overflow(7);
    margin-bottom: 310rem;
  }

  // .s2__list-img
  &__list-img {
    transform: scale(1);
    transition: transform 500ms ease;
    width: 573rem;
    height: 435rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  // .s2__list-btn
  &__list-btn {
    transition: all 500ms ease;
    height: 60rem;
  }

  // .s2__list-link-icon
  &__list-link-icon {
  }
}

.s3 {
  margin-bottom: 180rem;

  // .s3__container
  &__container {
    justify-content: space-between;
  }

  // .s3__text-wrp
  &__text-wrp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 66rem;
  }

  // .s3 .div.def-text
  div.def-text {
    text-align: center;
  }

  // .s3 h2
  h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20rem;
  }

  // .s3__start
  &__start {
    width: 901rem;
    height: 868rem;
    background: linear-gradient(180deg, #2d3944 0%, #2c4055 100%);
    border-radius: 16rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 60rem;
  }

  // .s3__auto-list
  &__auto-list {
    width: 50%;
  }

  // .s3__end
  &__end {
    width: 901rem;
    height: 868rem;
    background-color: $bg1;
    border-radius: 16rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 60rem;
    position: relative;
  }

  // .s3__delivery-list
  &__delivery-list {
    width: 50%;
    margin-bottom: 60rem;
  }

  // .s3__warning-text
  &__warning-text {
  }

  // .s3__decor
  &__decor {
    position: absolute;
    width: 38rem;
    height: 76rem;
    top: -8rem;
    right: 60rem;
  }
}

.s4 {
  margin-bottom: 180rem;

  // .s4__container
  &__container {
    justify-content: center;
  }

  // .s4__icon
  &__icon {
    width: 80rem;
    height: 80rem;
    margin-bottom: 16rem;
  }

  // .s4 .wrp
  .wrp {
    width: 100%;
  }

  // .s4__title
  &__title {
    max-width: 1200rem;
    text-align: center;
    margin: 0 auto;
  }
}

.ls {
  margin-bottom: 60rem;

  // .ls__container
  &__container {
    justify-content: space-between;
  }

  // .ls__start
  &__start {
    width: 1242rem;
    border-radius: 12rem;
    background-color: $bg1;
    box-sizing: border-box;
    padding-top: 95rem;
    padding-left: 60rem;
    padding-right: 60rem;
    padding-bottom: 60rem;

    cursor: pointer;

    &:hover {
      .ls__btn {
        background-color: #edf1f4;
        border-radius: 30rem;
      }
    }
  }

  // .ls__title
  &__title {
    display: flex;
    align-items: center;
    min-height: 276rem;
    font-weight: 400;
    margin-bottom: 30rem;
  }

  // .ls__desc
  &__desc {
    margin-bottom: 120rem;
  }

  // .ls__btn
  &__btn {
    // width: 188rem;
    height: 60rem;
    transition: all 500ms ease;

    &:hover {
      background-color: $dop1;
      border-radius: 30rem;
    }
  }

  // .ls__end
  &__end {
    background-color: $bg1;
    border-radius: 12rem;
    width: 560rem;
    box-sizing: border-box;
    padding-top: 45rem;
    padding-left: 30rem;
    padding-right: 30rem;
  }

  // .ls__end h4
  h4 {
    height: 46rem;
    display: flex;
    align-items: center;
    margin-bottom: 15rem;
    color: $body11;
    font-weight: 400;
  }

  // .ls__info-list
  &__info-list {
    margin-bottom: 30rem;

    // .ls__info-list li
    li {
      margin-bottom: 15rem;
    }

    // .ls__info-list li:last-child
    li:last-child {
      margin-bottom: 0;
    }

    // .ls__end span
    span {
      min-height: 26rem;
      display: flex;
      align-items: center;
    }

    // .ls__end b
    b {
      min-height: 36rem;
      display: flex;
      align-items: center;
    }
    // .ls__end a
    a {
      color: #000;
    }
  }

  // .ls__map
  &__map {
    margin: 0 auto;
  }
}

.footer {
  box-sizing: border-box;
  padding-bottom: 45rem;

  // .footer__container
  &__container {
  }

  // .footer__start
  &__start {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 30rem;
    border-bottom: 1rem solid $dop2;
    margin-bottom: 30rem;
  }

  .sity-list {
    display: none;
  }

  // .footer__sity-list
  &__sity-list {
  }

  // .footer__nav
  &__nav {
    margin-left: auto;
    margin-right: 15rem;
  }

  // .footer__custom-select
  &__custom-select {
    margin-right: 0;
  }

  // .footer__center
  &__center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45rem;
  }

  // .footer__phone-list
  &__phone-list {
  }

  // .footer__btn-wrapper
  &__btn-wrapper {
  }

  // .footer__end
  &__end {
    display: flex;
    flex-wrap: wrap;

    // .footer__end .wrp
    .wrp {
      display: flex;
    }

    // .footer__end div.small-text
    div.small-text {
      color: $dop4;
      margin-bottom: 45rem;
    }

    // .footer__end a
    a {
      min-height: 26rem;
      display: flex;
      align-items: center;
      color: $bg2;
      text-decoration: underline;
      margin-right: 30rem;
    }

    // .footer__end a:last-child
    a:last-child {
      margin-right: 0;
    }
  }

  // .footer__logo
  &__logo {
    width: 338rem;
    height: 24rem;
    margin-right: 30rem;
  }

  // .footer__btn
  &__btn {
  }

  // .footer__soc
  &__soc {
  }
}

.index {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-banner {
  width: 1024rem;
  min-height: 516rem;
  background: linear-gradient(180deg, #2d3944 0%, #2c4055 100%);
  border-radius: 16rem;
  box-sizing: border-box;
  padding: 60rem;
  padding-right: 100rem;

  // .map-banner__title
  &__title {
    font-weight: 400;
    min-height: 72rem;
    display: flex;
    align-items: center;
    margin-bottom: 30rem;
    color: $body12;
  }

  // .map-banner__wrp
  &__wrp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .map-banner__list
  &__list {
    min-width: 368rem;
  }

  // .map-banner__item
  &__item {
    min-height: 46rem;
    display: flex;
    align-items: center;
    margin-bottom: 16rem;
  }

  // .map-banner__link
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    color: $body22;
    text-decoration: underline;
    font-weight: 400;
    text-underline-offset: 7rem;
  }

  // .map-banner__map
  &__map {
    width: 430rem;
    height: 290rem;

    // .map__sity-item:nth-child(1)
    .map__sity-item:nth-child(1) {
      top: 71rem;
      left: 189rem;
    }

    // .map__sity-item:nth-child(2)
    .map__sity-item:nth-child(2) {
      left: 203rem;
      top: 170rem;
    }

    // .map__sity-item:nth-child(3)
    .map__sity-item:nth-child(3) {
      top: 25rem;
      left: 218rem;
    }

    // .map__sity-item:nth-child(4)
    .map__sity-item:nth-child(4) {
      top: 171rem;
      left: unset;
      right: 113rem;
    }

    // .map__sity-item:nth-child(5)
    .map__sity-item:nth-child(5) {
      top: 133rem;
      left: unset;
      right: 128rem;
    }
  }
}

.pops-wrp {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow-y: scroll;
  z-index: 19;
  top: -200%;
  transition: top 1000ms ease;
}
.pops {
  position: absolute;
  width: 100%;
  min-height: 900rem;
  height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);

  top: 0;
  // bottom: 0;
  left: 50%;
  // right: 0;
  transform: translateX(-50%);

  z-index: 10;
  opacity: 1;
  transition: all 1000ms ease;

  box-sizing: border-box;
  // padding-top: 2.5vh;
  padding-top: 25rem;

  // .pops__container
  &__container {
    justify-content: center;
    opacity: 1;
  }

  // .pops__header
  &__header {
    width: 100%;
    min-height: 45rem;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 13vh;
    margin-bottom: 140rem;

    opacity: 1;
    transition: opacity 750ms ease;
  }

  // .pops__logo
  &__logo {
    // .pops__logo a
    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    // .pops__logo object
    object {
      position: relative;
      z-index: -1;
    }
  }

  // .pops__header-btn
  &__header-btn {
    padding: 0;
    // transform: scale(1);
    transition: all 500ms ease;

    // .pops__header-btn:hover
    &:hover {
      // transform: scale(1.1);
    }

    // .pops__header-btn span
    span {
      align-items: center;
      justify-content: center;
      color: $body22;
      font-size: 12rem;
      line-height: 16rem;
      font-weight: 400;
    }
  }

  // .pops__bg
  &__bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(45rem);
    min-height: 900rem;
    transition: opacity 750ms ease;
    opacity: 1;
  }

  // .pops .s1-banner
  .s1-banner {
    width: 100%;
    position: relative;
    z-index: 1;

    opacity: 1;
    transition: opacity 750ms ease;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  // @media screen and (min-width: 1200px) {
  //   @media screen and (max-height: 700px) {
  //     .pops__header {
  //       margin-bottom: 5vh;
  //     }
  //     .s1__container {
  //       padding-top: 3vh;
  //     }
  //     .s1__start h2 {
  //       margin-bottom: 2vh;
  //     }
  //     .s1__market-list {
  //       margin-bottom: 3vh;
  //     }
  //     .s1__img {
  //       max-height: 54vh;
  //       margin-top: auto;
  //     }
  //     .s1__end {
  //       display: flex;
  //     }
  //   }
  // }

  // @media screen and (max-height: 700px) {
  //   .pops__header {
  //     margin-bottom: -25rem;
  //     transform: scale(0.8);
  //   }
  //   .s1-banner {
  //     transform: scale(0.8);
  //   }
  //   .mobile-menu {
  //     transform: scale(0.8);
  //   }
  // }

  // @media screen and (max-height: 600px) {
  //   .pops__header {
  //     margin-top: -20rem;
  //     transform: scale(0.7);
  //   }
  //   .s1-banner {
  //     margin-top: -50rem;
  //     transform: scale(0.7);
  //   }
  //   .mobile-menu {
  //     margin-top: -50rem;
  //     transform: scale(0.7);
  //   }
  // }
  // @media screen and (max-height: 500px) {
  //   .pops__header {
  //     margin-top: -10rem;
  //     transform: scale(0.6);
  //   }
  //   .s1-banner {
  //     margin-top: -70rem;
  //     transform: scale(0.6);
  //   }
  //   .mobile-menu {
  //     margin-top: -70rem;
  //     transform: scale(0.6);
  //   }
  // }

  &.closed {
    top: -200%;

    .pops__header {
      transition: opacity 750ms ease;
      opacity: 0;
    }
    .s1-banner {
      transition: opacity 750ms ease;
      opacity: 0;
    }
    .pops__bg {
      transition: opacity 750ms ease;
      opacity: 0;
    }
    .mobile-menu {
      transition: opacity 750ms ease;
      opacity: 0;
    }
  }

  // &.closed-mobile-menu {
  //   .pops__header {
  //     transition: opacity 750ms ease;
  //     opacity: 0;
  //   }
  //   .mobile-menu {
  //     transition: opacity 750ms ease;
  //     opacity: 0;
  //   }
  //   .pops__bg {
  //     transition: opacity 750ms ease;
  //     opacity: 0;
  //   }
  // }
}
