// reset style
@import "_reset";

// normalize style
@import "_normalize";

// mixin
@import "_mixin";

// variables
@import "_var";

// fonts
@import "_fonts";

// text-component
@import "_text-component";

// components
@import "_components";

// animation
@import "_animation";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  // font-size: 0.05208vw;
  // font-size: 1px;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family);
  background: #140321;
  // min-height: 10000px !important;

  // body::-webkit-scrollbar
  &::-webkit-scrollbar {
    display: none;
  }

  // body::-webkit-scrollbar-horizontal
  &::-webkit-scrollbar-horizontal {
    display: none;
  }
}

a {
  text-decoration: unset;
  cursor: pointer;
}

button {
  background: unset;
  border: unset;
  padding: 0;
  outline: unset;
  cursor: pointer;
}

input {
  outline: unset;
}

// main 1920v
@import "_main.scss";

.ms__list-item-hover-items{
  top: 45%;
}
.ms__prc{
  top: 91px;
}

.swiper{
  overflow: visible !important;
}
.swiper-slide{
  opacity: 0 !important;
  overflow: visible !important;
}

.swiper-slide-active{
  opacity: 1 !important;
}

.ms__title span{
  margin-right: -13px;
}
.ms__title span:last-child{
  margin-right: -13px;
  margin-left: 10px;
}

.ms-swiper__title span{
  margin-right: -13px;
}

.ms-swiper__title span:last-child{
  margin-right: -13px;
  margin-left: 10px;
}

.jn-tar__item-btn, .main-btn{
  transition: all 500ms ease;
}
.jn-tar__item-btn:hover,
.main-btn:hover{
  -webkit-box-shadow: 0 4px 25px rgba(255, 255, 255, .4);
  box-shadow: 0 4px 25px rgba(255, 255, 255, .4);
}

@media screen and (max-width: 1600px) {
}

// 768
@media screen and (max-width: 1300px) {
  html {
    // font-size: 0.132vw;
  }

  .container {
    max-width: 768px;
    padding-left: 44px;
    padding-right: 44px;
    border: unset;
    position: relative;
  }

  @import "_adaptive-tab";
}

// 360
@media screen and (max-width: 767px) {
  html {
    // font-size: 0.278vw;
  }

  .container {
    max-width: 360px;
    padding-left: 16px;
    padding-right: 16px;
  }
  @import "_adaptive-mob";
}
