// reset.css
@import "_reset.scss";

// normalize.css
@import "_normalize.scss";

// variables
@import "_var.scss";

// mixin
@import "_mixin.scss";

// fonts
@import "_fonts.scss";

// components
@import "_components.scss";

html {
  font-size: 0.05208vw;
  scroll-behavior: smooth;
}

body {
  font-family: $main-fonts;
  // max-width: 1920rem;
  margin: 0 auto;
  overflow-x: hidden;
}

header,
footer,
section {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: color 500ms ease;

  // a:hover
  &:hover {
    color: $body22 !important;
  }
}

button {
  cursor: pointer;
  border: unset;
  outline: unset !important;
}

// main file style
@import "_web-style.scss";

.auto-btn {
  cursor: pointer;
  span {
    color: #53728d;
  }
}

.mobile {
  display: none !important;
}

// adaptive tablet
@media screen and (max-width: 1200px) {
  html {
    font-size: 0.0942vw;
  }

  .container {
    width: 100%;
    max-width: 968rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  @import "_tablet-components.scss";
  @import "_tablet-style.scss";

  .header__custom-select {
    margin-left: auto;
  }
  .s1__container {
    max-width: 978rem;
  }
  .pops .s1__container {
    max-width: 678rem;
  }
  .delivery-list {
    width: 48%;
  }
  .warning-text span {
    width: 800rem;
  }
  .s3__end {
    height: unset;
  }
  .ls__title br {
    display: none;
  }

  .fs__start {
    overflow: hidden;
  }
  .fs__title {
    max-width: 620rem;
  }
  .fs__img {
    margin-bottom: -29rem;
    height: 278rem;
  }
}

// adaptive tablet
@media screen and (max-width: 1000px) {
  html {
    font-size: 0.1302vw;
  }

  .container {
    width: 100%;
    max-width: 768rem;
    padding-left: $container-padding;
    padding-right: $container-padding;
  }

  .s1__container {
    max-width: 678rem;
  }
  .delivery-list {
    width: 295rem;
  }
  .warning-text span {
    width: 585rem;
  }
}

// adaptive tablet
@media screen and (max-width: 600px) {
  html {
    font-size: 0.27781vw;
  }

  .web {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .container {
    width: 100%;
    max-width: 360rem;
    padding-left: 16rem;
    padding-right: 16rem;
  }

  @import "_mobile-components.scss";
  @import "_mobile-style.scss";

  .footer .sity-list {
    display: block;
  }
  .auto-list__title {
    visibility: hidden;
  }
  .auto-list__title--mobile {
    width: 250rem;
    visibility: visible;
    position: absolute;
    z-index: 2;
    left: 40rem;
    display: flex !important;

    button {
      color: #53728d;
      padding: 0;
      font-size: 16rem;
      line-height: 22rem;
      background-color: unset;
      border: unset;
      margin-right: 16px;
      &.active {
        color: #fff;
      }
      &:last-child {
        margin: 0;
      }
    }
  }

  .s3__auto-list:nth-child(2) {
    margin-right: 16rem;
  }

  .pops .s1__container {
    max-width: 328rem;
  }

  .fs__img {
    margin-bottom: 0rem;
  }

  .s3__auto-list {
    width: 100% !important;
  }

  .auto-btn1 {
    color: #53728d !important;
  }
  .swiper-button-disabled {
    color: #fff !important;
  }
}

.pops-active {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(45px);
}
