@font-face {
  font-family: "VivaldiD CL";
  src: url("../2/fonts/Vivaldi.TTF");
  src: local("VivaldiD-CL "), local("VivaldiD CL"),
    url("../2/fonts/Vivaldi.woff") format("woff"),
    url("../2/fonts/Vivaldi.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.foto-wrapper{
  width: 1290px;
  /* max-width: 1292px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 14px;
}

.foto-item-hiden{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.foto-item{
  border-radius: 8px;
  box-sizing: border-box;
  width: 410px;
  height: 240px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.video-item{
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  width: 410px;
  height: 240px;
}

.foto-item--small{
  width: 190px;
}

.foto-item-link-wrp{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.foto-item img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  height: 101%;
  object-fit: cover;
}


.foto-wiever{
  border-radius: 10px;
  width: 220px;
  height: 50px;
  background: linear-gradient(90deg, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);

  display: flex;
  justify-content: center;
  align-items: center;

  outline: hidden;
  border: unset;
  padding: 0;

  font-family: gilroysemibold, sans-serif !important;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;

  margin: 0 auto;

  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.foto-wiever:hover{
  -webkit-box-shadow: 0 4px 25px rgba(255, 255, 255, .4);
  box-shadow: 0 4px 25px rgba(255, 255, 255, .4);
}

.hidden{
  display: none !important;
}

.play-icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.play-icon svg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-title{
  max-width: 850px;
  font-family: "VivaldiD CL", sans-serif !important;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 44px;
}

/* tab */
@media screen and (max-width: 1300px) {
  .foto-item{
    width: 446px;
    height: 260px;
  }
  .foto-item--small{
    width: 446px;
    height: 260px;
  }
  .foto-wrapper{
    width: 100%;
    max-width: 680px;
    display: flex;
  }
  .foto-container{
    max-width: 680px;
  }

  .foto-item:nth-child(2),
  .foto-item:nth-child(3),
  .foto-item:nth-child(6),
  .foto-item:nth-child(7),
  .foto-item:nth-child(10),
  .foto-item:nth-child(11),
  .foto-item:nth-child(14),
  .foto-item:nth-child(15),
  .foto-item:nth-child(18),
  .foto-item:nth-child(19),
  .foto-item:nth-child(22),
  .foto-item:nth-child(23) {
    width: 204px;
  }

  .hidden-tab{
    display: none;
  }

  .video-title{
    max-width: 680px;
  }

  .video-item{
    width: 332px !important;
    height: 194px !important;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 700px) {
  .foto-wrapper{
    max-width: 330px;
    display: flex;
  }
  .foto-container{
    max-width: 330px;
  }
  .foto-item{
    border-radius: 2px;
    width: 215px;
    height: 126px;
    margin-bottom: 16px;
  }
  .foto-item--small{
    border-radius: 2px;
    width: 215px;
    height: 126px;
  }

  .foto-item:nth-child(2),
  .foto-item:nth-child(3),
  .foto-item:nth-child(6),
  .foto-item:nth-child(7),
  .foto-item:nth-child(10),
  .foto-item:nth-child(11),
  .foto-item:nth-child(14),
  .foto-item:nth-child(15),
  .foto-item:nth-child(18),
  .foto-item:nth-child(19),
  .foto-item:nth-child(22),
  .foto-item:nth-child(23) {
    width: 96px;
  }

  .hidden-mob{
    display: none;
  }

  .play-icon{
    width: 36px;
    height: 36px;
  }

  .video-title{
    max-width: 328px;
    font-size: 26px;
    line-height: 120%;
    margin-bottom: 30px;
  }

  .video-item{
    border-radius: 2px;
    width: 156px !important;
    height: 92px !important;
    margin-bottom: 10px;
  }
}

