/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1rem dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2rem; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --bodi-1: #d94599;
  --bodi-2: #0badb2;
  --bodi1-1: #fefcfa;
  --bodi1-2: #271f1f;
  --bodi2-1: #169da0;
  --bodi2-2: #d42d8c;
}

:root {
  --font-family: "Nunito", sans-serif;
  --second-family: "EFN Pastele", sans-serif;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/ttf/Nunito-Regular.ttf");
  src: local("Nunito Regular"), local("Nunito-Regular"), url("../fonts/Nunito/eot/Nunito-Regular.eot") format("eot"), url("../fonts/Nunito/woff/Nunito-Regular.woff") format("woff"), url("../fonts/Nunito/woff2/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/ttf/Nunito-Medium.ttf");
  src: local("Nunito Medium"), local("Nunito-Medium"), url("../fonts/Nunito/eot/Nunito-Medium.eot") format("eot"), url("../fonts/Nunito/woff/Nunito-Medium.woff") format("woff"), url("../fonts/Nunito/woff2/Nunito-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/ttf/Nunito-SemiBold.ttf");
  src: local("Nunito SemiBold"), local("Nunito-SemiBold"), url("../fonts/Nunito/eot/Nunito-SemiBold.eot") format("eot"), url("../fonts/Nunito/woff/Nunito-SemiBold.woff") format("woff"), url("../fonts/Nunito/woff2/Nunito-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "EFN Pastele";
  src: url("../fonts/efnpastele.ttf");
  src: local("EFN Pastele"), local("EFN Pastele Regular"), url("../fonts/efnpastele.eot") format("eot"), url("../fonts/efnpastele.woff") format("woff"), url("../fonts/efnpastele.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.big-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 100px;
  line-height: 90%;
  text-align: center;
  color: var(--bodi1-1);
  display: flex;
  flex-direction: column;
}
.big-title span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 90px;
}

.def-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 120%;
  text-align: center;
  color: var(--bodi1-1);
}

.small-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 34px;
  line-height: 110%;
  text-align: center;
  color: var(--bodi1-1);
}

.str-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  color: var(--bodi1-1);
}

.def-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: var(--bodi1-2);
}

.text-medium {
  font-weight: 500;
}

.text-regular {
  font-weight: 400;
}

.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
}

.img-wrp {
  display: block;
  position: relative;
}
.img-wrp lottie-player,
.img-wrp img,
.img-wrp svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: var(--bodi1-2);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.3) !important;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px) !important;
}

.swiper .swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.5) !important;
}

.swiper .s3__swiper-pagination {
  bottom: var(--swiper-pagination-bottom, 0px) !important;
}

@keyframes t_anim {}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family);
}
body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar-horizontal {
  display: none;
}

a {
  text-decoration: unset;
  cursor: pointer;
}

button {
  background: unset;
  border: unset;
  padding: 0;
  outline: unset;
  cursor: pointer;
}

input {
  outline: unset;
}

.header {
  width: 1800px;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.header__container {
  border-radius: 60px;
  background: var(--bodi1-1);
  padding-left: 60px;
  padding-right: 60px;
  align-items: center;
}
.header__logo {
  width: 138px;
  height: 88px;
  margin-right: 44px;
}
.header__list {
  width: 332px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__other {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
}
.header__other-text {
  margin-right: 24px;
  opacity: 0.5;
}
.header__other-img {
  width: 410px;
  height: 30px;
}

.s1 {
  position: relative;
  box-sizing: border-box;
  padding-top: 252px;
  margin-bottom: 160px;
}
.s1__container {
  flex-direction: column;
}
.s1__start {
  width: 890px;
}
.s1__title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 184px;
  margin-bottom: 24px;
}
.s1__text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 168px;
  margin-bottom: 36px;
}
.s1__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s1__list-item {
  width: 128px;
  height: 128px;
}
.s1__img-bear {
  width: 560px;
  height: 758px;
  position: absolute;
  top: 234px;
  right: 308px;
  z-index: 2;
}
.s1__tvr-list {
  margin-top: 344px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s1__tvr-list-item {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s1__tvr-list-img {
  width: 270px;
  height: 344px;
  margin-bottom: 24px;
}
.s1__tvr-list-text {
  text-align: center;
  opacity: 0.5;
  height: 55px;
}
.s1__decoration-text {
  width: 271px;
  position: absolute;
  top: 706px;
  right: 59px;
  text-align: left;
}
.s1__decoration-bg {
  width: 1920px;
  height: 976px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.s1__decoration-bg--left {
  width: 1758px;
  height: 514px;
  position: absolute;
  top: 365px;
  left: 0;
}
.s1__decoration-bg--right {
  width: 942px;
  height: 353px;
  top: 175px;
  left: unset;
  right: 0;
}
.s1__decoration-bottom-bg {
  width: 1920px;
  height: 24px;
  position: absolute;
  top: 953px;
  left: 0;
  z-index: 1;
}

.s2 {
  box-sizing: border-box;
  padding-top: 184px;
  padding-bottom: 160px;
  position: relative;
  background: var(--bodi-2);
}
.s2__container {
  flex-direction: column;
  align-items: center;
}
.s2__logo {
  width: 316px;
  height: 120px;
  margin-bottom: 60px;
}
.s2__img-wrp {
  margin-bottom: 80px;
}
.s2__main-img--left {
  width: 360px;
  height: 360px;
  position: absolute;
  left: 60px;
  top: 411px;
}
.s2__main-img--center {
  width: 576px;
  height: 560px;
}
.s2__main-img--right {
  width: 399px;
  height: 400px;
  position: absolute;
  right: 65px;
  top: 555px;
}
.s2__title {
  max-width: 1180px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 166px;
  margin-bottom: 24px;
}
.s2__desk {
  max-width: 576px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 74px;
  margin-bottom: 60px;
}
.s2__list {
  width: 1560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.s2__list-item {
  position: relative;
  width: 762px;
  height: 338px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 60px;
}
.s2__list-item:nth-child(1) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}
.s2__list-item:nth-child(2) .s2__list-item-title {
  color: var(--bodi1-2);
}
.s2__list-item:nth-child(2) .s2__list-item-text {
  color: var(--bodi1-2);
}
.s2__list-item-title {
  position: relative;
  z-index: 2;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62px;
}
.s2__list-item-text {
  max-width: 794px;
  position: relative;
  z-index: 2;
  text-align: center;
  color: var(--bodi1-1);
  font-weight: 400;
}
.s2__list-item-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.s2__decor {
  position: absolute;
}
.s2__decor--left {
  top: 323px;
  left: 0;
  width: 636px;
  height: 829px;
}
.s2__decor--right {
  top: 109px;
  right: 0;
  width: 672px;
  height: 510px;
}

.s3 {
  position: relative;
  box-sizing: border-box;
  padding-top: 160px;
  background: var(--bodi-1);
  margin-bottom: 120px;
}
.s3__container {
  max-width: 1920px;
  flex-direction: column;
  align-items: center;
}
.s3__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 106px;
  margin-bottom: 24px;
  flex-direction: row;
}
.s3__title span {
  margin-left: 25px;
}
.s3__desk {
  max-width: 1188px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 168px;
  margin-bottom: 60px;
}
.s3__main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  color: var(--bodi1-1);
  max-width: 882px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 24px;
}
.s3__last-text {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 74px;
  max-width: 576px;
  margin-bottom: 120px;
}
.s3__main-title {
  width: 1499px;
  height: 540px;
  position: absolute;
  top: 1235px;
  z-index: 3;
}
.s3__main-title-img--center {
  position: relative;
  z-index: 2;
  width: 320px;
  height: 310px;
}
.s3__white-bg-wrp {
  width: 100%;
  border-radius: 1000px 1000px 0 0;
  margin-top: -65px;
  background: var(--bodi1-1);
  box-sizing: border-box;
  padding-top: 308px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.s3__main-title-img--left {
  width: 180px;
  height: 179px;
  position: absolute;
  left: 122px;
  top: 1819px;
}
.s3__main-title-img--right {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 162px;
  top: 1819px;
}
.s3__swiper {
  width: 882px;
}
.s3 .s3__swiper-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.s3__slide-img {
  width: 648px;
  height: 320px;
  margin-bottom: 60px;
}
.s3__slide-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
  margin-bottom: 4px;
}
.s3__slide-title--red {
  color: var(--bodi-1);
}
.s3__slide-desk {
  color: var(--bodi1-2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 62px;
  margin-bottom: 8px;
}
.s3__slide-text {
  width: 100%;
  text-align: center;
  margin-bottom: 44px;
}
.s3__slide-text--last {
  margin-bottom: 56px;
}
.s3__slide-title--green {
  color: var(--bodi-2);
}
.s3__decor {
  position: absolute;
}
.s3__top-decor {
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 24px;
}
.s3__decor--left {
  width: 534px;
  height: 726px;
  position: absolute;
  top: 758px;
  left: 69px;
}
.s3__decor--right {
  width: 390px;
  height: 730px;
  position: absolute;
  top: 705px;
  right: 115px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    max-width: 360px;
  }
}