/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1rem dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2rem; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

:root {
  --bodi-all-1: #3461ff;
  --bodi-all-2: #bf0;
  --bodi-dark-1: #282525;
  --bodi-dark-2: #4a5568;
  --bodi--white-1: #fff;
  --bodi--white-2: #c2c7f2;
}

:root {
  --font-family: "Mulish", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "DM Sans", sans-serif;
  --font3: "Manrope", sans-serif;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish/Mulish-SemiBold.ttf");
  src: local("Mulish-SemiBold "), local("Mulish SemiBold "), url("../fonts/Mulish/Mulish-SemiBold.woff") format("woff"), url("../fonts/Mulish/Mulish-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish/Mulish-Medium.ttf");
  src: local("Mulish-Medium "), local("Mulish Medium "), url("../fonts/Mulish/Mulish-Medium.woff") format("woff"), url("../fonts/Mulish/Mulish-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish/Mulish-Regular.ttf");
  src: local("Mulish-Regular "), local("Mulish Regular "), url("../fonts/Mulish/Mulish-Regular.woff") format("woff"), url("../fonts/Mulish/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter_28pt-SemiBold.ttf");
  src: local("Inter_28pt-SemiBold "), local("Inter_28pt SemiBold "), url("../fonts/Inter/Inter_28pt-SemiBold.woff") format("woff"), url("../fonts/Inter/Inter_28pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter_28pt-Medium.ttf");
  src: local("Inter_28pt-Medium "), local("Inter_28pt Medium "), url("../fonts/Inter/Inter_28pt-Medium.woff") format("woff"), url("../fonts/Inter/Inter_28pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter_28pt-Regular.ttf");
  src: local("Inter_28pt-Regular "), local("Inter_28pt Regular "), url("../fonts/Inter/Inter_28pt-Regular.woff") format("woff"), url("../fonts/Inter/Inter_28pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.big-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 128px;
  line-height: 120%;
  text-align: center;
  color: var(--bodi-dark-1);
}

.def-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 106px;
  line-height: 114%;
  text-align: center;
  color: var(--bodi-dark-1);
}
.def-title span {
  color: var(--bodi-all-1);
}

.small-title {
  font-weight: 500;
  font-size: 60px;
  line-height: 120%;
  color: var(--bodi-dark-1);
}

.str-text {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: var(--bodi-dark-1);
}

.def-text {
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  color: var(--bodi-dark-1);
}

.small-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: var(--bodi-dark-2);
}

.text-medium {
  font-weight: 500;
}

.text-regular {
  font-weight: 400;
}

.border {
  border: 1px solid red;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}

.img-wrp {
  display: block;
  position: relative;
}
.img-wrp lottie-player,
.img-wrp img,
.img-wrp svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}

.main-btn {
  border-radius: 40px;
  width: 280px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-btn__icon {
  width: 16px;
  height: 22px;
  margin-left: 12px;
  margin-top: 3px;
}
.main-btn .blure {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  width: 264px;
  height: 64px;
  filter: blur(24px);
  opacity: 0.6;
  z-index: -1;
  transition: opacity 500ms ease-in-out;
}
.main-btn--green {
  background: var(--bodi-all-2);
}
.main-btn--green span {
  color: var(--bodi-dark-1);
}
.main-btn--green .blure {
  background: var(--bodi-all-2);
}
.main-btn--blue {
  background: var(--bodi-all-1);
}
.main-btn--blue span {
  color: var(--bodi--white-1);
}
.main-btn--blue .blure {
  background: var(--bodi-all-1);
}
.main-btn:hover .blure {
  opacity: 0;
}

.logo {
  width: 198px;
  height: 75px;
}
.soc-list {
  width: 76px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.soc-list__item {
  width: 32px;
  height: 32px;
}

.main-selector {
  border-radius: 30px;
  width: 180px;
  height: 60px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03), 0 13px 13px 0 rgba(0, 0, 0, 0.05), 0 -2px 6px 0 rgba(0, 0, 0, 0.04);
  background: var(--bodi--white-1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-selector__text {
  color: var(--bodi-dark-1);
  margin-right: 4px;
}
.main-selector__icon {
  width: 24px;
  height: 24px;
}

@keyframes t_anim {}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family);
  min-height: 10000px !important;
}
body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar-horizontal {
  display: none;
}

a {
  text-decoration: unset;
  cursor: pointer;
}

button {
  background: unset;
  border: unset;
  padding: 0;
  outline: unset;
  cursor: pointer;
}

input {
  outline: unset;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.header__container {
  padding-top: 24px;
  justify-content: space-between;
}
.header__logo {
  margin-top: -15px;
}
.header__nav {
  width: 464px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -18px;
}
.header__nav::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03), 0 13px 13px 0 rgba(0, 0, 0, 0.05), 0 -2px 6px 0 rgba(0, 0, 0, 0.04);
  background: var(--bodi--white-1);
  z-index: -1;
}
.header__nav::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 48px;
  border-radius: 24px;
  filter: blur(12px);
  background: rgba(28, 28, 28, 0.03);
  z-index: -1;
}
.header__nav-list {
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
}
.header__nav-link {
  color: var(--bodi-dark-1);
}
.s1 {
  height: 1216px;
  padding-top: 122px;
  margin-bottom: 120px;
  position: relative;
}
.s1__container {
  flex-direction: column;
  align-items: center;
}
.s1__title {
  width: 100%;
  margin-bottom: 40px;
}
.s1__decor-box {
  width: 100%;
  height: 612px;
  margin-bottom: 30px;
  position: relative;
}
.s1__decor-men {
  position: absolute;
  left: 50%;
  top: -12px;
  transform: translateX(-50%);
  width: 664px;
  height: 612px;
  z-index: 3;
}
.s1__decor-gif {
  width: 100%;
  height: 559px;
  position: absolute;
  z-index: 2;
  top: 41px;
}
.s1__decor-bg-mask {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 600px;
  top: 0;
  left: 0;
}
.s1__text-item {
  border-radius: 24px;
  width: 432px;
  height: 210px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03), 0 13px 13px 0 rgba(0, 0, 0, 0.05), 0 -2px 6px 0 rgba(0, 0, 0, 0.04);
  background: var(--bodi--white-1);
  padding: 32px;
  position: absolute;
  z-index: 3;
}
.s1__text-item--first {
  top: 293px;
  left: 211px;
}
.s1__text-item--last {
  bottom: 332px;
  right: 212px;
}
.s1__text-item-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.s1__text-item-icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.s1__text-item-title-text {
  text-transform: uppercase;
}
.s1__btn {
  margin-bottom: 24px;
}
.s1__end-btn {
  display: flex;
  align-items: center;
}
.s1__end-btn-icon {
  width: 44px;
  height: 32px;
  margin-right: 11px;
}
.s1__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.s2 {
  margin-bottom: 220px;
}
.s2__container {
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}
.s2__title {
  width: 100%;
  margin-bottom: 74px;
}
.s2__list {
  width: 100%;
  display: flex;
}
.s2__item {
  border-radius: 12px;
  width: 379px;
  height: 564px;
  box-shadow: 0 6px 19px 0 rgba(29, 52, 135, 0.1);
  background: #f5f5f5;
  position: relative;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  overflow: hidden;
}
.s2__item::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -24px;
  transform: translateX(-50%);
  border-radius: 10px 10px 0 0;
  width: 411px;
  height: 146px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  filter: blur(30px);
  background: linear-gradient(180deg, rgba(52, 97, 255, 0.7) 0%, rgba(52, 97, 255, 0) 100%);
  opacity: 0.6;
  z-index: 1;
}
.s2__item:nth-child(1) {
  z-index: 2;
  left: 60px;
}
.s2__item:nth-child(1) .s2__item-img {
  width: 459px;
  height: 399px;
  top: 77px;
  left: -75px;
}
.s2__item:nth-child(2) {
  z-index: 1;
  top: 61px;
  left: 38px;
}
.s2__item:nth-child(2) .s2__item-img {
  width: 389px;
  height: 440px;
  top: 124px;
  left: -6px;
}
.s2__item:nth-child(3) {
  z-index: 2;
  left: 11px;
}
.s2__item:nth-child(3) .s2__item-img {
  width: 379px;
  height: 444px;
  top: 75px;
  left: 1px;
}
.s2__item:nth-child(4) {
  z-index: 2;
  top: 61px;
  left: -10px;
}
.s2__item:nth-child(4) .s2__item-img {
  width: 423px;
  height: 391px;
  top: 173px;
  left: -25px;
}
.s2__item:nth-child(5) {
  z-index: 1;
  left: -35px;
}
.s2__item:nth-child(5) .s2__item-img {
  width: 364px;
  height: 411px;
  top: 73px;
  left: 14px;
}
.s2__item-title {
  position: relative;
  z-index: 2;
}
.s2__item-img {
  position: absolute;
  z-index: 2;
}

.s3 {
  margin-bottom: 120px;
}
.s3__container {
  position: relative;
  height: 1280px;
  padding-top: 120px;
  flex-direction: column;
  align-items: center;
}
.s3__title {
  width: 1496px;
  color: var(--bodi--white-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s3__title-row {
  display: flex;
  align-items: center;
}
.s3__title-row:first-child {
  margin-top: -5px;
}
.s3__title-row:nth-child(2) {
  margin-left: 89px;
  width: 100%;
}
.s3__title-row:last-child {
  margin-top: -16px;
  font-style: italic;
}
.s3__title-icon--first {
  width: 140px;
  height: 85px;
  top: 6px;
  left: 21px;
}
.s3__title-icon--two {
  width: 168px;
  height: 96px;
  top: 10px;
  left: -15px;
}
.s3__title span {
  color: var(--bodi-all-2);
}
.s3__text-item {
  position: absolute;
}
.s3 .s1__text-item--first {
  top: 510px;
  left: 213px;
  height: 186px;
  padding: 31px;
}
.s3 .s1__text-item--last {
  bottom: 300px;
  right: 212px;
  height: 163px;
}
.s3__decoration-box {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  height: 694px;
  align-items: flex-end;
  padding-bottom: 15px;
}
.s3__decoration-icon {
  position: absolute;
}
.s3__decoration-icon--left-hand {
  width: 834px;
  height: 502px;
  top: 73px;
  left: 116px;
  z-index: 3;
}
.s3__decoration-icon--center-item {
  width: 437px;
  height: 438px;
  top: 67px;
  left: 681px;
  z-index: 2;
}
.s3__decoration-icon--right-hand {
  width: 849px;
  height: 407px;
  top: 111px;
  right: 123px;
  z-index: 1;
}
.s3__decoration-icon--1 {
  width: 86px;
  height: 89px;
  top: -25px;
  right: 486px;
}
.s3__decoration-icon--2 {
  width: 71px;
  height: 76px;
  top: -41px;
  left: 345px;
}
.s3__decoration-icon--3 {
  top: -23px;
  right: 324px;
  width: 44px;
  height: 44px;
}
.s3__decoration-icon--4 {
  width: 35px;
  height: 35px;
  bottom: 2px;
  left: 186px;
}
.s3__decoration-icon--5 {
  right: 201px;
  bottom: 68px;
  width: 70px;
  height: 70px;
}
.s3__decoration-icon--6 {
  width: 129px;
  height: 129px;
  right: 588px;
  bottom: 72px;
}
.s3__decoration-icon--7 {
  width: 36px;
  height: 36px;
  bottom: 0px;
  right: 565px;
}
.s3__decoration-icon--8 {
  width: 66px;
  height: 66px;
  bottom: 29px;
  right: 425px;
}
.s3__decoration-icon--9 {
  width: 70px;
  height: 70px;
  bottom: 86px;
  left: 316px;
}
.s3__decoration-icon--10 {
  width: 85px;
  height: 85px;
  bottom: -4px;
  left: 567px;
}
.s3__decoration-icon--11 {
  width: 59px;
  height: 59px;
  bottom: 138px;
  left: 710px;
}
.s3__decoration-icon--12 {
  width: 66px;
  height: 66px;
  left: 473px;
  bottom: 110px;
}
.s3__decoration-icon--13 {
  width: 70px;
  height: 70px;
  left: 293px;
  top: 274px;
}
.s3__decoration-icon--14 {
  width: 85px;
  height: 85px;
  top: 282px;
  left: 127px;
}
.s3__decoration-icon--15 {
  width: 59px;
  height: 59px;
  top: 56px;
  left: 611px;
}
.s3__decoration-icon--16 {
  width: 44px;
  height: 44px;
  right: 363px;
  top: 130px;
}
.s3__decoration-icon--17 {
  width: 36px;
  height: 36px;
  left: 1100px;
  top: 68px;
}
.s3__decoration-icon--18 {
  width: 66px;
  height: 66px;
  top: 96px;
  right: 232px;
}
.s3__decoration-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.s4 {
  margin-bottom: 78px;
}
.s4__container {
  flex-direction: column;
  align-items: center;
}
.s4__title {
  font-size: 100px;
  width: 100%;
  margin-bottom: 34px;
}
.s4__desk {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
.s4__slide-logos {
  margin-bottom: 81px;
}
.s4__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.s4__list-item {
  width: 584px;
  margin-bottom: 66px;
}
.s4__list-item-img {
  border-radius: 24px;
  width: 100%;
  height: 420px;
  margin-bottom: 32px;
}
.s4__list-item-title {
  margin-bottom: 33px;
}
.slide-logos {
  width: 1131px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slide-logos__wrp-item {
  height: 60px;
}
.slide-logos__wrp-item:first-child {
  width: 300px;
}
.slide-logos__wrp-item:nth-child(2) {
  width: 150px;
}
.slide-logos__wrp-item:nth-child(3) {
  width: 179px;
}
.slide-logos__wrp-item:nth-child(4) {
  width: 190px;
}
.slide-logos__wrp-item:nth-child(5) {
  width: 137px;
}
.slide-logos__img {
  width: 100%;
  height: 100%;
}

.s5 {
  margin-bottom: 120px;
  height: 1280px;
}
.s5__container {
  height: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 120px;
  padding-left: 152px;
  padding-right: 152px;
}
.s5__title {
  color: var(--bodi--white-1);
}
.s5__title span {
  color: var(--bodi-all-2);
  font-style: italic;
}
.s5__title-row:nth-child(1) {
  margin-bottom: -8px;
}
.s5__title-row:nth-child(2) {
  display: flex;
  margin-left: 10px;
}
.s5__title-row:nth-child(3) {
  margin-top: -15px;
}
.s5__title-icon {
  width: 132px;
  height: 120px;
  margin-top: 15px;
  margin-left: 23px;
}
.s5__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.s5__item {
  width: 100%;
  width: 432px;
  height: 472px;
}
.s5__item:nth-child(1) {
  margin-left: 60px;
  margin-top: -140px;
}
.s5__item:nth-child(1) .s5__item-icon {
  width: 432px;
  height: 302px;
  margin-bottom: 32px;
}
.s5__item:nth-child(1) .s5__item-text {
  margin-left: -7px;
}
.s5__item:nth-child(2) {
  margin-top: 62px;
  margin-left: 0px;
}
.s5__item:nth-child(2) .s5__item-icon {
  width: 432px;
  height: 326px;
  margin-bottom: 27px;
}
.s5__item:nth-child(3) {
  margin-top: -143px;
  margin-right: 60px;
}
.s5__item:nth-child(3) .s5__item-icon {
  width: 432px;
  height: 302px;
  margin-bottom: 32px;
}
.s5__item-text {
  text-align: center;
  font-weight: 400;
  color: var(--bodi--white-1);
}
.s5__img-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    max-width: 360px;
  }
}/*# sourceMappingURL=style.css.map */