.p404 {
  width: 100%;
  height: 100%;
  min-height: 140.0rem;

  background-image: url('../../image/404-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 16.0rem;

  @media screen and (max-width: $tab-media) {
    background-image: url('../../image/404-bg-tab.png');
    min-height: 120.0rem;
    padding-top: 12rem;
  }

  @media screen and (max-width: $mob-media) {
    background-image: url('../../image/404-bg-mob.png');
    min-height: 64.0rem;
    padding-top: 6rem;
  }



  // .p404__container
  &__container {
    max-width: 116.4rem;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  // .p404__title
  &__title {
    font-weight: 600;
    font-size: 7.4rem;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: var(--body-1);
    margin-bottom: 1.7rem;

    @media screen and (max-width: $tab-media) {
      font-size: 6.6rem;
      margin-bottom: 1rem;
    }

    @media screen and (max-width: $mob-media) {
      font-size: 2rem;
    }

  }

  // .p404__text
  &__text {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
    text-align: center;
    color: var(--body-1);
    opacity: 0.6;
    margin-bottom: 6.0rem;
    max-width: 56.4rem;

    @media screen and (max-width: $tab-media) {
      font-size: 1.8rem;
      max-width: 100%;
    }

    @media screen and (max-width: $mob-media) {
      font-size: 1.4rem;
      margin-bottom: 3.6rem;
    }
  }

  // .p404__btn-wrp
  &__btn-wrp {
    width: 56.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $tab-media) {
      width: 100%;
    }

    @media screen and (max-width: $mob-media) {}

  }

  // .p404__btn-wrp .main-btn
  .main-btn {
    width: 27.0rem;

    @media screen and (max-width: $tab-media) {
      width: 33.6rem;
    }

    @media screen and (max-width: $mob-media) {
      width: 15.6rem;
      height: 4.4rem;

      // .p404__btn-wrp .main-btn span
      span {
        font-size: 1.8rem;
      }
    }


    // .main-btn--opacity
    &--opacity {
      border: .1rem solid var(--body-1);
      background-color: inherit;
    }
  }
}