.basket {
  min-height: 700rem;
  background-image: url('../../image/basket-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  // margin-bottom: calc(160rem + 60rem);
  // margin-bottom: 57rem;
  position: relative;

  margin-bottom: 100rem;

  // .basket__container
  &__container {
    flex-direction: column;
  }

  // .basket__top
  &__top {
    margin-top: 54rem;
    margin-bottom: 80rem;
  }

  // .basket__top-page-nav
  &__top-page-nav {
  }

  // .basket__top-btn-wrp
  &__top-btn-wrp {
    display: flex;
    gap: 18rem;
  }

  // .basket__top-btn
  &__top-btn {
  }

  // .basket__top-btn-no-bg
  &__top-btn-no-bg {
  }

  // .basket__body
  &__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  // .basket__product-list
  &__product-list {
    width: 1194rem;
  }

  // .basket__product-item
  &__product-item {
    border: 1rem solid rgba(249, 190, 124, 0.3);
    border-radius: 8rem;
    width: 100%;
    background: var(--bg-0);
    box-sizing: border-box;
    padding-top: 15rem;
    padding-bottom: 15rem;
    padding-left: 24rem;
    padding-right: 24rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 132rem;
  }

  // .basket__product-item-info
  &__product-item-info {
    display: flex;
  }

  // .basket__product-img
  &__product-img {
    border-radius: 8rem;
    width: 100rem;
    height: 100rem;
    margin-right: 24rem;
  }

  // .basket__product-text-wrp
  &__product-text-wrp {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 9rem;
  }

  // .basket__product-name
  &__product-name {
    opacity: 0.6;
    margin-bottom: 4rem;
  }

  // .basket__product-price
  &__product-price {
  }

  // .basket__product-options
  &__product-options {
    margin-right: 18rem;
  }

  // .basket__buy-box
  &__buy-box {
    position: relative;
    width: 374rem;
    min-height: 620rem;
    background-image: url('../../image/basket__buy-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    box-sizing: border-box;
    padding-top: 48rem;
    padding-left: 36rem;
    padding-right: 36rem;
    // padding-bottom: 40rem;
  }

  // .busket__buy-decor
  &__buy-decor {
    position: absolute;
    top: -24rem;
    left: 50%;
    transform: translateX(-50%);
    width: 96rem;
    height: 48rem;
  }

  // .basket__buy-btn
  &__buy-btn {
    width: 100%;
    
    // .main-btn__button 
    .main-btn__button {
      width: 100%;
    }

    // .main-btn__button::after
    .main-btn__button::after {
      width: 212rem;
      height: 60rem;
    }
  }

  // .basket__buy-title
  &__buy-title {
    opacity: 0.6;
    text-align: center;
    margin-bottom: 8rem;
  }

  // .basket__buy-price
  &__buy-price {
    text-align: center;
    margin-bottom: 24rem;
  }

  // .basket__payment-methods
  &__payment-methods {
    margin-bottom: 23rem;
  }
}

.footer--basket-page {
  margin-top: 160rem;
}