.main-faq-page .information-box{
  margin-bottom: 75rem;
}
.faq {
  margin-bottom: 150rem;

  // .faq__container
  &__container {
    max-width: 800rem;
    flex-direction: column;
  }

  // .faq__title
  &__title {
    margin-bottom: 42rem;
    width: 100%;
    text-align: center;
  }
}