.fs {

  background-image: url('../../image/fs-bg.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 108.0rem;



  // .fs__container
  &__container {
    justify-content: space-between;
  }

  // .fs__title
  &__title {
    max-width: 86.4rem;
    margin-top: 46.1rem;
  }

  // .fs__img
  &__img {
    width: 78.3rem;
    height: 88.4rem;
    position: relative;
    left: -3.2rem;
  }
}

// .s2
.how-it-works {
  height: 139.4rem;
  display: flex;
  background: #fff;
  position: relative;
  margin-bottom: 18.4rem;

  // .how-it-works__container 
  &__container {
    flex-direction: column;
  }

  // .how-it-works__title
  &__title {
    margin-bottom: 4.2rem; 
  }

  // .how-it-works__swiper
  &__swiper {
    width: 100%;
    // height: 40.0rem;
    // padding: 0 5.0rem;
    overflow: visible !important;
    margin-bottom: 5.8rem;
  }

  // .how-it-works .swiper-slide
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .how-it-works__card
  &__card {
    width: 56.4rem;
    height: 31.6rem;
    border: 0.1rem solid rgba(5, 5, 18, 0.2);
    border-radius: 0.8rem;
    background: var(--body-1);
    padding: 2.4rem;
    padding-bottom: 4.4rem;

    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;

    // .how-it-works__card-num
    &-num {
      border-radius: .4rem;
      width: 8.0rem;
      height: 8.0rem;
      background: var(--body-3);

      display: flex;
      align-items: center;
      justify-content: center;

      font-family: var(--second-family);
      font-weight: 500;
      font-size: 6.0rem;
      line-height: 120%;
      text-align: center;
      color: var(--body-1);
    }
  
    // .how-it-works__card-text-wrp
    &-text-wrp {
      width: 42.0rem;
      display: flex;
      flex-direction: column;
    }

    // .how-it-works__card-title
    &-title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 3.6rem;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--body-2);
      margin-bottom: 1.2rem;

      // .how-it-works__card-title--small
      &--small {
        font-size: 2.4rem;
      }

      // .how-it-works__card-title p
      p {

      }
    }
  
    // .how-it-works__card-text
    &-text {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 120%;
      color: var(--body-2);
      opacity: 0.6;

      // .how-it-works__card-text p
      p {
        
      }
    }
  }

  // .how-it-works__decoration
  &__decoration {
    position: relative;
    width: 100%;
    // height: 780rem;

    // .how-it-works__decoration-bg
    &-bg {
      position: absolute;
      width: 176.4rem;
      height: 58.5rem;
      top: -6.7rem;
    }

    // .how-it-works__decoration-img
    &-img {
      position: absolute;
      // .how-it-works__decoration-img--1
      &--1 {
        width: 26.4rem;
        height: 30.8rem;
        top: 47.2rem;
        left: -3.6rem;
      }
      // .how-it-works__decoration-img--2
      &--2 {
        width: 39.0rem;
        height: 57.8rem;
        top: 20.2rem;
        left: 21.5rem;
      }
      // .how-it-works__decoration-img--3
      &--3 {
        width: 47.2rem;
        height: 75.2rem;
        top: 2.8rem;
        left: 57.0rem;
      }
      // .how-it-works__decoration-img--4
      &--4 {
        width: 37.0rem;
        height: 78.0rem;
        top: 0;
        left: 99.9rem;
      }
      // .how-it-works__decoration-img--5
      &--5 {
        width: 45.0rem;
        height: 78.0rem;
        top: 0;
        left: 134.2rem;
      }
    }
  }

}

.s3 {
  padding-top: 16.0rem;
  padding-bottom: 16.0rem;
  background: var(--body-3);

  // .s3__container
  &__container {
  }

  // .s3__top-info
  &__top-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5rem;
  }

  // .s3__head
  &__head {
    width: 115.9rem;
    position: relative;
    top: -1.0rem;

    // .h2-title__decor-icon--1
    .h2-title__decor-icon--1 {
      width: 8rem;
      height: 8rem;
      top: 1.4rem;
      margin-left: 1.0rem;
    }

    // .h2-title__m-text
    .h2-title__m-text {
      color: var(--body-1);
      top: -0.4rem;
      left: 0.4rem;
    }

    // .s3__head .h2-title__text
    .h2-title__text {
      color: var(--body-1);
    }

    // .s3__head .h2-title__text--mod-last
    .h2-title__text--mod-last {
      top: -0.3rem;
    }

  }

  // .s3__desk-text
  &__desk-text {
    max-width: 56.4rem;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 120%;
    color: var(--body-1);

    top: 0.5rem;
    left: 0.5rem;
  }
}

.s4 {
  margin-bottom: 13.5rem;

  // .s4__container
  &__container {
    // max-width: 1675rem;
    margin: 0 auto;
    justify-content: space-between;
  }

  // .s4 .h2-title__m-text
  .h2-title__m-text {

  }

  // .s4 .h2-title__text
  .h2-title__text {

  }

  // .s4 .h2-title__decor-icon
  .h2-title__decor-icon {

  }

  // .s4 .h2-title__decor-icon--1
  .h2-title__decor-icon--1 {
    width: 8.0rem;
    height: 8.0rem;
    top: .4rem;
    left: .7rem;
  }

  // .s4 .h2-title__text--mod
  .h2-title__text--mod {
    position: relative;
    top: -1.0rem;
  }

  // .s4 .h2-title__text--mod-last
  .h2-title__text--mod-last {
    display: block;
    top: -1.1rem;
  }

  // .s4__decor-img
  &__decor-img {
    width: 64.4rem;
    height: 98.0rem;
    left: 8.7rem;
    position: relative;
  }

  // .s4__info
  &__info {
    width: 86.4rem;
    height: 88.0rem;
    padding-top: 16.0rem;
  }

  // .s4__head
  &__head {
    margin-bottom: 4.6rem;
  }

  // .s4__swiper
  &__swiper {
    position: relative;
  }

  // .s4__product
  &__product {
  }
}

.s5 {
  position: relative;
  height: 337.6rem;
  background-image: url('../../image/s5/bg.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 183.7rem;
  margin-top: -64.7rem;
  margin-bottom: 36.6rem;

  // .s5__container
  &__container {
  }

  // .s5__head
  &__head {
    margin-bottom: 4.4rem;
    max-width: 80rem;

    // .s5__head
    h2 span{
      color: #fff;
    }
  }

  // .s5 .h2-title__m-text
  .h2-title__m-text {

  }

  // .s5 .h2-title__text
  .h2-title__text {

  }

  // .s5 .h2-title__decor-icon 
  .h2-title__decor-icon {
    width: 8.0rem;
    height: 8.0rem;
    top: 0rem;
    left: .6rem;
  }

  // .s5 .h2-title__text--mod-last
  .h2-title__text--mod-last {
    top: -1.6rem;
    left: .7rem;
  }

  // .s5__info
  &__info {
    width: 86.4rem;
  }

  // .s5__list
  &__list {
  }

  // .s5__list-item
  &__list-item {
    margin-bottom: 3.6rem;
    padding-bottom: 2.6rem;
    border-bottom: .1rem solid rgba(255, 255, 255, .6);

    // .s5__list-item:last-child
    &:last-child {
      margin-bottom: 0;
    }
  }

  // .s5__list-item-title
  &__list-item-title {
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--body-1);
    margin-bottom: 1.2rem;

    // .s5__list-item-title span
    span {
      margin-left: 1.0rem;
    }
  }

  // .s5__list-item-text
  &__list-item-text {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
    color: var(--body-1);
    opacity: 0.6;
  }

  // .s5__decor
  &__decor {
    // width: 2084rem;
    // height: 1545rem;
    // position: absolute;
  }

  // .s5__decor-top
  &__decor-top {
    position: absolute;
    width: 72.9rem;
    height: 64.3rem;
    right: 7.7rem;
    bottom: 46.1rem;
  }

  // .s5__decor-text
  &__decor-text {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 6.0rem;
    line-height: 100%;
    color: var(--body-1);
    position: absolute;
  }

  // .s5__decor-text--1
  &__decor-text--1 {
    top: 4.8rem;
    left: 16.9rem;
    transform: rotate(-12deg);
  }
  
  // .s5__decor-text--2
  &__decor-text--2 {
    transform: rotate(12deg);
    top: 15.9rem;
    right: -0.5rem;
  }

  // .s5__decor-top-img
  &__decor-top-img {
    position: absolute;
  }

  // .s5__decor-top-img--1
  &__decor-top-img--1 {
    width: 4.2rem;
    height: 3.4rem;
    top: -0.2rem;
    left: 12.4rem;
  }

  // .s5__decor-top-img--2
  &__decor-top-img--2 {
    width: 3.4rem;
    height: 2.8rem;
    left: -0.1rem;
    top: 43.9rem;
  }

  // .s5__decor-top-img--3
  &__decor-top-img--3 {
    width: 5.8rem;
    height: 5.0rem;
    left: 11.6rem;
    top: 48.5rem;
  }

  // .s5__decor-top-img--4
  &__decor-top-img--4 {
    width: 9.6rem;
    height: 8.8rem;
    bottom: .1rem;
    right: .1rem;
  }

  // .s5__decor-top-img--5
  &__decor-top-img--5 {
    width: 3.6rem;
    height: 3.2rem;
    right: -0.1rem;
    top: 8.2rem;
  }

  // .s5__decor-top-img--6
  &__decor-top-img--6 {
    width: 6.4rem;
    height: 5.6rem;
    top: 5.3rem;
    left: 6.7rem;
  }

  // .s5__decor-mid
  &__decor-mid {
    width: 192.0rem;
    height: 142.0rem;
    position: absolute;
    bottom: -14.1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  // .s5__decor-mid-big-img
  &__decor-mid-big-img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  // .s5__decor-mid-person
  &__decor-mid-person {
    position: absolute;
    display: none;
  }

  // .s5__decor-mid-person--1
  &__decor-mid-person--1 {
  }

  // .s5__decor-mid-person--2
  &__decor-mid-person--2 {
  }

  // .s5__decor-mid-img
  &__decor-mid-img {
    position: absolute;
    z-index: 1;
  }

  // .s5__decor-mid-img--1
  &__decor-mid-img--1 {
    width: 48.7rem;
    height: 25.0rem;
    left: 21.7rem;
    bottom: 39.6rem;
  }

  // .s5__decor-mid-img--2
  &__decor-mid-img--2 {
    width: 93.2rem;
    height: 39.6rem;
    left: 49.8rem;
    bottom: 34.1rem;
  }

  // .s5__decor-mid-bg
  &__decor-mid-bg {
    position: absolute;
    width: 192.0rem;
    height: 120.0rem;
    bottom: -15.3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  // .s5__footer-decor
  &__footer-decor {
  }
  
  // .s5__footer-decor-sky
  &__footer-decor-sky {
    position: absolute;
  }

  // .s5__footer-decor-sky--1
  &__footer-decor-sky--1 {
    width: 63.6rem;
    height: 39.2rem;
    bottom: -24.6rem;
    left: 0rem;
    z-index: 5;
  }

  // .s5__footer-decor-sky--2
  &__footer-decor-sky--2 {
    width: 77.1rem;
    height: 45.5rem;
    z-index: 4;
    left: 48.3rem;
    bottom: -20.1rem;
  }

  // .s5__footer-decor-sky--3
  &__footer-decor-sky--3 {
    width: 93.6rem;
    height: 49.1rem;
    z-index: 3;
    right: -8.1rem;
    bottom: -26.4rem;
  }
}

.s6 {
  margin-bottom: 16.0rem;

  // .s6__container
  &__container {
    flex-direction: column;
    align-items: center;
  }

  // .s6__head
  &__head {
    max-width: 90.0rem;
    margin-bottom: 6.7rem;
  }

  // .s6 h2
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .s6 .h2-title__m-text
  .h2-title__m-text {
    margin: 0;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 3.6rem;
    max-width: unset;
  }

  // .s6 .h2-title__text
  .h2-title__text {
    display: block;
    text-align: center;
  }

  // .s6__list
  &__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .s6__list-item
  &__list-item {
    width: 56.4rem;
  }

  // .s6__list-item-img
  &__list-item-img {
    width: 56.4rem;
    height: 36.0rem;
    margin-bottom: 3.6rem;
  }

  // .s6__list-item-info
  &__list-item-info {
  }

  // .s6__list-item-title
  &__list-item-title {
    font-weight: 500;
    font-size: 4.4rem;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--body-2);
    margin-bottom: 1.2rem;
  }

  // .s6__list-item-text
  &__list-item-text {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
    color: var(--body-2);
    margin-bottom: 4.2rem;
  }

  // .s6__list-item-price-and-data
  &__list-item-price-and-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;

    // .s6__list-item-price-and-data span
    span {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 120%;
      color: var(--body-2);
    }
  }

  // .s6__list-item-data-wrp
  &__list-item-data-wrp {
    position: relative;
    top: .8rem;
  }

  // .s6__list-item-price
  &__list-item-price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 120%;
    text-transform: uppercase;
    text-align: right;
    color: var(--body-2);

    position: relative;
    left: -0.9rem;

    // .s6__list-item-price span
    span {
      font-size: 3.6rem;
      font-weight: 600;
      position: relative;
      left: .8rem;
    }
  }

  // .s6__list-item-btn-wrp
  &__list-item-btn-wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .s6__list-item-btn
  &__list-item-btn {
    width: 27.0rem;
    height: 8.0rem;
    background-color: var(--body-1);
    border: 0.1rem solid var(--body-2);
  }

  // .s6 .main-btn__text
  .main-btn__text {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: var(--body-2);
  }
  
  // .s6__list-item-btn--blue
  &__list-item-btn--blue {
    background-color: var(--body-3);
    border: unset;

    .main-btn__text {
      color: var(--body-1);
    }
  }
}


.s7 {
  background: var(--body-3);
  position: relative;
  overflow: hidden;
  margin-bottom: 16.0rem;
  padding-bottom: 15.6rem;

  // .s7__container
  &__container {
    display: flex;
    justify-content: space-between;
  }

  // .s7__img 
  &__img {
    width: 64.6rem;
    height: 100.8rem;
    left: 8.6rem;
    top: -0.7rem;
  }

  // .s7__body 
  &__body {
    margin-top: 16.0rem;
    width: 86.4rem;
  }

  // .s7__head
  &__head {
    margin-bottom: 4.6rem;
  }

  // .s7__head-title
  &__head-title {
    color: var(--body-1);
  }

  // .s7__head-text
  &__head-text {
    color: var(--body-1);
  }

  // .s7__head-text--last
  &__head-text--last {
    color: var(--body-1);
    top: -1.3rem;
  }

  // .s7__head-decor-icon
  &__head-decor-icon {
    width: 8.0rem;
    height: 8.0rem;
    top: 0.4rem;
    margin-left: 1.7rem;
  }
  
  // .s7 p 
  p {
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 120%;
    color: var(--body-1);
    margin-bottom: 2rem;

    // .s7 p:last-child
    &:last-child {
      margin-bottom: 0;
    }
  }
}