.how-work-page .information-box{
  margin-bottom: 7.5rem;

  @media screen and (max-width: $bp-tab) {
    margin-bottom: 7.0rem;
  }

  @media screen and (max-width: $bp-mob) {
    margin-bottom: 3.6rem;
  }
}

.how-work {
  
  // .how-work__container
  &__container {
    flex-direction: column;
  }

  // .how-work__title
  &__title {
    width: 100%;
    text-align: center;
    margin-bottom: 4.1rem;

    @media screen and (max-width: $bp-tab) {
      margin-bottom: 2.6rem;
    }
  
    @media screen and (max-width: $bp-mob) {
      margin-bottom: 2.8rem;
    }

    // .how-work__title span
    span {
      color: $body-4-color;
    }
  }

  // .how-work__list
  &__list {
    width: 100%;
    height: 52.0rem;
    background: url('../../images/infografic-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 6.2rem;
    margin-bottom: 6.6rem;

    @media screen and (max-width: $bp-tab) {
      background: url('../../images/infografic-bg-tab.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 123.2rem;
      flex-wrap: wrap;
      margin-bottom: 4.6rem;
    }
  
    @media screen and (max-width: $bp-mob) {
      height: 97.8rem;
      padding-top: 2.7rem;
      margin-bottom: 3.5rem;
      background: url('../../images/infografic-bg-mob.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  // .how-work__item
  &__item {
    width: 28.2rem;
    height: 48.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-left: 2.4rem;
    padding-right: 2.4rem;

    @media screen and (max-width: $bp-tab) {
      width: 100%;
      height: 28.2rem;
      padding-left: 2.4rem;
      margin-bottom: 2.4rem;
    }

    @media screen and (max-width: $bp-mob) {
      height: 22.1rem;
      margin-bottom: 2.5rem;
    }
  }

  // .how-work__number-wrp
  &__number-wrp {
    width: 100%;
    text-align: center;
    margin-bottom: 3.4rem;

    @media screen and (max-width: $bp-tab) {
      margin-bottom: 3.1rem;
    }

    @media screen and (max-width: $bp-mob) {
      margin-bottom: 2.0rem;
    }
  }

  // .how-work__number
  &__number {
    color: $body-4-color;

    @media screen and (max-width: $bp-mob) {
      font-size: 1.8rem;
    }
  }

  // .how-work__text
  &__text {
    font-size: 1.84rem;

    @media screen and (max-width: $bp-tab) {
      max-width: 53.2rem;
    }

    @media screen and (max-width: $bp-mob) {
      max-width: 26.4rem;
      font-size: 1.44rem;
    }

    // .how-work__text span
    span{
      color: $body-3-color;
    }
  }

  // .how-work__end
  &__end {
    width: 100%;
    height: 29.1rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 3.0rem;
    margin-bottom: 15.5rem;
    background-image: url('../../images/decor-step.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media screen and (max-width: $bp-tab) {
      height: 49.0rem;
      flex-wrap: wrap;
      padding: 2.4rem;
      padding-top: 2.9rem;
      margin-bottom: 10.0rem;
      background-image: url('../../images/decor-step-tab.svg');
      background-size: contain;
    }

    @media screen and (max-width: $bp-mob) {
      height: 32.5rem;
      padding: 1.2rem;
      padding-top: 1.6rem;
      margin-bottom: 7.0rem;
      background-image: url('../../images/decor-step-mob.svg');
      background-size: contain;
    }
  }

  // .how-work__end-text
  &__end-text {
    max-width: 58.2rem;
    font-size: 3.26rem;

    @media screen and (max-width: $bp-tab) {
      max-width: 100%;
    }

    @media screen and (max-width: $bp-mob) {
      font-size: 1.8rem;
      max-width: 100%;
    }
  }

  // .how-work__end-text--first
  &__end-text--first {
    color: $body-4-color;

    @media screen and (max-width: $bp-tab) {
      margin-bottom: 4.8rem;
    }

    @media screen and (max-width: $bp-mob) {
      margin-bottom: 2.5rem;
    }
  }

  // .how-work__end-text--second
  &__end-text--second {
    color: $body-3-color;
  }
}