.main-news-post-page .information-box{

  @media screen and (max-width: $bp-tab) {
    position: relative;

    padding-left: 3.6rem;
    padding-right: 3.6rem;

    width: 100%;
    // overflow-x: auto;
    // overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    // -webkit-overflow-scrolling: touch;
    // scrollbar-width: none;
    // touch-action: pan-x; /* Оптимизация для тач-устройств */

    &::-webkit-scrollbar {
      display: none;
    }

    /* Градиентное затемнение */
    &::after {
      content: '';
      position: absolute;
      right: 0;
      // top: 115rem;
      top: 0;
      display: block;
      width: 3.6rem;
      height: 9.4rem;
      background: linear-gradient(270deg, #edeefe 0%, rgba(237, 238, 254, 0) 100%);
      pointer-events: none;
    }
  }

  @media screen and (max-width: $bp-mob) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 3.6rem;

    &::after {
      // top: 52rem;
      top: 0;
      width: 3.6rem;
      height: 3.6rem;
    }
  }
}

.main-news-post-page .information-box__text{
  @media screen and (max-width: $bp-mob) {
    margin-left: 0.5rem;
  }
}

.news-post{
  box-sizing: border-box;
  padding-bottom: 15.0rem;

  @media screen and (max-width: $bp-tab) {
    padding-bottom: 7.5rem;
  }  

  @media screen and (max-width: $bp-mob) {
    padding-bottom: 6.0rem;
  }  

  // .news-post__container
  &__container{
    max-width: 80.0rem;
    flex-direction: column;
  }

  // .news-post__img
  &__img{
    width: 100%;
    margin-bottom: 3.6rem;

    @media screen and (max-width: $bp-tab) {
      margin-bottom: 2.4rem;
    }

    @media screen and (max-width: $bp-mob) {
      margin-bottom: 1.6rem;
    }
    
    // .news-post__img-img
    &-img{
      height: 52.8rem;
      margin-bottom: 1.2rem;

      @media screen and (max-width: $bp-tab) {
        width: 100%;
        height: 46.0rem;
      }

      @media screen and (max-width: $bp-mob) {
        width: 100%;
        height: 21.0rem;
        margin-bottom: 0.8rem;
      }
    }

    // .news-post__img span
    span {
      font-family: $main-font;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 120%;
      color: #778;
      display: block;
      max-width: 30.0rem;

      @media screen and (max-width: $bp-mob) {
        font-size: 1.2rem;
      }
    }
    // .news-post__img a
    a {
      font-family: $main-font;
      color: $body-3-color;
    }
  }

  // .news-post h1
  h1 {
    font-weight: 600;
    font-size: 4.0rem;
    line-height: 120%;
    text-align: center;
    color: $body-2-color;
    margin-bottom: 2.4rem;
    font-family: $main-font;

    @media screen and (max-width: $bp-tab) {
      margin-top: 0;
      margin-bottom: 3.6rem;
    }

    @media screen and (max-width: $bp-mob) {
      font-size: 2.2rem;
      margin-bottom: 2.4rem;
    }
  }

  // .news-post h2
  h2 {
    font-family: $main-font;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
    color: $body-2-color;
    margin-bottom: 0.8rem;

    @media screen and (max-width: $bp-mob) {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }
  }

  // .news-post p
  p{
    color: $body-2-color;
    font-family: $main-font;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 120%;
    margin-bottom: 2.4rem;

    @media screen and (max-width: $bp-mob) {
      font-size: 1.4rem;
      margin-bottom: 1.6rem;
    }
  }

  // .news-post a
  a {
    font-family: $main-font;
    color: $body-3-color;
  }

  // .news-post strong
  strong {
    font-family: $main-font;
    font-weight: 400;
    color: $body-4-color;
  }

}