.main-news-post-page{

}

.news-post{
  box-sizing: border-box;
  padding-bottom: 150rem;

  // .news-post__container
  &__container{
    max-width: 800rem;
    flex-direction: column;
  }

  // .news-post__img
  &__img{
    width: 100%;
    margin-bottom: 36rem;
    
    // .news-post__img-img
    &-img{
      height: 528rem;
      margin-bottom: 12rem;
    }

    // .news-post__img span
    span {
      font-family: $main-font;
      font-weight: 500;
      font-size: 18rem;
      line-height: 120%;
      color: #778;
      display: block;
      max-width: 300rem;
    }
    // .news-post__img a
    a {
      font-family: $main-font;
      color: $body-3-color;
    }
  }

  // .news-post h1
  h1 {
    font-weight: 600;
    font-size: 40rem;
    line-height: 120%;
    text-align: center;
    color: $body-2-color;
    margin-bottom: 24rem;
    font-family: $main-font;
  }

  // .news-post h2
  h2 {
    font-family: $main-font;
    font-weight: 400;
    font-size: 24rem;
    line-height: 120%;
    color: $body-2-color;
    margin-bottom: 8rem;
  }

  // .news-post p
  p{
    color: $body-2-color;
    font-family: $main-font;
    font-weight: 400;
    font-size: 18rem;
    line-height: 120%;
    margin-bottom: 24rem;
  }

  // .news-post a
  a {
    font-family: $main-font;
    color: $body-3-color;
  }

  // .news-post strong
  strong {
    font-family: $main-font;
    font-weight: 400;
    color: $body-4-color;
  }

}