.main-news-page .information-box{
  box-sizing: border-box;
  padding-left: 4.3rem;
  margin-bottom: 7.5rem;
  @media screen and (max-width: $bp-tab) {
    margin-bottom: 7.0rem;
    padding-left: 4.0rem;
    padding-right: 4.0rem;
  }
  @media screen and (max-width: $bp-mob) {
    margin-bottom: 3.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.main-news-page .information-box__link {

  @media screen and (max-width: $bp-tab) {
    font-size: 2.9rem;

    // .main-news-page .information-box__link span
    span {
      display: none;
    }
  }

  @media screen and (max-width: $bp-mob) {
    font-size: 1.4rem;
  }
}

.news {
  box-sizing: border-box;
  padding-bottom: 15.0rem;

  @media screen and (max-width: $bp-tab) {
    padding-bottom: 7.5rem;
  }

  @media screen and (max-width: $bp-mob) {
    padding-bottom: 5.0rem;
  }

  // .news__container
  &__container {
    flex-direction: column;
    align-items: center;
  }

  // .news__title
  &__title {
    margin-bottom: 4.2rem;

    @media screen and (max-width: $bp-tab) {
      margin-bottom: 4.2rem;
    }

    @media screen and (max-width: $bp-mob) {
      margin-bottom: 2.4rem;
    }

    // .news__title span
    span {
      color: $body-4-color;
    }
  }

  // .news__main-box
  &__main-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.0rem;
    position: relative;

    @media screen and (max-width: $bp-mob) {
      margin-bottom: 3.6rem;
    }
  }

  // .news__main-img-wrp
  &__main-img-wrp {
    width: 35.6rem;
    height: 22.4rem;

    @media screen and (max-width: $bp-tab) {
      position: absolute;
      width: 33.6rem;
      height: 21.2rem;
    }

    @media screen and (max-width: $bp-mob) {
      width: 15.6rem;
      height: 10.0rem;
    }
  }

  // .news__main-box-info
  &__main-box-info {
    max-width: 80.1rem;
  }

  // .news__title-text
  &__title-text {
    display: block;
    font-size: 3.27rem;
    margin-bottom: 1.2rem;

    @media screen and (max-width: $bp-tab) {
      max-width: 33.6rem;
      margin-left: auto;
      margin-bottom: 11.6rem;
    }

    @media screen and (max-width: $bp-mob) {
      max-width: 15.6rem;
      margin-bottom: 2.0rem;
      font-size: 1.8rem;
    }    

    // .news__title-text:hover
    &:hover{
      color: $body-3-color;
      text-decoration: underline;
    }
  }

  // .news__title-desk
  &__title-desk {
    max-width: 75.4rem;
    color: rgba(45, 44, 56, .6);
    margin-bottom: 2.0rem;
    font-size: 2.46rem;

    @media screen and (max-width: $bp-tab) {
      max-width: 100%;
      margin-bottom: 1.6rem;
    }

    @media screen and (max-width: $bp-mob) {
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
    }
  }

  // .news__time-info
  &__time-info {
    display: flex;
    align-items: center;
  }

  // .news__time-info-icon
  &__time-info-icon {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.9rem;
    left: 0.2rem;
    top: 0.1rem;

    @media screen and (max-width: $bp-mob) {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.4rem;
    }
  }

  // .news__time-info-text
  &__time-info-text {
    color: rgba(45, 44, 56, .6);
    font-size: 1.88rem;

    @media screen and (max-width: $bp-mob) {
      font-size: 1.2rem;
    }
  }

  // .news__main-box-pin-icon
  &__main-box-pin-icon {
    width: 2.0rem;
    height: 2.0rem;
    position: absolute;
    top: 0;
    right: 0;

    @media screen and (max-width: $bp-tab) {
      right: unset;
      left: 1.1rem;
      top: 1.1rem;
    }

    @media screen and (max-width: $bp-mob) {
      width: 1.6rem;
      height: 1.6rem;
      top: 0.4rem;
      left: 0.4rem;
    }
  }

  // .news__list
  &__list {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 3.6rem;
    padding-bottom: 5.0rem;
    margin-bottom: 5.0rem;

    @media screen and (max-width: $bp-tab) {
      flex-wrap: wrap;
      padding-bottom: 1.4rem;
    }

    @media screen and (max-width: $bp-mob) {
      padding-bottom: 2.0rem;
    }

    // .news__list::after
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      width: 100vw;
      height: 100%;
      background-color: rgba(78, 81, 245, 0.06);
    }
  }

  // .news__list-item
  &__list-item {
    width: 27.3rem;

    @media screen and (max-width: $bp-tab) {
      width: 33.6rem;
      margin-bottom: 3.6rem;
    }

    @media screen and (max-width: $bp-mob) {
      width: 15.6rem;
      margin-bottom: 1.6rem;
    }
  }

  // .news__list-item-title
  &__list-item-title {
    color: rgba(71, 0, 131, .6);
    margin-bottom: 1.6rem;
    font-size: 1.85rem;
  }

  // .news__list-item-img
  &__list-item-img {
    width: 100%;
    height: 18.0rem;
    margin-bottom: 1.2rem;

    @media screen and (max-width: $bp-tab) {
      margin-bottom: 1.6rem;
    }

    @media screen and (max-width: $bp-mob) {
      height: 10.0rem;
      margin-bottom: 0.8rem;
    }

    // .news__list-item-img img
    img{
      object-fit: cover;
    }
  }

  // .news__list-item-text
  &__list-item-text {
    display: block;
    margin-bottom: 1.3rem;
    font-size: 2.45rem;

    @media screen and (max-width: $bp-tab) {
      margin-bottom: 0.8rem;
    }

    @media screen and (max-width: $bp-mob) {
      font-size: 1.8rem;
    }

    // .news__list-item-text:hover
    &:hover{
      color: $body-3-color;
      text-decoration: underline;
    } 
  }

  // .news__btn
  &__btn {
    width: 34.8rem;
    height: 5.0rem;

    @media screen and (max-width: $bp-mob) {
      width: 100%;
      height: 3.6rem;
    }

    // .news__btn label
    .label{
      margin-left: 0.3rem !important;
    }
  }
}
