.main-noticiation-page{
  margin-bottom: 150rem;

  @media screen and (max-width: $bp-tab) {
    margin-bottom: 75rem;
  }

  @media screen and (max-width: $bp-mob) {
    margin-bottom: 50rem;
  }
}
.main-noticiation-page .information-box-fisrt{
  margin-bottom: 75rem;

  @media screen and (max-width: $bp-tab) {
    margin-bottom: 70rem;
  }

  @media screen and (max-width: $bp-mob) {
    margin-bottom: 35rem;
  }
}
.main-noticiation-page .information-box-second{
  margin-bottom: 29rem;

  @media screen and (max-width: $bp-mob) {
    margin-bottom: 16rem;
  }
}
