.main-noticiation-page{
  margin-bottom: 15.0rem;

  @media screen and (max-width: $bp-tab) {
    margin-bottom: 7.5rem;
  }

  @media screen and (max-width: $bp-mob) {
    margin-bottom: 5.0rem;
  }
}
.main-noticiation-page .information-box-fisrt{
  margin-bottom: 7.5rem;

  @media screen and (max-width: $bp-tab) {
    margin-bottom: 7.0rem;
  }

  @media screen and (max-width: $bp-mob) {
    margin-bottom: 3.5rem;
  }
}
.main-noticiation-page .information-box-second{
  margin-bottom: 2.9rem;

  @media screen and (max-width: $bp-mob) {
    margin-bottom: 1.6rem;
  }
}
