.order-page .main-form__order-info .main-form__step-number-wrp svg path{
  @media screen and (max-width: $bp-tab) {
    fill: rgb(237, 238, 254);
  }
}

.order-page .information-box{
  @media screen and (max-width: $bp-mob) {
    margin-bottom: 6.6rem;
  }
}

.result-info{
  @media screen and (max-width: $bp-mob) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
  }
}

.mixing-input-copy-btn {
  display: none;
  @media screen and (max-width: $bp-mob) { 
    display: flex;
  }

  // .mixing-input-copy-btn .copy-btn-icon 
  .copy-btn-icon {
    @media screen and (max-width: $bp-mob) { 
      display: block;
      position: relative;
      transform: unset;
      right: unset;
      top: unset;
      width: 1.6rem;
      height: 1.6rem;
    } 
  }
}