.header--item-page {
    padding-bottom: 24px;
}

.page-navigation {
    box-sizing: border-box;
    padding-bottom: 18px;
    margin-bottom: 60px;

    // .page-navigation__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .page-navigation__link-wrp
    &__link-wrp {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    // .page-navigation__link
    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: var(--bodi-1);
    }

    // .page-navigation__separator
    &__separator {
        width: 14px;
        height: 12px;
    }

    // .page-navigation__link--current
    &__link--current {
        color: var(--bodi-2);
    }

    // .page-navigation__back-link-wrp
    &__back-link-wrp {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    // .page-navigation__back-link
    &__back-link {
        display: flex;
        align-items: center;
    }

    // .page-navigation__back-link-icon
    &__back-link-icon {
        width: 16px;
        height: 16px;
        transform: rotate(180deg);
        left: -3px;
        top: 2px;
    }

    // .page-navigation__back-link-text
    &__back-link-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: right;
        color: var(--bodi-2);
    }
}