.header--item-page {
    padding-bottom: 24px;
}

.page-navigation {
    box-sizing: border-box;
    padding-bottom: 18px;
    margin-bottom: 60px;

    // .page-navigation__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .page-navigation__link-wrp
    &__link-wrp {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    // .page-navigation__link
    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: var(--bodi-1);
    }

    // .page-navigation__separator
    &__separator {
        width: 14px;
        height: 12px;
    }

    // .page-navigation__link--current
    &__link--current {
        color: var(--bodi-2);
    }

    // .page-navigation__back-link-wrp
    &__back-link-wrp {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    // .page-navigation__back-link
    &__back-link {
        display: flex;
        align-items: center;
    }

    // .page-navigation__back-link-icon
    &__back-link-icon {
        width: 16px;
        height: 16px;
        transform: rotate(180deg);
        left: -3px;
        top: 2px;
    }

    // .page-navigation__back-link-text
    &__back-link-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: right;
        color: var(--bodi-2);
    }
}

.main-item {

    // .main-item__container
    &__container {
        
    }

    // .main-item__img-box
    &__img-box {

    }

    // .main-item__img-box-main-img
    &__img-box-main-img {

    }

    // .main-item__img-box-secondary-imgs
    &__img-box-secondary-imgs {

    }

    // .main-item__img-box-secondary-img
    &__img-box-secondary-img {

    }

    // .main-item__info-box
    &__info-box {

    }

    // .main-item__top
    &__top {

    }

    // .main-item__title
    &__title {

    }

    // .main-item__rating
    &__rating {

    }

    // .main-item__rating-text
    &__rating-text {

    }

    // .main-item__description
    &__description {

    }

    // .main-item__info-list
    &__info-list {

    }

    // .main-item__info-list-item
    &__info-list-item {

    }

    // .main-item__info-list-item-icon
    &__info-list-item-icon {

    }

    // .main-item__info-list-item-text
    &__info-list-item-text {

    }

    // .main-item__end-info-box
    &__end-info-box {

    }

    // .main-item__end-info-box-text
    &__end-info-box-text {

    }

    // .main-item__end-info-box-item
    &__end-info-box-item {

    }

    // .main-item__end-info-box-icon
    &__end-info-box-icon {

    }

    // .main-item__end-info-box-icon--site
    &__end-info-box-icon--site {

    }

    // .main-item__end-info-box-text--white
    &__end-info-box-text--white {

    }

    // .main-item__end-info-box-icon--phone
    &__end-info-box-icon--phone {

    }

    // .main-item__end-info-box-text--ws
    &__end-info-box-text--ws {

    }

    // .main-item__end-info-box-icon--viber
    &__end-info-box-icon--viber {

    }

    // .main-item__end-info-box-icon--telegram
    &__end-info-box-icon--telegram {

    }
}