.header--item-page {
    padding-bottom: 24px;
}

.page-navigation {
    box-sizing: border-box;
    padding-bottom: 18px;
    margin-bottom: 60px;

    // .page-navigation__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .page-navigation__link-wrp
    &__link-wrp {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    // .page-navigation__link
    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: var(--bodi-1);
    }

    // .page-navigation__separator
    &__separator {
        width: 14px;
        height: 12px;
    }

    // .page-navigation__link--current
    &__link--current {
        color: var(--bodi-2);
    }

    // .page-navigation__back-link-wrp
    &__back-link-wrp {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    // .page-navigation__back-link
    &__back-link {
        display: flex;
        align-items: center;
    }

    // .page-navigation__back-link-icon
    &__back-link-icon {
        width: 16px;
        height: 16px;
        transform: rotate(180deg);
        left: -3px;
        top: 2px;
    }

    // .page-navigation__back-link-text
    &__back-link-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        text-align: right;
        color: var(--bodi-2);
    }
}

.about-studio {
    margin-bottom: 71px;

    // .about-studio__container
    &__container {
        display: flex;
        flex-direction: column;
    }

    // .about-studio__title-wrp
    &__title-wrp {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 23px;
    }

    // .about-studio__title-icon
    &__title-icon {
        width: 24px;
        height: 24px;
    }

    // .about-studio__title
    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: var(--bodi-1);
    }

    // .about-studio__text
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: var(--bodi-2);
    }
}

.vacancy {
    margin-bottom: 60px;

    // .vacancy__container
    &__container {
        display: flex;
        flex-direction: column;
    }

    // .vacancy__title-wrp
    &__title-wrp {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 31px;
    }

    // .vacancy__icon
    &__icon {
        width: 24px;
        height: 24px;
    }

    // .vacancy__title
    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: var(--bodi-1);
    }

    // .vacancy__list
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    // .vacancy__list-item
    &__list-item {
        border-radius: 12px;
        box-sizing: border-box;
        padding: 16px;
    }

    // .vacancy__list-item-title
    &__list-item-title {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: var(--bodi-1);
        margin-bottom: 16px;
    }

    // .vacancy__text
    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: var(--bodi-2);
        margin-bottom: 21px;
    }

    // .vacancy__link
    &__link {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    // .vacancy__link-text
    &__link-text {

        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: var(--bodi-2);
    }

    // .vacancy__link-icon
    &__link-icon {
        width: 16px;
        height: 16px;
        position: relative;
        top: 1px;
    }
}