.product-page {
  min-height: 700rem;
  background-image: url(../../image/basket-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  margin-bottom: 130rem;

  // .product-page__container
  &__container {
    flex-direction: column;
  }

  // .product-page__page-top-box
  &__page-top-box {
    margin-bottom: 80rem;
  }

  // .product-page__info
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120rem;
  }

  // .product-page__gallery
  &__gallery {
    width: 708rem;
  }

  // .product-page__info-text-box
  &__info-text-box {
    width: 784rem;
  }

  // .product-page__info-title
  &__info-title {
    text-align: left;
    text-transform: unset;
    margin-bottom: 31rem;
  }

  // .product-page__info-list-title
  &__info-list-title {
    // margin-bottom: 24rem;
  }

  // .product-page__info-list
  &__info-list {
    margin-bottom: 28rem;
  }

  // .product-page__info-item-text
  &__info-item-text {
  }

  // .product-page__info-item-price
  &__info-item-price {
    margin-bottom: 30rem;
  }

  // .product-page__info-counter-wrp
  &__info-counter-wrp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .product-page__info-counter
  &__info-counter {
  }

  // .product-page__info-main-btn
  &__info-main-btn {

    // .product-page__info-main-btn .main-btn__button
    .main-btn__button {
      width: 424rem;

      // .product-page__info-main-btn .main-btn__button::after
      .main-btn__button::after {
        width: 336rem;
        height: 60rem;
      }
    }
  }

  // .product-page__slider
  &__slider{

    // .product-page__slider .shop-page-body-gds__item
    .shop-page-body-gds__item {
      margin-bottom: 0;
    }
  }

}