.shop-page-main {
  z-index: 2;
}

.shop-page-wrp {
  background: unset;

  @media screen and (max-width: $tab-media) {
    background: var(--bg-0);
  }
}

.shop-page-top {
  height: 1145rem;
  position: relative;

  // .shop-page-top__container
  &__container {
    position: unset;
  }

  // .shop-page-top__page-nav
  &__page-nav {
    position: absolute;
    top: 51rem;

    @media screen and (max-width: $tab-media) {
      position: relative;
      top: unset;
    }
  }

  // .shop-page-top__decoration-wrp
  &__decoration-wrp {
    width: 100%;
    height: 401rem;
    position: absolute;
    left: 50%;
    top: 44rem;
    transform: translateX(-50%);
    z-index: 2;

    @media screen and (max-width: $mob-media) {
      height: auto;
      top: 0;
    }
  }

  // .shop-page-top__decoration
  &__decoration {
    position: absolute;
  }

  // .shop-page-top__decoration--bottom
  &__decoration--bottom {
    width: 100%;
    height: 196rem;
    top: 205rem;
    z-index: 3;

    @media screen and (max-width: $tab-media) {
      width: 768rem;
      height: 148rem;
      top: 81rem;
    }

    @media screen and (max-width: $mob-media) {
      width: 100%;
      height: 68rem;
    }
  }

  // .shop-page-top__decoration--warriors
  &__decoration--warriors {
    width: 578rem;
    height: 301rem;
    left: 50%;
    margin-left: -289rem;
    top: -1rem;
    // transform: translateX(-50%);
    z-index: 2;

    @media screen and (max-width: $tab-media) {
      width: 406rem;
      height: 212rem;
      margin-left: -203rem;
      margin-top: -60rem;
    }

    @media screen and (max-width: $mob-media) {
      width: 189rem;
      height: 100rem;
      margin-left: -94.5rem;
      margin-top: 18rem;
    }
  }

  // .shop-page-top__decoration--flag
  &__decoration--flag {
  }

  // .shop-page-top__decoration--flag-left
  &__decoration--flag-left {
    width: 289rem;
    height: 269rem;
    left: 602rem;
    top: 36rem;
    z-index: 1;

    @media screen and (max-width: $tab-media) {
      display: none;
    }

    @media screen and (min-width: 1900px) {
      left: 902rem;
    }

    @media screen and (min-width: 2561px) {
      left: 1302rem;
    }
  }

  // .shop-page-top__decoration--flag-center
  &__decoration--flag-center {
    width: 578rem;
    height: 301rem;
    left: 50%;
    transform: translateX(-50%);
    top: 0rem;

    @media screen and (max-width: $tab-media) {
      display: none;
    }
  }

  // .shop-page-top__decoration--flag-right
  &__decoration--flag-right {
    width: 289rem;
    height: 269rem;
    right: 602rem;
    top: 36rem;
    z-index: 1;

    @media screen and (max-width: $tab-media) {
      display: none;
    }

    @media screen and (min-width: 1900px) {
      right: 902rem;
    }

    @media screen and (min-width: 2561px) {
      right: 1302rem;
    }
  }

  // .shop-page-top__btn
  &__btn {
    position: absolute;
    top: 44rem;
    right: 155rem;

    @media screen and (max-width: $tab-media) {
      width: 180rem;
      position: relative;
      top: unset;
      right: unset;
    }

    @media screen and (max-width: $mob-media) {
      width: 60rem;
      top: 10rem;
    }

    // .shop-page-top__btn .second-btn__bg::after
    .second-btn__bg::after {
      @media screen and (max-width: $mob-media) {
        background-image: url('../image/mob/texture-btn-mob2.png');
      }
    }

    // .shop-page-top__btn .icon
    .icon {
      width: 16rem;
      height: 16rem;
      display: none;

      @media screen and (max-width: $mob-media) {
        display: block;
        margin-right: 4rem;
      }
    }

    // .shop-page-top__btn .text
    .text {
      @media screen and (max-width: $mob-media) {
        display: none;
      }
    }
  }

  // .shop-page-top__bg-img
  &__bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: -2rem;
    transform: translateX(-50%);
    z-index: -1;

    @media screen and (max-width: $tab-media) {
      top: -86rem;
    }

    @media screen and (max-width: $mob-media) {
      top: -315rem;
    }

    // .shop-page-top__bg-img img
    img {
      object-fit: cover;

      @media screen and (max-width: $tab-media) {
        object-fit: contain;
      }
    }
  }
}

.shop-page-body {
  // background: var(--bg-0);
  margin-top: -620rem;
  margin-bottom: 155rem;

  position: relative;
  z-index: 2;

  @media screen and (max-width: $tab-media) {
    margin-top: -811rem;
  }

  @media screen and (max-width: $mob-media) {
    margin-top: -971rem;
    margin-bottom: 80rem;
  }

  // .shop-page-body::after
  &::after {
    content: '';
    width: 101%;
    // height: calc(100% - 450rem);
    height: 100%;
    position: absolute;
    top: 610rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-0);
    z-index: -1;
  }

  // .shop-page-body__container
  &__container {
    flex-direction: column;
  }

  // .shop-page-body__title
  &__title {
    margin-bottom: 37rem;

    @media screen and (max-width: $tab-media) {
      margin-bottom: 15rem;
    }

    @media screen and (max-width: $mob-media) {
      margin-bottom: 11rem;
    }
  }

  // .shop-page-body__nav
  &__nav {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    // padding-top: 20rem;
    // padding-bottom: 20rem;
    margin-bottom: 60rem;

    background-image: url('../image/gds/nav-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: $tab-media) {
      // background-image: url('../image/tab/nav-bg-tab.svg');
      margin-left: -35rem;
      margin-right: -35rem;
      margin-bottom: 46rem;
      background-image: unset;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 50%, rgba(0, 0, 0, 0) 100%);
    }

    @media screen and (max-width: $mob-media) {
      height: 44rem;
      margin-bottom: 24rem;
      // background-image: url('../image/mob/nav-bg-mob.svg');
    }
  }

  // .shop-page-body__list
  &__list {
    display: flex;

    @media screen and (max-width: $tab-media) {
      display: none;
    }
  }

  // .shop-page-body__item
  &__item {
    margin-right: 44rem;
    position: relative;
    box-sizing: border-box;
    padding-top: 20rem;
    padding-bottom: 20rem;

    // .shop-page-body__item--active
    &--active {

      // .shop-page-body__item--active::after
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('../image/decoration-figure.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        width: 16rem;
        height: 12rem;
      }

      // .shop-page-body__item--active::before
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        background-image: url('../image/decoration-figure.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        width: 16rem;
        height: 12rem;
      }

      // .shop-page-body__item--active .shop-page-body__link
      .shop-page-body__link {
        color: var(--bg-2);
      }
    }

    // .shop-page-body__item:last-child
    &:last-child {
      margin-right: 0;
    }
  }

  // .shop-page-body__link
  &__link {
  }
}

.shop-page-body-gds {
  margin-bottom: calc(60rem - 44rem);
  @media screen and (max-width: $tab-media) {
    margin-bottom: 0;
  }

  // .shop-page-body-gds__title-wrp
  &__title-wrp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38rem;

    @media screen and (max-width: $tab-media) {
      margin-bottom: 31rem;
    }

    @media screen and (max-width: $mob-media) {
      margin-bottom: 11rem;
    }    
  }

  // .shop-page-body-gds__title-icon
  &__title-icon {
    width: 80rem;
    height: 80rem;
    margin-bottom: 12rem;

    @media screen and (max-width: $tab-media) {
      width: 60rem;
      height: 60rem;
    }

    @media screen and (max-width: $mob-media) {
      width: 36rem;
      height: 36rem;
    }
  }

  // .shop-page-body-gds__title-text-wrp
  &__title-text-wrp {
    display: flex;
    align-items: center;

    // .shop-page-body-gds__title-text-wrp .main-btn__decoration
    .main-btn__decoration {
      position: relative;
      top: -4rem;

      @media screen and (max-width: $tab-media) {
        display: none;
      }
    }
  }

  // .shop-page-body-gds__title-text
  &__title-text {
    text-transform: uppercase;
    line-height: 110%;
  }

  // .shop-page-body-gds__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: $tab-media) {
      margin-bottom: 8rem;
    }
    
    @media screen and (max-width: $mob-media) {
      margin-bottom: 10rem;
    }
  }

  // .shop-page-body-gds__item
  &__item {
    width: 374rem;
    margin-bottom: 44rem;

    @media screen and (max-width: $tab-media) {
      width: 336rem;
      margin-bottom: 36rem;
    }

    @media screen and (max-width: $mob-media) {
      width: 156rem;
      margin-bottom: 13rem;
    }
  }

  // .shop-page-body-gds__img
  &__img {
    width: 100%;
    height: 374rem;
    margin-bottom: 24rem;

    @media screen and (max-width: $tab-media) {
      height: 336rem;
    }

    @media screen and (max-width: $mob-media) {
      height: 156rem;
      margin-bottom: 12rem;
    }
  }

  // .shop-page-body-gds__name
  &__name {
    margin-bottom: 11rem;

    @media screen and (max-width: $tab-media) {
      font-size: 24rem;
    }

    @media screen and (max-width: $mob-media) {
      font-size: 14rem;
      margin-bottom: 6rem;
    }
  }

  // .shop-page-body-gds__price
  &__price {
    font-weight: 500;
  }

  // .shop-page-body-gds__link 
  &__link {

    // .shop-page-body-gds__link:hover
    &:hover {
      color: var(--bg-1);
    }
  }
}

.footer--shop-page {
  z-index: 2;
  position: relative;
}