// colors
:root {
  --bodi-1: #d94599;
  --bodi-2: #0badb2;
  --bodi1-1: #fefcfa;
  --bodi1-2: #271f1f;
  --bodi2-1: #169da0;
  --bodi2-2: #d42d8c;
}
// fonts
:root {
  --font-family: "Nunito", sans-serif;
  --second-family: "EFN Pastele", sans-serif;
}
