/*animation fix FS */
.s1__list-item:nth-child(1) {
  animation: m_zoom_in 550ms ease-in-out 1425ms normal forwards running;
}

.s1__list-item:nth-child(2) {
  animation: m_zoom_in 550ms ease-in-out 1525ms normal forwards running;
}

.s1__list-item:nth-child(3) {
  animation: m_zoom_in 550ms ease-in-out 1625ms normal forwards running;
}

.s1__list-item:nth-child(4) {
  animation: m_zoom_in 550ms ease-in-out 1725ms normal forwards running;
}

.s1__list-item:nth-child(5) {
  animation: m_zoom_in 550ms ease-in-out 1825ms normal forwards running;
}

.s1__list-item:nth-child(6) {
  animation: m_zoom_in 550ms ease-in-out 1925ms normal forwards running;
}

/* cart FS  */
.s1__tvr-list{
  flex-wrap: wrap;
}
.s1__tvr-list-item{
  margin-bottom: 10rem;
}

/* Validation */
.main-form__fields-validation {
  box-sizing: border-box;
  padding: 8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12rem;
  line-height: 120%;
  color: var(--bodi1-1);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12rem;
  background: var(--bodi2-2);

  position: absolute;
  opacity: 0;

  transition: opacity 500ms ease-in-out;
}

.main-form__fields-validation.active {
  opacity: 1;
}

.main-form__fields-validation--name {
  top: 150rem;
}

.main-form__fields-validation--phone {
  top: 256rem;
}

.main-form__fields-validation--mail {
  top: 356rem;
}

.main-form__fields-validation--mess {
  top: 645rem;
}

/* card box fix  */
.card-box__list{
  width: auto;
  justify-content: unset;
}

.card-box__list-item{
  margin-right: 24rem; 
}

.card-box__list-item:last-child{
  margin-right: 0;
}

.big-title{
  font-family: var(--font-family);
}

.popup1 .popup__content-text{
  display: inline-block;
}

.popup__content-text a{
  color: var(--bodi1-2);
  font-weight: 400;
}

.small-title{
  font-family: var(--font-family); 
}

.s1__decoration-text{
  font-size: 32rem;
}

.footer__decoration-box-text{
  top: 10rem;
  font-size: 28rem;
  margin-left: -14rem;
}
.footer__decoration-box-img{
  top: 17rem;
}

@media screen and (max-width: 1000px) {
  .card-box__list-item{
    margin-right: 16rem;
    justify-content: center;
  }

  .main-form__fields-validation--name {
    top: 109rem;
  }
  .main-form__fields-validation--phone {
    top: 193rem;
  }
  .main-form__fields-validation--mail {
    top: 278rem;
  }

  .main-form__fields-validation--mess {
    top: 543rem;
  }

  .big-title {
    font-size: 74rem;
    line-height: 100%;
  }
  .s1__start{
    margin-bottom: 149rem;
  }

  .s3__tab-title .s3__tab-title-text2{
    font-family: var(--font-family); 
    font-weight: 600;
  }
  .s5__title br{
    display: block;
  }
  .footer__decoration-box-text {
    top: 12rem;
    font-size: 28rem;
    margin-left: 29rem;
    margin-bottom: 101rem;
  }
  .s1__tvr-list-item {
    margin-bottom: 44rem;
  }
}


@media screen and (max-width: 600px) {
  .card-box__list-item-icon{
    width: 54rem;
    height: 54rem;
  }
  .card-box__list-item{
    margin-right: 3rem;
  }
  .card-box__list-item:last-child{
    margin-right: 0;
  }

  .main-form__fields-validation {
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: unset;
    font-size: 8rem;
    border-radius: 8rem;
  }
  .main-form__fields-validation--name {
    top: 56rem;
  }
  .main-form__fields-validation--phone {
    top: 102rem;
  }
  .main-form__fields-validation--mail {
    top: 149rem;
  }

  .main-form__fields-validation--mess {
    top: 334rem;
  }

  .big-title {
    font-size: 36rem;
  }

  .s1__start {
    margin-bottom: 95rem;
  }

  .s1__decoration-text {
    font-size: 20rem;
    top: 361rem;
  }

  .footer__decoration-box-text{
    max-width: 136rem;
    margin-left: 60rem;
    margin-bottom: 51rem;
    top: 11rem;
    font-size: 18rem;
  }
  .footer__decoration-box-img{
    top: -13rem;
  }

}
