@media screen and (max-width: $mobile) {

    // ================================================== FS ========================================================
    .header {
        padding-bottom: 0;
        padding-top: 12rem;
    }

    .header__logo {
        position: relative;
        top: -3rem;
    }

    .fs-wrp {
        min-width: unset;
        width: 100%;
        height: auto;
        background-image: url('../../imges/fs-bg-mob.png');
        background-position: center top;
        background-size: 100% 360rem;
        margin-bottom: 80rem;
        overflow: hidden;
    }

    .fs-wrp::before {
        display: none;
    }

    .main-logo__link {
        width: 68rem;
        height: 30rem;
    }

    .header__menu {
        display: none;
    }

    .languare-switcher {
        width: 62rem;
        gap: 4rem;
        left: 2rem;
        top: -3rem;
        flex-direction: column;
        margin-right: 8rem;
        margin-left: auto;
    }

    .languare-switcher__text {
        font-size: 14rem;
        top: 5rem;
        left: 0;
    }

    .languare-switcher__body {
        width: 24rem;
        height: 24rem;
        right: 1rem;
        top: 2rem;
    }

    .languare-switcher__body-item {
        width: 24rem;
        height: 24rem;
        font-size: 12rem;
        background-size: cover;
        background-color: unset;
    }

    .fs__title-h1 {
        font-size: 70rem;
        line-height: 80%;
    }

    .fs__title-h1::before {
        top: -9rem;
        left: 0rem;
        -webkit-text-stroke: 1rem rgb(255, 255, 255);
        height: 160rem;
    }

    .fs__title-img {
        display: none;
    }

    .fs__title-desk-icon {
        display: none;
    }

    .fs__title-desk-text {
        font-size: 24rem;
    }

    .fs__title-desk {
        width: 144rem;
    }

    .fs__title-desk-text--2 {
        text-align: left !important;
    }

    .fs__title-desk-wrp {
        width: 100%;
        margin-top: -5rem;
    }

    .fs__title-h1 {
        height: 140rem;
    }

    .fs__title {
        margin-top: 8rem;
        margin-bottom: 132rem;
    }

    .video-box__title {
        width: 100%;
        max-width: unset;
        font-size: 18rem;
        margin-bottom: 6rem;
    }

    .video-box__text-wrp {
        gap: 0;
    }

    .video-box_prev-img {
        display: none;
    }

    .video-box__play-icon {
        width: 44rem;
        height: 44rem;
    }

    .video-box__body {
        width: 44rem;
        height: 44rem;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        top: 2rem;
    }

    .video-box__last-text-icon {
        display: none;
    }

    .video-box__last-text {
        font-size: 16rem;
    }

    .fs__video-box {
        position: relative;
        top: 0;
        padding-left: 57rem;
        margin-bottom: 17rem;
    }

    .fs__main-img {
        width: 360rem;
        height: 200rem;
        position: absolute;
        top: 146rem;
        left: 0;
        z-index: 2;
    }

    .fs__info-box {
        position: relative;
        top: 0;
    }

    .info-box {
        width: 100%;
        padding: 12rem;
        padding-bottom: 18rem;
        border-radius: 8rem;
        overflow: hidden;
    }

    .gradient-border::before {
        border-radius: 8rem;
        padding: 1rem;
    }

    .info-box__title {
        font-size: 18rem;
        margin-bottom: 6rem;
    }

    .info-box__text {
        font-size: 16rem;
        margin-bottom: 18rem;
    }

    .info-box__btn {
        border-radius: 8rem;
        width: 148rem;
        height: 42rem;
    }

    .main-btn {
        gap: 4rem;
    }

    .main-btn__text {
        font-size: 16rem;
    }

    .main-btn__shadow {
        border-radius: 8rem;
        width: 144rem;
        height: 44rem;
    }

    .main-btn__light {
        width: 132rem;
        height: 24rem;
        filter: blur(24rem);
        opacity: 0.6;
    }

    .main-btn__bg {
        border-radius: 8rem;
    }

    .fs__decoration {
        display: none;
    }

    .fs::after {
        display: none;
    }

    .fs__light-item {
        width: 506rem;
        height: 440rem;
        top: -42rem;
    }

    .fs__light-item--left {
        left: -40%;
    }

    .fs__light-item--right {
        right: -40%;
    }

    // ================================================== S1 ========================================================
    .s1 {
        margin-bottom: 36rem;
    }

    .s1__title {
        font-size: 24rem;
        margin-bottom: 85rem;
    }

    .s1__decoration-left {
        width: 160rem;
        height: 46rem;
        display: flex;
        align-items: center;
        left: 16rem;
        top: 52rem;
        gap: 8rem;
        flex-wrap: wrap;
    }

    .s1__decoration-right {
        width: 160rem;
        height: 46rem;
        display: flex;
        align-items: center;
        right: 26rem;
        top: 52rem;
        gap: 0rem;
        flex-wrap: wrap;
    }

    .s1__decoration-icon-left {
        width: 44rem;
        height: 38rem;
        margin: 0;
    }

    .s1__decoration-icon-right {
        width: 64rem;
        height: 38rem;
        margin: 0;
        order: -1;
    }

    .s1__decoration-left-text {
        font-size: 12rem;
        max-width: 110rem;
        text-align: left;
    }

    .s1__decoration-right-text {
        font-size: 12rem;
        max-width: 110rem;
        text-align: left;
        margin: 0;
    }

    .filter-form {
        width: 100%;
        height: 436rem;
        padding-left: 12rem;
        padding-right: 12rem;
        padding-top: 16rem;
        padding-bottom: 24rem;
    }

    .filter-select {
        width: 100%;
        margin-bottom: 4rem;
    }

    .filter-select__header {
        padding-left: 12rem;
        padding-right: 8rem;
        height: 44rem;
        border-radius: 4rem;
    }

    .filter-select__arrow {
        width: 24rem;
        height: 24rem;
        left: 0rem;
        top: 0rem;
    }

    .filter-select__arrow-icon {
        width: 12rem;
        height: 12rem;
    }

    .filter-select__title {
        font-size: 16rem;
        top: -2rem;
    }

    .filter-select__title-icon {
        width: 16rem;
        height: 16rem;
    }

    .filter-select__title b {
        margin-left: 6rem;
    }

    .filter-form__grid {
        margin-bottom: 8rem;
    }

    .filter-checkbox {
        margin-right: 4rem;
        margin-bottom: 13rem;
    }

    .filter-checkbox__text {
        font-size: 16rem;
    }

    .filter-checkbox__text {
        gap: 4rem;
    }

    .filter-form__btn {
        height: 42rem;
    }

    .gradient-btn__container {
        gap: 4rem;
        border-radius: 8rem;
    }

    .gradient-btn__text {
        font-size: 16rem;
    }

    .filter-form__checkboxes {
        margin-bottom: 7rem;
    }

    .gradient-btn::after {
        border-radius: 8rem;
        height: 42rem;
    }

    // ================================================== S2 ========================================================
    .s2 {
        margin-bottom: 36rem;
    }

    .item-list {
        gap: 8rem;
    }

    .item-list__item {
        width: 100%;
        min-height: 364rem;
        border-radius: 8rem;
    }

    .item-list__item-mark-item {
        left: 16rem;
        top: 16rem;
        font-size: 14rem;
    }

    .item-list__item-img {
        width: 100%;
        height: 150rem;
        border-radius: 8rem;
        margin-bottom: 8rem;
    }

    .item-list__item-rating-wrp {
        padding-left: 4rem;
        padding-right: 4rem;
        margin-bottom: 13rem;
    }

    .item-list__item-rating-text {
        font-size: 16rem;
    }

    .item-list__item-icon {
        width: 16rem;
        height: 16rem;
        margin-right: 4rem;
    }

    .item-list__item-title {
        font-size: 18rem;
    }

    .item-list__item-title-wrp {
        margin-bottom: 9rem;
    }

    .item-list__item-place-icon {
        width: 16rem;
        height: 16rem;
        position: relative;
        top: 3rem;
    }

    .item-list__item-place {
        font-size: 16rem;
    }

    .item-list__item-place-wrp {
        padding: 0;
        padding-left: 4rem;
    }

    .item-list__check-list {
        margin-bottom: 8rem;
    }

    .item-list__item-main-text {
        font-size: 14rem;
    }

    .gradient-border--filter-form::before {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.15) 100%);
    }

    .gradient-border--s2::before {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.15) 100%);
    }

    .item-list__item:nth-child(n + 6) {
        display: none;
    }

    .s2__item-list {
        margin-bottom: 12rem;
    }

    .s2__btn {
        border-radius: 4rem;
        width: 100%;
        height: 36rem;
        padding: 0;
    }

    .s2__btn-bg {
        border-radius: 4rem;
    }

    .s2__btn-text {
        font-size: 14rem;
    }

    // ================================================== S3 ========================================================
    .custom-list__item {
        font-size: 16rem;
    }

    .custom-list__numeric {
        gap: 13rem;
        margin-bottom: 21px;
    }

    .custom-list__bullet {
        gap: 14px;
    }

    .custom-list__bullet .custom-list__item {
        align-items: flex-start;
    }

    .custom-list__bullet .custom-list__item::before {
        transform: translateY(-4rem);
    }

    .custom-list {
        margin-bottom: 20px;
    }

    .s3__list {
        flex-direction: column;
    }

    .s3__list-item {
        width: 100%;
        padding: 12px;
        padding-bottom: 16px;
    }

    .s3__list-item-title {
        font-size: 16px;
        margin-bottom: 9px;
    }

    .s3__list-item-text {
        font-size: 16px;
    }

    .gradient-border--right::before {
        border-radius: 8rem;
        padding: 0.7rem;
        inset: auto 0 0 0;
        width: 100%;
        border-radius: 0 0 12rem 12rem;
    }

    .s3__list-item:last-child {
        display: none;
    }

    .s3__list-item:nth-child(3)::before {
        display: none;
    }

    // just time
    .s3, .s4 {
        display: none;
    }

}