.container1 {
  margin: 0 auto;
}

#tranding .tranding-slider {
  position: relative;
}


.tranding-slide {
  position: relative;
  width: 564px;
  height: 640px;
  
  // padding: 0 !important;
}

// .tranding-slide .person__title {
//   visibility: hidden;
// }

// .tranding-slide .person__text {
//   visibility: hidden;
// }

// .tranding-slide .person__img-wrp {

// }

// .swiper-slide-active {
//   height: 640px;
// }