.accordion {
    --content-padding: 36px;
    --extra-space: 36px;

    // @media screen and (max-width: $tab-media) {
    //     --content-padding: 16px;
    //     --extra-space: 16px;
    // }

    // @media screen and (max-width: $mob-media) {
    //     --content-padding: 12px;
    //     --extra-space: 12px;
    // }
}


.accordion {
    border-radius: 12px;
    width: 632px;

    // .accordion__item
    &__item {
        box-sizing: border-box;
        margin-bottom: 12px;
        cursor: pointer;

        // .accordion__item.active .accordion__content
        &.active .accordion__content {
            max-height: 1000px;
            // transition: all 0.5s ease-in-out;
        }

        // .accordion__item:last-child
        &:last-child {
            margin-bottom: 0;
        }
    }

    // .accordion__header
    &__header {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // transition: var(--base-anim-d);

        padding-left: 24px;
        padding-right: 24px;
        padding-top: 9px;
        padding-bottom: 16px;


        // @media screen and (max-width: $tab-media) {
        //     padding-top: 16px;
        //     padding-bottom: 16px;
        // }

        // @media screen and (max-width: $mob-media) {
        //     padding-top: 12px;
        //     padding-bottom: 12px;
        // }

        // .accordion__header:hover
        &:hover {

            // .accordion__header:hover .accordion__title
            .accordion__title {
                // color: var(--body-3);
            }
        }

        // .accordion__header.active
        &.active {
            padding-bottom: 8px;

            // @media screen and (max-width: $tab-media) {}

            // @media screen and (max-width: $mob-media) {
            //     padding-bottom: 12px;
            // }

            // .accordion__header.active .accordion__icon
            .accordion__icon {
                transform: rotate(180deg);
            }
        }
    }

    // .accordion__title
    &__title {
        max-width: 530px;
        min-height: 44px;
        display: flex;
        align-items: center;

        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: var(--bodi-1);

        transition: all 350ms ease-in-out;

        // @media screen and (max-width: $tab-media) {
        //     font-size: 24px;
        //     min-height: unset;
        //     max-width: 644px;
        // }

        // @media screen and (max-width: $mob-media) {
        //     font-size: 18px;
        //     max-width: 292px;
        // }
    }

    // .accordion__icon
    &__icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;

        will-change: transform;
        transition: all 250ms ease-in-out;

         /* Твой градиент для обводки */
        // @media screen and (max-width: $tab-media) {
        //     width: 36px;
        //     height: 34px;
        // }

        // @media screen and (max-width: $mob-media) {
        //     width: 24px;
        //     height: 24px;
        // }
    }

    // .accordion__content
    &__content {
        overflow: hidden;
        box-sizing: border-box;
        padding-bottom: 0;

        padding-left: 24px;
        padding-right: 24px;

        transition: all 0.25s ease-in-out;
        max-height: 0;

        will-change: transform;

        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: var(--bodi-2);

        // @media screen and (max-width: $tab-media) {
        //     font-size: 18px;
        // }

        // @media screen and (max-width: $mob-media) {
        //     font-size: 14px;
        // }
    }
}