.add-fb__main-form-wrp {}


.add-fb-form {
    width: 512rem;
    height: 556rem;
    border-radius: 12rem;
    // backdrop-filter: blur(24rem);
    // background: linear-gradient(135deg, rgba(30, 25, 65, 0.1) 0%, rgba(26, 26, 66, 0.3) 100%);

    box-sizing: border-box;
    padding: 24rem;
    padding-bottom: 44rem;

    background-image: url('../../imges/items/form-bg.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    // .add-fb-form__top
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 21rem;
    }

    // .add-fb-form__rating-text-wrp
    &__rating-text-wrp {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    // .add-fb-form__rating-text
    &__rating-text {
        font-weight: 400;
        font-size: 18rem;
        line-height: 120%;
        color: var(--bodi-2);
    }

    // .add-fb-form__rating-num
    &__rating-num {
        font-weight: 400;
        font-size: 18rem;
        line-height: 120%;
        color: var(--bodi-1);
    }

    // .add-fb-form__rating-star-list
    &__rating-star-list {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    // .add-fb-form__rating-star-icon
    &__rating-star-icon {
        width: 16rem;
        height: 16rem;
        cursor: pointer;
    }

    // .add-fb-form__form
    &__form {}

    // .add-fb-form__field
    &__field {
        margin-bottom: 16rem;
        height: 60rem;

        overflow: hidden;
        box-sizing: border-box;
        padding: 16rem;
        backdrop-filter: blur(24rem);
        background: var(--bg-1-page);

        // .add-fb-form__field--text-area
        &--text-area {
            height: 148rem;
        }

        // .add-fb-form__field--error
        &--error {
            border: 1rem solid var(--dop-2);

            &::before {
                visibility: hidden;
            }
        }
    }

    // .add-fb-form__input
    &__input {
        width: 100%;
        height: 100%;

        background-color: unset;
        border: unset;
        outline: unset;

        font-weight: 400;
        font-size: 18rem;
        line-height: 120%;
        color: var(--bodi-1);

        // .add-fb-form__input::placeholder 
        &::placeholder {
            font-weight: 400;
            font-size: 18rem;
            line-height: 120%;
            color: var(--bodi-2);
        }
    }

    // .add-fb-form__textarea
    &__textarea {
        width: 100%;
        resize: none;

        background-color: unset;
        border: unset;
        outline: unset;

        font-weight: 400;
        font-size: 18rem;
        line-height: 120%;
        color: var(--bodi-1);

        // .add-fb-form__textarea::placeholder 
        &::placeholder {
            font-weight: 400;
            font-size: 18rem;
            line-height: 120%;
            color: var(--bodi-2);
        }
    }

    // .add-fb-form__submit-btn
    &__submit-btn {
        width: 100%;
        height: 59rem;
        margin-bottom: 18rem;
        border-radius: 12rem;
        margin-top: 7rem;
    }

    // .add-fb-form__agreement
    &__agreement {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    // .add-fb-form__agreement-icon
    &__agreement-icon {
        width: 24rem;
        height: 24rem;
    }

    // .add-fb-form__agreement-text
    &__agreement-text {
        max-width: 436rem;
        font-weight: 400;
        font-size: 16rem;
        line-height: 120%;
        color: var(--bodi-2);
    }

    // .add-fb-form__agreement-link
    &__agreement-link {
        font-weight: 400;
        font-size: 16rem;
        line-height: 120%;
        color: var(--bodi-2);

        text-decoration: underline;
        text-decoration-skip-ink: none;

        transition: color 250ms ease-in-out;

        // .add-fb-form__agreement-link:hover
        &:hover {
            color: var(--bodi-1);
        }
    }
}


// interactive
.add-fb-form {

    // .add-fb-form__rating-star-list
    &__rating-star-list {
        display: inline-flex;
        flex-direction: row-reverse; 
        gap: 4rem; 
    }

    // .add-fb-form__rating-star-icon
    &__rating-star-icon {
        width: 16rem;
        height: 16rem;
        cursor: pointer;
        
        opacity: 0.4; 
        transition: opacity 0.2s ease, transform 0.2s ease;

        img {
            width: 100%;
            height: 100%;
            display: block;
            pointer-events: none;
        }

        &:hover,
        &:hover ~ .add-fb-form__rating-star-icon {
            opacity: 1;
            transform: scale(1.1);
        }

        &.is-selected,
        &.is-selected ~ .add-fb-form__rating-star-icon {
            opacity: 1 !important;
            transform: scale(1);
        }
    }
}