.btn-line {
  position: relative;
  width: 297rem;
  height: 48rem;
  margin-bottom: 16rem;

  // .btn-line i
  i{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    background-color: #f4f5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $body-3-color;

    @media screen and (max-width: $bp-tab) {
      font-size: 24rem;
    }
  }

  // .btn-line a
  a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: transparent;
    text-decoration: none;
    text-transform: uppercase;
  }

  a:before,
  a:after,
  span:before,
  span:after {
    content: '';
    position: absolute;
    width: 50rem;
    height: 16rem;
    background: $body-4-color;
    // background: linear-gradient(
    //   to bottom right, /* Направление градиента */
    //   #470083,        /* Начальный цвет */
    //   rgba(71, 0, 131, 0) /* Конечный цвет с прозрачностью */
    // );
    transition: 1s;
    mix-blend-mode: hue;
    z-index: -1;
  }

  a:before {
    top: -2rem;
    left: -2rem
  }

  a:after {
    top: -2rem;
    right: -2rem;
  }

  span:before {
    bottom: -2rem;
    left: -2rem
  }

  span:after {
    bottom: -2rem;
    right: -2rem
  }

  a.active:before,
  a.active:after,
  a.active span:before,
  a.active span:after {
    width: calc(297rem/2);
    height: calc(48rem/2)
  }
}