.button-container {
  display: flex;
  width: 100%;

  .container {
    // max-width: 900rem;
    // margin: 0 auto;
    // position: relative;
    // display: block;
    // float:left;
    // width: 100%;
    // left: 50%;
    // transform: translateX(-50%);
  }

  .button {
    // margin: 20rem;
    float: left;
    position: relative;

    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;


    .label {
      // padding: 10rem;
      display: inline-block;
    }

    &.v1 {

      .left,
      .right,
      .bottom,
      .top {
        // background: #f0202f;
        background: linear-gradient(to bottom left,
            /* Направление градиента */
            #470083,
            /* Начальный цвет */
            rgba(71, 0, 131, 0)
            /* Конечный цвет с прозрачностью */
          );
        position: absolute;
      }

      .left,
      .right {
        height: 45rem;
        width: 1rem;
      }

      .top,
      .bottom {
        height: 1rem;
        width: 30rem;
      }

      .top {
        top: 0;
        left: 0;
      }

      .bottom {
        bottom: 0;
        right: 0;
      }

      .left {
        transform: rotate(35deg);
        left: -7rem;
        top: -1rem;
      }

      .right {
        transform: rotate(35deg);
        right: -7rem;
        bottom: -1rem;
      }
    }

    &.v2 {

      .icon {

        &:before,
        &:after {
          content: '';
          // background: #f0202f;
          background: linear-gradient(to bottom left,
              /* Направление градиента */
              #470083,
              /* Начальный цвет */
              rgba(71, 0, 131, 0)
              /* Конечный цвет с прозрачностью */
            );
          position: absolute;
          display: block;
          width: 40rem;
          height: 1rem;
          transform: rotate(-45deg);
        }

        &:before {
          left: 0;
        }

        &:after {
          right: 0;
        }
      }

      &:before,
      &:after {
        content: '';
        height: 1rem;
        width: 30rem;
        position: absolute;
        display: block;
        // background: #f0202f;
        background: linear-gradient(to bottom left,
            /* Направление градиента */
            #470083,
            /* Начальный цвет */
            rgba(71, 0, 131, 0)
            /* Конечный цвет с прозрачностью */
          );
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    &.v3 {

      &:hover {
        .icon {

          &:before,
          &:after {
            width: 35rem;
          }

          span {

            &:before,
            &:after {
              height: 35rem;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          // background: #f0202f;
          background: linear-gradient(to bottom left,
              /* Направление градиента */
              #470083,
              /* Начальный цвет */
              rgba(71, 0, 131, 0)
              /* Конечный цвет с прозрачностью */
            );
          transition: width 0.5s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            // background: #f0202f;
            background: linear-gradient(to bottom left,
                /* Направление градиента */
                #470083,
                /* Начальный цвет */
                rgba(71, 0, 131, 0)
                /* Конечный цвет с прозрачностью */
              );
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: height 0.5s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v4 {

      &:hover {
        .icon {

          &:before,
          &:after {
            width: 10rem;
          }

          span {

            &:before,
            &:after {
              height: 10rem;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: width 0.5s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: height 0.5s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v5 {

      &:hover {
        .icon {
          transform: scale(0.8);

          &:before,
          &:after {
            width: 20rem;
          }

          span {

            &:before,
            &:after {
              height: 20rem;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.5s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: width 0.5s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: height 0.5s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v6 {

      &:hover {
        .icon {
          transform: scale(0.9);

          &:before,
          &:after {
            width: 100%;
          }

          span {

            &:before,
            &:after {
              height: 100%;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.5s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: width 0.5s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: height 0.5s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v7 {

      &:hover {
        .icon {
          transform: scale(0.9) skew(-40deg, 0deg);

          &:before,
          &:after {
            width: 100%;
          }

          span {

            &:before,
            &:after {
              height: 100%;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.5s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: width 0.5s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: height 0.5s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v8 {

      &:hover {
        .icon {
          transform: scale(1.1) skew(-40deg, 0deg);

          &:before,
          &:after {
            width: 100%;
          }

          span {

            &:before,
            &:after {
              height: 100%;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.5s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: width 0.5s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: height 0.5s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v9 {

      &:hover {
        .icon {
          transform: scale(1.1) skew(-40deg, 0deg);

          &:before,
          &:after {
            width: 100%;
          }

          span {

            &:before,
            &:after {
              height: 100%;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;
        transition-delay: 0.2s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: width 0.2s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: height 0.2s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v10 {

      &:hover {
        .icon {
          transform: scale(0.9) skew(0deg, 0deg);

          &:before,
          &:after {
            width: 100%;
          }

          span {

            &:before,
            &:after {
              height: 100%;
            }
          }
        }
      }

      .label {
        // padding: 10rem 22rem;
        // padding: 13rem 24rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-30deg, 0deg);
        transition: all 0.2s;
        transition-delay: 0.2s;

        &:before,
        &:after {
          content: '';
          height: 2rem;
          width: 116rem;
          position: absolute;
          display: block;
          background: linear-gradient(to bottom left,
              #470083,
              rgba(71, 0, 131, 0));
          transition: width 0.2s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: linear-gradient(to bottom left,
                #470083,
                rgba(71, 0, 131, 0));
            position: absolute;
            display: block;
            width: 2rem;
            height: 50rem;
            transition: height 0.2s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v11 {

      &:hover {
        .icon {
          transform: scale(0.9) skew(0deg, 0deg);

          &:before,
          &:after {
            width: 100%;
          }

          span {

            &:before,
            &:after {
              height: 100%;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: width 0.2s;
          transition-delay: 0.2s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: height 0.2s;
            transition-delay: 0.2s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v12 {

      &:hover {
        .icon {
          transform: scale(0.9) skew(0deg, 0deg);

          &:before {
            width: 0;
          }

          &:after {
            width: 100%;
          }

          span {

            &:before,
            &:after {
              height: 0;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: width 0.2s;
          transition-delay: 0.2s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: height 0.2s;
            transition-delay: 0.2s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v12 {

      &:hover {
        .icon {
          transform: scale(0.9) skew(0deg, 0deg);

          &:before {
            width: 0;
          }

          &:after {
            width: 50%;
            right: 25%;
          }

          span {

            &:before,
            &:after {
              height: 0;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: all 0.2s;
          transition-delay: 0.2s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: all 0.2s;
            transition-delay: 0.2s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v13 {

      &:hover {
        .icon {
          transform: scale(0.9) skew(0deg, 0deg);

          &:before,
          &:after {
            width: 60rem;
          }

          &:before {
            left: calc(50% - 30rem);
          }

          &:after {
            right: calc(50% - 30rem);
          }

          span {

            &:before,
            &:after {
              height: 0;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: all 0.2s;
          transition-delay: 0.4s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: all 0.2s;
            transition-delay: 0.2s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v14 {

      &:hover {
        .icon {
          transform: scale(0.9) skew(0deg, 0deg);

          &:before,
          &:after {
            width: 60rem;
            transition-delay: 0.4s;
          }

          &:before {
            left: calc(50% - 30rem);
          }

          &:after {
            right: calc(50% - 30rem);
          }

          span {

            &:before,
            &:after {
              height: 0;
              transition-delay: 0s;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: all 0.2s;
          transition-delay: 0s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: all 0.2s;
            transition-delay: 0.4s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v15 {

      &:hover {
        .icon {
          transform: scale(0.9) skew(0deg, 0deg);

          &:before,
          &:after {
            width: 60rem;
          }

          &:before {
            left: calc(50% - 30rem);
          }

          &:after {
            right: calc(50% - 30rem);
          }

          span {

            &:before,
            &:after {
              height: calc(100% - 20rem);
            }

            &:before {
              top: 10rem;
            }

            &:after {
              bottom: 10rem;
            }
          }
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: all 0.2s;
          transition-delay: 0.2s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: all 0.2s;
            transition-delay: 0.2s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v16 {

      &:hover {
        .icon {

          &:before,
          &:after {
            width: 100%;
          }

          span {

            &:before,
            &:after {
              height: 100%;
            }
          }
        }

        .icon2 {
          transform: skew(-40deg, 0deg) scaleX(1);
          background: #f0202f;
          z-index: -1;
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon2 {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg) scaleX(0.2);
        transition: all 0.2s;
        transition-delay: 0.2s;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: all 0.2s;
          transition-delay: 0.2s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: all 0.2s;
            transition-delay: 0.2s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v17 {

      &:hover {
        .icon {

          &:before,
          &:after {
            width: 100%;
          }

          span {

            &:before,
            &:after {
              height: 100%;
            }
          }
        }

        .icon2 {
          transform: skew(-40deg, 0deg) scale(1);
          background: #f0202f;
          z-index: -1;
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon2 {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg) scaleX(0.2) scaleY(0.5);
        transition: all 0.2s;
        transition-delay: 0.2s;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: all 0.2s;
          transition-delay: 0.2s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: all 0.2s;
            transition-delay: 0.2s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v18 {

      &:hover {
        .icon {
          transform: scale(0.9) skew(0deg, 0deg);

          &:before,
          &:after {
            width: 60rem;
            transition-delay: 0.4s;
          }

          &:before {
            left: calc(50% - 30rem);
          }

          &:after {
            right: calc(50% - 30rem);
          }

          span {

            &:before,
            &:after {
              height: 0;
              transition-delay: 0s;
            }
          }
        }

        .icon2 {
          transform: skew(-40deg, 0deg) scaleX(1);
          background: #f0202f;
          z-index: -1;
          transition-delay: 0.5s;
        }
      }

      .label {
        padding: 10rem 22rem;
      }

      .icon2 {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg) scaleX(0.2);
        transition: all 0.2s;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;

        &:before,
        &:after {
          content: '';
          height: 1rem;
          width: 30rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: all 0.2s;
          transition-delay: 0s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            height: 30rem;
            transition: all 0.2s;
            transition-delay: 0.4s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v19 {
      .label {
        padding: 10rem 30rem;

        font-size: 14rem;
        display: inline-block;
        z-index: 10;
        position: relative;
        white-space: nowrap;
        line-height: 24rem;
        transition: all 0.225s;
        transition-delay: 0.45s;
        letter-spacing: 2rem;
      }

      &.button-start {
        .label {
          padding: 12rem 65rem;
        }
      }

      .icon2 {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.225s;
        transform: skew(-40deg, 0deg) scaleX(1);
        background: rgba(#f0202f, 0.8);
        transition-delay: 0.45s;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.225s;
        transform: scale(0.9) skew(0deg, 0deg);
        transition-delay: 0.15s;

        &:before,
        &:after {
          width: 60rem;
          opacity: 0;
          content: '';
          height: 1rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: all 0.375s;
          transition-delay: 0.3s;
        }

        &:before {
          top: 0;
          left: calc(50% - 30rem);
        }

        &:after {
          bottom: 0;
          right: calc(50% - 30rem);
        }

        span {

          &:before,
          &:after {
            height: 0;
            transition-delay: 0s;
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 2rem;
            transition: all 0.225s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }

      &:hover {
        .icon {
          transform: skew(-40deg, 0deg);

          &:before,
          &:after {
            transition-delay: 0s;
            width: 30rem;
            opacity: 1;
          }

          &:before {
            left: 0;
          }

          &:after {
            right: 0;
          }

          span {

            &:before,
            &:after {
              height: 30rem;
              transition-delay: 0.45s;
            }
          }
        }

        .icon2 {
          transform: skew(-40deg, 0deg) scaleX(0.2);
          background: transparent;
          transition-delay: 0s;
          opacity: 0;
        }
      }

      &.white {

        &:hover {
          .label {
            color: #fff;
            transition-delay: 0s;
          }
        }

        .icon2 {
          background: #fff;
        }

        .icon {

          &:before,
          &:after {
            background: #fff;
          }

          span {

            &:before,
            &:after {
              background: #fff;
            }
          }
        }
      }

      &.labelred {
        .label {
          // color: #f0202f;
          color: grey;

        }
      }

      &.labelgray {
        .label {
          color: #1D1D1D;
        }
      }

      &.transparent {
        float: none;
        display: inline-block;
        -webkit-transform: translateZ(0rem);
        transform: translateZ(0rem);

        .label {
          color: #fff;
          transition-delay: 0s;
        }

        .icon2 {
          background: transparent;
        }

        .icon {
          transform: scale(1) skew(10deg, 0deg);

          &:before,
          &:after {
            background: #fff;
          }

          span {

            &:before,
            &:after {
              background: #fff;
            }
          }
        }

        &:hover {
          .icon {
            transform: scale(1) skew(-40deg, 0deg);
          }
        }
      }
    }
  }
}

.button__notification {
  .button.v12 {
    width: 185rem;
    height: 49rem;
    margin-left: auto;
    margin-right: 9rem;

    .icon {
      transform: skew(-18deg, 0deg);
      top: -1rem;

      &:before,
      &:after {
        height: 2rem;
        width: 99rem;
        // background: linear-gradient(to bottom left,
        //     #470083,
        //     rgba(71, 0, 131, 0));
        background-color: #470083;
      }

      span {

        &:before,
        &:after {
          // background: linear-gradient(to bottom left,
          //     #470083,
          //     rgba(71, 0, 131, 0));
          background-color: #470083;
          width: 2rem;
          height: 50rem;
        }
      }
    }
  }

  .label {
    padding: 14rem 24rem;
  }

  span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18rem;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: $body-4-color;
  }
}

.button-address {
  .button {
    width: 717rem;
    position: relative;
  }

  .button.v6 {
    height: 49rem;

    .icon {
      top: 3rem;
      transform: skew(-18deg, 0deg);

      &:before {
        top: -2rem;
      }

      &:before,
      &:after {
        height: 2rem;
        width: 99rem;
        background: #4E51F5;
      }

      span {

        &:before,
        &:after {
          background: #4E51F5;
          width: 2rem;
          height: 50rem;
        }
      }
    }
  }

  .button-address__icon {
    width: 24rem;
    height: 24rem;
    position: absolute;
    top: 14rem;
    left: 205rem;
  }

  .label {
    padding: 15rem 22rem !important;
    margin-left: 29rem;
  }

  span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18rem;
    line-height: 120%;
    text-transform: uppercase;
    color: $body-3-color;
  }
}

.button-address-mini {
  .button {
    width: 347rem;
    margin-left: 4rem;
    position: relative;
  }

  .button-address__icon {
    top: 12rem;
    left: 95rem;
  }

  .label {
    padding: 14rem 20rem !important;
    margin-left: 37rem;
  }

  .button.v6 .icon {
    top: 1rem;
  }
}

.button-delete {
  .button {
    width: 345rem;
    margin-left: 0rem;
    position: relative;
  }

  .label {
    padding: 13rem 22rem !important;
    margin-left: 9rem;
    color: $error-color;
  }

  .button-address__icon {
    width: 24rem;
    height: 24rem;
    top: 12rem;
    left: 23rem;
  }

  .button.v4 {
    height: 49rem;

    .icon {
      top: 0rem;
      transform: skew(-18deg, 0deg);

      &:before {
        top: -2rem;
      }

      &:before,
      &:after {
        height: 2rem;
        width: 99rem;
        background: $error-color;
      }

      span {

        &:before,
        &:after {
          background: $error-color;
          width: 2rem;
          height: 50rem;
        }
      }
    }
  }
}

.footer__btn{
  width: 296rem;
  height: 51rem;
  margin-left: 9rem;
}
.footer__btn .button.v12{
  width: 100%;
  height: 100%;
}
.footer__btn .button.v12 .label{
  padding: 13rem 25rem;
  margin-left: 30rem;
}

.footer__btn .button-icon{
  position: absolute;
  width: 24rem;
  height: 24rem;
  left: 61rem;
  top: 13rem;
}

// copy-btn
.copy-btn{
  width: 200rem;
  height: 36rem;
  box-sizing: border-box;
  padding-left: 28rem;
  margin-bottom: 36rem;

  display: flex;
  align-items: center;
  background: url('../../images/icons/copy-btn-bg.svg');
  background-position: center center;
  background-size: cover;

  cursor: pointer;

  // .copy-btn-icon
  &-icon{
    width: 24rem;
    height: 24rem;
    margin-right: 8rem;
  }

  // .copy-btn span
  span{
    color: $body-4-color;
  }
}

// .default-btn
.default-btn{
  width: 300rem;
  height: 50rem;
  clip-path: polygon(
    100% 0%,    /* Верхняя правая точка */
    5.33% 0%,   /* Верхняя левая точка */
    0% 100%,    /* Нижняя левая точка */
    94.67% 100% /* Нижняя правая точка */
  );
  backface-visibility: hidden;
  background-color: $body-3-color;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 36rem;

  transition: all 0.2s ease-in-out;

  // .default-btn span
  span{
    color: $body-1-color;
  }

  // .default-btn.active
  &.active{
    background-color: $body-4-color;
  }
}
