.button-container {
  display: flex;
  width: 100%;

  .container {
    // max-width: 900rem;
    // margin: 0 auto;
    // position: relative;
    // display: block;
    // float:left;
    // width: 100%;
    // left: 50%;
    // transform: translateX(-50%);
  }

  .button {
    // margin: 20rem;
    float: left;
    position: relative;

    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;


    .label {
      // padding: 10rem;
      display: inline-block;
    }
    
    &.v4 {

      &:hover {
        .icon {

          &:before,
          &:after {
            width: 1.0rem;
          }

          span {

            &:before,
            &:after {
              height: 1.0rem;
            }
          }
        }
      }

      .label {
        padding: 1.0rem 2.2rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);

        &:before,
        &:after {
          content: '';
          height: 0.1rem;
          width: 3.0rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: width 0.5s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 0.2rem;
            height: 3.0rem;
            transition: height 0.5s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v6 {

      &:hover {
        .icon {
          transform: scale(0.9);

          &:before,
          &:after {
            width: 100%;
          }

          span {

            &:before,
            &:after {
              height: 100%;
            }
          }
        }
      }

      .label {
        padding: 1.0rem 2.2rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.5s;

        &:before,
        &:after {
          content: '';
          height: 0.1rem;
          width: 3.0rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: width 0.5s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 0.2rem;
            height: 3.0rem;
            transition: height 0.5s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v12 {

      &:hover {
        .icon {
          transform: scale(0.9) skew(0deg, 0deg);

          &:before {
            width: 0;
          }

          &:after {
            width: 100%;
          }

          span {

            &:before,
            &:after {
              height: 0;
            }
          }
        }
      }

      .label {
        padding: 1.0rem 2.2rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;

        &:before,
        &:after {
          content: '';
          height: 0.1rem;
          width: 3.0rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: width 0.2s;
          transition-delay: 0.2s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 0.2rem;
            height: 3.0rem;
            transition: height 0.2s;
            transition-delay: 0.2s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    &.v12 {

      &:hover {
        .icon {
          transform: scale(0.9) skew(0deg, 0deg);

          &:before {
            width: 0;
          }

          &:after {
            width: 50%;
            right: 25%;
          }

          span {

            &:before,
            &:after {
              height: 0;
            }
          }
        }
      }

      .label {
        padding: 1.0rem 2.2rem;
      }

      .icon {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skew(-40deg, 0deg);
        transition: all 0.2s;

        &:before,
        &:after {
          content: '';
          height: 0.1rem;
          width: 3.0rem;
          position: absolute;
          display: block;
          background: #f0202f;
          transition: all 0.2s;
          transition-delay: 0.2s;
        }

        &:before {
          left: 0;
          top: 0;
        }

        &:after {
          right: 0;
          bottom: 0;
        }

        span {

          &:before,
          &:after {
            content: '';
            background: #f0202f;
            position: absolute;
            display: block;
            width: 0.2rem;
            height: 3.0rem;
            transition: all 0.2s;
            transition-delay: 0.2s;
          }

          &:before {
            left: 0;
            top: 0;
          }

          &:after {
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}

.button__notification {

  .button.v12 {
    width: 18.5rem;
    height: 4.9rem;
    margin-left: auto;
    margin-right: 0.9rem;

    @media screen and (max-width: $bp-mob) {
      width: 14.6rem;
      height: 3.6rem;
      margin-right: 0.5rem;
    }

    .icon {
      transform: skew(-18deg, 0deg);
      top: -0.1rem;

      &:before,
      &:after {
        height: 0.2rem;
        width: 9.9rem;
        // background: linear-gradient(to bottom left,
        //     #470083,
        //     rgba(71, 0, 131, 0));
        background-color: #470083;

        @media screen and (max-width: $bp-mob) {
          width: 8.9rem;
        }
      }

      span {
        &:before,
        &:after {
          // background: linear-gradient(to bottom left,
          //     #470083,
          //     rgba(71, 0, 131, 0));
          background-color: #470083;
          width: 0.2rem;
          height: 5.0rem;

          @media screen and (max-width: $bp-mob) {
            height: 3.6rem;
          }
        }
      }
    }
  }

  .label {
    @media screen and (max-width: $bp-mob) {
      font-size: 1.4rem;
    }
    padding: 1.4rem 2.4rem;
  }

  span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: $body-4-color;
  }
}

.button-address {

  .button {
    width: 71.7rem;
    position: relative;

    @media screen and (max-width: $bp-tab) {
      width: 43.8rem;
    }

    @media screen and (max-width: $bp-mob) {
      width: 100%;
    }
  }

  .button.v6 {
    height: 4.9rem;

    @media screen and (max-width: $bp-mob) {
      height: 3.6rem;
    }

    .icon {
      top: 0.3rem;
      transform: skew(-18deg, 0deg);

      &:before {
        top: -0.2rem;
      }

      &:before,
      &:after {
        height: 0.2rem;
        width: 9.9rem;
        background: #4E51F5;

        @media screen and (max-width: $bp-mob) {
          width: 8.8rem;
        }        
      }

      span {
        &:before,
        &:after {
          background: #4E51F5;
          width: 0.2rem;
          height: 5.0rem;

          @media screen and (max-width: $bp-mob) {
            height: 3.6rem;
          }
        }
      }
    }
  }

  .button-address__icon {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 1.4rem;
    left: 20.5rem;
    @media screen and (max-width: $bp-tab) {
      top: 1.3rem;
      left: 6.7rem;
    }

    @media screen and (max-width: $bp-mob) {
      width: 1.6rem;
      height: 1.6rem;
      top: 1.3rem;
      left: 3.3rem;
    }
  }

  .label {
    padding: 1.5rem 2.2rem !important;
    margin-left: 2.9rem;

    @media screen and (max-width: $bp-tab) {
      margin-left: 3.3rem;
    }
    @media screen and (max-width: $bp-mob) {
      margin-left: 2.1rem;
      font-size: 1.4rem;
      padding: 1.3rem 1.8rem !important;
    }
  }

  span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 120%;
    text-transform: uppercase;
    color: $body-3-color;
  }
}

.button-address-mini {
  // .button-address-mini .button
  .button {
    width: 34.7rem;
    margin-left: 0.4rem;
    position: relative;

    @media screen and (max-width: $bp-tab) {
      width: 21.2rem;
      margin-left: 0rem;
    }

    @media screen and (max-width: $bp-mob) {
      width: 14.0rem;
      margin-left: 0rem;
    }
  }

  // .button-address-mini .button-address__icon
  .button-address__icon {
    // top: 12rem;
    // left: 95rem;

    top: 1.3rem;
    left: 2.7rem;

    @media screen and (max-width: $bp-mob) {
      top: 1.0rem;
      left: 1.4rem;
    }
  }

  .label {
    padding: 1.4rem 2.0rem !important;
    margin-left: 3.7rem;
    
    @media screen and (max-width: $bp-mob) {
      font-size: 1.2rem;
      padding: 1.1rem 0.8rem !important;
      margin-left: 1.3rem;
    }
  }

  .button.v6 .icon {
    top: 0.1rem;
  }
}

.button-delete {

  // .button-delete .button
  .button {
    width: 34.5rem;
    margin-left: 0rem;
    position: relative;

    @media screen and (max-width: $bp-tab) {
      width: 21.5rem;
    }

    @media screen and (max-width: $bp-mob) {
      width: 14.0rem;
    }
  }

  // .button-delete .label
  .label {
    padding: 1.3rem 2.2rem !important;
    margin-left: 0.9rem;
    color: $error-color;

    @media screen and (max-width: $bp-tab) {
      margin-left: -1.2rem;
      padding-right: 0 !important;
    }

    @media screen and (max-width: $bp-mob) {
      margin-left: 0.3rem;
      padding: 1.1rem 0rem !important;
    }
  }

  // .button-delete .button-address__icon
  .button-address__icon {
    width: 2.4rem;
    height: 2.4rem;
    top: 1.2rem;
    left: 2.3rem;

    @media screen and (max-width: $bp-tab) {
      // top: 13rem;
      // left: 67rem;

      top: 1.3rem;
      left: 0.1rem;
    }

    @media screen and (max-width: $bp-mob) {
      width: 1.6rem;
      height: 1.6rem;

      top: 1.0rem;
      left: -0.2rem;
    }

  }

  .button.v4 {
    height: 4.9rem;

    @media screen and (max-width: $bp-mob) {
      height: 3.6rem;
    }

    .icon {
      top: 0rem;
      transform: skew(-18deg, 0deg);

      &:before {
        top: -0.2rem;
      }

      &:before,
      &:after {
        height: 0.2rem;
        width: 9.9rem;
        background: $error-color;

        @media screen and (max-width: $bp-mob) {
          width: 8.8rem;
        }
      }

      span {

        &:before,
        &:after {
          background: $error-color;
          width: 0.2rem;
          height: 5.0rem;

          @media screen and (max-width: $bp-mob) {
            height: 3.6rem;
          }
        }
      }
    }
  }
}

.footer__btn{
  width: 29.6rem;
  height: 5.1rem;
  margin-left: 0.9rem;

  @media screen and (max-width: $bp-mob) {
    margin-bottom: 0;
  }
}
.footer__btn .button.v12{
  width: 100%;
  height: 100%;
}
.footer__btn .button.v12 .label{
  padding: 1.3rem 2.5rem;
  margin-left: 3.0rem;

  @media screen and (max-width: $bp-mob) {
    padding: 1.1rem 2.5rem;
    margin-left: 2.4rem;
  }
}

.footer__btn .button-icon{
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  left: 6.1rem;
  top: 1.3rem;

  @media screen and (max-width: $bp-mob) {
    width: 1.6rem;
    height: 1.6rem;
    left: 8.5rem;
    top: 1.0rem;
  }
}

// copy-btn
.copy-btn{
  width: 20.0rem;
  height: 3.6rem;
  box-sizing: border-box;
  padding-left: 2.8rem;
  margin-bottom: 3.6rem;

  display: flex;
  align-items: center;
  background: url('../../images/icons/copy-btn-bg.svg');
  background-repeat: no-repeat !important; 
  background-position: center center;
  background-size: contain !important;

  cursor: pointer;

  @media screen and (max-width: $bp-tab) {
    margin-bottom: 2.5rem;
  }

  @media screen and (max-width: $bp-mob) {
    width: 14.4rem;
    height: 3.6rem;
    padding-left: 1.8rem;
    margin-bottom: 0;

    background: url('../../images/copy-btn-bg-mob.svg');
  }

  // .copy-btn-icon
  &-icon{
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.8rem;

    @media screen and (max-width: $bp-mob) {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.4rem;
    }
  }

  // .copy-btn span
  span{
    color: $body-4-color;
    @media screen and (max-width: $bp-mob) {
      font-size: 1.4rem;
    }
  }
}

// .default-btn
.default-btn{
  width: 30.0rem;
  height: 5.0rem;
  clip-path: polygon(
    100% 0%,    /* Верхняя правая точка */
    5.33% 0%,   /* Верхняя левая точка */
    0% 100%,    /* Нижняя левая точка */
    94.67% 100% /* Нижняя правая точка */
  );
  backface-visibility: hidden;
  background-color: $body-3-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.6rem;
  transition: all 0.2s ease-in-out;

  @media screen and (max-width: $bp-tab) {
    margin-bottom: 2.3rem;
  }

  @media screen and (max-width: $bp-mob) {
    clip-path: unset;
    width: 100%;
    height: 3.6rem;
    clip-path: polygon(
      100% 0%,    /* Верхняя правая точка */
      0.73% 0%,   /* Верхняя левая точка */
      0% 100%,    /* Нижняя левая точка */
      99.27% 100% /* Нижняя правая точка */
    );
    margin-bottom: 1.6rem;
  }

  // .default-btn span
  span{
    color: $body-1-color;

    @media screen and (max-width: $bp-mob) {
      font-size: 1.4rem;
    }
  }

  // .default-btn.active
  &.active{
    background-color: $body-4-color;
  }
}

.footer .button__notification .button.v12{
  @media screen and (max-width: $bp-mob) {
    margin-left: 0;
    height: 3.6rem;
  }
}

.main-form-continue-btn .button.v12{
  @media screen and (max-width: $bp-mob) { 
    width: 100%;
  }
}

.mixing-input-btn {
  cursor: pointer;

  .mixing-input-btn-main {

  }

  .mixing-input-btn-ok {
    display: none;
  }

  // .mixing-input-btn path
  path {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }

  // .mixing-input-btn:hover
  &:hover {
    // .mixing-input-btn:hover path
    path {
      opacity: 0.7;
    }
  }
}

.mixing-input-btn {
  position: relative;
  cursor: pointer;
}

.mixing-input-btn-main,
.mixing-input-btn-ok {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms ease-in-out;
}

.mixing-input-btn-ok {
  display: none; /* Изначально скрыт */
  opacity: 0;
}

/* Анимация при наведении */
.mixing-input-btn:hover path {
  opacity: 0.7;
}