.counter {
  display: flex;
  align-items: center;

  @media screen and (max-width: $mob-media) {
    width: 100%;
  }

  // .counter__changer-count-wrp
  &__changer-count-wrp {
    background-color: unset;
    border: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-sizing: border-box;
    width: 336rem;
    height: 92rem;
    padding-left: 33rem;
    padding-right: 33rem;
    background-image: url('../image/counter-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    // padding-top: 15rem;
    // padding-bottom: 15rem;
    // margin-right: 12rem;

    @media screen and (max-width: $tab-media) {
      width: 100%;
    }

    @media screen and (max-width: $mob-media) {
      height: 60rem;

      background-image: url('../image/mob/counter-bg-mob.svg');
      margin-bottom: 12rem;
      padding-left: 20rem;
      padding-right: 21rem;
      margin-bottom: 10rem;
    }
  }

  // .counter__btn
  &__btn {
    width: 44rem;
    height: 44rem;
    border: unset;
    background-color: unset;
    position: relative;
    cursor: pointer;

    transform: scale(1);
    transition: all 90ms ease-in-out;

    // .counter__btn:active
    &:active {
      transform: scale(0.9);
    }

    // .counter__btn:hover
    &:hover {
      // .counter__btn:hover .counter__btn-bg
      .counter__btn-bg {
        background-color: #fff;
      }
    }

    @media screen and (max-width: $mob-media) {
      width: 23rem;
      height: 23rem;
    }

    
    // .counter__btn-bg
    &-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      z-index: 1;
      background: var(--bg-2);
      transition: all 250ms ease-in-out;
    }

    // .counter__btn svg
    svg {
      width: 24rem;
      height: 24rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      @media screen and (max-width: $mob-media) {
        width: 16rem;
        height: 16rem;
      }
    }
  }

  // .counter__value
  &__value {
    max-width: 148rem;
    background-color: unset;
    border: unset;
    color: var(--bg-1);
    text-align: center;
  }

  // .counter__btn--plus
  &__btn--plus {
    // .counter__btn--plus:hover
    &:hover {
      // .counter__btn--plus:hover .counter__btn-bg
      .counter__btn-bg {
        background-color: #fff;
      }
    }
  }

  // .counter__btn--minus
  &__btn--minus {
  }

  // .counter__btn--remove
  &__btn--remove {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12rem;
    position: relative;
    left: 10rem;

    @media screen and (max-width: $tab-media) {
      position: absolute;
      left: unset;
      top: 43rem;
      right: 33rem;
    }

    @media screen and (max-width: $mob-media) {
      top: 11rem;
      right: 21rem;
    }
    
    // .counter__btn-bg
    .counter__btn-bg {
      background: var(--bg-4);
    }
  }

  // .counter__btn-icon
  &__btn-icon {
    width: 24rem;
    height: 24rem;
  }
}
