.custom-time-selector {
  position: relative;
  box-sizing: border-box;
  width: 130px;
  min-height: 49px;
  background: $body-1-color;
  // border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border: 1px solid $body-3-color;
  
  /* Альтернативный вариант с точными пиксельными значениями */
  clip-path: polygon(
    0 12px,
    12px 0,
    100% 0,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    0 100%
  );

  // .custom-time-selector::before
  &::before{
    content: '';
    position: absolute;
    top: -7px;
    left: 6px;
    width: 1px;
    height: 20px;
    background-color: $body-3-color;
    transform: rotate(45deg);
  }

  // .custom-time-selector::after
  &::after{
    content: '';
    position: absolute;
    bottom: -5px;
    right: 5px;
    width: 1px;
    height: 20px;
    background-color: $body-3-color;
    transform: rotate(45deg);
  }
}

.selector-header {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: $body-1-color;
  // transition: all 0.3s ease;
  
  // .selector-header__icon
  &__icon{
    width: 24px;
    height: 24px;
  }

  // .selector-header__arrow
  &__arrow{
    width: 12px;
    height: 12px;
  }
}

.selector-header:hover {
  // background: rgba(0, 0, 0, 0.3);
}

.toggle-indicator {
  font-weight: bold;
  color: #fff;
  opacity: 0.7;
}

.selector-options {
  max-height: 0;
  overflow: hidden;

  // background: rgba(0, 0, 0, 0.15);
  box-sizing: border-box;

  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 93.4%,
    93.4% 100%,
    0% 100%
  );

  // overflow-y: auto;

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  & {
    scrollbar-width: thin;
    scrollbar-color: rgba(78, 81, 245, .3) #ffffff;
  }

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 0px;
    border: 0px none #ffffff;
  }
}

.custom-time-selector.active .selector-options {
  transition: all 250ms ease-in-out;
  max-height: 200px;
  // border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 16px;
}
.custom-time-selector {
  z-index: 1;
}
.custom-time-selector.active {
  z-index: 2;
}

.option {
  padding: 0px 12px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  color: $body-2-color;
  min-height: 24px;
  display: flex;
  align-items: center;
}

.option:hover {
  // background: rgba(255, 255, 255, 0.1);
  color: $body-3-color;
}

