.custom-scroll {

    /* СТИЛИЗАЦИЯ СКРОЛЛБАРА */
    &::-webkit-scrollbar {
        width: 6rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        margin: 8rem 0;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 100rem;
        transition: background 0.2s ease;

        &:hover {
            background: rgba(255, 255, 255, 0.3);
        }
    }

    /* Поддержка для браузера Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}