.privacy-slider-v2 {
  margin-bottom: 50px;
}

.track-container-v2 {
  position: relative;
  height: 40px;
  margin: 25px 0;
}

.track-v2 {
  position: absolute;
  width: 100%;
  height: 8px;
  // background: #f0f0f0;
  // border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 500ms ease-in-out;
}

// .track-v2::before,
// .track-v2::after {
//   content: '';
//   position: absolute;
//   width: 5px;
//   height: 100%;
//   background: inherit;
//   top: 50%;
//   transform: translateY(-50%);
// }

// .track-v2::before {
//   left: -4.95px;
//   clip-path: polygon(0 50%, 100% 0, 100% 100%);
// }

// .track-v2::after {
//   right: -4.95px;
//   clip-path: polygon(0 0, 100% 50%, 0 100%);
// }

.track-v2__bg{
  width: 100%;
  height: 100%;
}
.track-v2__bg svg path {
  transition: fill 300ms ease-in-out;
}


.track-v2.bg1{
  filter: drop-shadow(0 0 1px #9093f9) drop-shadow(0 0 3px #9093f9)
}
.track-v2.bg1 .track-v2__bg svg path {
  fill: #9093f9;
}

.track-v2.bg2{
  filter: drop-shadow(0 0 1px #28b6e1) drop-shadow(0 0 3px #28b6e1)
}
.track-v2.bg2 .track-v2__bg svg path {
  fill: #28b6e1;
}
.track-v2.bg3 .track-v2__bg svg path {
  fill: url(#paint0_linear_10530_1774);
}
.track-v2.bg3 {
  // background: linear-gradient(90deg, #28b6e1 0%, #c707c2 100%);
  filter: drop-shadow(0 0 1px #28b6e1) drop-shadow(0 0 3px #c707c2);
}

.progress-v2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  // border-radius: 3px;
}

.thumb-v2 {
  position: absolute;
  top: -10px;
  left: 0;
  transform: translateX(-50%);
  z-index: 2;
  // transition: left 0.15s ease;
}

.thumb-v2-icon{
  width: 36px;
  height: 36px;
}

.value-bubble-v2 {
  position: absolute;
  top: 37px;
  // left: 0;
  left: -16px;
  transform: none; /* Убираем transform из CSS, так как теперь управляем через JS */
  // width: 50px;
  // height: 46px;
  width: 70px;
  height: 46px;
  z-index: 3;
}

.value-bubble-v2 span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -30%);
  z-index: 2;
  color: $body-1-color;
}
.value-bubble-v2-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}



.slider-input-v2 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.slider-header-v2 {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 15px;
}
.badge__title{
  // background-color: rgba(78, 81, 245, .1);
  box-sizing: border-box;
  padding: 5px 24px;
  position: relative;
  width: 330px;
  height: 36px;

}
.badge__title-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.badge-icon-wrp{
  width: 150px;
  height: 36px;
  box-sizing: border-box;
  padding: 5px 26px;
  position: relative;
  left: -16px;
}
.badge-wrp{
  // width: 465px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  left: 12px;
  top: -5px;
}

.badge-v2{
  position: relative;
}

.badge-icon{
  width: 16px;
  height: 20px;
  position: absolute;
  right: 25px;
  top: 5px;
  z-index: 2;
}

.badge-icon path{
  transition: fill 0.3s ease;
}

.badge-v2 span{
  position: relative;
  z-index: 2;
}

.badge-v2-bg{
  position: absolute;
  width: 150px;
  height: 36px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider-body-v2{
  position: relative;
  top: -37px;
}