.privacy-slider-v2 {
  margin-bottom: 50rem;

  @media screen and (max-width: $bp-tab) {
    margin-bottom: 38rem;
  }
  @media screen and (max-width: $bp-mob) {
    margin-bottom: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.track-container-v2 {
  position: relative;
  height: 40rem;
  margin: 25rem 0;

  @media screen and (max-width: $bp-mob) {
    width: 280rem;
    margin-top: 32rem;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
  }
}

.track-v2 {
  position: absolute;
  width: 100%;
  height: 8rem;
  // background: #f0f0f0;
  // border-radius: 3rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 500ms ease-in-out;

  @media screen and (max-width: $bp-mob) {
    width: 280rem;
  }
}

// .track-v2::before,
// .track-v2::after {
//   content: '';
//   position: absolute;
//   width: 5rem;
//   height: 100%;
//   background: inherit;
//   top: 50%;
//   transform: translateY(-50%);
// }

// .track-v2::before {
//   left: -4.95rem;
//   clip-path: polygon(0 50%, 100% 0, 100% 100%);
// }

// .track-v2::after {
//   right: -4.95rem;
//   clip-path: polygon(0 0, 100% 50%, 0 100%);
// }

.track-v2__bg{
  width: 100%;
  height: 100%;

  // .track-v2__bg-main
  &-main{
    @media screen and (max-width: $bp-mob) {
      display: none;
    }
  }

  // .track-v2__bg-tab
  &-tab{
    display: none;
    @media screen and (max-width: $bp-tab) {
      display: block;
    }
    @media screen and (max-width: $bp-mob) {
      display: none;
    }
  }

  // .track-v2__bg-mob
  &-mob{
    display: none;
    @media screen and (max-width: $bp-mob) {
      display: block;
    }
  }
}
.track-v2__bg svg path {
  transition: fill 300ms ease-in-out;
}


.track-v2.bg1{
  filter: drop-shadow(0 0 1rem #9093f9) drop-shadow(0 0 3rem #9093f9)
}
.track-v2.bg1 .track-v2__bg svg path {
  fill: #9093f9;
}

.track-v2.bg2{
  filter: drop-shadow(0 0 1rem #28b6e1) drop-shadow(0 0 3rem #28b6e1)
}
.track-v2.bg2 .track-v2__bg svg path {
  fill: #28b6e1;
}
.track-v2.bg3 .track-v2__bg svg path {
  // fill: url(#paint0_linear_10530_1774);
}
.track-v2.bg3 {
  // background: linear-gradient(90deg, #28b6e1 0%, #c707c2 100%);
  filter: drop-shadow(0 0 1rem #28b6e1) drop-shadow(0 0 3rem #c707c2);
}

.progress-v2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  // border-radius: 3rem;
}

.thumb-v2 {
  position: absolute;
  top: -10rem;
  left: 0;
  transform: translateX(-50%);
  z-index: 2;
  // transition: left 0.15s ease;
}

.thumb-v2-icon{
  width: 36rem;
  height: 36rem;

  @media screen and (max-width: $bp-mob) {
    width: 30rem;
    height: 36rem;
  }
}

.value-bubble-v2 {
  position: absolute;
  top: 37rem;
  // left: 0;
  left: -16rem;
  transform: none; /* Убираем transform из CSS, так как теперь управляем через JS */
  // width: 50rem;
  // height: 46rem;
  width: 70rem;
  height: 46rem;
  z-index: 3;

  @media screen and (max-width: $bp-mob) {
    width: 42rem;
    height: 32rem;
    left: -5rem;
  }
}

.value-bubble-v2 span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -30%);
  z-index: 2;
  color: $body-1-color;
}
.value-bubble-v2-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  background-image: url('../../images/value-bubble-v2-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100%;

  @media screen and (max-width: $bp-mob) {
    background-image: url('../../images/value-bubble-v2-bg-mob.svg');
  }
}



.slider-input-v2 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.slider-header-v2 {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 15rem;

  @media screen and (max-width: $bp-mob) {
    flex-wrap: wrap;
    width: 280rem;
  }        
}
.badge__title{
  // background-color: rgba(78, 81, 245, .1);
  box-sizing: border-box;
  padding: 5rem 24rem;
  position: relative;
  width: 330rem;
  height: 36rem;

  @media screen and (max-width: $bp-mob) {
    width: 200rem;
    height: 24rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.badge__title-bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-image: url('../../images/badge__title-bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  @media screen and (max-width: $bp-mob) {
    background-image: url('../../images/badge__title-bg-mob.svg');
  }
}
.badge-icon-wrp{
  width: 150rem;
  height: 36rem;
  box-sizing: border-box;
  padding: 5rem 26rem;
  position: relative;
  left: -16rem;

  @media screen and (max-width: $bp-mob) {
    width: 82rem;
    height: 24rem;
    left: -4rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.badge-wrp{
  // width: 465rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  left: 12rem;
  top: -5rem;
  
  @media screen and (max-width: $bp-mob) {
    order: -1;
    margin-bottom: 7rem;
    left: 0;
  }
}

.badge-v2{
  position: relative;
}

.badge-icon{
  width: 16rem;
  height: 20rem;
  position: absolute;
  right: 25rem;
  top: 5rem;
  z-index: 2;

  @media screen and (max-width: $bp-mob) {
    width: 10rem;
    height: 12rem;
    right: 8rem;
    top: 6rem;
  }
}

.badge-icon path{
  transition: fill 0.3s ease;
}

.badge-v2 span{
  position: relative;
  z-index: 2;
}

.badge-v2-bg{
  position: absolute;
  width: 150rem;
  height: 36rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-image: url('../../images/badge-v2-bg.svg');
  background-size: contain;
  background-position: center;

  @media screen and (max-width: $bp-mob) {
    width: 100%;
    height: 100%;
    background-image: url('../../images/badge-v2-bg-mob.svg');
  }
}

.slider-body-v2{
  position: relative;
  top: -37rem;
}