.accordion {
  width: 100%;
  background-color: rgba(78, 81, 245, 0.06);
  border: 1rem solid rgba(78, 81, 245, 0.6);
  clip-path: polygon(0 50rem, 50rem 0, calc(100% - 0rem) 0, 100% 50rem, 100% calc(100% - 50rem), calc(100% - 50rem) 100%, 0rem 100%, 0 calc(120% - 50rem));
  box-sizing: border-box;
  padding-top: 37rem;
  padding-left: 50rem;
  padding-right: 50rem;
  padding-bottom: 36rem;

  @media screen and (max-width: $bp-mob) {
    padding-top: 24rem;
    padding-bottom: 24rem;
    padding-left: 12rem;
    padding-right: 12rem;
    clip-path: polygon(0 24rem, 24rem 0, calc(100% - 0rem) 0, 100% 24rem, 100% calc(100% - 24rem), calc(100% - 24rem) 100%, 0rem 100%, 0 calc(120% - 24rem));
  }

  // .accordion__item
  &__item {
    box-sizing: border-box;
    padding-left: 0rem;
    padding-right: 0rem;
    // margin-bottom: 23rem;
    margin-bottom: 9rem;
    cursor: pointer;
    position: relative;

    border-bottom: 1rem solid #9093f9;

    // .accordion__item:hover
    &:hover {
      // transform: scale(1.015);
    }

    // .accordion__item.active .accordion__content
    &.active .accordion__content {
      // max-height: 200rem;
      max-height: none !important; /* Убираем фиксированную высоту */
    }

    // .accordion__item:last-child
    &:last-child {
      margin-bottom: 0;
    }
  }
  // .accordion__header
  &__header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    transition: all 350ms ease-in-out;
    padding-bottom: 12rem;
    position: relative;

    // .accordion__header.active
    &.active {
      padding-bottom: 8rem;
      // .accordion__header.active .accordion__icon
      .accordion__icon {
        opacity: 0;
      }

      // .accordion__icon--active
      .accordion__icon--active{
        opacity: 1;
      }
    }
  }
  // .accordion__title
  &__title {
    max-width: 650rem;
    // display: flex;
    transition: all 350ms ease-in-out;
    font-size: 24.5rem;

    @media screen and (max-width: $bp-mob) {
      font-size: 14rem;
      max-width: 280rem;
    }

    // .accordion__title span
    span{
      color: $body-3-color;
      margin-right: -1rem;
    }

    // .accordion__title i
    i{
      color: $body-4-color;
      position: relative;
      top: -2rem;
    }
  }
  // .accordion__icon
  &__icon {
    width: 36rem;
    height: 36rem;
    transform: rotate(0deg) translateY(-42%);
    will-change: transform;
    transition: all 350ms ease-in-out;
    position: absolute;
    right: 0;
    // top: -2rem;
    top: 42%;

    @media screen and (max-width: $bp-mob) {
      width: 16rem;
      height: 16rem;
    }
  }

  // .accordion__icon--active
  &__icon--active{
    opacity: 0;
  }

  // .accordion__content
  &__content {
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 0;

    will-change: max-height, padding-bottom;
    transition: all 350ms ease-in-out;
    max-height: 0;
    text-align: left;

    @media screen and (max-width: $bp-mob) {
      font-size: 14rem;
    }

    // .accordion__content span
    span{
      color: $body-4-color;

      @media screen and (max-width: $bp-mob) {
        font-size: 18rem;
      }
    }

  }
}
