.accordion {
  width: 100%;
  margin-bottom: 60px;

  // .accordion__item
  &__item {
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 0px;
    // padding-top: 24px;
    // padding-bottom: 24px;
    margin-bottom: -1px;
    border-radius: 12px;
    cursor: pointer;
    background: var(--theme-1-4);
    position: relative;

    // transition: transform 250ms ease-in-out;
    // will-change: transform;

    // .accordion__item:hover
    &:hover {
      // transform: scale(1.015);
    }

    // .accordion__item.active .accordion__content
    &.active .accordion__content {
      max-height: 200px;
      // transition: all 0.25s ease-in-out;
    }

    // .accordion__item:last-child
    &:last-child {
      margin-bottom: 0;
    }
  }
  // .accordion__header
  &__header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // transition: all 250ms ease-in-out;

    padding-top: 22px;
    padding-bottom: 24px;

    padding-left: 48px;
    position: relative;

    // .accordion__header.active
    &.active {
      padding-bottom: 16px;
      // padding-bottom: 40px;

      // .accordion__header.active .accordion__icon
      .accordion__icon {
        transform: rotate(180deg);
      }
    }
  }
  // .accordion__title
  &__title {
    min-height: 34px;
    display: flex;
    align-items: center;
    color: var(--bodi-2-1);
  }
  // .accordion__icon
  &__icon {
    width: 36px;
    height: 35px;
    transform: rotate(0deg);
    will-change: transform;
    transition: all 500ms ease-in-out;
  }
  // .accordion__content
  &__content {
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 0;

    will-change: max-height, padding-bottom;
    transition: all 500ms ease-in-out;
    max-height: 0;
    text-align: left;
    color: var(--bodi-2-2);
  }

  // .accordion-left-decor
  &-left-decor {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  // .accordion-line-decor
  &-line-decor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    // height: 1px;
    height: 2px;
  }
}