.accordion {
  width: 100%;
  background-color: rgba(78, 81, 245, 0.06);
  border: 1px solid rgba(78, 81, 245, 0.6);
  clip-path: polygon(0 50px, 50px 0, calc(100% - 0px) 0, 100% 50px, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0px 100%, 0 calc(120% - 50px));
  box-sizing: border-box;
  padding-top: 37px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 36px;

  // .accordion__item
  &__item {
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 0px;
    // margin-bottom: 23px;
    margin-bottom: 9px;
    cursor: pointer;
    position: relative;

    border-bottom: 1px solid #9093f9;

    // .accordion__item:hover
    &:hover {
      // transform: scale(1.015);
    }

    // .accordion__item.active .accordion__content
    &.active .accordion__content {
      // max-height: 200px;
      max-height: none !important; /* Убираем фиксированную высоту */
    }

    // .accordion__item:last-child
    &:last-child {
      margin-bottom: 0;
    }
  }
  // .accordion__header
  &__header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    transition: all 350ms ease-in-out;
    padding-bottom: 12px;
    position: relative;

    // .accordion__header.active
    &.active {
      padding-bottom: 8px;
      // .accordion__header.active .accordion__icon
      .accordion__icon {
        opacity: 0;
      }

      // .accordion__icon--active
      .accordion__icon--active{
        opacity: 1;
      }
    }
  }
  // .accordion__title
  &__title {
    max-width: 650px;
    // display: flex;
    transition: all 350ms ease-in-out;
    font-size: 24.5px;

    // .accordion__title span
    span{
      color: $body-3-color;
      margin-right: -1px;
    }

    // .accordion__title i
    i{
      color: $body-4-color;
      position: relative;
      top: -2px;
    }
  }
  // .accordion__icon
  &__icon {
    width: 36px;
    height: 36px;
    transform: rotate(0deg) translateY(-42%);
    will-change: transform;
    transition: all 350ms ease-in-out;
    position: absolute;
    right: 0;
    // top: -2px;
    top: 42%;
  }

  // .accordion__icon--active
  &__icon--active{
    opacity: 0;
  }

  // .accordion__content
  &__content {
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 0;

    will-change: max-height, padding-bottom;
    transition: all 350ms ease-in-out;
    max-height: 0;
    text-align: left;

    // .accordion__content span
    span{
      color: $body-4-color;
    }

  }
}
