.footer {

  background-image: url('../../image/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 274rem;
  
  position: relative;
  z-index: 2;
  
  // .footer--index-page
  &--index-page {
    margin-top: -87rem;
  }

  // .footer__container
  &__container {
    flex-direction: column;
    align-items: center;
    padding-top: 87rem;
  }

  // .footer__link
  &__link {
    margin-bottom: 19rem;
    font-weight: 500;
  }

  // .footer__text
  &__text {
    font-weight: 500;
    opacity: 0.6;
  }
}
