.footer {
  background-color: rgba(78, 81, 245, 0.06);
  box-sizing: border-box;
  padding-top: 5.0rem;
  padding-bottom: 7.0rem;

  @media screen and (max-width: $bp-tab) {
   padding-top: 3.6rem;
  }

  @media screen and (max-width: $bp-mob) {
    padding-bottom: 3.6rem;
  }

  // .footer__container
  &__container {
    flex-direction: column;
  }

  // .footer__start
  &__start {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.0rem;
    
    height: 5.0rem;

    @media screen and (max-width: $bp-tab) {
      margin-bottom: 2.4rem;
    }

    @media screen and (max-width: $bp-mob) {
      flex-wrap: wrap;
      height: unset;
      position: relative;
      margin-bottom: 1.6rem;
    }
  }

  // .footer__logo
  &__logo {
    font-family: $second-font;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 120%;
    color: $body-3-color;

    @media screen and (max-width: $bp-mob) {
      font-size: 3.6rem;
      margin-bottom: 1.8rem;
    }
  }

  // .footer__menu
  &__menu {
    @media screen and (max-width: $bp-tab) {
      display: block;
    }
  }

  // .footer__lng-switcher
  &__lng-switcher {
    background-color: rgba(78, 81, 245, 0.06);

    @media screen and (max-width: $bp-tab) {
      margin-left: unset;
    }

    @media screen and (max-width: $bp-mob) {
      position: absolute;
      top: 1.1rem;
      right: -0.3rem;
    }
  }

  // .footer__end
  &__end {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.6rem;

    @media screen and (max-width: $bp-tab) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: $bp-mob) {
      margin-bottom: 3.3rem;
    }

    // .footer__end a
    a{
      transition: color 300ms ease-in-out;

      @media screen and (max-width: $bp-mob) {
        font-size: 1.4rem;
      } 
      
      // .footer__end a:hover
      &:hover{
        color: $body-3-color;
      }
    }
  }

  // .footer__end-box
  &__end-box{
    width: 58.8rem;
    min-height: 28.6rem;
    background-color: $body-1-color;
    border: 0.1rem solid rgba(78, 81, 245, 0.6);
    clip-path: polygon(0 5.0rem, 5.0rem 0, calc(100% - 0rem) 0, 100% 5.0rem, 100% calc(100% - 5.0rem), calc(100% - 5.0rem) 100%, 0rem 100%, 0 calc(120% - 5.0rem));
    box-sizing: border-box;
    padding: 3.5rem;
    position: relative;

    @media screen and (max-width: $bp-tab) {
      width: 100%;
      margin-bottom: 2.4rem;
    }

    @media screen and (max-width: $bp-mob) {
      clip-path: polygon(0 2.4rem, 2.4rem 0, calc(100% - 0rem) 0, 100% 2.4rem, 100% calc(100% - 2.4rem), calc(100% - 2.4rem) 100%, 0rem 100%, 0 calc(120% - 2.4rem));
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      padding-top: 2.4rem;
      min-height: unset;
      padding-bottom: 2.1rem;
      margin-bottom: 1.7rem;
    }
  }

  // .footer__end-left
  &__end-left {
  }

  // .footer__text-wrp
  &__text-wrp {
    margin-bottom: 2.7rem;

    @media screen and (max-width: $bp-mob) {
      margin-bottom: 1.7rem;
    }
  }

  // .footer__text
  &__text {
    margin-bottom: 1.8rem;

    @media screen and (max-width: $bp-mob) {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }
  }

  // .footer__link
  &__link {
    color: $body-4-color;
  }

  // .footer__end-right
  &__end-right {

    // .footer__end-right .footer__text
    .footer__text {
      margin-bottom: 2.9rem;

      @media screen and (max-width: $bp-mob) {
        margin-bottom: 1.3rem;
      }  
    }
  }

  // .footer__24-box
  &__24-box {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    border-radius: 2.5rem;
    width: 6.4rem;
    height: 3.6rem;
    background: #edeefe;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $bp-tab) {
      right: 3.5rem;
    }

    @media screen and (max-width: $bp-mob) {
      display: none;
    }
  }

  // .footer__link-str
  &__link-str {
    display: block;
    color: $body-4-color;
    margin-bottom: 2.8rem;

    @media screen and (max-width: $bp-tab) {
      font-size: 2.4rem;
    }

    @media screen and (max-width: $bp-mob) {
      margin-bottom: 1.1rem;
    }
  }
  
  // .footer__btn
  &__btn{
    margin-bottom: 2.4rem;
    
    @media screen and (max-width: $bp-mob) {
      margin-left: 0.5rem;
      margin-bottom: 0;
    }
  }

  // .footer__link-last
  &__link-last {
    margin-bottom: 0;

    @media screen and (max-width: $bp-mob) {
      margin-bottom: 0.4rem;
    }    
  }

  // .footer__desc-text
  &__desc-text {
    display: block;
    width: 100%;
    text-align: center;
    color: #7b7985;

    @media screen and (max-width: $bp-tab) {
      margin-top: -2.3rem;
    }
    @media screen and (max-width: $bp-tab) {
      font-size: 1.4rem;
    }
  }
}

.footer .main-menu{
  min-width: 39.4rem;
  margin-right: 3.3rem;

  @media screen and (max-width: $bp-mob) {
    min-width: 100%;
    margin-right: 0;
    margin-top: 0;
    box-sizing: border-box;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
}