.form-status {
  width: 685rem;
  height: 50rem;
  background-image: url('../../images/icons/mixin-status-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  position: relative;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 24rem;

  margin-left: 201rem;

  @media screen and (max-width: $bp-tab) {
    margin-left: 0;
  }

  @media screen and (max-width: $bp-mob) {
    width: 285rem;
    height: 24rem;
    background-image: url('../../images/mixin-status-bg-mob.svg');
    padding-left: 9rem;
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  // .form-status__text
  &__text {
    margin-right: 34rem;
    font-size: 24.3rem;

    @media screen and (max-width: $bp-mob) {
      font-size: 12rem;
      margin-right: 14rem;

      // .form-status__text span
      span{
        display: none;
      }
    }
  }

  // .form-status__mod-text
  &__mod-text {
    font-size: 24.45rem;
    color: $body-3-color;

    @media screen and (max-width: $bp-mob) {
      // font-size: 12rem;
      font-size: 11rem;
    }
  }

  // .form-status__icon
  &__icon {
    width: 16rem;
    height: 20rem;
    position: absolute;
    top: 50%;
    right: 24rem;
    transform: translateY(-50%);

    @media screen and (max-width: $bp-mob) {
      width: 10rem;
      height: 12rem;
      // right: 7rem;
      right: 10rem;
    }

    // .form-status__icon svg
    svg {
      overflow: visible !important;
      // .form-status__icon svg path
       path{
        animation: strongSvgPulse 3s infinite ease-in-out;
      }
    }
  }
}

.form-status--mod {
  width: 100%;
  height: auto;
  margin-top: 70rem;
  flex-direction: column;
  background: unset;
  align-items: unset;

  @media screen and (max-width: $bp-mob) {
    margin-top: 35rem;
  }
}

.form-status--mod-text {
  @media screen and (max-width: $bp-mob) {
    display: flex;
  }
}

.form-status--mod-text .form-status__icon {
  display: none;
  
  @media screen and (max-width: $bp-mob) {
    display: block;
  }
}

.form-status--mod-value {
  margin-bottom: 12rem;
  margin-top: 12rem;

  @media screen and (max-width: $bp-mob) {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

.form-status--mod-text span {
  color: $body-3-color;

  @media screen and (max-width: $bp-mob) {
    max-width: 136rem;
    margin-left: 30rem;
  }
}

.form-status-wrp {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24rem;

  @media screen and (max-width: $bp-mob) {
    margin-bottom: 16rem;
  }
}

.form-status--mod .form-status__icon {
  position: relative;
  top: unset;
  right: unset;
  transform: unset;
  margin-left: 8rem;

  @media screen and (max-width: $bp-mob) {
    position: absolute;
    right: 0;
    width: 16rem;
    height: 20rem;
    top: 9rem;
  }
}

.form-status-wrp .form-status__icon{
  @media screen and (max-width: $bp-mob) {
    display: none;
  }
}

.form-status--mod .default-btn {
  width: 300rem;
  height: 50rem;
  margin-bottom: 0;
  background-color: $body-4-color;

  @media screen and (max-width: $bp-mob) {
    height: 36rem;
  }
}

.form-status--mod .default-btn.active,
.form-status--mod .default-btn:hover {
  background-color: $body-3-color;
}

.form-status--mod-text-other {
  display: flex;
  align-items: center;
  position: relative;

  @media screen and (max-width: $bp-tab) {
    flex-wrap: wrap;
  }
}

.form-status--mod-text-other span {
  max-width: 700rem;
  margin-left: 16rem;
  display: ruby;

  @media screen and (max-width: $bp-tab) {
    margin-left: 0rem;
  }

  @media screen and (max-width: $bp-tab) {
    max-width: 306rem;
  }
}

.form-status--mod-text-other-icon-ok {
  width: 24rem;
  height: 24rem;
  margin-left: 4rem;
  position: relative;
  top: 5rem;

  @media screen and (max-width: $bp-tab) {
    position: absolute;
    width: 16rem;
    height: 16rem;
    right: 0;
    top: 50%;
    // transform: translateY(-50%);
  }
}