.gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Левая колонка */
.thumbnails {
  display: flex;
  flex-direction: column;
  // gap: 10rem;

  // .thumbnails__img-container
  &__img-container {
    width: 100rem;
    height: 100rem;
    box-sizing: border-box;
    border-radius: 2rem;
    margin-bottom: 8rem;
    cursor: pointer;
    border: 1rem solid var(--bg-0);
    overflow: hidden;
    transition: all 250ms ease-in-out;

    // .thumbnails__img-container.active
    &.active {
      border: 1rem solid var(--bg-2);
    }

    // .thumbnails__img-container:last-child
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Основное изображение */
.main-image {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8rem;
  width: 534rem;
  height: 532rem;
}

.main-image img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 8rem;
}

.main-image img {
  transition: opacity 0.300s ease, transform 0.200s ease;
  opacity: 1;
  transform: scale(1);
}

.main-image img.fade-out {
  opacity: 0;
  transform: scale(1.05); /* чуть увеличиваем при исчезновении */
}

.main-image img.fade-in {
  opacity: 1;
  transform: scale(1);
}
