.header {
  position: relative;
  z-index: 2;
  margin-bottom: 8.0rem;

  @media screen and (max-width: $tab-media) {
    z-index: 3;
  }

  // .header__container
  &__container {
    padding-top: 3.6rem;
    padding-right: 7.4rem;
    justify-content: space-between;

    @media screen and (max-width: $tab-media) {
      padding-top: 1.6rem;
      padding-right: var(--border-tab);
    }

    @media screen and (max-width: $mob-media) {
      padding-top: 1.8rem;
      padding-right: var(--border-mob);
    }
  }

  // .header__item-wrp
  &__item-wrp {
    cursor: pointer;

    // .header__item-wrp:hover
    &:hover {
      background: var(--body-3);

      // .header__item-wrp:hover .header__logo-text
      .header__logo-text {
        color: var(--body-1);
      }
    }
  }

  // .header__logo-wrp
  &__logo-wrp {
    border-radius: 0.8rem;
    width: 26.4rem;
    height: 8.0rem;
    background: var(--body-1);

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $tab-media) {
      width: 15.6rem;
      height: 6.0rem;
    }

    @media screen and (max-width: $mob-media) {
      width: 10.0rem;
      height: 4.4rem;
    }
  }

  // .header__logo-text
  &__logo-text {
    position: relative;
    left: 0.6rem;
    color: var(--body-3);
    transition: var(--base-anim-d);

    font-weight: 500;
    font-size: 4.8rem;
    line-height: 120%;
    text-align: center;

    @media screen and (max-width: $tab-media) {
      font-size: 2.6rem;
      left: 0;
    }

    @media screen and (max-width: $mob-media) {
      font-size: 1.8rem;
    }

    // .header__logo-text span
    span {
      font-family: var(--second-family);
      line-height: 100%;
      color: var(--body-2);
      position: relative;
      right: 1.2rem;
      top: -0.2rem;

      @media screen and (max-width: $tab-media) {
        right: 0.6rem;
      }
    }
  }

  // .header__info-wrp
  &__info-wrp {
  }

  // .header__link-list
  &__link-list {
    width: 146.4rem;
    height: 8.0rem;
    background: var(--body-1);
    border-radius: 0.8rem;

    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    padding-left: 3.6rem;
    padding-right: 1.0rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $tab-media) {
      display: none;
    }
  }
 
  // .header__tab-version
  &__tab-version {
    display: none;
    gap: 2.4rem;

    @media screen and (max-width: $tab-media) {
      display: flex;
    }
  }

  // .header__tab-version-menu
  &__tab-version-menu {

  }

  // .header__tab-version-help-btn
  &__tab-version-help-btn {
    width: 15.6rem;
    
    @media screen and (max-width: $mob-media) {
      width: 10rem;
      height: 4.4rem;
    }
  }

  // .header__tab-version-gmbrg-btn
  &__tab-version-gmbrg-btn {
    width: 6.0rem;
    background: var(--body-1);
    
    @media screen and (max-width: $mob-media) {
      width: 4.4rem;
      height: 4.4rem;
    }

    // .header__tab-version-gmbrg-btn svg
    svg {
      width: 3.6rem;
      height: 1.6rem;

      @media screen and (max-width: $mob-media) {
        width: 2.4rem;
        height: 1.2rem;
      }
    }
  }
}