.header {
  background-color: var(--bg-0);
  background-image: url('../../image/header-bg.svg');
  background-position: center;
  background-size: cover;
  height: 80px;
  position: relative;

  // .header__container
  &__container {
    max-width: 100%;
    // justify-content: space-between;
    align-items: center;
  }

  // .header__lng-switcher
  &__lng-switcher {
  }

  // .header__nav
  &__nav {
    width: 738px;
    // margin-left: 484px;
    
    // fix position
    margin: 0 auto;
    position: relative;
    left: -33px;

    display: flex;
    align-items: center;
  }

  // .header__nav-decoration
  &__nav-decoration {
    width: 156px;
    height: 11px;
  }

  // .header__nav-decoration--left
  &__nav-decoration--left {
    margin-right: 40px;
  }

  // .header__nav-list
  &__nav-list {
    display: flex;
  }

  // .header__nav-item
  &__nav-item {
    margin-right: 36px;

    // .header__nav-link:first-child
    &:first-child {
      .header__nav-link {
        color: var(--bg-2);
        opacity: 1;
      }
    }

    // .header__nav-item:last-child
    &:last-child {
      margin-right: 0;
    }
  }

  // .header__nav-link
  &__nav-link {
    font-weight: 500;

    // .header__nav-link:hover
    &:hover {
      opacity: 1;
    }
  }

  // .header__nav-decoration--right
  &__nav-decoration--right {
    margin-left: 40px;
  }

  // .header__main-menu
  &__main-menu {
    margin-left: auto;
    margin-right: 0;
  }
}