.header {
  margin-top: 24rem;
  margin-bottom: 27rem;
  height: 60rem;

  // .header__container
  &__container {
    height: 100%;
    max-width: 1780rem;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo
  &__logo {
  }

  // .header__menu
  &__menu {
  }

  // .header__lng-switcher
  &__lng-switcher {
  }
}