.info-box {
    position: relative;
    padding: 16rem;
    padding-bottom: 22rem;
    // background-image: url('../../imges/info-box-bg.png');
    // background-position: center;
    // background-size: contain;
    // background-repeat: no-repeat;

    backdrop-filter: blur(24rem);
    background: rgba(5, 7, 40, 0.6);

    box-sizing: border-box;
    border-radius: 12rem;
    width: 324rem;

    // .info-box__title
    &__title {
        font-weight: 400;
        font-size: 24rem;
        line-height: 120%;
        text-align: center;
        color: var(--bodi-1);
        margin-bottom: 9rem;
    }

    // .info-box__text
    &__text {
        font-weight: 400;
        font-size: 18rem;
        line-height: 120%;
        text-align: center;
        color: var(--bodi-2);
        margin-bottom: 17rem;
    }

    // .info-box__btn-wrp
    &__btn-wrp {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .info-box__btn
    &__btn {
        width: 140rem;
        height: 60rem;
    }
}