.information-box {
  width: 100%;
  box-sizing: border-box;
  padding-top: 25rem;
  padding-bottom: 25rem;
  margin-bottom: 70rem;
  background-color: rgba(78, 81, 245, 0.06);
  text-align: center;
  
  // .information-box__link
  &__link {
    color: $body-3-color;

    @media screen and (max-width: $bp-tab) {
      display: inline-block;  
      min-height: 44rem;
    }
  }

  // .information-box__text
  &__text {
    color: #778;

    @media screen and (max-width: $bp-tab) {
      display: inline-block;  
      min-height: 44rem;
      margin-left: 6rem;
    }
  }
}

.dot {
  color: $body-4-color;
}
