.languare-switcher {
    width: 87rem;
    display: flex;
    gap: 12rem;
    position: relative;
    top: 5rem;
    left: 1rem;

    // .languare-switcher__text
    &__text {
        font-weight: 400;
        font-size: 16rem;
        color: var(--bodi-2);
        text-transform: lowercase;
        position: relative;
        top: 8rem;
        left: 9rem;
    }

    // .languare-switcher__body
    &__body {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
        width: 36rem;
        height: 36rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        border: 1rem solid transparent;
        border-radius: 18rem; 
        
        cursor: pointer;
        transition: all 0.2s ease-out;
        overflow: hidden;

        // .languare-switcher__body._active
        &._active {
            height: 126rem; /* Высота под 3 языка (36*3 + отступы) */
            border-radius: 20rem;
            // overflow: visible;
            padding-bottom: 5rem;
        }
    }

    // .languare-switcher__body-item
    &__body-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36rem;
        height: 36rem;
        flex-shrink: 0;
        font-size: 16rem;
        color: var(--bodi-1);
        text-decoration: none;
        transition: opacity 0.2s;
        background-color: var(--bg-1-page);
        background-image: url('../../imges/icons/header/language-bg.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 6rem;

        transition: background 0.2s, opacity 0.2s;

        // .languare-switcher__body-item._current
        &._current {
            order: -1; 
        }

        // .languare-switcher__body-item:hover
        &:hover {
            background-image: url('../../imges/icons/header/language-bg-hover.svg');
            // opacity: 0.7;
        }
    }
}