.lng-switcher {
  border-radius: 2.1rem;
  width: 6.5rem;
  height: 3.6rem;
  background: rgba(78, 81, 245, 0.06);
  padding-left: 0.4rem;
  padding-right: 0.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $bp-tab) {
    margin-left: auto;
  }

  @media screen and (max-width: $bp-mob) {
    width: 4.8rem;
    height: 2.4rem;
    padding: 0;
    background-color: rgba(78, 81, 245, 0.06);
    padding-right: 0.4rem;
  }

  // .lng-switcher a
  a{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $bp-mob) {
      width: 2.4rem;
      height: 2.4rem;
    }

    // .lng-switcher a.active
    &.active{
      background-color: $body-2-color;
      color: $body-1-color;
    }
  }

}