.logo {
  display: flex;
  align-items: center;

  // .logo__icon
  &__icon {
    margin-right: 1.2rem;
    width: 5.0rem;
    height: 6.0rem;

    @media screen and (max-width: $bp-mob) {
      width: 3.0rem;
      height: 3.6rem;
      margin-right: 0.4rem;
    }
  }

  // .logo__text
  &__text {
    
    // .logo__text span
    span{
      color: $body-3-color;
    }
  }
}