.logo {
  display: flex;
  align-items: center;

  // .logo__icon
  &__icon {
    margin-right: 12rem;
    width: 50rem;
    height: 60rem;

    @media screen and (max-width: $bp-mob) {
      width: 30rem;
      height: 36rem;
      margin-right: 4rem;
    }
  }

  // .logo__text
  &__text {
    
    // .logo__text span
    span{
      color: $body-3-color;
    }
  }
}