.logo {
  display: flex;
  align-items: center;

  // .logo__icon
  &__icon {
    margin-right: 12rem;
    width: 50rem;
    height: 60rem;
  }

  // .logo__text
  &__text {
    
    // .logo__text span
    span{
      color: $body-3-color;
    }
  }
}