.main-btn {
  background-color: unset;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  // .main-btn__button::after
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 254px;
    height: 60px;

    filter: blur(30px);
    background: rgba(249, 190, 124, 0.6);
    opacity: 0.6;
    z-index: 1;
  }

  // .main-btn__decoration
  &__decoration {
    width: 156px;
    height: 12px;
  }

  // .main-btn__decoration--left
  &__decoration--left {
    margin-right: 24px;
  }

  // .main-btn__button
  &__button {
    background-image: url('../../image/button-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 374px;
    height: 92px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    font-weight: 500;
    color: var(--bg-1);

    position: relative;
    z-index: 2;

    cursor: pointer;

    // .main-btn__button:hover
    &:hover {
    }
  }

  // .main-btn__decoration--right
  &__decoration--right {
    margin-left: 24px;
  }
}