.main-input {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $bp-mob) {
    flex-wrap: wrap;
  }

  // .main-input__input-wrp
  &__input-wrp {
    // overflow: hidden;
    position: relative;
    width: 754rem;
    height: 50rem;

    @media screen and (max-width: $bp-tab) {
      width: 478rem;
      height: 50rem;
    }
    @media screen and (max-width: $bp-mob) {
      height: 36rem;
    }
  }

  // .main-input__input-start
  &__input-start {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    @media screen and (max-width: $bp-tab) {
      width: 36rem;
      height: 36rem;
      left: -23rem;
    }
    @media screen and (max-width: $bp-mob) {
      width: 22rem;
      height: 22rem;
      left: -2rem;
      top: -20rem;
      
    }

    // .main-input__input-start__num
    &__num {
      color: $body-4-color;
      font-weight: 500;
      // margin-left: -8rem;
    }
  }

  // .main-input__input-start-bg
  &__input-start-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    background-image: url('../../images/main-input__input-start-bg.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (max-width: $bp-tab) {
      background-image: url('../../images/main-input__input-start-bg-tab.svg');
      background-size: 36rem 36rem;
    }
    @media screen and (max-width: $bp-mob) {
      background-image: unset;
      background-color: #fff;
      border: 1rem solid $body-3-color;
      display: none;
    }

  }

  // .main-input__input
  &__input {
    width: 100%;
    height: 100%;
    background-color: rgba(78, 81, 245, 0.1);
    border: 1rem solid $body-3-color;
    clip-path: polygon(
      0% 75.5858%,
      1.6189% 100%,
      98.3811% 100%,
      100% 75.5858%,
      100% 25.4024%,
      98.3811% 0%,
      1.6189% 0%,
      0% 24.4142%
    );
    box-sizing: border-box;
    padding-left: 64rem;
    padding-right: 76rem;

    @media screen and (max-width: $bp-tab) {
      clip-path: unset;
      background-color: unset;
      background-image: url('../../images/input-bg-tab-default.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border: unset;
      padding-left: 26rem;
      padding-right: 82rem;
    }

    @media screen and (max-width: $bp-mob) {
      width: 304rem;
      height: 36rem;
      padding-left: 8rem;
      padding-right: 8rem;
      background-image: url('../../images/input-bg-mob-default.svg');
      background-size: 100%;
    }
  }

  // .main-input__input-end
  &__input-end {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 70rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $bp-tab) {
      right: 0rem;
    }

    @media screen and (max-width: $bp-mob) {
      // width: 48rem;
      width: 65rem;
      // height: 22rem;
      height: 22rem;
      top: -20rem;
      right: unset;
      // left: 22rem;
      left: -1rem;
      // border: 1rem solid #4e51f5;
      border: 1px solid #4e51f5;
      background-color: #fff;
      justify-content: unset;
    }

    // .main-input__input-end__num
    &__num {
      color: $body-3-color;
      margin-left: 3rem;

      @media screen and (max-width: $bp-tab) {
        // margin-left: 0;
        margin-left: 5rem;
      }
      @media screen and (max-width: $bp-mob) {
        box-sizing: border-box;
        margin-left: 19rem;
        padding-left: 2rem;
        height: 100%;
        display: flex;
        align-items: center;
        border-left: 1px solid $body-3-color;
      }
    }
  }

  // .main-input__input-end-bg
  &__input-end-bg {
    position: absolute;
    // right: 0;
    right: -2rem;
    // top: 50%;
    top: 51%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    z-index: -1;

    @media screen and (max-width: $bp-mob) {
      display: none;
    }
  }

  // .main-input__time-changer
  &__time-changer {
    position: absolute;
    right: 0;
    top: 0;

    @media screen and (max-width: $bp-mob) {
      position: static;
      right: unset;
      top: unset;
      order: -1;
      margin-bottom: 8rem;
      margin-left: auto;
    }
  }

  // .main-input--error
  &--error{
    display: none;
    position: absolute;
    top: -8rem;
    left: 74rem;
    color: $error-color;
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.main-form .hidden{
  display: none !important;
}

.main-form__step-button-wrp .wrp {
  display: flex;
  width: 100%;
}
.main-form__step-buttons-one {
}

.main-form__step-buttons-more {
  display: none;
}

.main-form__step-wrp-1_1.disabled {
  display: none;
}

.main-form__step-input-wrp.error .main-input--error {
  display: block;
}
.main-form__step-input-wrp.error input {
  border: 1rem solid $error-color;
  background: rgba(245, 78, 81, 0.1);
}

.main-form__step-input-wrp.disabled {
  display: none;
}

// .slider-handle:hover{
//   background-color: red !important;
// }

// .main-input .main-form__step-wrp
.main-form__step-wrp-start .main-input {
  @media screen and (max-width: $bp-mob) {
    position: static;
  }
}

.main-form__step-wrp-start .main-form__step-number-wrp{
  z-index: 4;
}
.main-form__step-wrp-start .main-form__step-box.active{
  @media screen and (max-width: $bp-mob) {
    z-index: 5;
  }
}