.filter-form {
    position: relative;
    width: 664rem;
    height: 424rem;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 16rem;
    padding-bottom: 36rem;

    background: rgba(5, 7, 40, 0.6);

    // .filter-form__grid
    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // .filter-form__decoration
    &__decoration {
        position: absolute;
        border-radius: 12rem;
        width: 356rem;
        height: 300rem;
        z-index: -1;
        overflow: hidden;

        // .filter-form__decoration--left
        &--left {
            left: -24rem;
            bottom: 36rem;
            filter: blur(120rem);
            background: var(--dop-1);
            opacity: 0.25;
        }

        // .filter-form__decoration--right
        &--right {
            right: -24rem;
            bottom: 88rem;
            filter: blur(120rem);
            background: var(--dop-2);
            opacity: 0.25;
        }
    }
}

.filter-select {
    position: relative;
    width: 308rem;
    margin-bottom: 16rem;

    // .filter-select:last-child
    &:last-child {
        width: 100%;
    }

    // .filter-select__header
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60rem;
        padding: 0 16rem;
        cursor: pointer;
        user-select: none;

        background: linear-gradient(162deg, #1e1941 0%, #1a1a42 100%);
        border-radius: 12rem;

        position: relative;
        z-index: 2;
    }

    // .filter-select__arrow
    &__arrow {
        transition: transform 0.3s ease;
        z-index: 3;

        width: 36rem;
        height: 36rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--bg-1-page);
        border-radius: 50%;

        transform: rotate(180deg);

        position: relative;
        left: 4rem;
        top: -1rem;
    }

    // .filter-select__arrow-icon
    &__arrow-icon {
        width: 16rem;
        height: 16rem;
    }

    // .filter-select__dropdown
    &__dropdown {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        max-height: 280rem;
        overflow-y: auto;
        transition: all 0.3s ease;

        background: linear-gradient(162deg, #1e1941 0%, #1a1a42 100%);
        border-radius: 12rem;
        border: 1rem solid rgba(255, 255, 255, 0.05);

        padding-top: 55rem;
        padding-bottom: 12rem;

        box-shadow: 0 10rem 30rem rgba(0, 0, 0, 0.5);


    }

    // .filter-select__item
    &__item {
        padding: 12rem 16rem;
        cursor: pointer;
        font-size: 18rem;
        color: var(--bodi-1, #ffffff);
        transition: background 0.2s ease, color 0.2s ease;

        // filter-select__item:hover
        &:hover {
            background: rgba(255, 255, 255, 0.05);
            color: #716df0;
        }

        // filter-select__item._selected
        &._selected {
            color: #716df0;
            font-weight: 500;
        }
    }

    // filter-select._active
    &._active {
        /* При желании, можно менять z-index всего селекта при открытии, 
           чтобы он гарантированно перекрывал нижние ряды */
        z-index: 20;

        // filter-select._active .filter-select__header
        .filter-select__header {
            border-end-start-radius: 0;
            border-end-end-radius: 0;
        }

        // .filter-select._active .filter-select__dropdown
        .filter-select__dropdown {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }

        // .filter-select._active .filter-select__arrow
        .filter-select__arrow {
            transform: rotate(360deg);
        }
    }
}

.filter-select__title {
    color: var(--bodi-2);
    font-size: 18rem;
    z-index: 3;

    display: flex;
    align-items: center;

    position: relative;
    top: -4rem;

    // .filter-select__title b
    b {
        color: var(--bodi-1);
        margin-left: 11rem;
    }
}

.filter-select__title-icon {
    width: 24rem;
    height: 24rem;
    margin-right: 4rem;
    top: 3rem;
}

.filter-form__btn {
    width: 100%;
    height: 58rem;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

.filter-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    // padding: 5rem 0;
    margin-right: 33rem;
    margin-bottom: 20rem;

    // .filter-checkbox__input
    &__input {
        position: absolute;
        width: 1rem;
        height: 1rem;
        overflow: hidden;
        clip: rect(0 0 0 0);
        padding: 0;
        border: 0;

        // .filter-checkbox__input:checked + .filter-checkbox__text::before
        &:checked+.filter-checkbox__text::before {
            background: #8c82ff;
            background-clip: content-box !important;

            padding: 3rem;
        }
    }

    // .filter-checkbox__text
    &__text {
        display: inline-flex;
        align-items: center;
        gap: 8rem;

        font-size: 18rem;
        color: var(--bodi-1);
        line-height: 120%;

        /* Сам кастомный квадратик */
        // .filter-checkbox__text::before
        &::before {
            content: '';
            display: inline-block;
            width: 16rem;
            height: 16rem;
            flex-shrink: 0;

            background: linear-gradient(162deg, #1e1941 0%, #1a1a42 100%);
            border-radius: 4rem;

            border: 1rem solid rgba(113, 109, 240, 0.4);

            box-sizing: border-box;
            transition: all 0.2s ease;
        }
    }

    // .filter-checkbox:hover
    &:hover {

        // .filter-checkbox:hover .filter-checkbox__text::before
        .filter-checkbox__text::before {}
    }
}