.main-list {
  // min-height: 410rem;
  box-sizing: border-box;
  padding-top: 2.4rem;
  padding-left: 5.0rem;
  padding-right: 5.0rem;
  // padding-bottom: 24rem;
  padding-bottom: 0.7rem;
  background-color: rgba(78, 81, 245, 0.06);
  border: 0.1rem solid rgba(78, 81, 245, 0.6);
  clip-path: polygon(0 5.0rem, 5.0rem 0, calc(100% - 0rem) 0, 100% 5.0rem, 100% calc(100% - 5.0rem), calc(100% - 5.0rem) 100%, 0rem 100%, 0 calc(120% - 5.0rem));
  margin-bottom: 24rem;

  @media screen and (max-width: $bp-tab) {
    width: 100%;
  }

  @media screen and (max-width: $bp-mob) {
    clip-path: polygon(0 2.5rem, 2.5rem 0, calc(100% - 0rem) 0, 100% 2.5rem, 100% calc(100% - 2.5rem), calc(100% - 2.5rem) 100%, 0rem 100%, 0 calc(120% - 2.5rem));
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    margin-bottom: 1.6rem;
  }

  // .main-list__item
  &__item {
    position: relative;
    min-height: 4.2rem;
    box-sizing: border-box;
    border-bottom: 0.1rem solid #9093f9;
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
    padding-left: 1.7rem;

    @media screen and (max-width: $bp-mob) {
      padding-left: 0.9rem;
      min-height: 2.2rem;
    }

    // .main-list__item:last-child
    &:last-child{
      border-bottom: unset;
    }
  } 

  // .main-list__dot
  &__dot {
    border-radius: 100%;
    background: linear-gradient(66deg, #9073a8 0%, #743d99 19.5%, #260046 60%, #a439ff 81.5%, #10001d 100%), linear-gradient(81deg, #9073a8 0%, #743d99 19.5%, #260046 60%, #a439ff 81.5%, #10001d 100%);
    width: 0.9rem;
    height: 0.9rem;
    position: absolute;
    left: 0rem;
    top: 40%;
    transform: translateY(-50%);

    @media screen and (max-width: $bp-mob) {
      width: 0.5rem;
      height: 0.5rem;
      top: 34%;
    }
  }

  // .main-list__text
  &__text {
    font-size: 2.45rem;

    @media screen and (max-width: $bp-mob) {
      font-size: 1.2rem;
    }
  }
}