.main-item {
    margin-bottom: 60px;

    // .main-item__container
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // .main-item__img-box
    &__img-box {
        width: 632px;
        display: flex;
        flex-wrap: wrap;
    }

    // .main-item__img-box-main-img
    &__img-box-main-img {
        border-radius: 12px;
        width: 632px;
        height: 304px;
        margin-bottom: 24px;
    }

    // .main-item__img-box-secondary-imgs
    &__img-box-secondary-imgs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        cursor: pointer;
    }

    // .main-item__img-box-secondary-img
    &__img-box-secondary-img {
        border-radius: 12px;
        width: 200px;
        height: 96px;
    }

    // .main-item__info-box
    &__info-box {
        width: 572px;
        display: flex;
        flex-direction: column;
    }

    // .main-item__top
    &__top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 23px;
    }

    // .main-item__title
    &__title {
        font-weight: 400;
        font-size: 44px;
        line-height: 120%;
        color: var(--bodi-1);
    }

    // .main-item__rating
    &__rating {
        position: relative;
        top: 5px;
    }

    // .main-item__rating-text
    &__rating-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        text-align: right;
        color: var(--bodi-2);

        // .main-item__rating-text span
        span {
            font-weight: 600;
            color: var(--bodi-1);
        }
    }

    // .main-item__description
    &__description {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: var(--bodi-2);
        margin-bottom: 65px;
    }

    // .main-item__info-list
    &__info-list {
        list-style: none;
        padding: 0;
        margin: 0;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        gap: 8px 12px;

        position: relative;
        top: -35px;
    }

    // .main-item__info-list-item
    &__info-list-item {
        display: flex;
        align-items: center;
        height: 36px;
    }

    // .main-item__info-list-item-icon
    &__info-list-item-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    // .main-item__info-list-item-text
    &__info-list-item-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: var(--bodi-1);
    }

    // .main-item__end-info-box
    &__end-info-box {
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 24px;
        margin-top: 36px;
        gap: 26px;
        padding-bottom: 31px;
    }

    // .main-item__end-info-box-text
    &__end-info-box-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: var(--bodi-2);
        
        // .main-item__end-info-box-text--first
        &--first {
            // margin-right: 24px;
        }
    }

    // .main-item__end-info-box-item
    &__end-info-box-item {
        display: flex;
        align-items: center;
        gap: 8px;

        // .main-item__end-info-box-item:last-child
        &:last-child {
            margin-left: 3px;
        }
    }

    // .main-item__end-info-box-icon
    &__end-info-box-icon {
        width: 24px;
        height: 24px;
    }

    // .main-item__end-info-box-icon--site
    &__end-info-box-icon--site {
    }

    // .main-item__end-info-box-text--white
    &__end-info-box-text--white {
        color: var(--bodi-1);
    }

    // .main-item__end-info-box-icon--phone
    &__end-info-box-icon--phone {
        margin-left: -4px;
    }

    // .main-item__end-info-box-text--ws
    &__end-info-box-text--ws {

    }

    // .main-item__end-info-box-icon--viber
    &__end-info-box-icon--viber {
        margin-left: -5px;
    }

    // .main-item__end-info-box-icon--telegram
    &__end-info-box-icon--telegram {

    }
}