/* затемнение фона */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  z-index: 10;

  // .popup-overlay.active
  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  // .popup-overlay.active .popup
  &.active .popup {
    transform: scale(1);
    opacity: 1;
  }
}

.popup {
  width: 784rem;
  height: 350rem;
  box-sizing: border-box;
  padding-left: 44rem;
  padding-right: 44rem;
  padding-top: 60rem;
  padding-bottom: 80rem;
  position: relative;

  background-image: url('../../image/popup-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

  /* начальное состояние */
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.4s ease;

  @media screen and (max-width: $tab-media) {
    width: 702rem;
    height: 349rem;
  }

  @media screen and (max-width: $mob-media) {
    width: 328rem;
    height: 194rem;
    padding-top: 24rem;
    padding-bottom: 36rem;
    padding-left: 16rem;
    padding-right: 16rem;

    background-image: url('../../image/mob/popup-bg-mob.png');
  }

  // .popup__title
  &__title {
    text-align: center;
    margin-bottom: 8rem;

    @media screen and (max-width: $mob-media) {
      margin-bottom: 4rem;
    }
  }

  // .popup__text
  &__text {
    text-align: center;
    margin-bottom: 24rem;

    @media screen and (max-width: $mob-media) {
      margin-bottom: 16rem;
    }
  }

  // .popup__btn-wrp
  &__btn-wrp {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  // .popup__btn
  &__btn {
    width: 336rem;

    @media screen and (max-width: $tab-media) {
      width: 300rem;
    }

    @media screen and (max-width: $mob-media) {
      width: 144rem;
      clip-path: polygon(12rem 0%, calc(100% - 12rem) 0%, 100% 50%, calc(100% - 12rem) 100%, 12rem 100%, 0% 50%);
    }
  }

  // .popup__close
  &__close {
  }
}