.main-menu {
  height: 100%;
  min-width: 41.0rem;
  margin-left: auto;
  margin-right: 2.4rem;
  margin-top: -0.2rem;
  position: relative;


  @media screen and (max-width: $bp-tab) {
    display: none;
  }

  // .main-menu__list
  &__list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    @media screen and (max-width: $bp-mob) {
      padding-bottom: 1.0rem;
    }

    // .main-menu__list-item-underline
    &-underline {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.2rem;
      background-color: $body-3-color;
      width: 0; 
      transition: all 0.3s ease;
    }
  }

  // .main-menu__list-item
  &__list-item {
    cursor: pointer;
  }

  // .main-menu__list-link
  &__list-link {
    color: $body-2-color;
    transition: color 0.3s ease;
    
    @media screen and (max-width: $bp-mob) {
      font-size: 1.4rem;
      font-weight: 500;
    }

    // .main-menu__list-link:hover
    &:hover{
      color: $body-3-color;
    }
  }
}