.main-form {
  margin-bottom: 150rem;
  
  @media screen and (max-width: $bp-tab) {
    margin-bottom: 100rem;
  }

  // .main-form__container
  &__container {
    // background-color: grey;
    flex-direction: column;
  }

  // .main-form__step-wrp
  &__step-wrp {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60rem;

    // .main-form__step-wrp:first-child
    &:first-child{
      margin-bottom: 46rem;
      @media screen and (max-width: $bp-tab) {
        margin-bottom: 49px;
      }
    }

    // .main-form__step-wrp-1_1
    &-1_1{
      margin-bottom: 70rem;
      // .main-form__step-wrp-1_1 .main-form__stem-number span
      .main-form__stem-number span{
        left: -2rem;
      }
    }
    // .main-form__step-wrp-step-2
    &-step-2{
      margin-bottom: 72rem;

      @media screen and (max-width: $bp-tab) {
        margin-bottom: 50rem;
      }

      // .main-form__step-wrp-step-2 .main-form__step-box-title
      .main-form__step-box-title{
        margin-bottom: 48rem;
        @media screen and (max-width: $bp-tab) {
          margin-bottom: 37rem;
        }
      }
      
    }

    // .main-form__step-wrp-step-3
    &-step-3{
      margin-bottom: 50rem;
      @media screen and (max-width: $bp-tab) {
        margin-bottom: 37rem;
      }

      // .main-form__step-wrp-step-3 .main-form__step-box
      .main-form__step-box{
        min-height: 346rem;

        @media screen and (max-width: $bp-tab) {
          padding-left: 19rem;
        }
      }
      // .main-form__step-wrp-step-3 .main-form__step-box-title
      .main-form__step-box-title{
        margin-bottom: 43rem;
        font-size: 40.8rem;
        margin-left: 6rem;

        @media screen and (max-width: $bp-tab) {
          margin-left: 15rem;
          margin-bottom: 30rem;
        }
      }
    }
  }

  // .main-form__step-number-wrp
  &__step-number-wrp {
    width: 150rem;
    height: 50rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -1rem;
    top: -2rem;

    @media screen and (max-width: $bp-tab) {
      position: absolute;
      top: 36rem;
      left: 36rem;
      // .main-form__step-number-wrp svg path
      svg path{
        fill: $body-1-color;
      }
    }
  }

  // .main-form__stem-number
  &__stem-number {
    position: relative;
    z-index: 2;
    left: 6rem;
    top: -3rem;

    // .main-form__stem-number span
    span{
      color: $body-4-color;
      position: relative;
      left: -7rem;
      top: -1rem;
      @media screen and (max-width: $bp-tab) {
        left: -10rem;
      }
    }
  }

  // .main-form__step-number-bg
  &__step-number-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  // .main-form__step-box
  &__step-box {
    position: relative;
    width: 1000rem;
    min-height: 393rem;
    box-sizing: border-box;
    padding-top: 50rem;
    padding-left: 50rem;
    padding-right: 50rem;
    padding-bottom: 70rem;

    background-color: rgba(78, 81, 245, 0.06);
    border: 1rem solid rgba(78, 81, 245, 0.6);
    // border: 1rem solid red;
    
    /* Основная форма с обрезанными углами */
    clip-path: polygon(
      0 50rem,        /* Левый верхний */
      50rem 0,        /* Левый верхний скос */
      calc(100% - 0rem) 0,  /* Правый верхний */
      100% 50rem,     /* Правый верхний скос */
      100% calc(100% - 50rem), /* Правый нижний */
      calc(100% - 50rem) 100%, /* Правый нижний скос */
      0rem 100%,     /* Левый нижний */
      0 calc(120% - 50rem)  /* Левый нижний скос */
    );

    @media screen and (max-width: $bp-tab) {
      width: 100%;
      min-height: unset;
      left: unset;
      top: unset;
      padding-top: 98rem;
      padding-left: 36rem;
      padding-right: 36rem;
      padding-bottom: 52rem;
    }

    @media screen and (max-width: $bp-mob) {
      padding-top: 68rem;
      padding-left: 12rem;
      padding-right: 12rem;
      padding-bottom: 36rem;
    }

    // .main-form__step-box-individualize
    &-individualize{
      padding-top: 36rem;
      padding-bottom: 50rem;
      min-height: 214rem;
      display: flex;
      flex-direction: column;
    }
  }

  // .main-form__step-box-title
  &__step-box-title {
    margin-bottom: 39rem;
    @media screen and (max-width: $bp-tab) {
      margin-bottom: 28rem;
    }
  }

  // .main-form__step-input-wrp
  &__step-input-wrp {
    // margin-bottom: 24rem;
    // margin-bottom: 23rem;
    // margin-bottom: 25rem;
    margin-bottom: 26rem;

    @media screen and (max-width: $bp-tab) {
      margin-bottom: 24rem;
      margin-bottom: 12rem;
    }
    @media screen and (max-width: $bp-mob) {
      margin-bottom: 16rem;
      
    }
  }

  // .main-form__step-button-wrp
  &__step-button-wrp{
    width: 730rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 19rem;
    margin-bottom: 38rem;

    @media screen and (max-width: $bp-tab) {
      width: 453rem;
      margin-bottom: 24rem;

      margin-top: 22rem;
    }
  }

  // .main-form__step-button
  &__step-button {
  }

  // .main-form__step-end
  &__step-end{
    display: flex;
    align-items: center;

    // .main-form__step-end-icon
    &-icon{
      width: 24rem;
      height: 24rem;
      margin-right: 8rem;
      
    }

    // .main-form__step-end a
    a{
      font-weight: 500;
      color: $body-4-color;
      margin-left: 5rem;
      @media screen and (max-width: $bp-tab) {
       margin-left: -1rem;
      }
    }

    // .main-form__step-end-text
    &-text{
      max-width: 855rem;
      font-size: 18.45rem;
    }
  }

  // .main-form__step-bg
  &__step-bg {
    display: none;
    position: absolute;
    width: 1000rem;
    height: 398rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.main-form__step-wrp-step-img{
  width: 100%;
  height: 157rem;
  position: absolute;
  top: -101rem;
  right: -100rem;
  z-index: 2;
}
.main-form__last-btn-wrp{
  margin-left: 204rem;
  position: relative;

  @media screen and (max-width: $bp-tab) {
    margin-left: 0;
  }
}
.main-form__last-btn-icon{
  width: 24rem;
  height: 24rem;
  position: absolute;
  top: 13rem;
  left: 80rem;
}
.main-form__last-btn-wrp a{
  width: 300rem;
  height: 50rem;
  clip-path: polygon(
    100% 0%,    /* Верхняя правая точка */
    5.33% 0%,   /* Верхняя левая точка */
    0% 100%,    /* Нижняя левая точка */
    94.67% 100% /* Нижняя правая точка */
  );
  transform: translateZ(0);
  backface-visibility: hidden;
}

.main-form__order-info{
  max-width: 1000rem;
  margin: 0 auto;

  // .main-form__order-info .main-form__step-box
  .main-form__step-box{
    max-width: 800rem;
    min-height: 90rem;
    padding-top: 11rem;
    padding-bottom: 17rem;
    padding-left: 50rem;

    left: 101rem;
    top: 30rem;

    @media screen and (max-width: $bp-tab) {
      width: 496rem;
      left: 200rem;
      top: 26rem;
      padding-right: 27rem;
    }
  }
}


.main-form__step-box-bg{
  width: 62rem;
  height: 43rem;
  position: absolute;
  left: 243rem;
  top: 37rem;
  z-index: 2;

  @media screen and (max-width: $bp-tab) {
    left: 143rem;
    top: 33rem;
  }
}
.main-form__order{

}
.main-form__order-text{
  font-size: 33.8rem;
  margin-bottom: 4rem;

  @media screen and (max-width: $bp-tab) {
    font-size: 34rem;
  }
}
.main-form__order-text span{
  color: $body-3-color;
}
.main-form__order-last-text{
  font-size: 13rem;
}

.main-form__order-info .main-form__step-number-wrp{
  left: 99rem;
  top: 5rem;

  @media screen and (max-width: $bp-tab) {
    left: 0;
    top: 1rem;
  }
}


.main-form__step-end span{
  max-width: 865rem;
  font-size: 18.4rem;

  @media screen and (max-width: $bp-tab) {
    max-width: 609rem;
  }
}

.main-form__order-info .main-form__stem-number span{
  left: -11rem;
  top: 0;
}

.main-form .main-form__order-info {
  margin-bottom: 100rem;

  @media screen and (max-width: $bp-tab) {
    margin-bottom: 75rem;
  }
}

.main-form__step-wrp-result-1{
  margin-bottom: 70rem;

  @media screen and (max-width: $bp-tab) {
    margin-bottom: 50rem;
  }

  // .main-form__step-wrp-result-1 .main-form__step-end span
  .main-form__step-end span {
    @media screen and (max-width: $bp-tab) {
      max-width: 590rem;
    }
  }
}
.main-form__step-wrp-result-1 .main-form__step-box{
  min-height: 386rem;
}
.main-form__step-wrp-result-1 .main-form__step-box-title{
  margin-bottom: 31rem;
}

.main-form__step-wrp-result-1 .main-form__step-end a{
  margin-left: 0;
}
.main-form__step-wrp-result-1 .main-form__step-end-icon{
  top: 3rem;
}

.main-form__step-wrp-result-2 {
  margin-bottom: 70rem;
  @media screen and (max-width: $bp-tab) {
    margin-bottom: 52rem;
  }

  // .main-form__step-wrp-result-2 .main-form__step-end span
  .main-form__step-end span {
    @media screen and (max-width: $bp-tab) {
      max-width: 590rem;
    }
  }
}
.main-form__step-wrp-result-2 .main-form__step-box-title{
  margin-bottom: 31rem;
}

.main-form__step-wrp-result-2 .main-form__step-box{
  min-height: 334rem;
}
.main-form__step-end span i{
  color: $body-4-color;
}
.main-form__step-wrp-result-2 .main-form__step-end a{
  margin-left: 0;
}

.mixing-input-wrp{
  position: relative;
  width: 816rem; 
  height: 70rem; 
  margin-bottom: 24rem;

  @media screen and (max-width: $bp-tab) {
    width: 100%;
  }
}

.mixing-input-wrp .mixing-input{
  width: 624rem;
  height: 100%;
  clip-path: unset;
  background-image: url('../../images/icons/mixin-input-bg.svg');
  background-position: center center;
  background-size: cover;
  border: unset;
  background-color: unset;
  padding-left: 24rem;
  padding-right: 60rem;

  @media screen and (max-width: $bp-tab) {
    font-size: 24.4rem;
    padding-left: 16rem;
    background-image: url('../../images/mixing-input-bg-tab.svg');
  }
}

.mixing-input-wrp .img-wrp{
  width: 24rem;
  height: 24rem;
  position: absolute;
  right: 24rem;
  top: 50%;
  transform: translateY(-50%);
}

.main-form__step-wrp-result-3{
  margin-bottom: 70rem;
  
  @media screen and (max-width: $bp-tab) {
    margin-bottom: 49rem;
  }
  
  // .main-form__step-wrp-result-3 .main-form__step-box
  .main-form__step-box {
    @media screen and (max-width: $bp-tab) {
      padding-bottom: 54rem !important;
    }
  }

  // .main-form__step-wrp-result-3 .main-form__step-end span
  .main-form__step-end span {
    @media screen and (max-width: $bp-tab) {
      max-width: 590rem;
    }
  }
}

.main-form__step-wrp-result-3 .main-form__step-box-title{
  margin-bottom: 30rem;
  
  @media screen and (max-width: $bp-tab) {
    margin-bottom: 28rem;
  }
}

.main-form__step-wrp-result-3 .main-form__step-box{
  padding-bottom: 73rem;
}
.main-form__step-wrp-result-3 .main-form__stem-number span{
  left: -10rem;
  top: 2rem;
}
.main-form__step-wrp-result-3 .main-form__step-end-icon{
  // top: -9rem;
}
.main-form__step-wrp-result-3 .main-form__step-end span{
  font-size: 18.2rem;
}

.main-form .main-form-continue-btn{
  width: 200rem;
  height: 50rem;
  margin-top: 70rem;
  margin-left: 500rem;

  // display: none;
  @media screen and (max-width: $bp-tab) {
    margin-left: 0;
    margin: 0 auto;
    margin-top: 70rem;
  }
}
.main-form .main-form-continue-btn .button.v12 .icon:before,
.main-form .main-form-continue-btn .button.v12 .icon:after{
  background: $body-3-color;
}
.main-form .main-form-continue-btn .button.v12 .icon span:before,
.main-form .main-form-continue-btn .button.v12 .icon span:after{
  background: $body-3-color;
}
.main-form .main-form-continue-btn span{
  color: $body-3-color;
}