.main-btn {
  border-radius: 0.8rem;
  padding: 1.7rem 1.6rem;
  width: 25.4rem;
  height: 6.0rem;
  background: var(--body-3);

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $tab-media) {

  }
  
  @media screen and (max-width: $mob-media) {
    border-radius: 0.4rem;
  }

  // .main-btn__text
  &__text {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: var(--body-1);
    transition: var(--base-anim-d);

    @media screen and (max-width: $tab-media) {
      font-size: 1.4rem;
    }
  }

  // .main-btn:hover
  &:hover {
    border-color: var(--body-3);

    // .main-btn:hover .main-btn__text
    .main-btn__text {
      color: var(--body-3);
    }
  }

  // .main-btn--blue 
  &--blue {

    // .main-btn--blue:hover
    &:hover {
      background: var(--body-2);

      // .main-btn--blue:hover .main-btn__text
      .main-btn__text {
        color: var(--body-1);
      }
    }
  }
}