.mixin-input {
  margin-bottom: 3.6rem;
  position: relative;

  @media screen and (max-width: $bp-mob) {
    margin-left: -0.1rem;
    margin-bottom: 1.6rem;
  }

  // .mixin-input__input-wrp
  &__input-wrp {
    width: 46.2rem;
    height: 5.0rem;
    position: relative;

    background-image: url('../../images/mixin-input__input-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: $bp-mob) {
      width: 100%;   
      height: 3.6rem;

      background-image: url('../../images/mixin-input__input-bg-mob.svg');
    }
    
    // .mixin-input__input-wrp input
    input{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding-left: 3.6rem;
      position: relative;
      z-index: 2;
      background-color: unset;
      border: unset;

      @media screen and (max-width: $bp-tab) {
        font-size: 2.4rem;
      }

      @media screen and (max-width: $bp-mob) {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        font-size: 1.4rem;
      }

    }
  }

  // .mixin-input__input-bg
  &__input-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // .mixin-input__text
  &__text {
    position: absolute;
    right: -1.8rem;
    color: #470083;
    transform: rotate(-54deg);
    top: 1.8rem;

    @media screen and (max-width: $bp-mob) {
      transform: unset;
      right: unset;
      left: 0;
      top: -2.0rem;
    }
  }
}
