/* Базовые стили слоя затемнения и модального окна  */
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  /* фон затемнения */
  // background-color: rgba(0, 0, 0, 0.7);
  background-color: rgba(78, 81, 245, 0.6);
  opacity: 0;
  position: fixed;
  /* фиксированное поцизионирование */
  cursor: default;
  /* тип курсара */
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

/*** Формируем стили модального окна ***/
.popup {
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  margin: 0 auto;
  // width: 90%;
  width: 399rem;
  min-height: 252rem;

  /* фиксированное позиционирование, окно стабильно при прокрутке */
  position: fixed;
  // padding: 15rem;
  box-sizing: border-box;
  padding-top: 36rem;
  padding-left: 50rem;
  padding-right: 50rem;
  padding-bottom: 50rem;
  background-color: $body-1-color;

  /* полная прозрачность окна, появление при клике */
  opacity: 0;
  /* эффект перехода (появление) */
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;

  @media screen and (max-width: $bp-mob) {
    width: 328rem;
    min-height: 156rem;
    padding-top: 24rem;
    padding-left: 16rem;
    padding-right: 16rem;
    padding-bottom: 36rem;
  }
}

/* активируем появление окна и затемнение фона */
.overlay:target +.popup {
  top: 20%;
  /* положение окна от верха страницы при появлении */
  visibility: visible;
  opacity: 1;
  /* убираем прозрачность */

  @media screen and (max-width: $bp-tab) {
    top: 15%;
  }

  @media screen and (max-width: $bp-mob) {
    top: 15%;
  }
}

/* формируем кнопку закрытия */
.close {
  position: absolute;
  top: 12rem;
  right: 12rem;
  padding: 0;
  width: 24rem;
  height: 24rem;
  text-align: center;
  text-decoration: none;
  /* задаём значения и эффект перехода при наведении */
  // transform: scale(1);
  transition: all ease 250ms;
  // backface-visibility: visibility;

  @media screen and (max-width: $bp-mob) {
    width: 16rem;
    height: 16rem;
    top: 8rem;
    right: 8rem;
  }

  svg path {
    transition: all ease 250ms;
  }

}

.close:hover {    
  // transform: rotate(360deg);
  // transform: scale(1.1);
  svg path {
    stroke: $body-4-color
  }
}

.popup-text{
  text-align: center;
  margin-bottom: 24rem;
  font-size: 24rem;

  @media screen and (max-width: $bp-mob) {
    font-size: 18rem;
    margin-bottom: 18rem;
  }
}

.news-popup-btn{
  margin: 0 auto;
  width: auto;
}

.news-popup-btn .button.v12 {
  @media screen and (max-width: $bp-mob) {
    width: 146rem;
  }
}