.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;

  @media screen and (max-width: $tab-media) {
    position: relative;
    top: unset;
  }

  // .page-nav__link
  &__link {
    opacity: 0.6;
    cursor: pointer;
    
    @media screen and (max-width: $mob-media) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      max-width: 120rem;
    }

    // .page-nav__link:hover
    &:hover{
      opacity: 1;
    }
  }

  // .page-nav__link--active
  &__link--active {
    opacity: 1;
  }

  // .page-nav__dot
  &__dot {
    width: 12rem;
    height: 12rem;
    margin-left: 12rem;
    margin-right: 12rem;
    background-image: url('../../image/page-nave-dot-img.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (max-width: $mob-media) {
      margin-left: 4rem;
      margin-right: 4rem;
      width: 8rem;
      height: 8rem;
    }
  }
}