.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* 100% ширины viewport */
  height: 100vh; /* 100% высоты viewport */
  background: #eeeffe;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;

  /* Блокируем скролл */
  overflow: hidden;
  touch-action: none; /* Отключаем скролл на тач-устройствах */
}

/* Класс для блокировки скролла на body */
.body-no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.preloader__content {
  text-align: center;

  @media screen and (max-width: $bp-mob) {
    transform: scale(.6);
  }
}

.preloader.hide {
  opacity: 0;
  pointer-events: none;
}

.preloader img {
  // width: 100vw;
  // height: 100wh;
}