.s3 {
  padding-top: 16.0rem;
  padding-bottom: 16.0rem;
  background: var(--body-3);

  // .s3__container
  &__container {
  }

  // .s3__top-info
  &__top-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5rem;
  }

  // .s3__head
  &__head {
    width: 115.9rem;
    position: relative;
    top: -1.0rem;

    // .h2-title__decor-icon--1
    .h2-title__decor-icon--1 {
      width: 8rem;
      height: 8rem;
      top: 1.4rem;
      margin-left: 1.0rem;
    }

    // .h2-title__m-text
    .h2-title__m-text {
      color: var(--body-1);
      top: -0.4rem;
      left: 0.4rem;
    }

    // .s3__head .h2-title__text
    .h2-title__text {
      color: var(--body-1);
    }

    // .s3__head .h2-title__text--mod-last
    .h2-title__text--mod-last {
      top: -0.3rem;
    }

  }

  // .s3__desk-text
  &__desk-text {
    max-width: 56.4rem;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 120%;
    color: var(--body-1);

    top: 0.5rem;
    left: 0.5rem;
  }
}