.animated-text .char,
.animated-element {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
  will-change: transform, opacity;
}

.slide-from-top {
  opacity: 0;
  transform: translateY(-50.0rem);
  transition: all 0.8s ease-out;
}

.slide-from-top.animated {
  opacity: 1;
  transform: translateY(0);
}

.deg-fade-in1 {
  opacity: 0;
  transform: translateX(-3.0rem);
  transition: all 0.8s ease-out;

  // .deg-fade-in1.animated
  &.animated {
    opacity: 1;
    transform: translateX(0%);
  }
}

.deg-fade-in2 {
  opacity: 0;
  transform: rotate(-2deg) translateX(6.0rem) !important;
  transition: all 0.8s ease-out;

  // .deg-fade-in1.animated
  &.animated {
    opacity: 1;
    transform: rotate(-2deg) translateX(0rem) !important;
  }
}

.deg-fade-in3 {
  opacity: 0;
  transform: rotate(-4deg) translateX(-6.0rem) !important;
  transition: all 0.8s ease-out;

  // .deg-fade-in1.animated
  &.animated {
    opacity: 1;
    transform: rotate(-4deg) translateX(0rem) !important;
  }
}

.deg-fade-in4 {
  transform: rotate(4deg) translateX(6.0rem) !important;
  opacity: 0;
  transition: all 0.8s ease-out;

  // .deg-fade-in1.animated
  &.animated {
    opacity: 1;
    transform: rotate(4deg) translateX(0rem) !important;
  }
}


.my-fade-in {
  opacity: 0;
  transition: all 0.8s ease-out;

  // .my-fade-in.animated
  &.animated {
    opacity: 1;
  }
}

/*
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}