/* все элементы с анимациями скрыты до запуска */
.animate__animated {
  opacity: 0;
}

.fs .main-btn__button::after {
  animation: my_pulse 2500ms ease-in-out infinite;
  // transition: transform 250ms ease;
  opacity: 1;
}

@keyframes my_pulse {
  0% {
    filter: blur(30rem);
  }
  50% {
    filter: blur(45rem);
  }
  100% {
    filter: blur(30rem);
  }
}

.shop-page-body-gds__item.animate__delay-1s {
  // .shop-page-body-gds__item.animate__delay-1s:nth-child(1) {
  &:nth-child(1) {
    --animate-delay: 0.25s;
  }
  &:nth-child(2) {
    --animate-delay: 0.5s;
  }
  &:nth-child(3) {
    --animate-delay: 1s;
  }
  &:nth-child(4) {
    --animate-delay: 1.25s;
  }

  &:nth-child(5) {
    --animate-delay: 0.25s;
  }
  &:nth-child(6) {
    --animate-delay: 0.5s;
  }
  &:nth-child(7) {
    --animate-delay: 1s;
  }
  &:nth-child(8) {
    --animate-delay: 1.25s;
  }
}

.fs__img-composition-wariors.animate__delay-1s {
  --animate-delay: 0.5s;
}

.fs__img-composition-flag-left.animate__delay-1s {
  --animate-delay: 1.5s;
}

.fs__img-composition-flag-right.animate__delay-1s {
  --animate-delay: 1.5s;
}

.shop-page-top__decoration--warriors.animate__delay-1s {
  --animate-delay: 0.5s;
}
.shop-page-top__decoration--flag-left.animate__delay-1s {
  --animate-delay: 1.5s;
}

.shop-page-top__decoration--flag-right.animate__delay-1s {
  --animate-delay: 1.5s;
}


/* Класс для кастомной анимации */
.animate__fadeInFromCenterLeft {
  animation-name: fadeInFromCenterLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Класс для кастомной анимации */
.animate__fadeInFromCenterRight {
  animation-name: fadeInFromCenterRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Кастомная анимация из центра влево */
@keyframes fadeInFromCenterLeft {
  from {
    opacity: 0;
    transform: translateX(250rem) translateX(-50%); /* Начинаем из центра экрана */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromCenterRight {
  from {
    opacity: 0;
    transform: translateX(-250rem) translateX(50%); /* Начинаем из центра экрана */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.pay-history__list .pay-history__item.animate__delay-1s {
  // .pay-history__list.pay-history__item.animate__delay-1s:nth-child(1)
  &:nth-child(1) {
    --animate-delay: 0.25s;
  }
  &:nth-child(2) {
    --animate-delay: 0.5s;
  }
  &:nth-child(3) {
    --animate-delay: 0.75s;
  }
  &:nth-child(4) {
    --animate-delay: 1s;
  }
  &:nth-child(5) {
    --animate-delay: 1.25s;
  }
}