* {
  // disable outline for IOS
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  backface-visibility: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-x: hidden;

  // font-size: 10px;
  // font-size: clamp(8px, 0.5208vw, 10px);
  // font-size: 0.05208vw * 10;
  font-size: calc(0.05208vw * 10);
}

body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background: #feffff;

  overflow-x: hidden;
}

/* убираем стрелки в Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* убираем стрелки в Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input{
  outline: unset;
}

button,
a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: unset;
}

a {
  transition: var(--base-anim-d);
}

a:hover {
  color: var(--body-3);
}

button:focus,
a:focus {
  outline: none;
  box-shadow: none;
}

section,
header,
footer {
  width: 100%;
}