html {
    scroll-behavior: smooth;
    
    /* Для Chrome, Safari, Edge и новых версий Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;

    font-size: 1px;

    @media screen and (max-width: 1300px) {
        font-size: calc(100vw / 1360);
    }

    @media screen and (max-width: $mobile) {
        font-size: calc(100vw / 360);
        overflow-x: hidden;
    }
}

body {
    font-family: var(--font-family);
    background: var(--bg-1-page);

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 16rem;

    @media screen and (max-width: $mobile) {
        overflow-x: hidden;
    }
}

a {
    text-decoration: unset;
}

svg path {
    transition: fill 250ms ease;
}