.container{
  width: 100%;
  max-width: 1200rem;
  // max-width: 1230rem;
  // padding-left: 15rem;
  // padding-right: 15rem;
  margin: 0 auto;

  display: flex;

  @media screen and (max-width: 1600px) {
    box-sizing: border-box;
    max-width: 1200rem;
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

.img-wrp{
  position: relative;

  // .img-wrp img .img-wrp svg
  img,
  svg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }
}