.title-neon {
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: var(--bodi-1, #ffffff);

    text-shadow:
        0 1px 2px rgba(255, 255, 255, 0.4),
        0 0 8px rgba(115, 102, 235, 0.6),
        0 0 20px rgba(115, 102, 235, 0.4);

    position: relative;
    display: block;

    // .title-neon::after
    &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        color: rgba(115, 102, 235, 0.8);
        filter: blur(1px);
        pointer-events: none;
    }
}

.default-link {
    display: inline-block;
    cursor: pointer;

    background-image: linear-gradient(90deg, #1450d2 0%, #4729ee 30%, #fa7c9f 55%, #687ef0 75%, #fa6aa8 100%);
    background-size: 100% 100%;
    
    background-clip: text;
    -webkit-background-clip: text;
    
    color: var(--bodi-1);
    -webkit-text-fill-color: var(--bodi-1);

    transition: -webkit-text-fill-color 0.6s ease, color 0.6s ease;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover {
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
}