:root {
	--body-1: #fff;
	--body-2: #050512;
	--body-3: #0710f1;
}

:root {
  --font-family: "Fira Sans", sans-serif;
  --second-family: "PF Reminder Pro", sans-serif;
  --third-family: "Greatboyz", sans-serif;
}

