:root {
  // colors
  --body-1: #fff;
	--body-2: #050512;
	--body-3: #0710f1;

  // fonts
  --font-family: "Fira Sans", sans-serif;
  --second-family: "PF Reminder Pro", sans-serif;
  --third-family: "Greatboyz", sans-serif;

  // sizes
  --container-size-web: 176rem;
  --border-web: 7.8rem;

  --base-anim-d: all 500ms ease-in-out;
}

/* 
transition: var(--base-anim-d);
*/